[2019-07-16 13:11] dreyks opened #459 "how to properly extend linaria?"
I'm trying to interbreed linaria with astroturf =) specifically the "static props into classnames" convertion, so that I can write css bound to props combinations like this

So far I've got this working with the following setup
[code]

Obviously, I want to extract the `staticStyled` helper (preferably to an external library), ideally to the point where I could still `import { styled } from 'linari

[2019-07-17 07:01] dkamyshov opened #460 "Missing type definitions for js files in the root directory"
## Environment

NodeJS, yarn

linaria versions: linaria@1.4.0-alpha.0 and up

## Description

TS declaration files for JS files in the root directory (react.js, server.js, etc) are missing.

## Reproducible Demo

https://github.com/dkamyshov/linaria-missing-ts-report

Clone this repo and run `$ yarn`.

**Workaround**

Import stuff directly from the 'lib' directory: `import { styled } from 'linaria

[2019-07-17 19:49] Kelin2025 opened #461 "Babel plugin attempts to (?) evaluate electron sources"
## Environment

[code]

## Description

Sometimes build fails with the following error:

[code]
Error stack refers to this code:
![image](https://user-images.githubusercontent.com/4208480/61406660-f6e93800-a8e4-11e9-83ed-61f886bd4524.png)

And here is what it tries to evaluate:
![image](https://user-images.githubusercontent.com/4208480/61406711-0ec0bc00-a8e5-11e9-8ef0-01305497fa2d.png)

## Reprodu

[2019-07-21 19:23] brandonkal commented on #459
@dreyks see my fork on npm @brandonkal/linaria which achieves what you are looking for among other things.

[2019-07-21 19:25] brandonkal commented on #456
Fixed in my forked package, if you want something working right now.

[2019-07-21 19:27] brandonkal commented on #455
This is documented React behavior. This is nothing unique to this linrary. It makes no sense for Linaria to change the behavior of JSX.

[2019-07-22 06:38] #455 closed

[2019-07-22 06:38] lqez commented on #455
Thanks @brandonkal.

[2019-07-22 22:46] failpunk commented on #399
@hellpirat were you able to get Linaria working with antd?

[2019-07-23 10:38] Anber commented on #448
I've just realized, that we do not need to support all features from es, ts, flex, etc. We need to support only the core part (which is pretty simple https://github.com/callstack/linaria/blob/28bdbf1d781b2d966b4b1f12a6e687e8e415169e/src/babel/evaluate/langs/core.ts) because everything else can be transpilled before shaking.
I'll try to make PoC in the near future.

[2019-07-23 15:57] JakeAdler commented on #420
Is there a fix in the works for this? Experiencing the same issue.

[2019-07-24 10:50] peduarte opened #464 "Is it possible to use Object Style syntax?"
Hello 👋

I'm curious about how my team can use Linaria for our [product](https://modulz.app) and public [design system](https://radix.modulz.app).

The first question I have is if it's possible to use Object Style syntax rather than template strings?

[code]

Many thanks!

[2019-07-25 22:03] failpunk commented on #404
@pbitkowski What library are you referring to in this example?

[2019-07-26 20:19] anzorb opened #465 "Styled System support"
## Describe the feature
https://github.com/styled-system/styled-system

Styled System is getting a lot of attention, and currently works with Emotion and Styled Components. Something to keep in mind for future dev.

[code]

[2019-07-27 10:44] thomkrupa commented on #464
Hey, you can use something like:

[code]

That's how I use Linaria in one of my projects. Not sure if there is a better way to use Object Style.

[2019-07-29 11:04] peduarte commented on #464
@thomkrupa Hmmm, seeps a bit of a workaround but I appreciate the reply. Thank you

[2019-08-01 09:01] Pixelatex opened #466 "Extract css to multiple files. (per component for example)"
We're building a component library but currently we'd end up with one big css file... but if people are only using say 1 button... it's a bit mad to import everything just for that.

Is there some way to tell tinaria to extract multiple paths to different css files?

[2019-08-02 05:26] brandonkal commented on #392
Even after disabling the invalidate as suggested by @cometkim, HMR updates are extremely slow at 30seconds. This makes development less enjoyable and productive. Hopefully the cause can be found. @cometkim how did you generate that trace log?

[2019-08-02 08:12] cometkim commented on #392
It was manually inserted using `console.time()` and `console.timeEnd()`.

@brandonkal is there no speed improvements after disabling invalidation? actually I'm enjoying the pretty fast HMR after that, so I'm not sure something there another cause or just bundle size is still matter.

Could you check again the `Module.invalidate()` is not being called from your `node_modules/linaria/lib/babel/extra

[2019-08-02 08:24] cometkim commented on #392
@brandonkal FYI, It was tested on v1.3.1, probably v1.4.0-alpha or develop has different

[2019-08-02 09:05] brandonkal commented on #392
@cometkim Thank you! I found that I had commented out the invalidate() in the enter() but not in exit(). HMR is now down to ~1-2 seconds. Before it was running the length of the whole build.

It looks like this works because the cache is only kept in memory and so it will be cleared whenever a production build finishes.

[2019-08-06 07:35] brandonkal commented on #466
@Pixelatex Linaria will create an extracted CSS file that is added as an import for each JS file that imports and calls styled or css. The simple answer to your question is that each component should be in its own JS file. Beyond that, it is up to the bundler to decide if CSS from all imported components are extracted into a single css file or split between chunks.

[2019-08-06 07:57] brandonkal commented on #465
The reason this doesn't work is because styled system interpolates both the declaration name and the value. With linaria, you should only interpolate the value.

Styled System adds a lot of  complexity to your components. If that is something that you want, you are better off pairing it with emotion, where everything is handled at runtime.

[2019-08-06 08:03] brandonkal commented on #392
@satya164 I am curious on your reasons for calling Module.invalidate() on enter and exit. Removing those lines improved performance significantly without issue when using webpack to bundle things.

[2019-08-06 08:59] roper79 opened #467 "Brunch bundler integration"
https://brunch.io/

[2019-08-08 08:52] silvenon opened #468 "If core-js version doesn't happen to resolve to 2, it produces a Babel error"
## Environment

[code]

## Description

Ok, this goes beyond my level of understanding, but let's try.

Linaria depends on `core-js@^2.0.0`, and the environment where Linaria is being used should also use `core-js` 2, but that resolution is not necessarily up to the `linaria` dependency. Linaria also depends on `@babel/register^7.0.0`, where `@babel/register@7.0.0` (without the caret) depends on `

[2019-08-08 08:55] silvenon opened #469 "Babel error when declaring and styling class components in the same file"
## Environment

[code]

## Description

If a class component is declared in the same file as it's being styled with `styled`, it causes the following error:

[code]

## Reproducible Demo

Install `core-js` 2 to avoid #468 and install Babel CLI:

[code]

Configure Babel:

[code]

Define a class component and style it with Linaria:

[code]

Try to compile the code with Babel CLI:

[code]

[2019-08-11 11:41] brandonkal opened #471 "Using the "styled" tag in runtime is not supported -- unused components"
## Environment

Storybook + webpack + linaria@develop

## Description

When a styled component is unused, the error will be thrown during HMR. On one hand, it is nice to have an error when a component is unused, but unfortunately it breaks the build when this error is thrown.

## Reproducible Demo

[code]

[2019-08-12 04:07] Daniel15 commented on #420
I used `yarn add --dev core-js@2` to add the core-js dependency, which worked for me.

[2019-08-12 06:55] Daniel15 commented on #468
Duplicate of #420 I think?

[2019-08-12 11:17] brandonkal commented on #427
Requesting a response.

[2019-08-12 11:20] brandonkal opened #473 "Additional unitless properties"
animation: true,
  baselineShift: true,
  borderImage: true,
  fontSizeAdjust: true,
  gridArea: true,
  maskBorder: true,
  maskBorderOutset: true,
  maskBorderSlice: true,
  maskBorderWidth: true,
  maxLines: true,
  shapeImageThreshold: true,

[2019-08-12 14:53] #468 closed

[2019-08-16 00:49] mattoni commented on #399
Any update to this?

[2019-08-16 01:25] ShanonJackson commented on #234
Not a fan of the syntax especially in terms of static typing.

Maybe something like this...

[code]

[2019-08-16 01:48] brandonkal commented on #234
Yes, I have revised by thoughts on the syntax. This is what [I am using](https://www.npmjs.com/package/@brandonkal/linaria) for my ~60 component UI library and it works out quite well. It feels a lot closer to CSS syntax IMO and works with static typing:
[code]

This works much better for static typing than my comment above.

The only issue I have run into with my syntax is I cannot target the pri

[2019-08-16 03:51] ShanonJackson commented on #234
There's an example there with multiple modifiers

[2019-08-16 04:34] brandonkal commented on #234
No there is not. You misunderstood what I intended to convey.
Take this css:
[code]

[2019-08-18 03:58] praneybehl commented on #435
Interest to find out if this issue progressed, or as why it might be happening?

[2019-08-19 17:57] PutziSan commented on #436
Thank you very much for your explanation!
I just stumbled across the article/course [Critical Rendering Path](https://developers.google.com/web/fundamentals/performance/critical-rendering-path/) and I guess that's where the term comes from. If so, it might be a good idea to link to the article in the documentation when you first mention "critical css".

[2019-08-19 17:57] #436 closed

[2019-08-21 07:57] dpeek opened #475 "Error on nested class with escaped unicode character"
## Environment

1.4.0-alpha.1

## Description

The following code:

[code]

Throws this error:

[code]

[2019-08-21 14:53] zarrellab commented on #399
The only update I have is we moved to styled-components and do not have this issue.

[2019-08-23 09:57] brandonkal opened #477 "Dead Code Bug: no mutation"
This block of code is not doing anything, so it is likely a mistake.
It is clear the intent is to mutate babelOptions, but that is not happening here.
https://github.com/callstack/linaria/blob/develop/src/babel/evaluate/index.ts#L61-L92

Nevermind. The terenary formatting threw me off!

[2019-08-23 12:32] #477 closed

[2019-08-23 15:15] brandonkal commented on #392
Discovered another inefficiency that causes things to be slow. Documenting it here in case someone is investigating.

The shaker will shake the current file, but after that, imported dependencies are resolved, transformed by babel, and evaluated. This is problematic depending on how you structure your code. Also if babel adds polyfills, those in the transform those will be evaluated.

If you acces

[2019-08-25 10:40] gujral1997 commented on #333
I am still getting this error.

[2019-08-26 16:30] Pixelatex opened #478 "Specify the path for the babel config?"
## Ask your Question

So it seems like linaria only uses the babel config in your root... is there some other way I can specify this? Like passing the config manually or specifying a path to where it is?

[2019-08-28 21:31] brandonkal commented on #459
@mattoni Oh you are right! I just enabled issues now. Please go ahead and open one with a repo that shows the props argument typed with vanilla linaria.

[2019-08-29 13:09] johanholmerin commented on #364
Do you have a repo with a minimal reproduction?

[2019-08-29 23:05] brandonkal commented on #461
The fs module is not permitted for preval. Also note that process.env = { NODE_ENV }. No other environment variable is available in the sandbox.

[2019-08-30 01:38] Kelin2025 commented on #461
Yes but this is `electron` sources, not mine

[code]

[2019-08-30 01:54] brandonkal commented on #461
I see. The issue then is that linaria's shaker only runs once per babel entrypoint. This can pose a problem if you are importing anything through an index module (and it also slows down compilation significantly).

I am currently re-writing the preval support in my fork which should address your issue.

[2019-08-30 20:01] mattoni commented on #364
Not completely minimal, but here is one that suffers from the issue:

https://github.com/mattoni/linaria-test

[2019-08-30 21:13] johanholmerin commented on #364
Have already seen that one. Couldn't reproduce. That's why I asked for a minimal repo.

[2019-08-31 18:59] mattoni commented on #364
@johanholmerin Okay, I tried to create something much more minimal. Let me know if you are able to reproduce

https://github.com/mattoni/linaria-rollup

[2019-09-01 09:21] johanholmerin commented on #364
If you look at `dist/bundle.js` you can see that Typescript has transpiled the template literal, which means linaria doesn't recognize it. You can fix this by doing one of the following:

- Change `module` to `esnext` in `tsconfig.json`
- Add `@babel/preset-typescript` to `presets` in `.babelrc` and move the typescript plugin to after linaria
- Remove the typescript plugin and use babel instead. M

[2019-09-05 22:08] robertontiu commented on #370
Hey. I'm trying to use linaria in a typescript project and this is a kick in the teeth atm. Currently overriding types locally based on #372

[2019-09-11 12:47] secretlifeof opened #486 "Nextjs v9: Conflicting order between extract-css-chunks-plugin error"
## Environment
Nextjs: v9.0.6-canary.0
Linaria: v1.4.0-alpha.1
React: c16.9.0

## Description
We use a combination of linaria, styled-components, styled-jsx. An error is printed to the console:

[code]

Why does this happen?

Also there is an other problem:
Just in production mode when combining linaria and styled-components the wrong way. I do not understand which combination is wrong. Are there

[2019-09-15 02:36] sirluis commented on #420
Core-js 2 is deprecated. There are projects that could depend on core-js latest version features. Any plans to drop v2 on linaria?

[2019-09-15 02:42] sirluis commented on #468
@silvenon since babel deprecated their polyfill pkg and recommended people to use core-js directly, I think lots of projects are going to depend on the latest version, which may be a problem since linaria has v2 as a dep =/

[2019-09-16 17:43] silvenon commented on #468
I'm fine with whatever `core-js` version Linaria wants, this issue was about enforcing this, so the user knows what's going on, or preferably doesn't have to.

[2019-09-24 01:08] eldeni opened #488 "Babel wouldn't preprocess `import { styled as M } from 'linaria/react';`"
## Environment
[code]

## Description
Babel wouldn't preprocess
[code]

while the following works
[code]

FYI, I use `linaria` and `styled-components` at the same time (for experiment purpose), and this issue came about while I was avoiding the name collision.

If this is an intended behavior, I believe the document should at least mention it.

## Reproducible Demo

[2019-09-27 10:02] kvvojciechowski opened #490 "Class styling interpolation does not style non-imported styled components when using with imported styled components"
## Environment
[code]

## Description

In example below, NonWorkingWrapper does not gets styling from `exampleClass`.
The solution was to move `NotWorkingWrapper` to `sharedComponents` file.

## Reproducible Demo

`src/sharedComponents.js`:
[code]

`src/ExampleComponent`:
[code]

[2019-09-28 10:51] Denis-NV commented on #420
yarn add linaria@1.4.0-alpha.1 + custom.d.ts (to avoid TypeScript errors) worked for me.

I'm using firebase in my project. So downgrading core-js to version 2 was not an option for me.

Also, using [craco-linaria plugin](https://www.npmjs.com/package/craco-linaria) with [craco](https://github.com/sharegate/craco/blob/master/packages/craco/README.md) made it possible to use Linaria in React with c

[2019-10-03 20:03] ShanonJackson commented on #234
Thought it about this for awhile the solution would be this:

styled.div generates an object (not a string like css), therefore just add modifiers as statics on that object.

I.E
[code]

[2019-10-05 19:18] PaulRBerg commented on #443
This also happens for `:export`.

[2019-10-05 20:01] ElForastero commented on #420
I also ran into this problem with create-react-app and craco plugin for linaria.

[2019-10-06 21:01] ShanonJackson commented on #370
This library is so good, yet the typescript problems just are left unfixed for months on months.

[2019-10-07 20:37] jpnelson opened #491 "RTL support"
## Describe the feature

It would be nice to have some form of RTL support for the library. For example, you can see how [react native web](https://github.com/necolas/react-native-web/blob/master/docs/guides/style.md#implementation-details) handles this – the requirement is that there are different static styles compiled that can be switched between at runtime, particularly the LTR and RTL styles.

[2019-10-09 10:50] phmngocnghia opened #492 "Support target another linaria styled components"
!-- Describe the requested Feature -->
Support select another linaria styled components
https://emotion.sh/docs/styled#targeting-another-emotion-component
https://www.styled-components.com/docs/advanced#referring-to-other-components

## Motivation
The element, which I want to target, contains both linaria elements and normal react elements. I want to target linaria elements.

[2019-10-10 01:20] ShanonJackson commented on #234
I thought for along time about how to word this, in a way that is in constructive but also critical of how this library is being maintained.

This library has so much potential, infact i migrated all our stuff (1000+ components) off styled-components to linaria because i believed it made better trade offs especially around performance and server-side rendering.

So the question is this, have the s

[2019-10-10 05:08] brandonkal commented on #234
That is a creative solution but I am still not a fan. To provide some reasons:
- It necessitates a lot of extra boilerplate and feels less like writing CSS.
For instance your example would require always importing css and writing it for every variation:
[code]
Even for short strings, Prettier is typically going to break it into more lines of code.
- The variants array feels like a pointless re-imp

[2019-10-13 22:18] ShanonJackson commented on #234
- let's change the implementation of variants to not need css keyword just a literal is fine (under the hood it will use css
- let's change the variants array to your syntax with just the modifier name on the component.
- that last example is possible you just wouldn't do it like that you'd call the modifier name "isLoggedIn" and then apply it in the component on the state window.isUserLoggedIn, t

[2019-10-13 22:30] brandonkal commented on #234
The reason I say the object approach requires the css keyword is because no syntax highlighter or linter will accept a plain literal.
That last example is just to illustrate that you can link state to style logic with the approach I suggested. The logic could be much more complex than just reading something off window in my simple example. The approach is inspired by LinkedIn's CSSBlocks if you wi

[2019-10-16 18:15] hemlok opened #493 "Typescript: "btoa is not defined""
## Environment
[code]

## Description

We have a typescript, react monorepo. Our main typescript app, consumes a typescript design system, via path aliases, and is responsible for compiling it. We use a color palette object inside the design system for color variables, and use template literals to include them in our linaria styles. The components imported from this design system into our app comp

[2019-10-19 03:01] MANTENN opened #494 "How to set the root directory in the loader?"
## Ask your Question

I got linaria to work within a monorepo, the problem is it creates a node_modules folder inside packages, which I suspect is the way linaria is setup to work.

I am using NextJS
My webpack config:
[code]

[2019-10-19 17:48] Guria opened #495 "1.4.0 release plans"
## Ask your Question

What is plans to release 1.4.0? Can we have at least new alpha with `classNameSlug` option support?

[2019-10-20 19:50] #493 closed

[2019-10-21 07:17] trusktr commented on #244
And unfortunately they're also removing that feature from Emotion. The console will throw a red error at you, telling you it is about to be removed in an upcoming version.

[2019-10-21 07:20] trusktr opened #496 "How to use Linaria with custom elements and ShadowDOM / ShadowRoots?"
First let me say, this is a nice project!

I'd like to make custom elements, and to give their content styling inside ShadowRoots.

I could possibly `@import` the URL of the output CSS file in every root's `<style>`, but then this would load all styles of every element in each shadow root.

Another thing is, how can we code the custom elements in a way that they do not know what the output URL is?

[2019-10-23 09:49] chenyong commented on #420
Run into this as well. Why is linaria using old version of core-js?

[2019-10-23 09:54] imbsky commented on #420
By the way, why doesn't release 1.4.0?

[2019-10-25 09:53] Whispers12 opened #500 "Is repo actively maintained? It looks like not🙅‍♀️"
So, it looks like its abandoned repository. Lack of community communication, issuing support doesn't exist at all. So I want to start a project with some CSS-in-js solution. Linaria at first glance seems very good (at least a lot of twitter influencers actively promote this solution), but if we see on help and support, all in all, you understand that linaria is very overrated.

So I think Emotion

[2019-10-25 10:11] thymikee commented on #500
You're right that we could be better at communicating our intents. We (me, @zamotany and @satya164) currently don't have bandwidth to maintain this repository as we'd like. However, there's amazing @Anber who is actively contributing his time to improve Linaria, and he's a direct collaborator to this repository. We're currently working with him on pushing this project forward.

Linaria offers a si

[2019-10-25 10:11] #500 closed

[2019-10-25 18:45] MANTENN commented on #494
I believe the transpiler is doing this, not linaria.

[2019-10-25 18:45] #494 closed

[2019-10-28 01:20] ShanonJackson commented on #390
Having similar problem in monorepo setup where linaria components resolve fine in another direction however refuse to evaluate nested components in css / using Theme variables exported from another file in the other directory

[2019-10-28 06:18] ShanonJackson commented on #486
Problem is well known with that plugin, i use NextJS with Linaria and to get around it you can basically copy the code of @zeit/next-css locally and make an adjustment to silence the errors.

change this...
[code]

to this..
[code]

[2019-10-28 06:25] ShanonJackson opened #501 "Linaria monorepo help/bug."
## Environment

windows (10)
linaria 1.3.1
NextJS (latest)

## Description

Linaria ceases to be able to evaluate expressions IE nested selectors, and referencing constants in other files in another workspace in a monorepo.

## Reproducible Demo
https://github.com/ShanonJackson/linariamono

## Instructions
yarn install
cd zones/home
npm run dev
(Notice nested style evaluation error when the linari

[2019-10-28 22:27] ShanonJackson commented on #501
Thanks Anber, i finished migrating all our code to monorepo and then came across this and now its killing me because i can't merge it in until i can fix this :<.

[2019-10-28 22:28] ShanonJackson commented on #501
Accidentally hit "comment and close" which i thought meant close the dialog, not my proudest moment but i also hadn't had my morning coffee. Can you unclose this please @Anber its still and issue just a missclick on my behalf.

[2019-10-28 22:28] ShanonJackson commented on #501
Accidentally hit close and comment my bad, hadn't had my morning coffee not my proudest moment, Thanks @Anber for looking into this.

[2019-10-29 02:29] ShanonJackson commented on #501
Fixed. After 10+ hours trying to to different setups using yarn/npm/babel-module-resolver plugins finally after taking a break and going back to the docs the solution was right there.
` ignore: /node_modules[\/\\](?!shared)/,` in next.config.js linaria/loader

`yarn dev`
works.

[2019-10-29 02:29] ShanonJackson commented on #501
Fixed. After 10+ hours trying to to different setups using yarn/npm/babel-module-resolver plugins finally after taking a break and going back to the docs the solution was right there.
` ignore: /node_modules[\/\\](?!shared)/,` in next.config.js linaria/loader

`yarn dev`
works.

[2019-10-29 02:29] #501 closed

[2019-10-29 09:39] kallebornemark opened #502 "Import existing SASS mixins?"
Is it possible to import and make use of existing SASS mixins with Linaria?

[2019-10-29 09:49] Anber commented on #502
Probably yes. Linaria just extracts plain text from template tags and then you can process it as simple css files.
If you need help, you can create a sample repository and I’ll take a look.

[2019-10-29 11:31] kallebornemark commented on #502
Not able to create a repo at the moment, but perhaps I can explain myself.

I have an NPM package that contains some mixins, and I want to use this in a React component using Linaria. I currently have something like this:

[code]

The output of the generated `MyComponent.linaria.css`:
[code]

Do I need a Webpack loader to process the `@include` in the generated CSS file in a succeeding build step?

[2019-10-29 12:08] Anber commented on #502
Yep, you can use Webpack or Rollup like it is described here https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md

[2019-11-13 17:23] hemlok commented on #392
@brandonkal any progress on your fork solving the issue when using an index.ts for exporting components?

[2019-11-13 17:50] brandonkal commented on #392
@hemlok Yes, thank you for the interest  I am seeing much faster compilation times with the changes. Currently working on documenting what I've changed locally and hope to push a release to GitHub soon.

[2019-11-13 20:12] hemlok commented on #420
@Hotell did you find a solution for this on the alpha?

[2019-11-14 00:13] Hotell commented on #420
yes, we ditched linaria completely. there is no/lack of activity from maintainers (I don’t blame them, it’s OSS) and relying on unfinished software for business critical features is a no go.

[2019-11-14 10:20] hemlok commented on #392
For anyone still struggling with this, I was able to dramatically reduce **rebuild** times on 1.3.1 from 70s to around 1-5s by using `cache-loader` to cache the results of a `babel-loader` step that feeds into the `linaria/loader` step. Unfortunately, initial build times are still slow with 90% of time spent in the linaria/loader step...

[2019-11-15 11:50] matiasbuildops commented on #495
Curious about this too (for `classNameSlug` support as well; to help with snapshot testing); there seems to be some activity (including bugfixes like #366) since the latest npm release, which is from March.

Even a small update on the future plans would be much appreciated!

ping @satya164 @thymikee ; perhaps you would be able to clarify? Thanks in advance and thanks for your work on what is alrea

[2019-11-21 11:07] egor-a-trubnikov-panov opened #505 "Why when I load a page without javaScript I don't see the style file attached to the html?"
My webpack config includes:

[code]

[2019-11-22 00:27] nhooyr commented on #441
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:27] #441 closed

[2019-11-22 00:27] nhooyr commented on #443
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:27] #443 closed

[2019-11-22 00:27] nhooyr commented on #445
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:27] #445 closed

[2019-11-22 00:27] nhooyr commented on #449
Going to close as it has been a while and I'm not sure if this is relevant anymore.

[2019-11-22 00:27] #449 closed

[2019-11-26 12:13] grebenyuksv-preply opened #507 "Painfully slow builds"
Dear maintainers, I'm trying to migrate a mid-size NextJS project from styled-components. Things work, but the builds (both initial and incremental) take me many minutes, which prevents me from using the lib. Could you give me a hint? What am I doing wrong? I don't have a good reproducible example because it's only happening in my project, much bigger than the boilerplates I could find.

Additiona

[2019-11-27 12:06] IljaDaderko opened #508 "Doesn't seem to work with safe-area-inset-* env variables"
## Environment
linaria: 1.3.1
device: iPhoneX
browser: Safari
iOS: 13.x

## Description
Safari exposes `safe-area-inset-*` variables to account for things like iphone notch https://developer.mozilla.org/en-US/docs/Web/CSS/env

But it seems like no matter what I try I can't het these to work with linaria. Are css variables / env variables supported?

## Reproducible Demo
add _<meta name="viewport"

[2019-12-08 22:50] vongohren opened #509 "Why has the updates on this lib stopped?"
## Ask your Question

I wonder what is the future of this lib! I like it alot, but it seems to have stopped

[2019-12-09 14:44] vongohren opened #510 "Trying to use linaria in a monorepo SSR"
## Description

Trying to build a minimal package with linaria
Getting this error on webpack
[code]

## Reproducible Demo
Move the linaria broken folder into packages and rename, then build and run. It crashes with the description above.
https://github.com/vongohren/fouc-example

[2019-12-10 08:49] oreqizer commented on #420
So what's going on? Am getting that it cannot find `core-js/modules/es7.array.includes`

It's really a shame, I wanted to use this in production. This is like the **holy grail** of CSS-in-JS libraries, guys. Keep it alive!

[2019-12-10 14:58] sgoll commented on #509
I was wondering the same thing.

[2019-12-12 11:20] le0pard opened #512 "Linaria loader break webpack "[hash]" for css and js files"
## Description

We are using linaria in our project and found, that if our system build assets in different directories, this break webpack `[hash]` for files.

[code]

Why this happend? Linaria using absolute path for build (extracted from ast):

[code]

As we can see, here two issues, which break source map hash (which influence on files) and js files hash. First part this:

[code]

Webpack load

[2019-12-12 12:53] oreqizer opened #513 "plz resurrect this project"
This is the best thing that has happened to CSS-in-JS like **ever**. Please continue with this!

[2019-12-13 15:50] tom-sherman opened #514 "Implementing a strongly typed `withTheme` Higher Order Component with Typescript"
Here's usage of the HoC I'm trying to type:

[code]

Where `props.theme` is typed to the theme interface and `props.padding` is inferred from the props of the `Button` component.

Here's the current attempt:

[code]

This works fine, but the issue is we need to supply a generic param to `withTheme`. Ideally we want this to be optional and Typescript should infer the props for us.

[2019-12-15 20:26] Jayphen commented on #445
I wonder why people don't use data attributes to implement custom properties?

```css`
  .button {
    color: red;
    &[data-blah] {
      color: blue
    }
}

function Thing({condition}) {
 return (<div data-blah={condition}>hi</div>)
}
[code]

[2019-12-19 07:08] reimertz commented on #514
Hey @tom-sherman,

Maybe you could use [@callstack/react-theme-provider](https://github.com/callstack/react-theme-provider) and their `withTheme` helper? It comes with Typescript typings.

[2019-12-20 14:02] ourfamilygithub commented on #434
any update?

[2019-12-21 13:19] Team-OF commented on #434
@ourfamilygithub IMO linaria is dead, forget about using with Preact

[2019-12-23 16:22] jarodpeachey commented on #392
@brandonkal Your fork looks awesome! One question: can I keep the same usage of Linaria in my app? I'm using Linaria in over 141 files, so as you can imagine, updating the syntax would be painful.

For example, can I still use this syntax for passing props, and using a custom theme:

Creating element
[code]

Styling element
[code]

I'd really love to use your fork, because my build takes forever.

[2019-12-23 21:13] jarodpeachey opened #515 "Linaria uses all available memory using webpack-dev-server"
## Environment

## Description

Linaria is set up correctly, but when I run webpack-dev-server, I get an error that says FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory. This error comes from my local machine, but it's because Linaria uses up a ton of memory.

The repo has over 144 files which use Linaria.

If there's any way to disable usin

[2019-12-23 21:18] brandonkal commented on #392
Yes. You should be fine as the additional syntax I've added are just shortcuts. You can use the beta version now as it is stable. The webpack set up requires postcss in the pipeline. I am planning to push a version 3 with documentation on all that but it might be some time before that happens. Please open an issue with build time comparisons and any questions you end up with.

[2019-12-23 23:29] jarodpeachey commented on #392
@brandonkal Cool, thanks! I actually just submitted an issue on your fork; it's not specific to your fork, but it's a feature request I'd like (or would like to know about if it's already there). My repo is large, and when I run webpack-dev-server, it gets bogged down at the linaria/loader stage, and doesn't advance. The css files are all generated as it should be, but it gives me an error that I'

[2019-12-27 09:44] IljaDaderko opened #516 "Doesn't work in nextjs if granularChunks are enabled until page is refreshed"
## Environment
[code]

## Description

I am using linaria inside nextjs v9, where my production builds work correctly as expected. There is new experimental feature called `granularChunks`. When it is enabled, substantial positive bundle size differences are visible, plus it takes better advantage of http2 parallel requests by loading more smaller chunks rather than one bigger file.

However linar

[2019-12-28 20:30] IljaDaderko commented on #516
I did some further digging and found that if you have css that doesn't need to be evaluated, there is no issue. But as soon as you use `${someVar}` or `${require(...)}` etc... in your `css`, this weird behaviour comes up where styles seem broken initially and work fine after refresh.

[2019-12-28 20:31] IljaDaderko commented on #513
I don't think it's "dead". It's big holiday period.

[2019-12-28 20:33] Anber commented on #516
@Asimetriq May I ask you to provide a sample repo with this issue?

[2019-12-28 20:36] IljaDaderko commented on #516
@Anber of-course, I was just working on it actually. I noticed it worked in some cases and not the others. I will link it to this issue tomorrow once I wrap it up 👍(a lot of mess in it atm)

[2019-12-28 20:50] Anber commented on #513
The rumours of its death have been greatly exaggerated :)

The first beta of 1.4.0 was published a couple of days ago. We will return to the regular releases in the near future.

[2019-12-29 12:37] #513 closed

[2019-12-29 12:39] thymikee commented on #507
Looks like a duplicate of #392. Also, feel free to try latest beta: https://github.com/callstack/linaria/releases/tag/v1.4.0-beta.0. Folks seem to observe a build perf improvement over there.

[2019-12-29 12:39] #507 closed

[2019-12-29 12:39] thymikee commented on #495
Latest beta was recently released: https://github.com/callstack/linaria/releases/tag/v1.4.0-beta.0. Please give it a try

[2019-12-29 12:39] #495 closed

[2019-12-29 12:40] IljaDaderko commented on #516
I can't get any of my minimal project reproductions to trigger this error, so I think it must be something specific I am doing in my own project or it's size. I came across this issue in next js https://github.com/zeit/next-plugins/issues/282 and this is basically what I experience (but not just in dev, also in production when using `granularChunks`). They have few fixes there that seem to work, b

[2019-12-29 12:40] #516 closed

[2019-12-29 20:20] Guria commented on #495
@thymikee
I am getting buid error with 1.4.0-beta.0:
[code]

[2019-12-31 09:45] Anber opened #517 "[1.4.0-beta.0] A build error"
This problem was reported by @Guria (#495)

## Environment

## Description

[code]

## Reproducible Demo

[2019-12-31 09:47] Anber commented on #517
@Guria could you please provide some details?

[2019-12-31 10:01] Guria commented on #517
Will try to dig in and provide reproduction

[2019-12-31 10:07] Anber commented on #509
We have published the first beta of 1.4, which is mostly about TypeScript and general performance. After 1.4 we will focus on further performance optimization (it will probably be based on the @brandonkal's PR#437) and better supporting of JS during evaluation stage (PR #499).

[2019-12-31 10:07] #509 closed

[2019-12-31 18:20] Anber commented on #434
It looks like a problem with preact configuration: if you just push the new rule to the end of the rules list, it will not work because it already has a rule for js-files (https://github.com/preactjs/preact-cli/blob/d6fd760427ce957f588b714e347ce40121601917/packages/cli/lib/lib/webpack/webpack-base-config.js#L150). You probably need to modify an existing rule.

[2020-01-02 14:07] matiasbuildops commented on #517
After upgrading to 1.4.0-beta.0, seeing a the same (or at least, very similar) error message:
[code]

Not sure if @Guria is also seeing it from linaria *loader*? Seems to me that for some reason, babel is somehow getting confused when getting run through linaria, as both errors seem to be triggered by unrelated modules having ES6 code being included but not getting transpiled by babel?

filenames

[2020-01-02 20:15] Pytal opened #519 "Support Parcel 2 Plugin API"
## Describe the feature

Parcel 2 implemented a plugin api, and it would be great if a `parcel-transformer-linaria` package could be made!

There are already plugins for webpack with [linaria/loader](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#webpack) and rollup with [linaria/rollup](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#ro

[2020-01-03 04:42] BasixKOR commented on #197
Hi, It seems like `ts-loader` supports custom transformer using their API. Can we use `ts-loader` instead of `babel-loader` with this API?

Related documentation: https://github.com/TypeStrong/ts-loader#getcustomtransformers

[2020-01-03 18:20] mattoni opened #520 "Typescript Definitions not loading in 1.4.0-beta.0"
## Environment

Typescript 3.7.3

## Description

Typescript definitions for `import {styled} from "linaria/react"` are no longer working. The definitions are in the lib, but there are no longer definitions in the root folder, so TS doesn't know where to find them.

## Reproducible Demo

Try importing styled from linaria/react in any typescript project and it will fail.

[2020-01-03 18:34] Anber commented on #520
Unfortunately, if I properly understood, it’s impossible to fix that issue without splitting Linaria to different npm-packages. So, it’s kind of a duplicate of https://github.com/callstack/linaria/issues/413

[2020-01-03 18:48] mattoni commented on #520
I'm not sure why it would be any different than the current live version in the meantime, if you could possibly keep the definitions in the root until you split it, that would allow it to keep working normally in typescript.

[2020-01-03 19:01] mattoni opened #521 "Unexpected token, expected "(""
## Environment

TSDX 0.9.0 using Rollup plugin ([https://github.com/jaredpalmer/tsdx](https://github.com/jaredpalmer/tsdx))
Linaria 1.4.0-beta.0

Also using storybook for component lib w/ webpack plugin

## Description

This happens in both 1.3.0 and 1.4.0 beta. I try importing a stylesheet like so:

![image](https://user-images.githubusercontent.com/5110855/71742756-9ceb1900-2e17-11ea-87a9-68d2ba

[2020-01-03 19:09] mattoni commented on #521
It appears the removing the `/` from the end of the URL allows it to compile properly, i.e.

`https://fonts.googleapis.comcss?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,200,200italic`

So there might be something there worth investigating.

[2020-01-07 23:13] aweber1 commented on #520
As a workaround in the meantime, you can change `import {styled} from "linaria/react"` to `import { styled } from 'linaria/lib/react';` to load the typings.

[2020-01-08 20:59] aweber1 opened #523 "1.4.0-beta.0 doesn't have some features and files from 1.4.0-alpha.1"
## Description

I may be missing something obvious, but after browsing the repo on GitHub and cloning the repo locally, it appears as though some of the features listed in the release notes for `1.4.0-beta.0` are not present.

In particular, the following PRs don't appear to be merged into the `1.4.0-beta.0` tag:
#430
#353

There may be others missing, but those are the two I'm noticing for certai

[2020-01-11 16:13] Anber commented on #523
#353 is missed because everything about the new extractor has been moved to another PR (https://github.com/callstack/linaria/pull/499). It will be merged soon but as an experimental optional behaviour. I'll let you know when that part will be merged and documented.

Could you please describe an error which you encountered?

[2020-01-12 13:32] Anber commented on #520
@mattoni yep, you are right. Looks like we lost a couple of d.ts files. Thank you!

[2020-01-13 10:05] bolasblack opened #526 "Make unassigned css tag become global style"
## Describe the feature

If linaria find there are a `css` tag didn't assign result to any variable, then transform it as global style.

For example:

[code]

Currently it output:

[code]

I hope it can be:

[code]

## Motivation

I know there is a `:global()` pseudo-selector, but it was added by stylis.js. Our team is using the sass pre-compiler, so the `:global` pseudo-selector is no longer work

[2020-01-13 10:29] Anber commented on #526
Hi @bolasblack
I don't like the idea with unassigned `css` because it at least will cause 'unsued expression' in TS but we probably can introduce something like `globalCss`.

[2020-01-13 13:44] Anber commented on #515
It was probably happened because of circular references in your project. `1.4.0-beta.0` should help. Please let us know if you still have that error in 1.4.

[2020-01-13 16:42] aweber1 commented on #523
With `1.4.0-beta.0` I was receiving the same error message mentioned in #428:
`Error: [BABEL] unknown: Configuration contains string/RegExp pattern, but no filename was passed to Babel`

A fix for #428 was released in `shaker.ts` in `1.4.0-alpha.1`, however, `1.4.0-beta.0` doesn't have a `shaker.ts` file (or the files surrounding it), so I was making the conclusion that the beta release didn't hav

[2020-01-13 21:07] aweber1 commented on #523
Feel free to close this issue if there aren't any action items or if the upcoming PR #499 (or an upcoming release) will be comprehensive. Understandably, `beta` and `alpha` are not "final" :)

I opened this issue more for awareness of the discrepancies between `alpha` and `beta` in the event other people run into similar situations.

[2020-01-14 03:00] bolasblack commented on #526
Hi @Anber, thanks for your reply!

This idea looks good, expect this feature to be implemented :D

And do you have any idea about how can I take the variable name?

[2020-01-14 07:09] Anber commented on #526
Why do you need a variable name?
In your example you have variable names collision (`Overview` as a component and `Overview` as a name of css class) and it looks a bit confusing. It’s better to declare components with `styled` ( https://github.com/callstack/linaria/blob/master/docs/BASICS.md#styling-custom-components ) because then you can simply interpolate it in other `styled` and `css` tags (ht

[2020-01-14 09:34] Anber commented on #523
Ooops. You are right. I've missed a filename in `evaluators/extractor/index.ts`. Thank you!

[2020-01-14 14:54] Anber commented on #512
Probably fixed in 1.4.0-beta.1

[2020-01-14 15:02] Anber commented on #523
Hi @aweber1

I've merged #499  and released a `beta.1`.

You can try to use the new evaluation strategy by adding `rules` option to your linaria config file:
[code]

Please notice that "rule" option is experimental and may be changed in the near future.

[2020-01-14 15:02] #523 closed

[2020-01-14 15:16] bolasblack commented on #526
Hi @Anber, thanks for your reply.

Because sometimes I want to write all the style code of a component in one place

For example, if we want to use `styled` tag to refactor this code:

[code]

Maybe we will create 5 components:

[code]

But actually the style code is simple, creating 5 components is too cost-effective, and it is not good for the next maintenance work (because the style code is spl

[2020-01-14 18:38] le0pard commented on #512
Thanks for fix @Anber

Looks like this definitely fix javascript files `[hash]`, but css files still have this issue

![123](https://user-images.githubusercontent.com/98444/72370975-061e3680-370c-11ea-867b-fa546bd45718.png)

If disable css source maps all good:

![234](https://user-images.githubusercontent.com/98444/72371842-d4a66a80-370d-11ea-93b7-85b4f4e47989.png)

Maybe something in css generat

[2020-01-14 18:48] Anber commented on #512
@le0pard have you cleaned the linaria cache folder?

[2020-01-14 18:50] le0pard commented on #512
@Anber each time it use different folder for linaria cache (like `releases/#{timestamp}/.linaria-cache`)

[2020-01-14 18:53] Anber commented on #512
Okay. I've checked it on the default CRA project and everything looked fine. May I ask you to compare css files in your `.linaria-cache`?

[2020-01-14 18:57] Anber commented on #526
You can probably do something like this:
[code]

[2020-01-14 19:11] le0pard commented on #512
Files in `.linaria-cache` had the same content.

Ok, note sure, if css source map difference`[hash]` is linaria fault. It is something wrong together with babel-loader with cache:

https://github.com/rails/webpacker/blob/13756f1ea6b3393117878bb339b9dd507b801eb2/package/rules/babel.js#L15

If you using `cacheDirectory` for babel loader and cleanup this dir each build, it will make hash different. I

[2020-01-14 19:47] le0pard commented on #512
I think we can close this for now. I need better check my environment. Thanks for fix for js hashes again @Anber

[2020-01-14 19:47] #512 closed

[2020-01-15 07:20] oreqizer opened #527 "'critical' doesn't include @font-face"
## Environment

v1.3.1

## Description

`@font-face` rules get stripped both from `other` and `critical` CSS. They should always be in `critical` so fonts don't flicker.

## Reproducible Demo

[code]

<img width="428" alt="Screenshot 2020-01-15 at 08 19 52" src="https://user-images.githubusercontent.com/11172408/72413318-d739ac00-376f-11ea-9a6b-4866f246f4af.png">

[2020-01-15 19:22] funkybunky commented on #420
Had the same problem and solved it just now by installing the latest beta like so:
`npm i -D linaria@1.4.0-beta.1`

[2020-01-17 23:23] bartels opened #528 "[1.4.0-beta.1] Changes to exported variables are not picked up when using webpack hmr"
## Environment

1.4.0-beta.1

## Description

When using webpack hmr (or webpack `--watch` flag),  changes to variables exported from an external module  are not picked up by linaria.

For example, defining color values in a `colors.js` module and importing those variables in a linaria styled component, the css output by linaria is not updated when that module is changed.  Only after killing the w

[2020-01-18 08:16] thymikee commented on #528
cc @Anber

[2020-01-18 08:35] Anber commented on #528
@bartels thank you for the report and sample repo! I'll take a look in a couple of days.

[2020-01-18 09:04] Anber commented on #517
@Guria @matiasbuildops hi guys. Any news here?

[2020-01-18 09:04] #515 closed

[2020-01-18 09:31] Anber commented on #508
We extract CSS almost as it is and everything should work. Could you please provide a repo with a reproducible demo?

[2020-01-20 11:28] #508 closed

[2020-01-20 18:11] umarmw commented on #491
I'm also looking for the RTL support. :)

[2020-01-21 10:11] Guria commented on #517
@anber clean cra + linaria has no such problem. I am still wondering what is needed to add to reproduce this problem

[2020-01-21 10:14] Guria commented on #517
@matiasbuildops could you try to describe your setup. Are you using yarn workspaces or something similar?

[2020-01-21 11:47] 0xsven commented on #390
@Hotell @ShanonJackson
Have you found a solution? I am seeing this issue as well?

[2020-01-21 12:14] matiasbuildops commented on #517
Hi @Guria!

I was not using yarn workspaces when I hit that but after investigating another issue relating to them (see #529), I think I might know what is causing at least my report - not sure if your error was raised in loader, as well? As these both seem to be somehow trying to import non-babelized files, I'm guessing both of these originate from the call to babel in [transform.ts](https://gith

[2020-01-21 15:28] 0xsven opened #531 "Jest tests fail with moduleNameMapper config"
## Environment
- MacOS: 10.14.6
- node: 12.14.1
- linaria: 1.3.1
- jest: 24.9.0
- react: 16.8.3

## Description
I have a `styled.*` component that uses a value, that was imported form another file:
[code]

The imported values are aliased with webpack resolve:
[code]

Aliases have been added to `jest.config.js` accordingly:
[code]

My jest test looks like that:
[code]
`*` Note how I am using the al

[2020-01-21 20:45] ShanonJackson commented on #390
@0xflotus Yeah fixed this along time ago if i remember correctly its that you need to configure your build AND linaria to transpile that module in your node_modules explicitly.

I.E
linaria option: {ignore: "/node_modules[\/\\](?!YOUR-FOLDER-NAME)/"
with YOUR-FOLDER-NAME === your node_modules folder name that's symlinked or whatever in monorepo.
Then you'll end up in two boats.
Either it works.
Or

[2020-01-22 23:18] mikestopcontinues commented on #447
Yeah, this has been a big headache trying to port from styled-components. I believe it might be a result of using the wrong babel bundling strategy (module: true vs module: false).

[2020-01-22 23:34] mikestopcontinues commented on #526
A globalCss helper would be great. I think the unused variable solution would get in the way of proper tree shaking.

[2020-01-23 07:45] ShanonJackson commented on #510
Currently have a working monorepo with NextJS + Linaria; Can confirm it does indeed work. A quick skim read of your demo is looks like you have "next-transpile-modules", you'll also need next-css OR a fork of next-css with ignoreOrder: true turned on in MiniCssExtractPlugin (perferred approach). You'll also need to follow the config in the with-linaria example in NextJS repository here:
https://gi

[2020-01-23 07:48] ShanonJackson commented on #466
@Pixelatex If you want some advice from someone who went down this road its that i wrote my own rollup plugins to leave the require(".css") statements linaria adds AND leave the stylesheets intact without merging them.

Then in projects consuming our library they basically just add our library as a rule in webpack for it to allow css imports and as you import components you will automatically get

[2020-01-23 08:00] ShanonJackson opened #532 "Linaria - More aggressive output."
## Describe the feature
Let me just start by saying, love linaria; Huge fan. A journey of my own for incredibly aggressive tree shaking has lead me to this feature request.

It simple.
Take all of these...
[code]
And instead of outputting
[code]
Change the output to.....
[code]
## Motivation
- No extra call to linarias styled.button
- No need for that 1.8KB runtime? i think i haven't really checke

[2020-01-23 09:18] Anber commented on #532
Hi @ShanonJackson!

It's an interesting proposal, but I'm afraid that we have some unsolvable problems here. For example, what should be exported if we write something like this:
[code]
`Btn` can be used for interpolation and composition not only in the same project, but it can be part of a public API of UI library.

[2020-01-23 11:57] satya164 commented on #466
Doesn't the CLI handle this? https://github.com/callstack/linaria/blob/master/docs/CLI.md

[2020-01-23 17:15] mikestopcontinues commented on #392
Just updated to 1.4.1-beta.1 and performance is much better. Are there any additional benefits gained by the other recommendations on this thread? Or do they constitute the changes in the beta?

[2020-01-23 20:19] ShanonJackson commented on #532
@Anber Good point, it could be good if this was a configurable option as to allow faster builds for dev and to allow library authors to expose class selectors as exports. As well as to meet the needs of people chasing better performance and smaller bundle sizes.

[2020-01-24 06:51] Anber commented on #532
@ShanonJackson First of all, it won't make builds faster because it requires much more complex AST analysis through the whole project than we have now.
Another point that we still have problems here:
• what should we do with dynamic styles (based on props)?
• what's about other HOCs which can be applied to a styled component?

[2020-01-24 08:48] ShanonJackson commented on #532
Sorry just to clarify i meant if its configurable it would be faster for dev because you'd turn it off for dev not turn it on.

Both HOCS and Dynamic styles cannot work if exported as a library but again internally in a non-library mode they both can work.
[code]
In my mind this can work for all dynamic expressions, if needed just inline the actual function itself aswell.

@Anber Because for this

[2020-01-24 09:05] Anber commented on #532
What if `buttoncolor` is dynamic and we cannot predict its value on compile time?

How about components like this:
[code]

[2020-01-24 09:09] Anber commented on #532
I mean that if you don't need complex styled components you can just use `css`:
[code]

It's more transparent and doesn't require extra runtime.

[2020-01-24 09:11] ShanonJackson commented on #532
[code]
In this case the function itself can become inlined

[2020-01-24 09:16] ShanonJackson commented on #532
css is indeed a workaround but i find it extremely "smelly" i use linaria to write css-in-js with styled-components like syntax and zero runtime cost. I have no real valid reason why this isn't an acceptable solution right now but i do feel like just spamming css everywhere walks a fine line between "linaria" and "just use css modules"

[2020-01-24 09:19] Anber commented on #532
Inlined functions and objects can cause performance problems due to the inability of shallow comparisons so it will be a bit more tricky. Anyway, I've got your point and have to think about it.

[2020-01-24 09:21] ShanonJackson commented on #532
Gracias @Anber let me know when there's any updates.

[2020-01-24 19:35] mikestopcontinues commented on #532
Though I see the potential issues with this idea, there's actually another good reason to consider it. With its current implementation, styled components take more than twice as long to render as elements using css class names. If it were possible to double performance (at least on components non-dynamic styled components) and use the much nicer styled api, that would be really awesome.

[2020-01-24 20:26] satya164 commented on #532
Instead of trying to optimize the `styled` API, which I feel will have many edge cases, maybe it'll be better to introduce a new API:

[code]

[2020-01-24 20:47] ShanonJackson commented on #532
inline styles based on stateful variables in 99.99999% of use cases will not need to be overridden by css in which case specificity doesn't matter; In the remaining 0.1% of use cases use `!important` to override the inline style, that's what `!important` is meant to be used for and using under that context is definitely not a code smell.

I don't use the css variable dynamic update API for this re

[2020-01-24 21:05] satya164 commented on #532
Even if there weren't many edge cases, why not implement a better API anyway? `${color}` is much better than writing `${props => props.color}`.

Inline styles for dynamic styles have a lot of limitations. Specificity aside, they don't support pseduo-selectors, media queries etc. They don't work for even simple use cases like making a button component based on theme colors which lightens its colors

[2020-01-25 16:51] vongohren commented on #510
@ShanonJackson thanks for the response, but I turned in the end to emotion js and got it working with next.js. I went through many different ways of finding the right way to do this, but I felt linaria was not up to speed and being updated enough for us to take into our system

[2020-01-25 16:51] #510 closed

[2020-01-25 21:00] ShanonJackson commented on #510
Before you get too heavily invested in emotion or styled-components i would say that for SSR based applications (ESPECIALLY) NextJS you're going to want to prefer css-modules to linaria if you're leaving. NextJS 9.2.0+ comes with inbuilt support for css-modules now and they're adding scss support extremely soon. Both styled-components and emotion come with a significantly higher runtime cost that

[2020-01-25 21:54] vongohren commented on #510
@ShanonJackson good arguments! I really liked how easy it was to use linaria with next, it was the first thing I got working. But was concerned that it was not beeing updated. This is not just for next js, it's a component library. So should work everywhere. But I will take it into consideration

[2020-01-27 11:47] bolasblack commented on #526
Hi @Anber, sorry for the late reply, I tried you suggestion, and encountered an issue when I using linaria in TypeScript project:

<img width="1098" alt="图片" src="https://user-images.githubusercontent.com/382011/73172009-028fa400-413d-11ea-9016-2dde0bba30b5.png">

Here is the tsx webpack rule:

[code]

This is `.linariarc.js`:

[code]

Did I missed any thing?

[2020-01-29 21:55] talentlessguy commented on #447
Linaria doesn't work in Next.js, it just produces classes not assigned to anything.

[code]

![image](https://user-images.githubusercontent.com/35937217/73400937-2b5d9800-42fb-11ea-9db1-439fefcb0622.png)

[2020-01-29 23:10] mikestopcontinues commented on #447
@talentlessguy, check the README again. Linaria definitely does work with Next if you set up everything correctly. If you're sure your config is correct, then you should create a new issue. This thread is for a different problem.

[2020-01-30 05:12] Tarnadas commented on #447
I also stumbled across this problem and found out that applying styled on an already transpired/bundled Component from a dependency, everything works fine.

[code]

This doesn't throw an error since it's already transpired. There must be a problem with Next config that breaks Babel transpilation

[2020-01-30 11:56] Jayphen commented on #447
It's probably not helpful, but just confirming this still occurs with the latest version of Next + Linaria's latest beta. I'm not smart enough to figure out how to fix this.

[2020-01-31 13:17] talentlessguy commented on #447
@mikestopcontinues

I have linaria babel plugin installed:

[code]

[2020-01-31 14:17] mikestopcontinues commented on #447
@talentlessguy you've also got to update your next.config.js. Look through all the files here and see if you're missing anything else. https://github.com/zeit/next.js/tree/master/examples/with-linaria

[2020-01-31 14:26] Jayphen commented on #447
I forked from the with-linaria next example and have the same issue

[2020-01-31 17:41] Jayphen commented on #532
I really like the `styles` “inline styling” API proposed by @satya164. I am a UI library author and am trying to steer away from `styled` for various reasons, but am hitting the limitations described above regarding inline styles and pseudo selectors etc. until now I have been dealing with it by setting an in-line custom css property which I access in `css` for pseudo selectors

[2020-01-31 18:09] mikestopcontinues commented on #532
I don't see @satya164's proposal as meeting the criteria of the issue. The idea is to preserve the ease and portability of the `styled` api, while increasing performance in the places possible. Additionally, the `${(prop) => value}` api might seems ugly on the surface, but it actually enables some really cool interfaces. (See [styled-is](https://github.com/yldio/styled-is) and [styled-by](https://

[2020-01-31 18:34] satya164 commented on #532
The styled-is API is never going to be usable in Linaria. Linaria's dynamic styling is limited to property values as that's what CSS variables support.

Both of those APIs exist because `styled` API needs to use a callback to access props and it can be simplified using those APIs. But what's the use case for those APIs to exist if you could use the props directly anyway?

The styled API also has s

[2020-01-31 19:23] mikestopcontinues commented on #532
Sure, we're limited with _how much_ of styled-is and related libraries we can use. But that still leaves a substantial portion. I have a custom implementation in my app of `is` and `by` that better matches Linaria.

I agree with you on this point. It's not the ultimate solution. However, we don't know if this problem has an ultimate solution. If it did, I suspect it would be more along the lines o

[2020-01-31 20:50] Jayphen commented on #532
I disagree. It's a little off-topic, but I think the `styled` API and its abstraction of the DOM encourages poorly composed semantics. I would be very happy to strictly compose static (but scoped) styles with `css` and dynamic styles with component-level `styles`. However I also understand that it is not completely relevant to what you're proposing here, so I think that could be moved to a separat

[2020-02-01 00:05] ShanonJackson commented on #532
I have decent experience with babel-AST parsing and i might tackle this one solo when i get time late into February. Unfortunately because of babels inability to understand multi file scope and/or variable usage we're going to need to create webpack/rollup plugins which do give access to multi-file scope and variable usage to transform inline.

Will post results here in terms of how much KB it sha

[2020-02-02 13:12] talentlessguy commented on #447
@mikestopcontinues hm ok it works now but only with `withCSS` plugin but Next.js already supports CSS modules and global CSS now.

[2020-02-03 15:52] Guria commented on #517
@matiasbuildops Hi. I have applied your patch and seems it works for me

[2020-02-03 15:54] Guria commented on #517
@Anber could we release beta.1 with above patch?

[2020-02-03 18:58] Anber commented on #517
@Guria probably, yes. I'll check regressions and build the next beta tomorrow.

[2020-02-04 02:21] zaguiini opened #536 "Typings not working properly"
## Environment

Create react app (ejected) + TypeScript, nothing special there.

## Description

I'm trying to annotate props like this:

[code]

But I get an error:

[code]

Which is weird because the typings on the [repository](https://github.com/callstack/linaria/blob/master/react.d.ts#L13) says one thing, but the typings from the distribution package at `linaria/lib/react/styled.d.ts@17` says:

[2020-02-04 02:31] zaguiini opened #537 "Hot reload not working properly"
## Environment

MacOS Catalina;
Create React App;
TypeScript.

## Description

Sometimes -- meaning it's intermittent --, hot reload fails to work.

## Reproducible Demo

https://github.com/zaguiini/linaria-sandbox

Try starting and changing the background-color from the `Title` component. Save and check if it changes in the browser. It's intermittent. If it does work, try quitting the dev server

[2020-02-04 06:42] Guria commented on #517
it's weird. this patch works for me on local machine, but doesn't work on CI where it applied with `patch-package`

[2020-02-04 10:49] #206 closed

[2020-02-07 10:39] Anber commented on #536
Looks like it's time to merge #389 :)

[2020-02-08 06:48] resolritter commented on #528
I found that if you link the `linaria` package instead of installing it through `npm`/`yarn`, it works.

:no_entry_sign:  Bug reproduction:

1. `git clone https://github.com/bartels/linaria-1.4.0-beta.1-hmr-bug`
2. `npm install`
3. `npm run start`

Through the Firefox DevTools, I could see the DOM tree flashing briefly; it seemed like _some_ update had been executed, although it had no effect on t

[2020-02-08 07:37] resolritter commented on #537
First of all, I could not even run your app as it is due to [this bug](https://github.com/eslint/eslint/issues/4344) ([also appears here](https://github.com/prettier/prettier-vscode/issues/361)). CRA is bloated with a bunch of compilation switches and hidden webpack configuration, so it's not the best way to reproduce a particular package's issue, IMO.

But anyway, when I finally got to run the ap

[2020-02-08 08:06] resolritter commented on #505
Based on [this thread](https://github.com/callstack/linaria/issues/532#issue-553999445), I believe it's because the CSS files are dynamically required during runtime through JS. If that is correct, it makes sense for the CSS not to be written into the templated HTML file by default.

One idea for this case of runtime absence would be to resolve every output upfront and inject it directly into `ind

[2020-02-08 16:16] roldanjrCodeArts9711 opened #538 "Is it possible to Memoize styled components to prevent unnecessary re-render?"
## Is it possible to Memoize styled components to prevent unnecessary re-render to optimize the performance of the app?

Here is the screenshot of React Profiler that shows components that repeatedly re-rendered.
Thank you for any help.

![image](https://user-images.githubusercontent.com/38913069/74088336-446f0180-4ad0-11ea-821d-e5acb50bfbcd.png)

[2020-02-08 17:20] satya164 commented on #538
Usually you use DOM elements with `styled` such as `styled.div` and pass `children` prop to it. The `children` prop changes each render, so if they use `React.memo`, it essentially doesn't do anything except adding extra overhead when checking props.

Also wrapping every component in `React.memo` can add a lot of overhead by having to memoize a lot of things and extra comparision for a lot of thin

[2020-02-08 20:54] ShanonJackson commented on #505
Its probably because in dev mode style tags are injected dynamically into the head; In production mode the styles are outputted as build artifacts (given you have an appropriate loader).

If i understand the question correctly.

[2020-02-09 12:18] Anber commented on #536
@zaguiini thank you for your report! The fix will be released with the next beta.

[2020-02-09 12:18] #536 closed

[2020-02-09 13:33] zaguiini commented on #537
That's my use case. I'm using CRA as a starting point for a project. I don't think it should interfere as this is a library and it should interop with everything inside the ecosystem.

That only happens if you don't remove the `.linaria_cache` folder and run `yarn start` normally with the browser opening automatically.

[2020-02-09 15:24] #475 closed

[2020-02-09 15:35] #395 closed

[2020-02-09 15:57] Anber commented on #517
@Guria `beta.2` has been fixed. Could you please check it?

[2020-02-09 19:36] Guria commented on #517
Didn't worked unfortunately :(
![image](https://user-images.githubusercontent.com/36270/74108563-02f45a00-4b95-11ea-8c4e-eef6136f56b8.png)

Will try to investigate further

[2020-02-10 03:51] resolritter commented on #537
Ah, okay. I thought you needed more setup to use Linaria with CRA (see [craco-linaria](https://github.com/jedmao/craco-linaria/blob/master/src/__tests__/index.js)). +
69

[2020-02-10 04:55] ShanonJackson commented on #532
@satya164 @Jayphen @Anber @mikestopcontinues

In
[code]

Out
[code]
Note this is PURELY a demo of how it could work,
https://github.com/ShanonJackson/babel-plugin-linaria-inline
npm i && npm run build and look at /dist.

Changed suprisingly little code however `evaulate()` which handles nested evaluations isn't working it still thinks ToasterBase is an import statement for some reason i dont have

[2020-02-10 09:18] roldanjrCodeArts9711 commented on #538
Thanks @satya164. I managed it by separating and grouping those `StyledComponents` that doesn't have props that constantly change every time and wrapped it with `React.memo` so it won't get re-rendered if not needed.

Also, I separated those `StyledComponents` that have state inside to ensure that it will not involve other components to be re-rendered too if its state change.

Here is the new scre

[2020-02-10 09:18] #538 closed

[2020-02-10 14:29] pavelgrinchenko opened #539 "[1.3.2] core-js resolving exception"
## Environment

I'm using linaria as webpack plugin in Gatsby

## Description

After updating to the latest 1.3.2 version I get such error

[code]

Seems it somehow depends on these changes https://github.com/callstack/linaria/commit/c67f40d8e9bd4950450288decb0a0a29d6e4cff0

[2020-02-10 16:06] hemlok opened #540 "[1.4.0-beta.0/1/2] - Build Error - Using generated classnames as selectors fails"
## Environment
[code]
## Description
The speed improvements on the 1.4.0 beta are incredible and will be a huge win for our team! Unfortunately, using generated classnames as selectors in any of the 1.4.0-betas (0, 1, 2) fails with:
[code]

This works fine in our project on Linaria 1.3.1, and even today's 1.3.2.

## Reproducible Demo
[code]

This is setup as a minimal reproduction with webpack her

[2020-02-11 21:14] Guria commented on #517
ok, I digged in a bit now.
So it seems [babel.transformFromAstSync](https://github.com/callstack/linaria/blob/0b820afe61b9ea459b70a4a877249b0e62aa3ce7/src/transform.ts#L30) fails to parse with following error for some of style files:
[code]

I've checked the source of this files and common part for them is that they have import from another style.tsx file.

[2020-02-11 21:17] Guria commented on #517
The only working patch I were succeded for now is replacing `export default ` with `module.exports = ` in `node_modules/@babel/runtime/helpers/esm/taggedTemplateLiteral.js`.
But I fill that isn't an appropriate solution :)

[2020-02-12 12:07] lencioni commented on #491
It looks like Linaria can be configured to use PostCSS as a [custom preprocessor](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#options), and there are PostCSS plugins like [postcss-rtl](https://www.npmjs.com/package/postcss-rtl) to do RTL transformations. I haven't tried it, but it seems that this could be accomplished by configuring Linaria in that way.

[2020-02-12 14:23] Anber commented on #540
Hi @hemlok
Thank you for your report and the reproducible demo! As a workaround I can recommend using `shaker` evaluation strategy which is the new (still undocumented) feature of 1.4 branch:
[code]

It's still experimental feature so I'll be happy to get feedback about it.

A bit more information about the shaker you can found here https://github.com/callstack/linaria/pull/353

[2020-02-12 16:11] LukasBombach commented on #351
@vladshcherbin how do you solve this with `rollup-plugin-node-resolve` / `rollup-plugin-commonjs`? I am using `@rollup/plugin-commonjs` / `@rollup/plugin-node-resolve` and I have that error still

import commonjs from "@rollup/plugin-commonjs";
import resolve from "@rollup/plugin-node-resolve";

[2020-02-12 22:01] vladshcherbin commented on #351
@LukasBombach don't remember, sorry. I gave up on using linaria and rollup, too many issues, unfortunately.

[2020-02-13 12:50] LukasBombach commented on #351
No worries, thank you

[2020-02-14 15:44] soluml opened #541 "Allow `classNameSlug` to be a function."
## Describe the feature
Currently the `classNameSlug` [option](https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md#options) can only be set as a string. This gives us some customization, however, it'd be nice to have the ability to set this property as a function with the title and hash coming in as arguments.  This would allow us to fully customize the class names to our projec

[2020-02-16 10:40] Anber commented on #540
Fixed in `1.4.0-beta.3`

[2020-02-16 10:40] #540 closed

[2020-02-16 10:42] Anber commented on #517
@Guria Could you please try that workaround https://github.com/callstack/linaria/issues/540#issuecomment-585228851?

[2020-02-16 11:07] Anber commented on #539
@pavelgrinchenko thank you for your report!
I don't know why core-js decides that `es.array.filter` is needed here. According to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter `Array.proptotype.filter` is fully supported since IE9, so I've just added it to the exclude list.

[2020-02-16 11:07] #539 closed

[2020-02-16 11:15] Anber commented on #539
Btw, `core-js` is a dependency, why it's cannot be resolved in your setup? I ask because probably there is the same issue with `styled` (which requires `es.array.index-of`), but I cannot reproduce it locally.

[2020-02-17 10:15] okonet commented on #465
@brandonkal genuinely wondering how hard would it be to implement support for it in Linaria. I've been toying with this idea for quite some time and wondering if Linaria could be extended to support it. Since styled-system has a spec, I guess that change could only accommodate the spec?

[2020-02-17 11:21] brandonkal commented on #465
@okonet The Styled System approach encourages all properties to be interpolated at which point the benefits of something like linaria start to become less attractive. If you manage to get it working, I'll accept a PR on my fork.

[2020-02-17 13:24] okonet commented on #465
So the idea I had in mind was to get the permutations of all tokens from the theme since it's a finite number so I think it should work as long as it's just styled-system props without some custom interpolations, right?

[2020-02-17 14:23] hemlok commented on #540
Thanks so much for the quick progress on this @Anber! Can confirm the latest beta works perfectly in our projects.

[2020-02-18 17:29] fernandojbf commented on #540
I continue to have the same problem with `1.4.0-beta.3`.

My problem was not in the class selector but adding dynamic styles

`The CSS cannot contain JavaScript expressions when using the 'css' tag. To evaluate the expressions at build time, pass 'evaluate: true' to the babel plugin.`
[code]

[2020-02-19 10:14] Anber commented on #540
Hi @fernandojbf!
Are you trying to use `${({ withMargin }) => ''}` in `css` tag?

[2020-02-20 18:48] Jayphen opened #542 "TS error when using `className` on a styled component"
Is `className` supported on components created using `styled`? It does appear to work as intended, however the TS typings do not allow it.

[code]

[2020-02-22 21:21] ShanonJackson commented on #532
After more thinking; Everything can be inlined always regardless of whether its a HOC/Library Author/Css/Styled syntax.

This is how it works:
File A imports File B.styles
File A inlines everything from file B into its markup in this way:
         - import to B.styles is always removed
         - styled.xyz with no functions becomes css`` and className/tagName are inlined.
         - css is inline

[2020-02-22 21:37] chrstntdd commented on #364
Still running into this error as well.  Any updates?

[2020-02-23 06:26] Pytal commented on #447
Did you get it working with CSS modules and Next.js?

[2020-02-23 18:36] mikestopcontinues commented on #447
It works perfectly for me just following the readme and example I posted above. @Pytal

[2020-02-23 18:39] Jayphen commented on #447
The above comments are a little bit confusing and a diversion from the purpose of this issue.

The Next.js example is still broken when wrapping a React component with styled, as seen at https://codesandbox.io/embed/hello-world-bu9q8

The following pattern **does not work**

[code]

This fails to compile:

[code]

This is still an issue and seems to be something to do with the way Webpack is confi

[2020-02-24 01:05] mikestopcontinues commented on #532
@ShanonJackson , I don't know how, but I missed your previous post. This looks pretty darn sweet, and I'll be glad to give it a spin when you've got it up and running.

[2020-02-24 02:51] ShanonJackson commented on #532
@mikestopcontinues its not production ready yet; Been working on some other stuff and haven't had time to take another look at it but was hedging my bets on the Linaria team taking the torch to the finish line.

[2020-02-25 16:57] Jayphen commented on #542
This is fixed in the latest beta

[2020-02-25 16:57] #542 closed

[2020-02-26 06:04] wereHamster opened #543 "Named export (styled) from "linaria/react" and rollup produce invalid output"
## Description

Given the following code:

[code]

When you compile it with rollup it will produce output that crashes at runtime.

The crash happens because the import from "@emotion/is-prop-valid" is not processed correctly.

The generated code is something along these lines:

[code]

Notice how the code creates the memoized function (`index`), but then uses the `.default` prop on it, which make

[2020-02-26 13:45] evp3103 commented on #488
This issue blocks the replacing of styled-components for linaria during build. Instead of you can replace the named import of styled with a default. It is necessary to maintain compatibility with the most popular css-in-js library for the promotion of your project

[2020-02-26 22:14] Jayphen commented on #488
I have opened a PR for this at https://github.com/callstack/linaria/pull/544

[2020-02-27 07:48] Anber commented on #488
Fixed by @Jayphen and will be released in the next 1.4-beta.

[2020-02-27 07:48] #488 closed

[2020-02-27 07:51] Anber commented on #488
@evp3103 btw, I have [small babel-plugin](https://github.com/Anber/linaria-interop) for interop between Linaria and Styled/Emotion. Maybe you will found it useful.

[2020-02-27 15:17] evp3103 commented on #488
@Anber, Thanks, is your plugin only to resolve imports? What about keyframes?

[2020-02-28 12:04] georgiosgiatsidis opened #546 "Can't set linaria configuration inside babel.config.js"
## Environment

This is my babel.config.js
[code]

## Description

I try to pass the linaria config as second argument inside babel presets instead of using a `linaria.config.js`.
The expected behavior is to see different `displayName` value for each enviroment, but the default options are used.

## Reproducible Demo

Just pass linaria configuration overrides at `babel.config.js`

[2020-02-28 13:53] Jayphen commented on #546
Is there a particular reason you don't want to use `linaria.config.js`?

You can alternatively put the option in your webpack config:

[code]

[2020-02-28 17:06] fernandojbf commented on #540
Forget my comment. I was doing it wrong.

[2020-02-28 17:53] nodabladam opened #548 "css unicode characters fail"
## Environment
Next.js 9.2.3-canary.13
Linaria 1.4.0-beta.3
Windows 10 and Zeit Now deployment

## Description

css unicode characters fail:
[code]
error
[code]

The linaria.css file in cache directory just has this
[code]

note this works:
[code]

Here is the config (preprocessor disabled so I can use scss):
[code]

[2020-02-28 19:07] fernandojbf commented on #447
I think the problem is between `next/babel` and linaria.
If you remove `next/babel` and add a few ones to make the project working (like preset-env and preset-react) the problem is solved.

A workaround work is removing your `.babelrc` from the project and add the configuration to your `linaria.config.js` like:

[code]

This solves the issue.
(I need to check if in terms of build result if everyth

[2020-02-28 19:29] mikestopcontinues commented on #447
@fernandojbf, that's a great short-term solution, and I'm grateful for it. Though next may update to include other crucial config in their preset. We shouldn't plan against it. There must be something fixable about next's preset or linaria's preset to ensure the problem doesn't come back.

[2020-02-28 20:59] fernandojbf commented on #447
@mikestopcontinues yes, this was intended to be short-term solution. I've tested some configurations on the `next/babel` without success. But i will investigate further this later :)

[2020-03-01 09:56] Anber commented on #548
Hi @nodabladam
I don't sure, but it's probably because you are trying to use the wrong way of character representation. If you try to evaluate your template string in a browser, you get an error `Octal escape sequences are not allowed in template strings.`. You can find more about Unicode in template strings [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

[2020-03-01 10:00] #541 closed

[2020-03-01 10:16] Anber commented on #488
@evp3103 it currently supports only interpolation of linaria-components in styled/emotion components. It was enough for us for migration, but if you need more, feel free for creating an issue/PR :)

[2020-03-01 10:32] Jayphen commented on #541
@soluml This should be in the next beta :)

[2020-03-02 20:07] Jayphen opened #549 "Style conflicts when providing a className to a styled component"
## Description

When applying a className to a styled component, it is possible for the styles defined by that styled component to override those defined by the passed-in class. This depends on the source ordering .

For example:

[code]

If a className is passed to a styled component, I would expect its styles to have higher specificity than the styled component's own styles.

## Reproducible Dem

[2020-03-02 20:34] satya164 commented on #549
`css` tags are an abstraction over class names, so all the same properties of using class names will apply here, including the cascade. The only way to avoid cascade is to use `styled(Title)` rather than vanilla class names, which seems reasonable to use here imo.

The workarounds might work only in specific situations or may not work at all or will be hard to implement. Data attributes may work f

[2020-03-02 20:59] Jayphen commented on #549
I understand the reasoning (parity with native className behaviour), however this differs from how emotion/SC handle things, so it's a bit of a blocker when migrating from one of those libraries, as I am. Unless you know the inner workings of Linaria, I don't think the current behaviour is totally expected.

I'll have to think about this a bit more to figure out if it will be possible to codemod t

[2020-03-02 21:12] satya164 commented on #549
SC doesn't have a separate class name feature though. How does it work differently in SC?

Emotion can work around it in a reliable way because it can know the order of two class names in runtime and then merge 2 styles to avoid cascade.

We could implement build time static analysis to determine that in Linaria, but it won't catch all cases, and in case if cross file analysis it could increase th

[2020-03-02 21:12] Jayphen commented on #549
This is not really the case — if you use a className that happens to be defined after the `styled` component, the styles of that className will apply. If you define the className first, the styles won’t apply. I don’t think this is entirely intuitive.

[2020-03-02 21:36] Jayphen commented on #549
I'm not necessarily talking about the class name feature, just passing a class (from wherever it originates) as the className prop to a component.

I admit I don't know how it works in SC as I've not used it for a few years, but assume it works the same as in Emotion. Now that I'm looking in to it, they have a [warning about this behaviour in their docs](https://styled-components.com/docs/advanced

[2020-03-03 08:17] georgiosgiatsidis commented on #546
Thanks for your answer. We provide  the mode configuration option to production/development in webpack config so we don't need to set a redundant  environment variable in our package.json. So linaria.config.js does not have the environment. Your solution seems to works fine.

I was just wondering if you know why cannot pass the configuration in the babel.config.js. I debugged the extract function

[2020-03-03 09:14] Jayphen commented on #549
I think one userland solution for this could be a linting rule that re-orders `styled` and `css` declarations in any module, ensuring that the `css` declarations come last

[2020-03-03 13:49] Jayphen commented on #549
I am closing this — I will write a lint rule that as above. I'll post it here when done in case anyone else needs it.

[2020-03-03 13:49] #549 closed

[2020-03-03 14:09] daviestar commented on #409
No support for conditional CSS using the `styled` tag is the biggest hurdle for us moving to linaria from styled-components in a typescript project, however as suggested by @brandonkal I think something like this:

[code]
which prevents "proper" React props unintentionally leaking to the DOM, something I've had issues with before, could be a nice solution (could even be the _nicest_ solution!).

T

[2020-03-03 20:08] BlackFenix2 commented on #403
I added this in my .babelrc and am still having issues loading linaria in storybook, i am emulating the webpack config above.
[code]

[2020-03-03 20:50] BlackFenix2 commented on #403
i found the solution here: https://github.com/storybookjs/storybook/issues/6319#issuecomment-477852640

TL:DR, use the below code to remove the in-place postcss-loader.
[code]

[2020-03-04 09:49] Jayphen commented on #234
@satya164 What were those reasons?

I disabled stylis in my build, but haven't been able to get global styles working properly without it yet.

[2020-03-04 13:00] fanich37 opened #550 "Add styles to html"
Is there possibility to add styles to the `html` tag via `linaria`?
To clarify the question: how to apply global styles w/o passing them to any element?

[2020-03-04 19:59] ShanonJackson commented on #234
Linters and and code highlighters are just tooling; I'd rather rewrite the tooling based on ideal implementation than use a non-ideal implementation and avoid haivng to rewrite the tooling.

Syntax highlighting and linters will 100% accept a plain literal you just wont trigger it automatically on any literal you'll look to see if that literal looks like it belongs to styled component; Walk the AST

[2020-03-04 20:36] GuillaumeAmat commented on #550
You can use that: https://github.com/callstack/linaria/blob/master/docs/BASICS.md#adding-global-styles

[2020-03-05 01:24] nodabladam commented on #548
Hmmm...`\u2022` does work.  Generally using strings like `\2022` for bullet in css is commonly accepted as the way to do it.  I can get behind `\u2022` vs raw `•` with linaria though.  Will close for now.  Thanks for the acceptable workaround.

[2020-03-05 01:24] #548 closed

[2020-03-05 06:09] fanich37 commented on #550
@GuillaumeAmat Thanks for the reply.
Yeah, I read it but didn't follow the idea it should be imported w/o any names like:
[code]
My bad.

[2020-03-05 06:09] #550 closed

[2020-03-05 14:37] mrKimura opened #551 "Error render storybook component"
## Environment

Preact, typescript (compile with Babel)

**webpack.config.js**
[code]
**babel.config.js**
[code]
**test.stories.tsx**
[code]

## Description
Storybook builds fine. But in the browser, instead of my component, I see an error.

`Failed to execute 'createElement' on 'Document': The tag name provided ('[object Object]') is not a valid name.`

If i use unstyled simple component, all ren

[2020-03-05 15:55] pavelgrinchenko commented on #539
@Anber  I don't know. `core-js` listed as dependency in `linaria`'s package.json and it had to be resolved by package manager. But I had not time to dive into reasons...

[2020-03-05 16:11] mrKimura commented on #551
**solved!**
there weren’t enough lines in the config:

**webpack.config.js**
[code]

[2020-03-05 16:12] #551 closed

[2020-03-06 12:37] mrKimura opened #552 "CSS transition don't work with dynamically props"
I tried to use CSS transition with dynamically props, but transitions didn't work.
what am I doing wrong?

[code]

[2020-03-06 12:41] satya164 commented on #552
CSS variables only work like this afaik:

[code]

[2020-03-06 12:49] mrKimura commented on #552
both options work for me, but without transition (

[2020-03-06 14:18] wereHamster commented on #543
Code to reproduce: https://github.com/wereHamster/linaria-react-rollup-bug

[2020-03-06 15:05] #552 closed

[2020-03-06 15:06] mrKimura commented on #552
The problem was in Storybook

[2020-03-06 15:14] lucat1 commented on #543
Same here, running the fresh rollup `v2.0.0` if that matters

[2020-03-07 22:36] klimcode opened #554 "Support for the "dash" symbol in the CSS identifiers"
## Dash is a valid symbol frequently used in CSS classnames.

Would be great to include this symbol in the sanitization regex here: "linaria/src/babel/utils/toValidCSSIdentifier.ts", so the regex will be like this:
`/[^-_0-9a-z]/gi`

## Motivation

Currently it's impossible to use this Slug "[title]-[hash]". The dash is converted to underscore.

The difference is significant: in the DevTools, doub

[2020-03-08 01:35] avindra commented on #532
Great idea! The first thing I wanted when I saw the build output was the removal of intermediary React nodes for simple cases like `styled.div`, `styled.button`, etc.

This final state as described by @ShanonJackson  would be ideal:

[code]

No `styled.button`, which in theory should help React stay more out of the way of the program

[2020-03-09 22:55] Tsubasa1218 commented on #434
@secretlifeof

Hello, I think I found a way to make linaria@1.3.3 work with preact@10.3.2

Here is my setup:
New app created via:
`npx preact-cli create default test`

On top of the default template, I installed: `@babel/preset-react`. This is because for linaria to work with JSX syntax, it needs that preset. Otherwise, it will throw an error saying that `linaria/loader` can't parse JSX.

My `pack

[2020-03-10 10:13] #546 closed

[2020-03-13 16:49] SpawnAtis commented on #531
I have the similar problem only when running jest:

[code]

<img width="1206" alt="Screen Shot 2020-03-13 at 19 46 42" src="https://user-images.githubusercontent.com/23311140/76641922-68a47f00-6563-11ea-8ea7-c4ea30417574.png">

[2020-03-17 17:58] Pytal opened #555 "Add shouldForwardProp method"
## Describe the feature
A `shouldForwardProp` config method should be added so that custom props don't leak into the DOM.

This feature was recently added to styled-components/styled-components#3006.

## Motivation
I often use custom `boolean` props to toggle styles but since `boolean` attributes are not valid in the DOM React complains about them.

`shouldForwardProp` would allow you to explicitl

[2020-03-20 00:12] Evan-Peuvergne commented on #370
I still get the error, does anyone know if it will be fixed soon ?

[2020-03-20 00:13] Evan-Peuvergne commented on #370
Can I get your local overring types file ? :)

[2020-03-20 09:43] hemlok commented on #528
Hey @Anber, any progress on this one by any chance? 😊 I've been getting a lot of reports from my team that this is happening regularly.

[2020-03-20 12:38] Anber commented on #528
@hemlok Unfortunately, not really, but it's time to change it.

[2020-03-22 14:22] robertontiu commented on #370
@Evan-Peuvergne
Hey Evan. Here you go https://github.com/robertontiu/nextjs-boilerplate/blob/master/linaria.d.ts

[2020-03-22 21:11] Evan-Peuvergne commented on #370
Thanks a lot @robertontiu  :)

[2020-03-24 18:17] Anber commented on #370
The problem with `styled` is solved in 1.4, but there was the same problem with `css` tag. Fix for `css` will be released with the next beta.

[2020-03-24 18:17] #370 closed

[2020-03-26 12:58] jayu commented on #190
I'm closing the issue since plugin development has started

[2020-03-26 12:58] #190 closed

[2020-03-26 13:02] jayu commented on #519
We should extend https://github.com/callstack/parcel-plugin-linaria to support Parcel 2.
I believe a long term goal would be to extract `webpack` and `rollup` plugins to separate packages.

[2020-03-26 13:03] #519 closed

[2020-03-26 13:13] jayu commented on #217
Does it get fixed?  It's been a while since the issue was created.

[2020-03-26 15:09] jayu commented on #471
We definitely should support this kind of case. Maybe we should replace errors to some kind of warning for development.

[2020-03-26 16:38] jayu commented on #457
It will no longer be an issue with the `1.4.0` release. I just checked with `1.4.0-beta.4` and it works fine

[2020-03-26 16:38] #457 closed

[2020-03-26 17:02] jayu commented on #478
Do you use linaria as babel plugin or with bundler like webpack? What is you use case for specifying path to babel config?

[2020-03-26 17:04] jayu commented on #473
This issue is not very informative :P If you decide to update description let me know and I will reopen

[2020-03-26 17:10] jayu commented on #486
I experienced this issue in Next.js with other styling solutions so I guess it's not related to linaria. AFAIR Next's team was planning to add more verbose logging of this issue. The error does not give any clue on where to start looking  to set the correct order

[2020-03-26 17:10] #486 closed

[2020-03-26 17:16] jayu commented on #492
Can you provide some code sample in which you would like to use it?

[2020-03-26 17:23] jayu commented on #490
related feature request #492

[2020-03-26 18:50] jayu commented on #399
@zarrellab thank you for the repro. I tried it out and I found the reason. Long story short:
We use `node`'s `vm` to evaluate any code whenever we need to resolve some value to be used in linaria. In this case, we evaluate `./Component.jsx` file (I'm not sure if we have to resolve that file TBH, but it is happening). When we evaluate `./Component.jsx` we also evaluate all its dependencies. When we

[2020-03-26 19:02] jayu commented on #502
Did you manage to make work @kallebornemark ?

[2020-03-26 19:07] jayu commented on #418
@brandonkal and @mattoni could you provide some repository with reproduction? I think this issue might be somehow related to #399

[2020-03-26 23:47] jayu commented on #521
might be related to #368 and #391

[2020-03-27 00:13] jayu commented on #464
Hey, if you would like to have this feature, please open a new issue with a feature request. However, it might be tricky to introduce this syntax to linaria since we are strongly basing on `TaggedTemplateExpressions`

[2020-03-27 00:13] #464 closed

[2020-03-27 00:24] jayu commented on #460
this is an inactive duplicate of #520 closing, please refer to #520

[2020-03-27 00:24] #460 closed

[2020-03-27 08:29] Anber commented on #399
I don't sure that we are able to solve this problem in the extractor evaluation strategy, but it's already solved in the shaker strategy.
[Here is](https://gist.github.com/Anber/8847b6f66556061f5edffb7d2eab9aee) the config which fixes the example repo.

[2020-03-27 08:29] #399 closed

[2020-03-27 08:49] Anber commented on #520
It was fixed in one of the latest betas.

[2020-03-27 08:49] #520 closed

[2020-03-27 09:20] brandonkal commented on #418
Sorry I won't be able to do that in a timely manner as my plate is full at the moment.

[2020-03-27 09:24] brandonkal commented on #473
Linaria was doing some special logic on numbers that are unitless (i.e. they don't require px, em, etc). The logic was adding "px" when it encounters a unitless number which is incorrect for the CSS properties above. React also has this issue as well.

[2020-03-27 10:07] jayu commented on #418
Gotcha, I'm asking because I could not reproduce, I will wait for sb to maybe provide a repro :D

[2020-03-27 11:04] jayu commented on #399
I provided `setTimeout` to `vm` context and it worked. We can spread `global` to the context to provide missing identifiers. But I'm not sure if it safe.

[code]

[2020-03-27 11:06] jayu commented on #473
Thanks, any repro appreciated 😊

[2020-03-27 11:20] martshaw commented on #531
Moving from webpack resolve alias to babel-plugin-module-resolver fixes this problem.

Please see https://github.com/0xsven/linaria-jest-alias-bug/pull/1 for any details.

[2020-03-27 11:24] Anber commented on #528
Probably, fixed in `1.4-beta.5`.

[2020-03-27 11:24] #528 closed

[2020-03-27 11:25] 0xsven commented on #531
@martshaw 's solution is a useful workaround for this issue. And it unblocks me from testing my components.

[2020-03-27 21:00] hemlok commented on #528
Hey this solved it! Thanks so much @Anber 🙇

[2020-03-28 11:43] skywalker512 commented on #391
I also have this problem. I think https://www.npmjs.com/package/slash should be used to solve this problem.

[2020-03-28 11:53] skywalker512 commented on #517
I also have this problem. I have configured the following information in **linaria.config.js** to solve this problem. It seems that Linaria does not convert the content in **node_modules** by default. You need to specify it manually.

[code]

You can get more information here https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md#options

[2020-03-28 14:58] Anber commented on #391
Fixed. Will be released in the next 1.4 beta.

[2020-03-28 15:16] Anber commented on #368
Fixed. Will be released in the next 1.4 beta.

[2020-03-28 15:16] #368 closed

[2020-03-29 01:15] skywalker512 commented on #391
Here's another question. The path of this generation is `../../../../../../../../../..assets/Back.svg` but the correct is `../../../../src/assets/Back.svg`

I find that `path.posix.dirname('src\pages\search\search.tsx')` will generate `.`, which is not correct

[2020-03-29 07:06] Anber commented on #391
@skywalker512 yeah, you're right. I definitely need Windows for testing :)

[2020-03-29 07:19] huw commented on #519
Raised an issue ([#20](https://github.com/callstack/parcel-plugin-linaria/issues/20)) over there to track this work

[2020-03-29 13:26] #391 closed

[2020-03-29 15:53] LukasBombach commented on #318
hey @orpheus thanks for your answer, I could simplify this even:

add linaria

[code]

`.babelrc`

[code]

`next.config.js`

[code]

[2020-03-29 21:42] mikestopcontinues opened #558 "Stylelint fails in Lerna monorepo subproject when referencing sibling"
## Environment

I'm running linaria beta.5, stylelint 13.2.1, lerna 3.20.2, and up to date everything else.

I thought hoisting might be the culprit, but I tested without hoisting, and I still got the error. But as you'll see (and as I missed until writing this report), the issue is referencing sibling packages. Lerna does this by symlinking the packages into the local packages node_modules. My ba

[2020-03-30 14:10] mikestopcontinues commented on #427
Hey @brandonkal, is this issue still up-to-date? I'd like to comment, but I just want to make sure you haven't gone beyond where your last message left off. I've got a fairly complex project that I proof-of-concepted with Linaria, and while I've hit some snags, I'd like to stick with it. So I'd very much like to offer feedback (and perhaps code in the future).

[2020-03-30 15:43] brandonkal commented on #427
Hello. I haven't thought of this for some time but still believe the premise is valid.

[2020-03-30 16:05] jayu commented on #505
You should use an additional webpack plugin. Eg. https://www.npmjs.com/package/html-webpack-plugin
It will add `<link href="styles.css" rel="stylesheet"></head>` to your HTML output, for both development and production if you prefer.

[2020-03-30 16:05] #505 closed

[2020-03-30 21:39] jayu opened #559 "Add error logging to webpack plugin"
## Describe the feature

It would be very useful to have better error logging from webpack plugin

## Motivation

Currently, when a build fails due to evaluation error, we get an actual error from the evaluation. But instead of a real file name where an error occurred, we get the name of the file that was entry point for evaluation. See #399 for example.

We should print a caught error here, betwe

[2020-03-31 07:09] duxiaofeng-github opened #560 "dev tools for chrome"
## Ask your Question

is there any linaria dev tools for chrome?

Cos i need to identify those className hashes.

for example:
[code]

it will be transformed to:
[code]

in some pages with complicated component structure, these hashes are hard to identify. one of my colleague who's not familiar with my code told me he can barely find the style of my components.

so, is there any way to solve this

[2020-03-31 07:11] thymikee commented on #560
You can turn on `displayName` in the config: https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md#options
If you're in React context, you can use React DevTools to identify components

[2020-03-31 07:11] #560 closed

[2020-03-31 09:07] jayu commented on #454
In Linaria, you cannot use the `styled` function without template string after. Without template string, it will not get transpiled by babel and will leave styled code in runtime.

It should work if you change to
[code]

[2020-03-31 09:07] #454 closed

[2020-03-31 10:18] jayu opened #561 "Solve issue with core-js, check if we can remove or at least upgrade."
## Motivation

There are a few issues related to core-js. They are built errors and build performance issues.
We should check how we can address them. We need to investigate
- [ ] if we can remove `core-js` dependency
- [x] if we can upgrade `core-js` to most recent version
- [ ] check what stop of the maintenance of `core-js` means for us in terms of upgrading/removing a dependency https://github

[2020-03-31 11:08] jayu opened #562 "Provide more global variables to node.vm context"
## Describe the feature

We should pass more variables to the global scope of the VM context. Eg. there is no `setTimeout` available in `VM` context. We need to investigate the common set of variables available in both node and browser and add them

We should spread the following to top-level scope of VM

[code]

https://github.com/callstack/linaria/blob/672b0bfcedfba1c2a5a5e6f5bfae2d63bfeee241/sr

[2020-03-31 16:08] soluml opened #563 "`classNameSlug` function is replacing dashes `-` with underscores `_`"
## Environment
Using `"linaria": "^1.4.0-beta.5"`

## Description
When `classNameSlug` is defined as below, the resulting class name has underscores instead of dashes. I'd expect Linaria to return the exact string with only the variables replaced. If that's not the case, then the allowed characters should be specified in the documentation.

**linaria.config.js:**
[code]

**Output:**
`<section clas

[2020-03-31 16:12] mattoni commented on #418
I also cannot right now, as I've unfortunately had to move away from linaria to styled-components as this made it impossible for me to use the library. I really appreciate you looking into all of the issues now though, I would love to see this library succeed and use it in my next project.

[2020-03-31 19:27] jayu commented on #492
The behavior you are requesting is currently supported https://github.com/callstack/linaria/blob/master/docs/BASICS.md#referring-to-another-component-or-class-name

[2020-03-31 19:27] #492 closed

[2020-03-31 19:41] jayu commented on #490
Problem is solved at least in `1.4.0-beta.4` :)

[2020-03-31 19:41] #490 closed

[2020-03-31 19:46] jayu commented on #225
I'm closing this issue because it's pretty old and not upvoted, we have other priorities right now

[2020-03-31 20:38] jayu commented on #418
@Anber is currently working on a new evaluation strategy that should help to solve this kind of issue. We will put an effort to make Linaria more reliable since this is the main reason why people move away from it :(
Each reproduction is very valuable for us because we are not aware of all the problems that people are facing.

[2020-03-31 20:44] jayu commented on #424
@Anber do you have any new thoughts on this :)? Is it possible to do it? Is it worth doing in the nearest future?

[2020-03-31 20:54] jayu commented on #447
It would be awesome to support next.js. If there is a real issue with configs we should solve it or write better docs on how to integrate those two projects. I will put it on my list to check what's exactly going on.

[2020-03-31 21:12] jayu commented on #466
The author is inactive so I'm closing the issue for now. Without more info about the used build system, we can't help much.

[2020-03-31 21:12] #466 closed

[2020-03-31 21:29] jayu commented on #526
@bolasblack issue from your last comment seems not to be related to Linaria.
As for support for global styles - it is already possible to have global styles defined with linaria. Introducing a special purpose `globaCSS` is not reasonable for me because it do not solve any problem and also introduces more code to maintain. In the end, global styles can be introduced by regular `*.css file.

[2020-03-31 21:29] #526 closed

[2020-03-31 21:46] jayu commented on #465
Supporting this in linaria would be tricky.
It would end up with support for runtime assigned styles since we cannot statically generate the output for each possible value of props.
It's somehow related to #409, #234  and #244

[2020-03-31 21:57] jayu commented on #531
The reason why it happens is that Linaria has to evaluate some subset of sources to extract values. If you use aliasing in webpack or jest, your paths would be invalid for linaria because they will not be transformed yet.
I'm surprised that `babel-plugin-module-resolver` helps with it because we force linaria to be run before any other plugins. But it probably uses your babel config during evaluat

[2020-03-31 22:02] jayu commented on #555
Hey @Pytal, could you provide a code example to visualize the problem?

[2020-03-31 22:07] jayu commented on #420
Thank you for all the responses, I created an issue where we would try to address the problem better. I'm happy that some workarounds exist. Hence I'm closing.

[2020-03-31 22:07] #420 closed

[2020-03-31 22:27] jayu commented on #563
This is a duplicate of #554

[2020-03-31 22:27] #563 closed

[2020-03-31 22:33] #362 closed

[2020-03-31 22:36] jayu commented on #435
We don't have capacity to provide support for every bundler right now. Prs are very welcomed ❤️

[2020-03-31 22:46] jayu commented on #434
@Tsubasa1218 thank you for the solution :) It would be awesome if you could contribute and add a note to linaria documentation about preact configuration!

[2020-03-31 23:25] jayu commented on #561
Just found a PR that is a good step on moving forward, #420
babel-core is included in

[code]
none of these modules is executed in the browser so polyfill is not needed.
If the author of the mentioned PR is right, we should be able to get rid of core-js by targeting node@8 in `babel-preset-env`

[2020-04-01 00:19] Pytal commented on #555
😅 Turns out the issue was with react-spring since I wrapped a react-spring component.

[2020-04-01 00:20] #555 closed

[2020-04-01 00:41] soluml commented on #554
To add to this issue, there are actually thousands of valid characters beyond the regex above. Mathias Bynens has a [great write up about escaping normally invalid characters for CSS class names](https://mathiasbynens.be/notes/css-escapes) and in that same article he discusses many of character ranges that can be used, including emojis which don't require any escaping at all.

Unless there's a pro

[2020-04-01 07:30] satya164 commented on #561
@jayu babel-core is not the same as core-js. core-js is a polyfill that different babel transforms add to the code. we're not importing it explicitly.

I think we can't do that. We need to support browsers which may have different features/syntax available. We'll need to check which code is causing babel to include a polyfill and then change that code to some older syntax/API that doesn't need a p

[2020-04-01 08:08] jayu commented on #561
Yes, I was tired while writing it, I meant `core-js` :D thanks @satya164

[2020-04-01 08:51] jayu commented on #554
Thanks for the research.  I would highly encourage you, folks, to check if changing this regexp does not break the test (it probably will break some snapshots) and what's more important -  builds.  I don't know why it is so strict, maybe there was a reason. From a maintainer perspective, the issue does not have very high priority but is reasonable so I look forward to community contributions :D

P

[2020-04-01 08:58] Anber commented on #531
Actually, we are trying to use aliases from webpack, but probably something went wrong here. I would recommend to keep it open for future investigation.

[2020-04-01 08:59] jayu commented on #299
@zamotany what is a use case for this feature. Do you want to be able to add a prefix to class names generated by linaria?  I would be useful while building component libraries, right?

[2020-04-01 09:00] Anber commented on #424
It can be added to the future linaria monorepo and published under @linaria scope.

[2020-04-01 09:08] jayu commented on #554
Lol, didn't notice the PR is already there 😅 Thanks!

[2020-04-01 09:09] thymikee commented on #299
Yup, avoiding classname conflicts when publishing css from a library was the goal

[2020-04-01 09:11] Anber commented on #537
The main problem with HMR has been solved, but there is still a problem with a blank page on a first run. I've found that a blank page appears because Webpack reports that a compilation is successfully finished before it actually starts processing generated CSS-files.

[2020-04-01 09:15] jayu opened #565 "Add example project to run builds on CI"
## Describe the feature

It would be useful to have an example project that uses all possible syntaxes, use a reasonable set of different configs.
It should be set up to be built with officially supported bundlers, at least
- plain babel build
- webpack
- rollup (there might be some build errors due to issues with rollup)

We should run those builds on CI.

## Motivation

We will be able to check

[2020-04-01 10:37] jayu commented on #471
I cannot repro this with `1.4.0-beta.4`

[2020-04-01 10:37] #471 closed

[2020-04-01 10:44] jayu commented on #469
could not repro with `1.4.0-beta.5`

[2020-04-01 10:45] #469 closed

[2020-04-01 10:55] jayu commented on #517
I will try to reproduce it and see if it can be solved.

[2020-04-01 10:56] jayu commented on #461
Any reproduction repo would be appreciated 😊

[2020-04-01 11:06] jayu commented on #514
The solution was proposed, there is no activity for a while so I guess it was solved or abandoned

[2020-04-01 11:06] #514 closed

[2020-04-01 11:07] jayu commented on #456
solution merged #389

[2020-04-01 11:07] #456 closed

[2020-04-01 11:08] jayu commented on #467
We would appreciate if someone would at least check how much work it would be to support this bundler and whether its popularity is high enough to take up this effort.

[2020-04-01 11:18] jayu opened #566 "Document usage of evaluation strategies as plugins"
## Describe the feature

- [x] Document usage of evaluation strategies as plugins.
- [x] Set `shaker` as a default strategy in `2.0.0`
- [x] Add note about evaluator breaking change with link to configuration docs into `docs/2.0_MIGRATION_GUIDE.md`

Also, I would suggest exporting evaluation strategies from root file, like we do with `linaria/babel`, `linaria/styled` and others

It could be
[code]

[2020-04-01 13:54] soluml commented on #554
PR #564  has merged, so I think this can be closed once available.  Thanks everyone!

[2020-04-01 13:55] #554 closed

[2020-04-01 15:31] jayu commented on #293
It's a good idea but for rare use cases. But PRs welcome :)

[2020-04-01 15:45] jayu commented on #223
Is it still valid if we now support different bundlers?

[2020-04-01 19:00] satya164 commented on #223
It's not about moving sourcemap generation, but about how to output the sourcemap file, that depends on the bundler. For webpack, the sourcemap is inlined in the output CSS file which isn't ideal and only usable for development environment.

[2020-04-01 19:02] jayu commented on #243
It's kind of duplicate of mentioned issue, I'm closing

[2020-04-01 19:02] #243 closed

[2020-04-01 19:25] jayu commented on #407
We currently use babel `7.9`

[2020-04-01 19:25] #407 closed

[2020-04-01 19:31] jayu commented on #426
This is a duplicate of the mentioned issue

[2020-04-01 19:31] #426 closed

[2020-04-02 15:11] frenzzy commented on #445
@Jayphen it does not work if you need to use dynamic style from API or database.
For example a color customizable by user.

[2020-04-02 15:18] frenzzy commented on #445
There are a relatively new polyfill exist: https://github.com/nuxodin/ie11CustomProperties
The only requirement for it to use special `ie-style` attribute in addition to `style`:

Maybe add a flag to linaria (like useIEStyleAttrubute) which will use both attributes will be much simpler solution here?

[2020-04-02 22:08] TGE24 commented on #486
I'm still experiencing this issue without linaria. is there any solution yet?

[2020-04-03 20:53] jayu commented on #217
I assume it's outdated

[2020-04-03 20:53] #217 closed

[2020-04-04 09:15] jayu commented on #244
Styles composition would be extremely useful once we introduce react-native support #236
We could potentially share more code between `react` and `react-native`

[2020-04-04 23:56] ShanonJackson commented on #486
Its not a linaria issue. Its an issue where-in allowing users to import css you cannot gaurentee in what order those imports are resolved. The good thing is linaria doesn't really rely on css ordering so you can just silence the warnings by turning on `ignoreOrder: true` in webpack on MiniCssExtractPlugin

[2020-04-05 00:04] msand commented on #486
@TGE24 Hoist your conflicting / global css imports from your next.js pages and components to your _app.js file, this way they are always included and always in the same order, and thus no strange css cascade / specificity / ordering bugs.

[2020-04-05 00:39] ShanonJackson commented on #486
That's not true, there is still in Next 9.3.2 issues with CSS specificity order due to the fact that that next duplicates styles across chunks. Will be fixed in 9.3.4 by the looks of it.

https://github.com/zeit/next.js/issues/11448#issuecomment-607839780

Example in this issue i opened awhile ago.

[2020-04-05 03:28] madhavarshney commented on #435
Linaria works out-of-the-box with Svelte using webpack. The trick is to make sure `linaria/loader` comes after `svelte-loader` so that the `svelte` syntax is compiled away by the time `linaria` processes it. The following rules in your webpack config should work:

[code]

_Note: webpack runs loaders starting from the bottom._

[2020-04-05 05:12] madhavarshney commented on #435
For Rollup, [follow the docs](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#rollup) and enable `emitCss: true` for `rollup-plugin-svelte`.  The following should work:

[code]

[2020-04-05 07:45] Anber commented on #517
Fixed

[2020-04-05 07:45] #517 closed

[2020-04-05 07:47] jayu commented on #435
Thank you @madhavarshney, awesome contribution! I will test it soon If this will work we can update our docs. Wouldn't you mind to open a PR and update [bundler integrations docs](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md) ?

[2020-04-06 12:57] #502 closed

[2020-04-06 12:57] #478 closed

[2020-04-06 19:19] #561 closed

[2020-04-07 22:04] madhavarshney commented on #435
@jayu Sure! Did you get a chance to try it out? Let me know if I should spin up a sample repo that you can clone directly.

[2020-04-08 06:08] jayu commented on #435
@madhavarshney Unfortunately I didn't have time for testing it. I wouldn't like to overuse your time, but any repo would be very helpful! Even for other users if you leave a link here 😀

[2020-04-08 22:27] madhavarshney commented on #435
@jayu Here you go: https://github.com/madhavarshney/svelte-linaria-sample. Let me know what you think! I'll open a PR to update the docs sometime this week.

[2020-04-09 02:32] soluml opened #571 "Add a third argument to the preprocessor option that gives us the file name"
## Describe the enhancement
In the webpack linaria/loader, we have a [preprocessor option](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#options) which gives us the ability to further augment the text before passing it down the line. It would be very helpful to have a 3rd argument which features the output file name for this file.

## Motivation

This would allow us

[2020-04-09 08:15] jayu commented on #571
@soluml As I understand, Inside preprocessor callback you want to access the filename from where styles were extracted? Or rather the path. So the use case might look like
[code]

[2020-04-09 13:38] soluml commented on #571
Yea, exactly. Sorry I wasn't clear. Below is something I'd do if this was implemented:

[code]
Basically, if this file has been written to already, don't add [Sass's @use](https://sass-lang.com/documentation/at-rules/use) as it must be at the top of each file.

[2020-04-09 14:22] soluml commented on #571
I opened up a PR for this issue: #572

[2020-04-09 14:29] satya164 commented on #571
@soluml not sure if keeping external map is something you should do. files can be rebuilt at a future point. your external cache won't be consistent with the actual output.

[2020-04-09 15:19] soluml commented on #571
My thought was to add the filePathMap at the top of my `webpack.config.js` file. The theory being that it would re-initialize anytime the build runs or re-runs so I could re-apply the "banner" text to every file. Though, in a **watch** situation, I'm not entirely sure if it'd be re-initialized or not... might depend on the bundler setup.

[2020-04-09 15:41] soluml commented on #571
In my specific testing instance, I'm using Gatsby which[ leverages Webpack Dev Server](https://www.gatsbyjs.org/docs/node-apis/#onCreateDevServer). It provides hooks where I could reset the Map as needed to ensure I was setting the @use directive appropriately for each file, only once.

Not sure if that will help anyone googling for an answer to something like this, but there ya go.

[2020-04-09 16:05] satya164 commented on #571
I think the easiest way would be to write a simple webpack loader which runs for CSS files, then inserts what you need into those files. With a loader, you can make sure that it runs for each file and not each rule.

[2020-04-14 06:21] jayu commented on #435
@madhavarshney I just tested your setup with rollup and webpack, It works like a charm! I'm really happy that people could use linaria with one more, amazing tool. If you still want to update docs, feel free to open a PR. I will assign this issue to you. I really appreciate your help 🥇 !

[2020-04-14 08:26] jayu commented on #299
Since code for this feature is already there (#369), but only needs migration to TypeScript, I mark it as good first issue

[2020-04-14 15:25] SidneyLann opened #575 "SyntaxError: Unexpected token 'export'"
- Linaria version: 1.1 to 1.4
- Bundler (+ version):
- Node.js version: 13
- OS: win7

## Description
Module build failed (from ./node_modules/_linaria@1.4.0-beta.6@linaria/loader.js):
D:\DEV\client-taro\node_modules\_@tarojs_components@3.0.0-beta.3@@tarojs\components\mini\index.js:1
(function (exports) { export const View = 'view'
                      ^^^^^^

SyntaxError: Unexpected token 'expor

[2020-04-14 15:26] SidneyLann commented on #575
export const View = 'view'
export const Icon = 'icon'
export const Progress = 'progress'
export const RichText = 'rich-text'
export const Text = 'text'
export const Button = 'button'
export const Checkbox = 'checkbox'
export const CheckboxGroup = 'checkbox-group'
export const Editor = 'editor'
export const Form = 'form'
export const Input = 'input'
export const Label = 'label'
export const Picker

[2020-04-14 15:28] SidneyLann commented on #575
Above is the content of the file node_modules\_@tarojs_components@3.0.0-beta.3@@tarojs\components\mini\index.js

[2020-04-14 15:29] SidneyLann commented on #575
https://taro-docs.jd.com/taro/next/docs/next/css-in-js.html
I configure the env by the url

[2020-04-14 15:43] satya164 commented on #575
You need to remove this module from ignore list. See `ignore` https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md

[2020-04-14 18:13] two-legs commented on #575
Having the same issue.
I have CRA project with ejected config and es6-package in `node_modules`.
1. I added path to package (atomsLib) into include section in the webpack config:
[code]
2. Added new Regexp to `ignore` in `linaria.config.js`.
[code]
But I still get this error.

I tried to change webpack config, I used `exclude` instead of `include` param but that didn't help either

[2020-04-16 09:32] Jayphen commented on #478
I'd like to be able to specify a path to the babel config as I am using Linaria in a monorepo where the config does not necessarily live in the root of the app.

[2020-04-16 09:46] satya164 commented on #478
@Jayphen how do you run linaria? you can also specify same options in the babel plugin config as well as webpack config (or reuse config file: `...require('/path/to/linaria.config.js)'`)

[2020-04-16 11:32] Jayphen commented on #478
I'm working on a framework that uses Linaria internally & handles the build process for consuming apps - I don't want them to have to have a babel config in the root of their app.

So does this mean the [first line here](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#pre-requisites) is not entirely accurate?

Do you mean that I should just pass the babel config to th

[2020-04-16 13:40] jarodpeachey opened #577 "Linaria v2.0.0-alpha.1 error: "Cannot read property h1 of undefined""
## Environment

- Linaria version: 2.0.0-alpha.1
- Node.js version: 10.15.1
- OS: Windows 10

## Description

I've just installed the latest Linaria version to get the fix for the core-js issues that have been in Linaria. Those errors have gone away, but the code will not compile properly using the same import statements from the previous version of Linaria.

[code]
When using the import like that

[2020-04-16 14:43] Jayphen commented on #575
I'm getting the same issue. The ignore flag does not seem to change anything (even if I set it to an empty regex)

[2020-04-16 15:31] jayu commented on #577
Hi @jarodpeachey thanks for the report. Can you provide reproducible demo, preferably as a GitHub repository? I could not reproduce the issue, `2.0.0-alpha.1` works for me, I just updated from `1.4.0-beta.6`

[2020-04-16 15:34] jarodpeachey commented on #577
@jayu Sure. Clone https://github.com/jarodpeachey/craft2care and run `npm install` and `npm start`. You should be able to see the errors

[2020-04-16 15:39] jayu commented on #577
It says that I need netlify token. How I can workaround this?

<img width="648" alt="Screen Shot 2020-04-16 at 17 38 56" src="https://user-images.githubusercontent.com/11561585/79476369-2f02e000-8009-11ea-89e3-bfee8f79bc61.png">

[2020-04-16 15:42] jarodpeachey commented on #577
Oh, my bad. I'll push a new commit that you can use that doesn't need the environment variables.

[2020-04-16 15:45] jarodpeachey commented on #577
Just pushed, you should be able to get past that error now

[2020-04-16 16:07] Jayphen commented on #575
My team managed to fix this — the babel plugin is hard-coded to ignore `node_modules` here: https://github.com/callstack/linaria/blob/master/src/babel/utils/loadOptions.ts#L28

The workaround was to replace the loader in webpack with this:

[code]

[2020-04-16 16:08] jayu commented on #577
I have this error now. It seems you did not set up linaria correctly since it is not transpiling your code.
In `linaria.config.js` some linaria fork `'@brandonkal/linaria/babel'` which seems to be redundant. I'm not sure about your config in general, did you manage to make any previous version of linaria work in your project?
Please make sure that you setup Linaria correctly and then we can verify

[2020-04-16 21:42] jarodpeachey commented on #577
Ok. I've removed that other package, but now it won't compile. It says
[code]

wherever I import { styled } from linaria/react.

[2020-04-16 22:29] jayu commented on #577
First of all please add `babel.config.js` file with following content
[code]
Otherwise Linaria will not work. In my case I get an error that indicates that Linaria is not configured correctly (missing babel plugin setup). Once I fixed it I get other errors related your codebase.

I'm on Unix system so maybe the environment makes the difference in what is the error message.

Your repro has too comp

[2020-04-17 06:41] jayu commented on #575
Nice finding @Jayphen this is definitely a regression. I will try to fix it today

[2020-04-17 10:35] jayu commented on #575
@Anber do you want to work on this ?

[2020-04-17 10:36] Anber commented on #575
@jayu yep. I'll fix it today.

[2020-04-17 10:37] jayu commented on #575
Please open a PR to both `1.4.x` and `master` branches then

[2020-04-20 09:30] jayu opened #581 "Improve error logging once Linaria is used in non-static context"
## Describe the enhancement

We should print more informative error message when Linaria evaluation fails.

## Motivation

Users, especially new users are confused when they cannot use some kind of syntax, and error message just says

## Possible implementations

We should list possible reasons for the error like
- css/styled used inside a loop
- css/styled used inside a function
- css/styled used

[2020-04-20 14:34] jayu opened #582 "📢 Status of Linaria and road to 2.0"
## Status Note

Recently @Anber was working on a new evaluation strategy called _shaker_. The goal was to make Linaria more flexible and reliable.

All work regarding shaker had been releasing with `1.4.0` tag, currently in `beta` stage.

Meanwhile, we wanted to introduce some breaking changes, so we decided to release `2.0.0` in `alpha` stage.

All `1.4.x` work can be found on [`1.4.x` branch](ht

[2020-04-20 15:07] jayu opened #584 "Blank page is shown on first run when using CRA"
## Environment

MacOS Catalina;
Create React App;
TypeScript.

## Description

Once project bootstrapped with Linaria and Create React App is built for the first time, a blank page appears. It works well without Linaria.

## Reproducible Demo

use `rm -rf src/.linaria-cache && yarn start` to reproduce the issue in linked repo

https://github.com/zaguiini/linaria-sandbox

[2020-04-20 15:08] jayu commented on #537
Since the main issue with Hot reload has been solved, I'm closing it in favor of #584

[2020-04-20 16:09] #537 closed

[2020-04-23 18:29] amaranth commented on #359
This doesn't really have anything to do with webpack aliases, it'll happen any time you import something above your project root. The code responsible is https://github.com/callstack/linaria/blob/eda0efaa437b267f536fa4866efd9299f9738767/src/loader.ts#L42-L49.

  * `cacheDirectory` is `/Projects/my-ui/packages/app/.linaria-cache`
  * `root` is `/Projects/my-ui/packages/app`
  * `this.resourcePath`

[2020-04-23 20:51] jayu commented on #299
I missed out that we have `classNameSlug` option. So it is possible to have library scoped class name now.

[2020-04-23 20:51] #299 closed

[2020-04-24 02:49] chrisabrams commented on #399
@Anber thank you so much for sharing your config this resolved the issue for me!

[2020-04-24 03:14] chrisabrams commented on #399
Actually @Anber 's solution solved this error for 1st party components, but, if you are loading components from a monorepo-type setup, Linaria no longer knows they exist and ignores them.

[2020-04-25 22:07] mikestopcontinues opened #587 "NextJS + Lerna + Linaria - Current solutions for sibling import fail."
## Environment

General strategy:
I'm using Lerna to (theoretically) easily share code between a handful of related apps. Though I have major issues with Next, it's still the best way to get pre-rendering and static rendering, so I'm using it for all of the apps. And I'm using Linaria because it's the best damn css-in-js solution out there. (Although whereas I can get Astroturf or Styled-Component

[2020-04-25 22:07] #558 closed

[2020-04-25 22:08] mikestopcontinues commented on #558
Yeesh, sorry for leaving this open! I'd fixed it, and in the flurry of bugs that came from trying to build a monorepo, I lost track. Thanks for your patience!

[2020-04-26 04:37] twolettername commented on #447
I ran into this one today with the set-up detailed in the next.js example config mentioned above.

Messing around with `next.js` `next/babel` preset, modifying these two to be different from one another fixes the build (though changing the `pragma` option on `preset-react` breaks when it renders):

https://github.com/zeit/next.js/blob/v9.3.5/packages/next/build/babel/preset.ts#L130
https://github.

[2020-04-26 19:03] jayu commented on #587
Hi, thanks for the verbose description, it's always nice to have that kind of issues :D.
I didn't look into your reproduction yet, but I can see the possible reason why it throws an error.

It looks like your files were not transpiled because there is an `import` statement instead of require.
Your ignore statement in the config should force linaria to transpile your `@arc/something` modules, but t

[2020-04-26 19:28] mikestopcontinues commented on #587
Thanks @jayu ! That sounds spot on. I'll keep an eye out for the patch :)

[2020-04-27 07:13] #559 closed

[2020-04-27 07:13] #581 closed

[2020-04-27 07:30] jayu commented on #587
@mikestopcontinues Done ;)

[2020-04-27 07:32] jayu commented on #575
Released `1.4.0-beta.7` and `2.0.0-alpha.2` with that fix

[2020-04-27 07:32] #575 closed

[2020-04-27 14:42] mikestopcontinues commented on #587
Works like a charm! Thanks!

[2020-04-27 14:42] #587 closed

[2020-04-28 07:57] jayu commented on #418
I will reopen this if any reproduction will be provded

[2020-04-28 07:57] #418 closed

[2020-04-28 07:59] jayu commented on #461
I will reopen this if any reproduction will be provided. I believe issues of that kind will be solved in [`2.0`](https://github.com/callstack/linaria/milestone/7) release due to a new evaluation strategy that should shake unused imports.

[2020-04-28 07:59] #461 closed

[2020-04-28 08:08] jayu commented on #473
I tried but could not repro this one. The code below result in values without `px` suffix

[code]

[2020-04-28 08:08] #473 closed

[2020-04-28 14:52] jayu commented on #447
Thanks @twolettername, your research really helps to understand what causes the issue. During the evaluation, we cannot have any `import` statements, because node does not understand them, they should be transformed to `require` statements.

The problem is this `jsx-pragma` which is adding this import. It is not a responsible behavior since it may break many environments.  It was introduced in htt

[2020-04-28 14:52] #447 closed

[2020-04-28 14:57] jayu commented on #454
I didn't understand the issue when I was closing it, but it's a duplicate of #447. Take a look on my comment with the solution https://github.com/callstack/linaria/issues/447#issuecomment-620656902

[2020-04-28 15:04] jayu opened #589 "Update with-linaria example in next repo"
## Describe the enhancement

After release of `2.0` with shaker as a default strategy, we should update `with-linaria` example in `next.js` repo. https://github.com/zeit/next.js/tree/master/examples/with-linaria

## Motivation

There is a known bug with next.js babel config and `extractor` evaluator, which can be fixed by the `shaker` evaluator. See #447

## Possible implementations

open a PR to

[2020-04-28 15:22] jayu opened #590 "Add documentation on how to integrate Linaria"
## Describe the enhancement

Firstly we add more chapters to `docs/CONFIGURATION.md` to group working integrations
- [ ] Next.js heading and ling to [`with-linaria` example](https://github.com/zeit/next.js/tree/master/examples/with-linaria)
- [ ] Gatsby.js heading with a link to [gatsby-plugin-linaria](https://github.com/silvenon/gatsby-plugin-linaria) and optional custom config.
- [ ] CRA craco p

[2020-04-28 15:31] jayu commented on #373
close via #273

[2020-04-28 15:31] #373 closed

[2020-04-28 19:57] jayu commented on #577
@jarodpeachey Did you manage to solve the issue?

[2020-04-29 08:27] #527 closed

[2020-04-29 11:39] jayu commented on #531
I can confirm that aliases work in webpack, so it is only `Jest` issue

[2020-04-29 11:59] thymikee commented on #531
Does this happen with Jest 25? I'd consider using babel plugin for import replacement, which would allow you to apply it once for various tooling

[2020-04-29 12:06] jayu commented on #531
@thymikee `babel-plugin-module-resolver` is known workaround, however, people complain that is terribly slow https://github.com/callstack/linaria/issues/390#issuecomment-486669256. I'm curious if it is because of linaria, or because of the plugin

[2020-05-01 19:19] #577 closed

[2020-05-01 19:20] jayu commented on #562
closed via #592

[2020-05-01 19:20] #562 closed

[2020-05-02 19:45] jayu commented on #222
We can try this https://github.com/sysgears/webpack-virtual-modules

[2020-05-03 06:02] jascodes opened #596 "Tsconfig paths not working"
My Linaria version is current tsconfig path is not working.

[code]
So if I do

`import { DDConst } from '@/components/drop_down/drop_down_constants'

I get

[code]
Relative import fixes it.

`import { DDConst } from './drop_down_constants'`

[2020-05-03 07:11] jayu commented on #596
Hi @jascodes ! Can you provide a repository with minimal reproduction? It is not working because Babel has no idea about custom paths that are defined in tsconfig, but I'm curious your use-case because usually people do no build project with just typescript. There is a similar problem with Jest and module Mapper and I'm trying to decide how to solve it

[2020-05-03 11:39] wereHamster opened #597 "Regression in styles evaluation in `1.4.x` and above"
## Environment

- Linaria version: v2.0.0-alpha.2
- Bundler (+ version): rollup
- Node.js version: v10
- OS: macOS

## Description

In v1 code like this works. In v2 linaria fails with the error `classes is not defined.`:

[code]

## Reproducible Demo

https://github.com/wereHamster/linaria-v2-regression/blob/master/input.js

[2020-05-04 02:33] jascodes commented on #596
https://github.com/jascodes/yobetit

Here you go...

[2020-05-04 10:02] jayu commented on #597
@wereHamster Which version of Linaria you used before the update to `2.0`? I observed that this syntax didn't work before, but I don't remember in which version.

Btw. You should avoid using linaria in not top-level scope, if you move quotes code up, it will work.

[2020-05-04 10:06] wereHamster commented on #597
v1.3.3.

What do you mean not in top-level scope? I've had a lot of code that is something like that:

[code]

Is that also not allowed? Do I need to pull all those css`` blocks out of the component into top-level scope?

(For reference, here is one such example: https://github.com/timvir/timvir/blob/ba2ee527466a5ab503ee61988171f8203c10a56c/src/components/ColorContrastInspector/internal/Cell.tsx)

[2020-05-04 10:21] jayu commented on #597
@wereHamster Recently we've been thinking if we can restrict using linaria just to top-level scope. Some people try to use Linaria like this :`

[code]
Which will no work, because in built time we don't know what is the value of `props.colors`.
We've been thinking about restricting, but we didn't do it yet, because there might be many users that will have to refactor the codebase.

According to cu

[2020-05-04 13:22] jayu commented on #597
@wereHamster I adjusted the Issue name, I hope you don't mind :)

[2020-05-04 13:28] #359 closed

[2020-05-04 22:15] wereHamster opened #599 "@types/babel__core is an unlisted dependency"
## Environment

- Linaria version: v2.0.0-alpha.2
- Bundler (+ version): babel
- Node.js version: 13
- OS: macOS

## Description

I received the following error from TypeScript:

[code]

The app works fine, it's just the type checke that's not happy. I was able to fix this by installing `@types/babel__core` myself, though it's probably not nice to force users of this library to manually install th

[2020-05-05 07:01] jayu commented on #434
closed via #595

[2020-05-05 07:01] #434 closed

[2020-05-05 07:05] jayu commented on #599
Thanks! I will check it

[2020-05-05 09:05] jayu opened #601 "Remove evaluation of styled wrapped component"
## Describe the enhancement

## Motivation

There are some issues caused by evaluating the styled wrapped component.
[code]
See https://github.com/silvenon/gatsby-plugin-linaria/issues/19 or https://github.com/callstack/linaria/issues/447

It happens because we treat `Link` as a lazy dependency, that has to be evaluated.
We need to evaluate Link, to get it's generated className (in case it will be

[2020-05-05 10:22] jayu opened #602 "Document how to use Linaria in monorepo"
## Describe the enhancement

It would be good to have a guide on what additional steps has to be made to make Linaria work in monorepo environment

## Motivation

There are some issues related to monorepo

## Possible implementations

We can use [this](https://github.com/mikestopcontinues/lerna-next-linaria) repo to build the guide

The important parts are `babel` `rootMode: "upwards"` and removin

[2020-05-05 10:35] marchaos opened #603 "Support for css within styled"
## Describe the enhancement

In styled-components I can do something like:

[code]

When I attempt to do this in linaria, I get an error "Unknown word". Is this something that could be supported in the future?

## Possible implementations

See example right on their homepage - https://styled-components.com/

## Related Issues

https://github.com/callstack/linaria/issues/409

Let me know if this is

[2020-05-05 16:14] jayu commented on #596
@jascodes I took a look on your setup and currently what you can do to support aliased paths is to use one of those plugins that I found.
https://www.gatsbyjs.org/packages/gatsby-alias-imports/
https://www.gatsbyjs.org/packages/gatsby-plugin-alias-imports/
They claim to work based on webpack aliases, so it **should** work with linaria, since we support webpack aliases.

I suggest keeping this issu

[2020-05-05 16:16] jascodes commented on #596
Interesting, will try that out.

[2020-05-05 16:50] jayu commented on #599
It turns out none of the `@babel` packages had `@types/babel_core` in dependencies. It is installed because it is a dependency of `babel-jest`, that's why there is no error locally when we build linaria before release. `babel-jest` is dev dependency.
So we should add `@types/babel_core` as a dependency. I don't know how to prevent similar situation in the future

[2020-05-05 17:12] jayu commented on #603
Yep it is kind of duplicate and it will be hard to support this syntax in linaria with reasonable static extraction of the values. You can leave comment in #409  with the syntax you would like to use.
Also We currently do not support the interpolations of `css`

[2020-05-05 17:12] #603 closed

[2020-05-05 17:44] wereHamster commented on #599
To be fair, it is really unusual for any npm package to have @types/ in its dependencies… It's only needed when you use TypeScript, and not everyone does.

[2020-05-05 19:31] jayu commented on #599
I agree that sucks, but sometimes there is no other solution. We can add it as peerDependency so users will be notified that they may need to install it or add am optional installation step to add it.
Or the user can build ts with `skipLibCheck` flag. But any of these solutions seems to be good so I would just add it as a dependency.

[2020-05-06 16:04] wereHamster commented on #599
@jayu do you know the reason why the changes to the `@babel/core` module have not been pushed to DefinitelyTyped? Are those non-official / private types that are not meant to be used by babel users? If not then we can push those changes upstream and not have to rely on module augmentation.

[2020-05-07 14:55] wereHamster commented on #599
Alright, I investigated why the linaria/lib/babel/* .d.ts files are even loaded when I just `import { css } from "linaria"`, and it's because lib/core/css imports ../types, which imports ./babel/utils/loadOptions to get the PluginOptions type. AFAICS PluginOptions does not really use any babel types, so if we could move that to a separate file that would solve that problem.

[2020-05-08 09:20] Jayphen commented on #582
Is the new evaluation strategy already used in the 2.0 alpha? Or is it necessary to opt-in to it?

[2020-05-08 10:47] jayu commented on #582
@Jayphen not yet, you can configure it as it is said https://github.com/callstack/linaria/issues/447#issuecomment-620656902
It will be set as default in a few days I believe. Would be awesome if you could test it and let us know if this not break anything :D

[2020-05-08 11:15] Jayphen commented on #582
@jayu I've just tried that with the alpha and it did not break anything. I am not sure how to even know if it is using the new strategy or not.

[2020-05-08 14:05] jayu commented on #597
fixed via #604, released in `2.0.0-alpha.4` and `1.4.0-beta.9`

[2020-05-08 14:05] #597 closed

[2020-05-08 14:10] jonatansberg commented on #244
We just ran in to a case where we would really benefit from this. A colleague of mine is currently trying to write a codemod for migrating ~50 separate apps (roughly 10 000 components) from Emotion 9 to Linaria, and this is a pattern thats used in a lot of them.

Would it be possible to keep the current behaviour of `css`-tags serialising to classNames (e.g. having `.toString` return a class name

[2020-05-09 08:09] jayu commented on #244
@jonatansberg your case is dope! Can you post which exact syntax you want to have? Because there are various limitations while implementing this, I was thinking a lot recently about how to approach this, I want to achieve better code reusing.
Btw if you manage to write this codemod it would be awesome to open-source it :D Nested css interpolations would be hard to implement, I was thinking about b

[2020-05-09 08:24] jonatansberg commented on #244
Yeah, that is pretty much what I'm after as well. I understand that this is a pattern that has a lot of caveats, and that you're most of the time better of solving this in other ways. Unfortunately since this used to work with Emotion, we need to find a way to either codemod it away or make it work with Linaria...

Here is a complete example. Code like this:
[code]

Should preferably turn in to so

[2020-05-09 10:56] jayu commented on #244
Good, I will try to work on some PoC next week

[2020-05-11 09:42] Anber commented on #566
PR #608

[2020-05-11 09:42] #566 closed

[2020-05-11 09:50] jayu commented on #565
This file uses enough set of syntaxes
- used css
- used styled
- interpolation of imported styled
- interpolation of imported className
- interpolation of object files, function result
- non-trivial usage of linaria inside a function (`opacity: 0;` could be changed to external dependency to make it even more complicated)

[code]

[2020-05-12 05:32] jascodes commented on #596
@jayu I am using gatsby-plugin-tsconfig-paths which states it plugin into webpack. So in theory linaria should work with this?

PS: Having paths in tsconfig allow other IDE extensions such as autoimport to work properly

[2020-05-12 10:26] LucaColonnello commented on #225
I would have loved to see this coming though! So sad to see it has been closed!
This is the approach taken by the new Facebook style lib, which would be open source at some point.
But I think, considering it seems that lib is quite opinionated in the way to write CSS (ReactNative style), it would be good to see this in Linaria as an opt-in feature.

If I have some time, does anyone mind me spiking

[2020-05-12 10:34] jayu commented on #244
After trying to implement composition I understood that it is not possible in a way I thought it would be.
My approach was to grab composed class styles and just inline them inside another class. But if we consider a situation that shared styles are imported from other files, and what's worse, it imports another file, we end up with a need to resolve all styles during preevaluation, which will kil

[2020-05-12 13:01] jonatansberg commented on #244
@Jayphen: Does this help in any way?

[2020-05-12 13:05] LucaColonnello commented on #225
@giuseppeg I'm impressed with your work on this, and as you are waay ahead of me, any chance we could have a brief conversation about how to possibly spike this in Linaria as a POC?
(It would still be Callstack final say if they are happy to integrate this or not and how)

[2020-05-12 13:11] thymikee commented on #225
@jayu mind reopening then? :) I think being able to have atomic css would be great, because it scales well in larger codebases.

[2020-05-12 13:15] Jayphen commented on #244
The behaviour of overriding properties regardless of the interpolation order is fine — although it's not exactly equivalent to the spec CSS behaviour, it's the intended outcome when "mixing in" styles this way (at least in the examples I've seen in our projects).

In our case, the interpolation isn't necessarily always at the beginning of the declaration, so if that is a limitation then the codemo

[2020-05-12 13:19] Jayphen commented on #225
I'm a big fan of this proposal — and as Stylex will likely be open-sourced at some point, it makes sense to be ahead of the ball on implementing this.

The great benefit is that it results in logarithmic instead of linear growth of CSS when adding new features with styling. This can result in massive savings for large apps (in Facebook's case it reduced their CSS payload by 80%)

[2020-05-12 13:24] LucaColonnello commented on #225
Well said @jayu and @Jayphen!
There's also an element of bringing the same innovation that company like Facebook are discovering and promoting outside of those companies tools, to be part of open source alternatives that have a different model.

I'm personally a big big fan of Linaria, as I thing THAT is how CSS-in-JS should be done.
But there's also a less opinionated view on top of this, which i

[2020-05-12 16:36] jayu commented on #225
Good to see some discussion in this repo :D I'm not opossed to the feature, I was doing issue triage a month ago and I closed this since it wasn't upvoted and I didn't get the idea behind it.
I still don't have time to implement it myself, but I'm open to check any PoC! This is not easy thing to implement in linaria, but if someone will manage to do it, I'm good.
I'm a bit afraid about build time,

[2020-05-12 16:48] jayu commented on #244
@Jayphen So with my current approach it could look like this :
[code]
And effectively it would act like `composes` is hoisted to the top of declaration, so styles from particular tag will override the composed styles because of the class names composition.
So you can put `composes:` anywhere in the tag, but styles from the tag will have priority

[2020-05-12 16:59] LucaColonnello commented on #225
Hey @jayu!
Definitely I'd like to make a PoC of this and see how it goes.

It will be challenging for sure, that's why I might just make a PoC of the final outcome and open a PR to discuss all the point where we need to improve it, maybe with a roadmap...

[2020-05-12 17:15] jayu commented on #225
I looked into how atomic CSS might work and unfortunately, due to we support nesting in linaria, it would be impossible to have both atomic output and nesting classnames. We could probably have atomic CSS as a derivation or however it could be called, with restricted syntax support. Atomic CSS would make it very hard to make https://github.com/callstack/linaria/issues/244 work.

I'm also wondering

[2020-05-12 21:56] mauleb commented on #465
Would it be possible to support the responsive props however?

in the example from your readme:

[code]
It is explained that behind the scenes color is handled as a CSS variable. If breakpoints were declared in some manner for linaria, would it be possible to support something like this:

[code]

which still relies on CSS variables behind the scenes?

[2020-05-13 06:45] asvny commented on #225
My two cents ...

StyleX is quite simple and follows `react-native` stylesheet pattern. It is authored like
[code]
I possibly assume that they force developers to author only longhand properties and think in terms of logical properties like `margin-inline, block-size` etc..,

Then babel compiles it
[code]

When it needs to resolve multiple object styles, it does something similar to `Object.assign

[2020-05-13 08:15] giuseppeg commented on #225
fwiw [style-sheet](https://github.com/giuseppeg/style-sheet) my (pof) CSS in JS library is based on the same principles of stylex, actually I started to build it way before FB talked about it publicly.

To extract styles it uses Linaria's evaluation helper, taken from Linaria's Babel plugin. It's just hasn't been updated in a while https://github.com/giuseppeg/style-sheet/pull/17

[2020-05-13 14:48] LucaColonnello commented on #225
I can see the challenges in this using babel @jayu .

I was thinking to use webpack for it instead, but yeah not sure if feasible.
On @giuseppeg's comment, I wonder if it's applicable without using objects, using simple strings as Linaria does (which is mainly why I like Linaria, as it's easier to migrate to and keeps syntax aligned and compatible with standard CSS)...

[2020-05-13 14:59] LucaColonnello commented on #225
For what's worth, on @asvny's comment, https://github.com/CraigCav/css-zero :)

[2020-05-13 15:41] OrcaXS opened #611 "Cannot override styles using `styled()` wrapper in `v1.4.0-beta9` without `transform-template-literals`"
## Environment

- Linaria version: `1.4.0-beta9`
- Bundler (+ version): `webpack 4.43.0`
- Node.js version: `v12.16.3`
- OS: `macOS 10.15.4`
- React: `16.13.1`

## Description
[code]

[code]
If `transform-template-literals` plugin in `@babel/preset-env` is excluded, running `yarn babel test.jsx` throws:
 `Error: Using the "styled" tag in runtime is not supported. Make sure you have set up the Babe

[2020-05-13 16:37] jayu commented on #244
I think I found a way to go with my initial approach to spread the styles... I will test the performance of both solutions.

[2020-05-13 17:11] jayu commented on #611
Lol I just addressed this bug before you reported it 😂

[2020-05-14 18:38] johanholmerin commented on #225
If you are interested in stylex, I have created an open-source implementation of it [here](https://github.com/johanholmerin/style9).

[2020-05-15 09:14] jayu commented on #611
closed via #609

[2020-05-15 09:14] #611 closed

[2020-05-16 15:29] earksiinni commented on #427
I just want to chime in and say this is a fantastic summary of the nuances involved with the `css` and `styled` API's for Linaria and most other CSS-in-JS libraries. I've encountered these same issues time and again but never wrote them out so concretely. I would fully support any effort to create a unified API, as @brandonkal suggests.

I'll have to read this a few more times to totally grok it a

[2020-05-17 17:56] justjake opened #612 "1.4.x beta: buildOptions() conflicts with required options for Typescript project"
## Environment

- Linaria version: 1.4.0-beta.9
- Bundler (+ version): Webpack 4.41.5
- Node.js version: v10.15.3
- OS: macOS 10.14.6 (18G103)

## Description

The `buildOptions` function always specifies babel plugin `@babel/plugin-transform-modules-commonjs` with no options (defaulting to `noInterop: false`) but my project must be built with `['@babel/plugin-transform-modules-commonjs', { noInte

[2020-05-17 18:41] justjake commented on #612
Related: there's a similar issue with `shaker` because it `unshift`s a `"@babel/preset-env"` even when the user may already have @babel/preset-env configured.

[2020-05-18 10:47] TMaszko commented on #612
Hi, Could you give a link to repository where we are able to reproduce this bug ? Thanks in advance ! :)

[2020-05-18 15:42] TMaszko commented on #543
Thanks, that you spotted this bug and found exact place where it occured. It seems to be fixed in 1.4 and 2.0 release which is currently still in beta but will be released soon :)

[2020-05-18 17:33] OrcaXS commented on #596
@jayu I've met similar problem integrating linaria with `next.js` + typescript.

`tsconfig.json` (hacky):
[code]
`pages/index.tsx`:
[code]
Only relative import could let linaria successfully find the module.

I've tried `babel-plugin-module-resolver` or appending something like `config.resolve.alias['~'] = path.join(__dirname, 'src')` to `next.config.js`, but they don't seem to be working, unfortu

[2020-05-18 18:22] justjake commented on #612
@TMaszko thanks for the quick response. I'll try to provide a repo some time this week. In the mean time, I started working on a PR to address the issue that I'll submit in a few minutes that gives more color to this.

[2020-05-18 18:36] justjake commented on #612
@TMaszko proposed fix: https://github.com/callstack/linaria/pull/613

[2020-05-19 05:32] ahuglajbclajep opened #614 "[stylelint] TypeError: Cannot read property 'stringify' of null"
## Environment

- Linaria version: 1.4.0-beta.10
- Bundler (+ version): webpack@4.43.0
- Node.js version: v12.16.3
- OS: macOS Catalina
- stylelint version: 13.3.3

## Description

When I added `linaria/stylelint-config` to `.stylelintrc.js` according to the [document](https://github.com/callstack/linaria/blob/v1.4.0-beta.10/docs/LINTING.md), I got the following error.

[code]

Strangely, this err

[2020-05-19 06:38] wereHamster commented on #543
I can tentatively confirm that it's working in 2.0.0-alpha.5. However I can't definitely upgrade to 2.0.0 until #599 is fixed (PR here: #604).

[2020-05-19 09:45] jayu commented on #614
Hi @ahuglajbclajep, please provide a repository with a reproduction of the bug. We cannot afford to reproduce each bug on our own :( . And also many different factors may cause a bug, so we need a repro as working (or actually not working) project

[2020-05-19 10:28] jayu commented on #244
I opened a draft PR with PoC implementation, the allowed syntax is as below

[code]

[2020-05-19 12:46] ahuglajbclajep commented on #614
This is the minimal reproduction repository: [ahuglajbclajep/linaria_614](https://github.com/ahuglajbclajep/linaria_614)

[code]

[2020-05-19 13:25] TMaszko commented on #543
@wereHamster see explanation here :) https://github.com/rollup/rollup/issues/3424#issuecomment-630813755

[2020-05-19 14:31] vinicius73 commented on #273
@egoist are you working on this?

[2020-05-19 14:35] egoist commented on #273
@vinicius73 No but I made https://github.com/egoist/styled-vue which is pretty much linaria for Vue a while ago

[2020-05-19 14:51] jayu commented on #614
Thanks @ahuglajbclajep 🙏 We will once we have time

[2020-05-20 03:11] CanRau commented on #225
Very interesting conversation 😍
Wanted to mention [Fela](http://fela.js.org/) which produces atomic CSS like this:

[code]
❤️🚀

[2020-05-20 09:14] TMaszko commented on #614
I checked this and this problem will occur in any config with processor. Basically as docs said https://stylelint.io/user-guide/configure#processors processors are not compatible with autofix feature.

[2020-05-20 09:15] #614 closed

[2020-05-20 11:17] tanphamhaiduong commented on #364
![image](https://user-images.githubusercontent.com/22660833/82440176-1f722d80-9ac6-11ea-843d-e591833a3811.png)
I'm facing with problem when run jest test. So do anybody know how to solve this?

[2020-05-20 13:03] TMaszko commented on #599
@wereHamster Hi, I appreciate that you provided even second PR, but problem is much more complex. I checked when I removed all jest stuff from linaria then your bug occurs with even more errors with types. We are augmenting `@types/babel__core` package so it is a direct dependency which should be listed in linaria's package.json as a `dependency`

[2020-05-20 13:21] wereHamster commented on #599
I disagree with your conclusion.

The babel types are not a runtime dependency. The fact that TypeScript picks them up is because babel is exposed as an implementation detail when I `import { css } from "linaria"`. It does not have to be, as my PR demonstrated. For a user of the linaria library, the `css()` function is a pure function, the fact that it is intercepted by the babel macro is immateri

[2020-05-20 13:27] satya164 commented on #599
I think it makes sense to do what you did in the PR @wereHamster. Only change I'd make is to move it to the `react` file, because this type is part of the `styled` API, not the core.

[2020-05-20 13:40] TMaszko commented on #599
@wereHamster Thanks for the explanation!

[2020-05-20 15:15] TMaszko opened #616 "Optionally remove babel plugin typings from final build"
## Describe the enhancement
There was an issue #599 with referencing babel plugin types from our `linaria` package.

I'd like to remove all @babel/core types dependencies from `linaria` and `linaria/react` to prevent similar issues in the future.
## Motivation
It assures that there won't be any cross references between babel plugin and linaria package.

## Possible implementations
Remove all refer

[2020-05-20 15:39] wereHamster commented on #599
Moving the type into the react file would mean that when I `import { css } from "linaria"` I would also import the react types. Just something to keep in mind…

[2020-05-20 15:53] TMaszko commented on #599
Yeah, So  maybe duplication of that type in both places might be the safest approach.

[2020-05-20 22:03] jarodpeachey commented on #577
Hey @jayu sorry for the delay in responding. I've tried getting it to work on a basic gatsby starter and it still won't compile. It says

[code]

[2020-05-21 04:56] tanphamhaiduong opened #617 "Using the "css" tag in runtime is not supported. Make sure you have set up the Babel plugin correctly."
## Environment

Development

- Linaria version: ^1.3.3
- Bundler (+ version): ^1.3.3
- Node.js version: v10.20.1
- OS: MacOS

## Description

-It run correct for webpack but cannot run in jest test snapshot
![image](https://user-images.githubusercontent.com/22660833/82524601-960c3b00-9b59-11ea-99c7-f7a1a8f260a8.png)

My webpack config
[code]

## Reproducible Demo

http://g.recordit.co/f53GQ6OPWt.g

[2020-05-21 09:55] TMaszko commented on #617
Hi, Could you provide repository where we can reproduce this bug? We are not able to reproduce all bugs by ourselves. Thanks :)

[2020-05-21 10:19] tanphamhaiduong commented on #617
@TMaszko My PR here https://github.com/reapit/foundations/pull/1303/files. This is public repo. So for the work around way is add `jest.mock('linaria')` to the test

[2020-05-21 10:23] satya164 commented on #617
Setup the Babel plugin like the error says https://github.com/callstack/linaria#setup

Add the Linaria preset to your `babel.config.js`

[2020-05-21 10:23] #617 closed

[2020-05-21 10:25] TMaszko commented on #531
Plugins run before presets, thats why babel-plugin-module-resolver is working

[2020-05-21 10:30] thymikee commented on #531
Transforms are cached, so that shouldn't be a problem, unless run on CI or without cache (which is not optimal). Other than that, without the plugin, Linaria would need to have its own mapper, since it needs to have a correct path for evaluation, which is outside of Jest scope

[2020-05-21 10:34] tanphamhaiduong commented on #617
@satya164  I tried to set up babel.config.js and the error still appear. So that is the reason why I raise bug issue

[2020-05-21 10:39] tanphamhaiduong commented on #617
@satya164 pls see in https://github.com/reapit/foundations/pull/1303/files#2

[2020-05-21 10:45] satya164 commented on #617
Make sure Jest is actually using your babel config. You have babel config at the root, but it's a monorepo, and jest probably doesn't read that babel config.

[2020-05-21 10:47] satya164 commented on #531
Maybe Linaria can cache evaluations too?

[2020-05-21 10:50] tanphamhaiduong commented on #617
@satya164 I also have config for the repo which I use linaria by extends from root config
![image](https://user-images.githubusercontent.com/22660833/82552026-8d345d00-9b8b-11ea-92ad-8a8d904d57b1.png)

[2020-05-21 10:59] TMaszko commented on #617
@tanphamhaiduong Make sure that `jest` is using babel. You have to either register manually your babel config or add env `test` https://babeljs.io/docs/en/options#env.

[2020-05-21 11:16] TMaszko commented on #617
This could help https://jestjs.io/docs/en/configuration#transform-objectstring-pathtotransformer--pathtotransformer-object

[2020-05-21 15:10] TMaszko commented on #596
@jascodes linaria currently takes into account only `modules` and `alias` options from `resolve` option from webpack config. Unfortunately `gatsby-plugin-tsconfig-paths` is using under the hood `tsconfig-paths-webpack-plugin` which is used as a custom plugin to `resolve` which linaria doesn't support :/

[2020-05-21 17:38] nodabladam opened #618 ""Unexpected token ..." error"
I occasionally see this error in my production logs:
[code]

Sentry says it is coming from here:
[code]
https://github.com/callstack/linaria/blob/eda0efaa437b267f536fa4866efd9299f9738767/src/react/styled.ts#L69

- Linaria version: 2.0.0-alpha.3
- Bundler (+ version): Next.js 9.4.0
- Node.js version: 13.11.0
- OS:  Chrome 79.0.3945 on windows 10
- User Agent:  Mozilla/5.0 (Windows NT 10.0; Win64; x

[2020-05-22 16:34] nodabladam commented on #618
I got this again after updating to '2.0.0-alpha.5'.  Does spread operator support need to be added to babel or something?
https://babeljs.io/docs/en/babel-plugin-proposal-object-rest-spread

[2020-05-23 19:31] justjake commented on #612
@TMaszko Here is a reproduction: https://github.com/justjake/linaria-babel-options-issue-repro

[2020-05-25 09:58] #543 closed

[2020-05-26 08:44] TMaszko commented on #521
Hi, Thanks that you have opened this issue!
Could you provide repository where we can easily reproduce this bug?
Thanks in advance! :)

[2020-05-26 13:40] OrcaXS opened #622 "Typings not working when overriding another `styled` component"
## Environment

Linaria version: 2.0.0-alpha.5
Bundler (+ version): webpack 4.43.0
Node.js version: v12.16.3
OS: macOS 10.15.4
React: 16.13.1

## Description
Annotating props of a `styled` component works fine like in #536:
[code]
But doesn't work on an overrode one:
[code]

Errors are like below:
[code]

Am I annotating the types the wrong way? Thanks.

## Reproducible Demo
[code]

[2020-05-26 14:15] TMaszko commented on #364
Solution will be to remove typescript plugin because it is somehow transforming template literals before linaria is able to recognise it.
proper configuration could look like this like this:
[code]
or
[code]
Extensions key is important because otherwise `preset-typescript` will not handle typescript files at all.

[2020-05-26 14:19] tanphamhaiduong commented on #617
There is 2 ways to solve this problem
1. Use the babel-jest like the link above. So for the jest config you need to add this one
[code]
2. If you use ts-jest for jest test, you should mock linaria in setupTest.ts
[code]

[2020-05-26 14:21] TMaszko commented on #622
Hi! Could you provide a complete repo where we can reproduce this bug :)?`
Thanks in advance !

[2020-05-26 15:30] OrcaXS commented on #622
Sure, here it is!
https://github.com/OrcaXS/linaria-issue-reproduce/tree/typescript-styled-override

Running `yarn tsc` throws:
[code]

[2020-05-27 02:14] lifeiscontent commented on #589
@jayu any ideas when this might be updated?

[2020-05-27 03:07] anulman commented on #589
@lifeiscontent Not a maintainer, but here are the instructions for modern Next.js: https://github.com/callstack/linaria/issues/447

[2020-05-27 06:48] Guria commented on #517
just tried `linaria@^2.0.0-alpha.5` and it builds without errors,
but when run jest linaria is failing on parsing typescript syntax in styles files now.

[2020-05-27 06:52] Guria commented on #517
nevermind. it looks more like issue of craco-linaria

[2020-05-27 09:53] TMaszko commented on #351
@LukasBombach  Bumping up rollup version and using @rollup/plugin-commonjs, @rollup/plugin-node-resolve seems to resolve this issue :).

[2020-05-27 10:45] tanphamhaiduong commented on #364
@TMaszko I try to use rollup config as you give, but there is an error in runtime css tag not support

[2020-05-27 10:45] TMaszko commented on #349
We are not able to remove unused classes because it would require additional tree shaking from linaria and this is not possible.

[2020-05-27 10:45] #349 closed

[2020-05-27 11:35] TMaszko commented on #364
@tanphamhaiduong please provide a link to repo where we can reproduce your bug

[2020-05-27 16:07] tanphamhaiduong commented on #364
@TMaszko I fixed by using this one in package.json
[code]
and my roll-up config
[code]
But seems it doesn't bundle to styles.css like config above
[code]
So i'm investigating

[2020-05-27 19:09] nodabladam commented on #618
I got this error again with a slightly different message: `Expected identifier, string or number`

![image](https://user-images.githubusercontent.com/57159187/83061978-b719d380-a012-11ea-811c-5b30e1215969.png)

Shouldn't linaria be transpiling the spread `...`?

[2020-05-27 19:15] nodabladam commented on #618
Update: I do seem to reproduce this error when visiting a site powered with linaria using `Microsoft Edge 44.18362.449.0`
![image](https://user-images.githubusercontent.com/57159187/83062544-b170bd80-a013-11ea-8542-b01acf317968.png)

[2020-05-27 20:50] nodabladam commented on #618
I am using next.js and was able to work around the problem by transpiling linaria myself:

next.config.js
[code]
This could be a recommended solution if default pre-chromium Edge isn't supported by Linaria.  Although Linaria should be zero runtime so I am surprised I am having js issues in production.

This is how I am using it...perhaps this causes some runtime issue
[code]
./mystyles.scss
[code]

[2020-05-28 09:10] TMaszko commented on #364
Why are you using `evaluate` set to true ?

[2020-05-28 09:28] pavsidhu opened #623 "Unexpected identifier when extending a style using styled()"
## Environment

- Linaria version: 2.0.0-alpha.1
- OS: MacOS Catalina

## Description

I'm using Using Gatsby 2.22.0 and I receive the error: Unexpected identifier.

## Reproducible Demo

[code]

[2020-05-28 09:44] pavsidhu commented on #623
My bad found the reason here: https://github.com/callstack/linaria/blob/master/docs/BASICS.md#styling-custom-components

The Gatsby Link component doesn't allow styles being extended unless the component has a styles prop, which Link does not.

[2020-05-28 09:45] #623 closed

[2020-05-28 13:02] TMaszko opened #624 "Transforming file contains only unused linaria code always results in original code"
## Environment
- Linaria version: 2.0.0-alpha.5

## Description
File with unused code like:
[code]
Should be transformed to sth like:
[code]
Then bundler should remove it later anyway using tree shaking.
If code wasn't transformed then bundler will include original implementation with error in runtime because css were treated as a function call( which can include side effects).

## Possible soluti

[2020-05-28 13:05] TMaszko commented on #350
I'll close it because It's not related to linaria with rollup itself. See more details here #624

[2020-05-28 13:05] #350 closed

[2020-05-28 14:28] Guria opened #625 "2.0-alpha: interpolating a classname from another style file leads to dots doubled"
## Environment
- Linaria version: 2.0.0-alpha.5
- Bundler (+ version): webpack: react-scripts@3.4.1 + craco-linaria@1.1.2
- Node.js version: 14.1.0
- OS: Ubuntu 20.04

## Description
Given
[code]

With 1.3 was working as expected.
With 2.0-alpha generates selectors with extra dots, like `.cnHistoryFilters_c1i2jo62>..cnFiltersRow_c1mcdenc`

If it is expected behavior for 2.0 then it should be descr

[2020-05-28 14:34] Guria commented on #625
I believe that it is a bug of 2.0 alpha, because interpolation for a classname that defined in the same file still working fine.

[2020-05-28 14:45] Guria commented on #517
@Anber btw 1.4.10-alpha still errors for me

[2020-05-28 15:02] Anber commented on #517
@Guria it's because `2.0` uses `shaker` strategy as a default strategy, whereas `1.4` uses `extractor`. You can find more details [here](https://github.com/callstack/linaria/blob/master/docs/HOW_IT_WORKS.md#evaluators)

[2020-05-29 08:16] Guria commented on #625
@Anber could you tell if above is intended behaviour or bug?

[2020-05-29 08:27] Anber commented on #625
@Guria `cnFiltersRow` here is `css` class name or `styled` component? If it's `css`, it's definitely a bug, but I don't have any idea how that regression passed through our tests.

[2020-05-29 08:49] Guria commented on #625
@Anber yes, that is css template tag defined in another file

[2020-05-29 11:09] #624 closed

[2020-05-29 12:19] #616 closed

[2020-05-29 12:44] TMaszko commented on #618
@nodabladam Thanks for you effort! We are aware that this spread operator shouldn't be there. I'm going to fix it asap

[2020-05-29 23:18] marbiano commented on #589
I can take care of this one.

@jayu is Linaria 2.0 latest alpha good enough for me to update the Next.js example?

[2020-05-29 23:46] marbiano commented on #589
Just tried Next.js with-linaria example with `2.0.0-alpha.5` and it works like charm. Should I send a PR to fix it or the 2.0 is imminent and I should just hold up?

[2020-05-30 01:01] marbiano commented on #447
Next.js example fixed: https://github.com/vercel/next.js/pull/13568 :)

[2020-05-30 01:01] marbiano commented on #589
Done: https://github.com/vercel/next.js/pull/13568

[2020-06-01 09:41] jayu commented on #599
fixed via #620

[2020-06-01 09:41] #599 closed

[2020-06-01 09:46] wereHamster commented on #618
What compatibility guarantees does Linaria make? Is that documented anywhere?

[2020-06-01 15:21] Jayphen opened #628 "Theming example in docs not working with Shaker evaluator"
Using the latest 2.0 alpha with the shaker evaluator, the `theming` function described [in the docs here](https://github.com/callstack/linaria/blob/master/docs/THEMING.md#class-names) no longer works.

[code]

When calling the `theming` function here it compiles to:

[code]

If I switch the evaluator back to Extractor, it correctly compiles to:

[code]

[2020-06-02 14:47] eemeli commented on #351
I'm not sure what the commonjs & node-resolve plugins are supposed to do about this, but the right workaround for this is to add something like this to your Rollup config:

[code]

The proper-er fix would be to remove the `css` import specifier at the same time as its template string invocations are removed, and to then also drop the whole import statement if it doesn't include any other specifier

[2020-06-05 10:16] Guria commented on #625
@TMaszko @jayu do we have any eta here? any help still needed from my side?

[2020-06-08 09:14] jayu commented on #625
@Guria I'm super busy in recent times and didn't have time to try to reproduce this bug. IF this is not a big deal for you, you can provide repo with reproduction, it will help much since many of the linaria issues are related to some specific project setup.
I do not promise on tackling that in upcoming days, so no eta for now.

[2020-06-08 09:17] jayu commented on #618
The only high-level compatibility info is that linaria will not work in Internet Explorer. This is still path to explore and have it clearly defined in our docs. I hope the linked PR will help with that

[2020-06-15 11:33] jayu commented on #625
@Guria I tried to reproduce the issue but I was unsuccessful. I think it may be caused by a behavior related to `@babel/plugin-transform-template-literals`. PR #609 tried to solve it.
If my guess is correct you may have some specific setup in your project that interferes with the linaria setup.
If you provide a repository with full babel set up as a reproduction I will be able to help more. It is

[2020-06-15 12:40] jayu commented on #628
It works as expected in my exemplary project. Can you provide a reproduction?

[2020-06-15 14:51] jayu commented on #622
I tried this one today... Our types for styled are very mysterious :P For sure we should separate types that are valid internally for linaria during the build, and types that are exposed to the end-user after the build, because currently they are mixed together.

If I had more time I would try implementing types from scratch and probably based on typing from `styled-components` or `emotion`. There

[2020-06-16 11:17] #435 closed

[2020-06-16 12:48] jayu commented on #364
I assume that there is a workaround for this issue. Developers has to be very careful with a rollup unfortunately

[2020-06-16 12:48] #364 closed

[2020-06-16 12:51] jayu commented on #351
I'm glad that there is a workaround, we could think of implementing https://github.com/callstack/linaria/issues/293 to solve the issue in it's source

[2020-06-16 12:51] #351 closed

[2020-06-16 13:12] jayu opened #630 "Document how to alias modules when using linaria"
## Describe the enhancement

We should document that we do not support TS paths and Jest module mapper and provide a solution on how to work around the issues using `@babel-plugin-module-resolver`

## Motivation

We decided to not support other solutions for module aliasing than `@babel-plugin-module-resolver` and `webpack` aliases

There was a bunch of issues regarding [module aliasing](https://g

[2020-06-16 13:13] jayu commented on #531
After some research, we decided to not support any kind of module aliasing than `@babel-plugin-module-resolver` and webpack aliases. It will require a lot of work to support aliasing from typescript, jest, and some other solutions that we did not discover yet.
`@babel-plugin-module-resolver` works out of the box, because it operates on the babel level. Some people complain about the performance in

[2020-06-16 13:13] #531 closed

[2020-06-16 13:13] jayu commented on #596
Closing for the same reason as described in https://github.com/callstack/linaria/issues/531#issuecomment-644755300

[2020-06-16 13:13] #596 closed

[2020-06-16 13:14] jayu commented on #390
Closing for the same reason as described in https://github.com/callstack/linaria/issues/531#issuecomment-644755300

[2020-06-16 13:14] #390 closed

[2020-06-18 17:18] wereHamster commented on #618
I highly recommend to officially support:

 - LTS Node (currently 10, 12, 14) in entry points consumed by node
 - Latest ES (currently ES2020) in entry points consumed by web bundlers

Especially in entry points used by bundlers, it's really up to the consumers of the library to downcompile or polyfill as necessary. Otherwise they will ship more code to browsers than strictly necessary, with no wa

[2020-06-18 19:46] vladshcherbin commented on #349
I believe it should be possible in rollup to find what imports are not used and remove them, after removal linaria shouldn't have them 🤔

[2020-06-18 19:58] vladshcherbin commented on #351
@eemeli solution should be added to docs example because following current example will result in an error.

[2020-06-18 20:12] vladshcherbin commented on #350
I've checked #624 and #626 fix and result bundle is the same.

[2020-06-20 11:59] chrisands commented on #589
How to use linaria `css` api (not `styled`) with nextjs?
I got generated css files in `.linaria-cache`, but it wasn't injecting them. How to do it?

[2020-06-20 14:45] lunelson commented on #465
I think something effectively _similar_ to styled-system could be built on linaria, but styled-system (whether using styled-components or emotion) depends on passing the theme via React Context, so that the style-prop functions have access to it. To do this in linaria would require fundamentally retooling the way the style-prop functions are generated AFAIK

[2020-06-20 20:35] Pytal commented on #622
@jayu if the api for linaria v2 is the same as v1 then wouldn't the typings be the same?

[2020-06-20 20:41] mauleb commented on #465
@lunelson Yea, the theme system would require context like you said, but supporting the responsive props themeless seems theoretically possible no?

[2020-06-21 00:00] mauleb commented on #465
I think the one implicit "themeing" required would be the breakpoints. This could be declared globally in some manner for linaria, but it could also instead be handled by deviating from the shorthand and requiring the breakpoints to be included

[code]

In either case, behind the scenes a css var could be used normally with the css var itself being changed for the different screen sizes.

[2020-06-21 08:05] blasterpistol commented on #582
What about a build time penalty? Linaria 1.3.x adds 7-8 minutes to a build process and 30-40 seconds to a rebuild on a middle size project, it's why we moved to Emotion.

[2020-06-21 12:03] chyzwar commented on #582
There is chance to list work that need to be completed for v2 ? Community could help to implement some changes these are well defined.

Maybe you consider adding Github Funding for a project ?

[2020-06-22 08:56] lunelson commented on #465
@mauleb yes but you could also make your theme available in a different way, if you generated the style prop functions within the same closure where you process the theme, and returned them together. But this is of course rebuilding `styled-system` in a different way

[code]

[2020-06-22 09:42] jayu commented on #582
@blasterpistol we added a couple of optimizations so it should be faster now. You have to check it on your project :D

@chyzwar Here is a milestone that contains issues that should be resolved https://github.com/callstack/linaria/milestone/7 before the stable release.
As for Github Funding, we didn't consider it yet, interesting idea!

[2020-06-22 09:44] jayu commented on #622
@Pytal It's a bit complicated because the internals changes and affected the typings. In fact, the change of internals shouldn't affect it. @Pytal let me know which version has correct typings and I will take a look on that! is it `1.3.x`?

[2020-06-22 09:44] lunelson opened #633 "Create a serializer for snapshotting and logging"
## Describe the feature

A serializer for use with Jest snapshots and for logging/debugging. Should create readable, pretty-printed output of the generated CSS and HTML.

## Motivation

IMO it's critical to be able to inspect the CSS/HTML output in an immediate and granular way, when building a framework on top of any CSS-generation/-processing tool (CSS-in-JS, Sass, whatever)—serializers are impo

[2020-06-22 09:46] jayu commented on #589
@chrisands can you spin up a repo with reproduction and open a new issue for that?

[2020-06-22 09:50] chrisands commented on #589
@jayu I'll try to do this week

[2020-06-22 09:58] Pytal commented on #622
@jayu yeah typings work on `1.3.3`

[2020-06-22 11:28] wereHamster opened #634 "Replace calls to `cx()` with constants whenever possible"
## Describe the enhancement

Replace calls to `cx()` with constants whenever possible.

## Motivation

Trivial, static uses of `cx()` could be detected and replaced with constants, reducing file size by removing the `cx()` function altogether from the output.

The following code:

[code]

Will be compiled and bundled into this output:

[code]

Notice how the `cx()` function is included in the outp

[2020-06-22 13:25] Anber commented on #634
Hi @wereHamster
It may slightly reduce the bundle size in some cases but it increases build time and adds a lot of excess complexity. In my opinion it may have a sense if we are able to replace all `cx` calls but we are not.

[2020-06-25 15:56] neefrehman opened #635 "linaria/stylelint-config is causing build errors"
## Environment

- Linaria version: 1.4.0-beta.10
- Bundler (+ version): Webpack (via Gatsby 2.23.11)
- Node.js version: 12
- OS: MacOS 10.14.6

## Description

I've just tried adding stylelint to a Gatsby project using `linaria/stylelint-config` alongside [`gatsby-plugin-stylelint`](https://github.com/danbruegge/gatsby-plugin-stylelint), but when following the instructions from `LINTING.md` I'm no

[2020-06-29 00:58] switz commented on #589
Also seeing this issue -- set up linaria@2.0.0-alpha.1 and added:

[code]

[2020-07-03 00:21] viczhuravlev opened #636 "Jest tests fail: Using the "styled" tag in runtime is not supported."
## Environment

- Linaria version: 1.3.3
- Node.js version: v12.16.2
- OS: MacOS 10.15.5
- jest/babel-jest: 26.1.0
- react: 16.13.1

## Description

Hi! I want to change emotion to linaria, but I met a problem with testing.

I have a component with `styled.*`:

[code]

jest.config.js:
[code]

And when I run test, I get the problem(but with build is fine):
<img width="503" alt="Screenshot 2020-07-0

[2020-07-06 20:01] high1 opened #638 "Linaria rollup plugin - hot css reload with nollup"
## Describe the enhancement

The possibility of hot reload when using linaria together with nollup and rollup-plugin-hot-css. [Nollup ](https://github.com/PepsRyuu/nollup)is a rollup compatible dev-server.

## Motivation

This improves developer experience, and should probably work with react hot refresh.

## Possible implementations

I already opened an issue on [rollup-plugin-hot-css](https://gi

[2020-07-07 11:10] amankkg commented on #590
What about [Snowpack](https://www.snowpack.dev/) integration?

There is a statement in their docs which seems to be false in case of Linaria:

[2020-07-07 20:35] amankkg commented on #635
I'm not using `gatsby-plugin-stylelint` but I faced another `BABEL_PARSE_ERROR`. Adding Babel config with `babel-preset-gatsby` and `linaria/babel` presets fixed my problem.

Hope it will help or at least narrow down the issue

[2020-07-07 20:52] amankkg commented on #635
I got your demo working by adding explicit Babel config and `core-js` dependency (which can be skipped for `linaria@alpha`), also updated `gatsby-plugin-linaria`

https://codesandbox.io/s/eloquent-microservice-8w1xb?file=/package.json

[2020-07-08 14:01] neefrehman commented on #635
@amankkg thank you! That solved it.

[2020-07-08 14:01] #635 closed

[2020-07-11 12:04] Anber commented on #622
Fixed in #639

[2020-07-11 12:04] #622 closed

[2020-07-15 21:00] rmarkins-godaddy commented on #491
@jayu would like to see this supported as currently we use linaria for our library of components but the `/* rtl */` comments are removed upon build. Do we have a base idea of what is needed to support this? I would be happy to contribute a change to add this support

[2020-07-18 23:24] jazevedo620 commented on #636
I'm also facing this error with Jest + Linaria + React + TypeScript, using `ts-jest` and using the following config:

[code]

[2020-07-20 12:28] neefrehman opened #641 "CSSProperties no longer exported"
## Environment

- Linaria version: 1.4.0-beta
- Bundler (+ version): Webpack

## Description

The type `CSSProperties` is no longer being exported from `core` or `/react` (seemingly) as of the 1.4.0-beta. I import this in a few projects to type any `style` props that I give to components.

Is there a reason for this removal or is it accidental? Happy to open up a PR and fix if it's the latter.

[2020-07-21 15:46] ehtb opened #642 "HMR Not reloading latest changes, but previous to latest"
## Environment

- linaria: 1.3.3
- webpack: 4.43.0
- mini-css-extract-plugin: 0.8.0

## Description

When using webpack's `mini-css-extract-plugin`'s hot reload, it takes two reloads to load the styles from the current build (basically every hot reload is delayed by one update). Checking the css file directly I see that it was updated with the lastest changes.

## Configuration

This is the mini-c

[2020-07-27 10:18] #618 closed

[2020-07-27 10:42] jayu commented on #641
We refactored codebase to TS starting from `1.4.0` so it might be possible regression

[2020-07-27 18:19] tommoor opened #643 "Webpack and multiple babel modules are production dependencies"
## Environment

- Linaria version: 2.0.0-rc.0"
- Bundler (+ version): Yarn 1.22.4
- Node.js version: v12.16.1
- OS: macOS

## Description

Webpack and multiple babel modules are marked as production dependencies, inflating build sizes and production install times.

See package.json: https://github.com/callstack/linaria/blob/master/package.json#L125

[code]

[2020-07-29 08:52] jayu commented on #491
This is really tricky thing. Since we compile styles into CSS files, rtl could be achieved in the following ways

1. compile two different stylesheets and load one of them depending on user locale
   - additionally, we will have to care about flipping styles that are loaded dynamically based on props and attached to CSS variables

1. compile one stylesheets, but produce different class names for R

[2020-07-30 16:47] ifiokjr commented on #643
Just to give some context, I'm the maintainer of [`remirror`](https://github.com/remirror/remirror) and in a recent update I've switched from using `emotion` to `linaria`.

For the most part this has been great, but I need to also include linaria as a runtime dependency which means consumers of my library are also installing it and all it's dependencies like `webpack`, `babel`, `acorn`.

This has

[2020-07-30 16:52] satya164 commented on #643
webpack should be a peer dep. can you send a PR for that?

regarding deps like babel, the only way is to split up the package to multiple parts such as webpack loader, babel plugin and the core API. which we plan to do in future.

[2020-07-31 19:03] wereHamster commented on #643
I don't think moving webpack to peer deps is a good solution. If you use linaria in a nextjs project, you'll have two webpack versions installed in your node_modules: 4.x because of linaria and 5.x because of nextjs. Also, when you move webpack to peer deps, you can't have two different packages in your project which require a different major version of webpack peer dep (say, linaria which require

[2020-07-31 19:08] satya164 commented on #643
Require is a strong word. Peer dependency isn't really enforced so no reason that you need to have 2 different versions.

Anyway, separate package is a the long term solution and it'll take some time. Moving it to peer deps is something that can be done quickly. There's no reason not to do it and then do the separate package after it.

[2020-07-31 20:48] sambhav-gore opened #646 "Unable to use imported/external variables when Upgrading to 2.0.0-rc.0 from 2.0.0-alpha-3"
## Environment

- Linaria version: 2.0.0-rc.0
- Bundler (+ version):
- Node.js version: 10
- OS: Mac

## Description

We have a setup in which variables are part of a published package (on internal registry) and we make use of the variables inside linaria css styles.

until 2.0.0-alpha.3 it used to work correctly, but after upgrading to `2.0.0-rc.0` our build fails due to errors reported by `templ

[2020-08-02 04:44] sewinter commented on #582
The migration guide 404s.

[2020-08-05 11:05] jrjcky98 commented on #636
Found the solution here: https://github.com/callstack/linaria/issues/617.
Changed from `ts-jest` to `babel-jest` and worked.

[2020-08-05 11:53] jrjcky98 commented on #636
Maybe this can help: https://github.com/callstack/linaria/issues/617

[2020-08-05 13:22] lzhuor opened #648 "CSS Styles declared in `styled` with the ternary operator of props doesn't work."
## Environment

- Linaria version: 2.0.0-alpha.5
- Bundler (+ version): Webpack (v4)
- Node.js version: v10.20.1
- OS: Mac OSX

## Description
CSS Styles declared in `styled` with the ternary operator of props doesn't work.

## Reproducible Demo

[code]

[2020-08-05 22:17] vladshcherbin opened #649 "Update stylis.js dependency to v4"
## Describe the enhancement

Since 2.0 is coming, maybe it's not too late to update `stylis.js` dependency to v4.

## Motivation

There might be improvements in different areas as well as breaking changes.

## Possible implementations

Update `stylis.js` and hope tests pass 🙈

## Related Issues

https://github.com/callstack/linaria/issues/582

[2020-08-07 02:14] domehead100 opened #650 "Pass filename to classNameSlug function?"
## Describe the enhancement

It would be helpful to have the .js filename passed to the classNameSlug function (if a user uses the function approach in their config rather than the string approach).  This gives the user additional options for configuring the classname returned from the function.

## Motivation

I've been happily using CSS Modules (via the babel plugin) for the last few years with

[2020-08-08 14:30] adamhenson commented on #318
Since there isn't a solid example of Next.js with Linaria from my Googling, I've pieced together a config based on this issue and the [Linaria Webpack documentation](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#webpack). I'm getting the following error logged in my terminal and in the browser the HTML `body` is being hidden by Next. I see a class in the HTML but se

[2020-08-10 00:11] adamhenson opened #651 "Incompatibility with Next.js "next/link""
## Environment

- Linaria version: 1.3.3
- Bundler (+ version): Webpack 4.44.0 (From Next.js)
- Node.js version: 10.15.0
- OS: macOS 10.14.6
- Next.js: 9.5.1

## Description

When creating a Next.js app from the example provided in [with-linaria](https://github.com/vercel/next.js/tree/master/examples/with-linaria) and adding `next/link`, navigation doesn't work when linking to `/` and only when ru

[2020-08-10 00:12] adamhenson commented on #651
Why is this labelled with `needs: complete repro`?

[2020-08-10 11:53] Anber commented on #643
Actually, the only reason why we need webpack here is `LoaderContext` type from it. We can probably import it as `import type` in order to drop it from the bundle.

[2020-08-11 00:54] turadg commented on #612
I'm getting build options conflicts in 2.0-rc0
 <details><summary>console output</summary>

[code]

[2020-08-11 02:53] pxwee5 opened #652 "Webpack Loader Can't Resolve jsconfig.json Alias"
Does this work with jsconfig.json ? I'm getting some issue with an alias set in `jsconfig.json`.
Probably related to https://github.com/callstack/linaria/issues/284

## File with linaria import & jsconfig alias:
[code]

Produces error:
[code]

Using relative path like `../src/themes/base` works perfectly.

[2020-08-11 05:34] trongthanh opened #653 "Linaria 1.4.0+ failed to interpolate destructured theme object"
## Environment
- Linaria version: 1.4.0+
- Bundler (+ version): webpack 4.22.0
- Node.js version: 14
- OS: any (confirmed on MacOS & Linux)

## Description

There are different strategies to import and use theme's tokens, but here's mine destructuring the theme object like so:

[code]

With Linaria 1.4.0-beta.10, I receive this error in the terminal:

[code]

## Reproducible Demo

Here's a reprodu

[2020-08-11 22:11] ifiokjr commented on #643
@Anber that would be useful, but the fact that webpack is a dependency at all means it creates many conflicts when being used within a webpack consuming application. For example, I'm currently holding back from upgrading `next.js to `9.5` because of the clash in webpack versions with `linaria`.

Unless of course you mean use `import type` while also converting webpack to a `peerDependency`.

[2020-08-12 06:29] Anber commented on #643
@ifiokjr `webpack` is used only for import `LoaderContext`, which is mostly used for interaction with `loader-utils`, so I reimported `LoaderContext` from `loader-utils ` and dropped `webpack` from dependencies. `loader-utils` itself doesn't need `webpack` and requires only `@types/webpack`.

[2020-08-12 06:30] Anber commented on #643
`@babel/core` will be also moved to peerDependencies.
[Related PR](https://github.com/callstack/linaria/pull/654/)

[2020-08-12 07:00] ifiokjr commented on #643
@Anber really excited about the progress 🙌

[2020-08-14 09:30] Anber commented on #643
Done!

[2020-08-14 09:30] #643 closed

[2020-08-14 09:41] Anber commented on #646
Hi @sambhav-gore!

Looks like it has been already fixed in `master`. I'll check it in the next rc.

[2020-08-14 10:01] sambhav-gore commented on #646
@Anber Great. I can test and confirm after the next rc is out.

[2020-08-14 10:22] Anber commented on #648
Hi @lzhuor!

Currently, it's possible to use functions only as property values, because all dynamic styles are transpiled into CSS variables and your `Link` class will look like this:
[code]
As you can see, it's invalid CSS.

You can find a discussion about fragments [here](https://github.com/callstack/linaria/issues/244)

[2020-08-14 10:22] #648 closed

[2020-08-14 10:40] Anber commented on #649
I've found at least one small BC… 4.0 just doesn't have an API which we used :)
The repo also doesn't have a changelog or something similar, so I think, it's not safe to upgrade it right now.

[2020-08-14 10:44] Anber commented on #650
Hi @domehead100!

Thank you for the proposal. Since you already have a fork, maybe you want to make a PR? :)

[2020-08-14 10:51] Anber commented on #652
Hi @pxwee5

Unfortunately, it doesn't. I can recommend you to use `babel-plugin-module-resolver` which is fully supported.

[2020-08-14 10:51] #652 closed

[2020-08-14 14:46] Anber commented on #653
Hi @trongthanh!

Thank you for your report. I've accidentally found and fixed it in https://github.com/callstack/linaria/pull/654 :)
You can check it in `1.4.0-rc.1`. `2.0.0-rc.1` will be released a bit later.

[2020-08-14 14:46] #653 closed

[2020-08-15 08:11] marvinhagemeister opened #657 "Linaria website is not available on now deployment"
I just get a blank page with this message instead of the linaria website:

![Screenshot 2020-08-15 at 10 10 51](https://user-images.githubusercontent.com/1062408/90308418-a5dcb680-dedf-11ea-86dd-55fb01cf0e3b.png)

[2020-08-15 09:20] thymikee commented on #657
@satya164 mind having a look?

[2020-08-17 08:11] jayu commented on #657
Since we have custom node.js server there, we have to migrate to some static solution. Next.js static generated pages could be an option for us.

[2020-08-17 08:18] jayu commented on #651
@adamhenson labels are automatically added by a bot. Strange issue tho. I experienced something similar recently in next.js, but without linaria.
In dev mode, routing may not work when there is no component compiled for a particular page. On mouse move and just before routing next.js try to fetch a bundled file that is responsible for a particular page. It's worth checking if the file gets resolve

[2020-08-17 08:26] jayu commented on #650
somehow related to https://github.com/callstack/linaria/issues/571

[2020-08-17 13:11] adamhenson commented on #651
Thanks @jayu. Good question - yep, just checked - `index.js` does resolve. Below is a fuller example. The odd thing is that if I add a styled component in `about.js`, the issue no longer exists. The reason I opened this issue with Linaria is because the problem only occurs when adding a Linaria styled component. When I remove the component from this example altogether, the problem goes away. Regar

[2020-08-17 16:31] Mistereo commented on #589
I recently discovered Linaria and trying to make it work with Next.js.
One of the problems of current official example is that it uses `@zeit/next-css`, which doesn't support CSS splitting, this is a huge disadvantage for me, so I tried to make built-in CSS support (available since 9.2) to play nice with `linaria/loader` and ended up with this simple plugin: https://github.com/Mistereo/next-linari

[2020-08-18 23:25] shiro commented on #502
Sorry for replying to old issues, but I thought clearing this up might be easier than opening a separate issue.

As stated above linaria produces:
[code]
but should produce:
[code]
The mixins seem to be dragged out into the root scope rather than be included in the extracted classes which of course produces an error.

If linaria really extracted the plain text the mixin would be in the same scope

[2020-08-19 00:22] alanwright opened #658 "Support Webpack Resolver Plugins in Loader"
## Describe the feature

Currently the `linaria/loader` uses [`enhanced-resolve`](https://github.com/webpack/enhanced-resolve) for file resolution. It currently takes the webpack [`Resolve.options.alias`](https://webpack.js.org/configuration/resolve/#resolvealias) and [`Resolve.options.module`](https://webpack.js.org/configuration/resolve/#resolvemodules) from the `webpack.config` however it doesn

[2020-08-19 00:50] alanwright commented on #658
This can be solved using `@babel-plugin-module-resolver` as it supports more flexibility than webpack aliases. We already had a plugin in our webpack config, so onboarding would've been easier if plugins were already included.

Since there is a workaround after finding #630 and `@babel-plugin-module-resolver` feel free to close if plugins shouldn't be supported. I will +1 #630 for documentation th

[2020-08-19 02:01] ifiokjr commented on #653
@Anber I notice you mention that a `2.0.0-rc.1` will be released soon. Do you have an expected release date? I'm currently using the `2.0.0-rc.0` and am not able to use `1.4.0-rc.1` at the moment. It's mainly to do with #654 which fixed #643, opened by a user of a library I maintain.

[2020-08-19 20:35] jakeleboeuf commented on #617
What about mocking `styled` from `lineria/react`? I have a Gatsby build and am running into the same problem as @viczhuravlev here https://github.com/callstack/linaria/issues/636#issue-650266792. Attempting to slide by with some mocks, but not sure how to handle all cases...

[code]

[code]

[2020-08-24 18:03] kuworking opened #662 "Section in the docs about (practical) differences with @emotion or styled-components"
As a user of @emotion that is about to start a migration to linaria, I have no clear idea of whether something I am doing with emotion I won't be able to do with linaria

After reading the docs it looks to me that I'll be able to do exactly the same, but at the same time I'm sure this won't be the case

So it would be great to have a small section explaining what are the limitations of linaria ver

[2020-08-24 18:06] turadg commented on #662
That sounds useful. A porting guide perhaps even more so.

If you share some examples from Emotion that you need to port over, maybe the Linaria community can explain how each case would be achieved with Linaria (or not).

[2020-08-25 07:00] #641 closed

[2020-08-25 09:23] kuworking commented on #662
So far, I've found two differences

- It seems that Linaria cannot handle a `styled(Link)` (Link from Gatsby), which I've solved by using a `styled.a` with an `as={Link}`

- It also seems that you cannot use `props` outside of a classic `css` structure

[code]

(is this the case?)

[2020-08-25 11:00] shiro opened #663 "Fails to resolve dependencies with webpack aliases"
## Environment

- Linaria version: `1.3.3`
- Bundler (+ version): `4.44.1`
- Node.js version: `13`
- OS: `alpine linux (docker)`

## Description

I tried setting up linaria with my webpack setup and it works well for the most part.
When importing with relative paths there is no problem, however I'm using absolute imports and import aliases in my webpack project.

## Reproducible Demo

In my typesc

[2020-08-26 01:14] turadg commented on #612
I tried again in 2.0.0-rc.1 and I'm not getting them anymore. I also updated the `babelOptions` to `linaria/loader` to have the bar essentials,
[code]