[2017-05-26 03:26] satya164 opened #8 "ESLint or Stylelint plugin to lint styles"

[2017-08-17 15:04] satya164 opened #29 "Setup SSR example on the website"

[2017-08-19 14:18] satya164 opened #32 "API for theming"

[2017-08-19 14:19] satya164 opened #33 "API for adding global CSS"

[2017-08-21 19:36] thymikee opened #36 "PR and issue templates"
GitHub allows for creating nice templates for PRs and Issues, which is helpful both for maintainers and contributors. Would be nice to set this up.

[2017-08-26 15:13] zamotany opened #40 "Investigate source maps for extracted styles"

[2017-08-27 22:21] satya164 opened #50 "Release blog post"

[2017-08-28 11:50] satya164 opened #52 "Ensure we throw nice errors when users do something unsupported"
### Using undefined variables

Handled in #81

### Errors thrown during preval

Handled in #111

If a function throws an error during `preval`, we should catch it and throw nice error with proper stacktrace.

[code]

### Typos in CSS

If the user mistyped a variable name, we could print an error instead of generating invalid CSS. For example, say we get `undefined` during interpolation:

[code]

[2017-08-29 08:41] satya164 opened #57 "Allow to disable auto prefixng for extracted CSS"
Currently the CSS will be autoprefixed to support as far as IE8. We need to be able to customize the browser target to reduce any extra code we don't need.

Perhaps we should switch to PostCSS instead of stylis as the parser so we have finer control over the extraction.

[2017-08-29 19:16] zamotany opened #65 "Setup E2E test with the example app"

[2017-08-31 12:48] zamotany opened #73 "Investigate how to rebuild parent module, if requirements (child modules) have changed"
This issue is connected with #45.

Related https://github.com/kentcdodds/babel-plugin-preval/issues/19

[2017-09-02 06:01] satya164 opened #85 "Review and update website content before open sourcing"

[2017-09-02 11:08] zamotany commented on #52
@satya164

How do you want to catch this?

[2017-09-02 11:15] satya164 commented on #52
@zamotany this can be done by the `css` function. If `Errors thrown during preval` works, it'll work automatically.

[2017-09-02 11:42] satya164 opened #90 "Babel plugin doesn't rewire imports with `yarn link`"

[2017-09-02 12:45] thymikee commented on #90
Fixed in #92

[2017-09-02 12:45] #90 closed

[2017-09-02 12:50] thymikee commented on #85
Worth to add persistent assets caching.

[2017-09-04 14:51] #36 closed

[2017-09-04 15:53] #85 closed

[2017-09-04 17:55] satya164 opened #98 "Implement a snapshot serialiser for Jest"
It should be possible to snapshot the styles when testing the components

[2017-09-08 21:38] satya164 opened #100 "Rewire require statements"
Currently only `import` statements are rewired. `require` calls should be rewired too. Refer #49 for details.

[2017-09-08 21:41] satya164 opened #101 "Output CSS files to a single directory instead"
Right now the generated CSS files pollute the project directory. It'll be nicer to have them in a single directory e.g. `.linaria-cache` or something

[2017-09-08 21:43] thymikee commented on #101
There's already an option `outDir` to do so: https://github.com/callstack-io/linaria/blob/master/docs/BABEL_PRESET.md#options

[2017-09-08 21:44] satya164 commented on #101
Yes, but the default option is not the best possible experience. It should output to single directory by default.

[2017-09-08 21:54] thymikee commented on #50
Released: https://blog.callstack.io/zero-runtime-css-from-js-with-linaria-443d8a6834ce

[2017-09-08 21:54] #50 closed

[2017-09-09 17:41] jukben opened #103 "Support CRA or at least https://github.com/timarney/react-app-rewired"

[2017-09-09 20:58] hamlim opened #104 "Example App link broken on the website"
**Do you want to request a *feature* or report a *bug*?**
Bug (with website)

Currently at the bottom of the website in the Docs and Examples section, the link to an `example app` is broken, it points to https://github.com/callstack-io/linaria/tree/master/example.

[2017-09-09 21:00] thymikee commented on #104
We decided to remove the example in favor of presenting the website as an example. You'll find it [here](https://github.com/callstack-io/linaria/tree/master/website).
Nevertheless, this needs a fix, thanks for reporting (we accept PRs 🙂)

[2017-09-10 10:10] satya164 opened #106 "Polyfill CSS Variables Support"
## API

The API for writing styles remains the same. For example:

[code]

When using this class name in a component:

[code]

## How to implement

1. Write a Babel plugin which looks for `styles` calls with variables and assigns an unique ID for each. Something like:
[code]
    This ID is necessary so that we can keep track of dynamic styles and avoid inserting same styles multiple times. The ID

[2017-09-10 13:19] #104 closed

[2017-09-12 22:59] satya164 commented on #106
## Alternative (better) approach

[code]

is transpiled into something like:

[code]

basically, the dynamic part is extracted from the static parts after pre-compiling and stored as a template. this makes it much more performant and super easy to do dynamic styling and also we don't have to deal with cors issues.

[2017-09-13 01:54] satya164 commented on #106
## Crazy experiment

This is just an experiment and **I don't want to add this to linaria**.

Babel plugin which converts `styled-component` like syntax to linaria code:

[code]

becomes:

[code]

implementation:

[code]

[2017-09-13 10:37] satya164 opened #110 "Babel plugin to Hoist CSS"
What if we could write a CSS rule inline without having to give it a name? A Babel plugin can automatically hoist this to the program scope and give it a name.

This JavaScript:

[code]

Gets transpiled into:

[code]

Context: https://twitter.com/ryanflorence/status/907316693084418048

Implementation:

[code]

[2017-09-13 21:55] hamlim commented on #110
From an initial look at this, it would be even better in my opinion if you also didn't need the `{...styles()}` wrapper around the css call:

[code]
would ideally get compiled into

[code]
You would then of course possibly run into issues if some codebase uses both glamor(ous)/emotion and linaria.

But either way i think this could be really beneficial.

[2017-09-13 22:10] satya164 commented on #110
It'd certainly be nicer to use. But the reason I avoid a `css` prop is because it's not actually a prop, and won't behave like a prop (e.g. - `this.props.css` in the component won't actually have the string). It can be confusing to change runtime semantics.

Currently if you try to use Linaria without the babel plugin, it still works as expected. The build step is just an additional optimization s

[2017-09-13 22:17] hamlim commented on #110
Ah yea thats a good point, yea the ```{...styles`color: blue;`}``` idea also seems really good as well.

[2017-09-20 11:22] satya164 opened #112 "Codemods for switching from other libraries"
We should have some codemods for switching from other class name based libraries like `aphrodite`, `glamor` etc.

[2017-09-22 11:13] thymikee commented on #33
Any ideas on that? Should we go mainstream way and provide something similar like `injectGlobal`?
Would happily use such api for SSR.

[2017-09-22 11:29] thymikee opened #118 "Update website and readme with logo"
We need it, sooner or later. Already asked my designer-brother (@pierzchala) to work on it in his free time (may be in couple of weeks).

The logo should resemble concepts like `flower`, `CSS`, `JS`.

[2017-09-25 13:39] #110 closed

[2017-09-26 11:22] #101 closed

[2017-09-28 20:56] pierzchala commented on #118
Yo guys. Here it goes.
![callstack-linaria](https://user-images.githubusercontent.com/20886447/30990093-49b54eac-a4a0-11e7-8eef-3f66384de508.png)

[2017-09-28 21:08] pierzchala commented on #118
Only free fonts used, no licence needed.

The font used for logo is Montserrat Alternates Regular [https://fonts.google.com/specimen/Montserrat+Alternates](url)

A matching font for text is Montserrat [https://fonts.google.com/specimen/Montserrat](url).
Basically, most sans-serif fonts will do.

Have fun with it ;)

DOWNLOAD
[Callstack Linaria Logo.zip](https://github.com/callstack/linaria/files/1

[2017-09-29 08:43] zamotany commented on #118
Awesome! 👍

[2017-09-29 09:04] satya164 commented on #118
Are you kidding me? This is freaking amazing! Thank you ❤️

[2017-09-29 13:55] zamotany commented on #118
We need to update the website and redesign it cause I prefer this mockup @pierzchala did, it's amazing!

[2017-10-03 22:48] jmjpro opened #122 "how to control when styles are compiled"
**Do you want to request a *feature* or report a *bug*?**
feature/question

**What is the current behavior?**
When I build my JSX at runtime styles aren't compiled. I get html output of

[code]

from the scenario below.

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
index.js

[code]

app.js

[2017-10-03 23:17] satya164 commented on #122
`names` is just a very [tiny helper](https://github.com/callstack/linaria/blob/master/src/names.js). the `AppStyled` variable should refer to the class name string. This should be fine.

[2017-10-04 19:47] AgtLucas commented on #103
+1 for this!

[2017-10-04 19:48] thymikee commented on #103
@jukben do you have time to take a look at this? :)

[2017-10-04 19:53] #29 closed

[2017-10-05 01:27] satya164 commented on #106
If anyone is interested in implementing or discussing, I updated the proposal with the steps needed to achieve this.

[2017-10-05 07:43] jukben commented on #103
@thymikee I'd like to. I'm sure that there is a way how to solve this with React-app-rewired. I could write a plugin with linaria configuration, but someone needs to setup Lerna.

[2017-10-05 10:48] zamotany commented on #122
@jmjpro are you sure this `app_template.js` is correct? To me, it looks like `html2ReactParser.parse` doesn't resolve the expression `names(AppStyled)`.

Can you try this:

__`app_template.js`__:
[code]

__`app.jsx`__:
[code]

[2017-10-06 15:06] thysultan commented on #106
I was trying to do something similar with this plugin [custom-properties](https://github.com/thysultan/stylis.js/tree/master/plugins/custom-properties)

If your open to a runtime-only variant, you could create a queue of rules that use variables and process them at the end of a parse if the css spec allows you to use variables before you declare them.

Do you have a test case i can use to see this

[2017-10-08 13:33] satya164 commented on #106
I think we would really prefer to have no runtime as that's the main idea behind the library. Curious to see your approach though.

Not right now, but I'll prepare a test case.

[2017-10-09 12:45] #52 closed

[2017-10-09 18:08] pronevich opened #124 "Bug in new 0.1.* version"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Can't build project. Version 0.0.2-alpha.0 works fine.

stacktrace:

[code]

**Please provide your exact Babel configuration and mention your Linaria, Node, Yarn/npm version and operating system.**

linaria 0.1.3
Node 8.6.0
Yarn 1.0.1

.babelrc
[code]

[2017-10-09 18:24] thymikee commented on #124
Do you have any repro of that? I've just bumped the version on our website example and it works just fine.

[2017-10-09 18:40] pronevich commented on #124
Hmm. It's private project, can't push open repo. I will try figure out issue

[2017-10-09 18:42] satya164 commented on #124
@pronevich maybe you can post your webpack configuration?

[2017-10-09 19:11] pronevich commented on #124
I looked at linaria website webpack config, pretty similar to my:

[code]

[2017-10-09 19:13] pronevich commented on #124
I looked at linaria website webpack config, pretty similar to my:

[code]

[2017-10-10 10:08] dumaron commented on #103
+1 for me too.
I've tried to do what @jukben suggested in the last comment, but without luck.

[2017-10-10 10:10] satya164 commented on #103
@dumaron checkout https://github.com/callstack/linaria/pull/126

[2017-10-10 11:49] zamotany commented on #124
It would be awesome if you could post styles from `src/components/App.js` - only `css`/`css.named` stuff and relevant imports w/o any actual component code.

[2017-10-10 13:46] pronevich commented on #124
This is the whole App.js:

[code]

Also when I start in dev mode, here error stack continuation:

[code]

[2017-10-10 14:46] zamotany commented on #124
Cannot reproduce the issue using `babel-cli`, will try it with webpack.

[2017-10-10 15:24] #124 closed

[2017-10-10 15:31] zamotany commented on #124
We released a new version `0.1.4` which should fix it.

[2017-10-10 15:48] pronevich commented on #124
Yep, all works now )

[2017-10-11 22:03] satya164 opened #133 "Add to CSS in JS playground"
https://github.com/dschau/css-in-js-playground

[2017-10-11 22:08] satya164 commented on #73
Proposal: Determine the dependencies, and add a comment at the bottom of the file with babel. A webpack loader will read the comments and add the dependencies.

[2017-10-12 13:02] zamotany opened #134 "Merge hoist-css plugin with preval-extract"

[2017-10-13 12:43] thymikee commented on #57
How about switching to PostCSS? We're already using it to extract critical CSS.
What's more, we could make Linaria work by default with Stylis, and as soon as one wants finer control over outputted CSS, switch to PostCSS.

[2017-10-17 20:11] berbaquero opened #138 "Assign css template literals to an object's key"
**Do you want to request a *feature* or report a *bug*?**
Request feature.

**What is the current behavior?**
Linaria only allows to assign `css` template literals to a variable:

[code]

The babel plugin fails when assigning to an object's key:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn

[2017-10-17 20:27] satya164 commented on #138
We're working on supporting this :)

[2017-10-18 09:32] #98 closed

[2017-10-18 09:35] zamotany commented on #138
The bug should be fixed by #134

[2017-10-18 09:35] zamotany commented on #134
@satya164 How it's going with this? You need help?

[2017-10-18 09:49] satya164 commented on #134
I haven't had time to work on it yet.

[2017-10-18 11:34] Tushkiz commented on #133
Someone working on this? I would like to experiment 👨‍🔬

[2017-10-18 11:39] satya164 commented on #133
AFAIK no one is doing it right now. Feel free :)

[2017-10-18 13:05] Tushkiz commented on #133
Preview: https://deploy-preview-74--css-in-js-playground.netlify.com
PR: [css-in-js-playground/pull/74](https://github.com/DSchau/css-in-js-playground/pull/74)

@satya164 does that look good?

[2017-10-18 13:06] satya164 commented on #133
Looks great. Thank you so much for doing this ❤️

[2017-10-18 14:21] zamotany commented on #133
@Tushkiz can you update the readme to include the link to css-in-js-playground w/ linaria and **add yourself to contributors list**?

[2017-10-18 16:59] Tushkiz commented on #133
Yup, doing it.

[2017-10-18 17:09] Tushkiz commented on #133
@zamotany also adding `all-contributors-cli` to npm scripts, is that fine?

[2017-10-18 17:10] thymikee commented on #133
If it makes contributing easier, sure :)

[2017-10-18 18:08] Tushkiz commented on #133
Done #141

[2017-10-18 18:19] FezVrasta opened #142 "PostCSS support"
**Do you want to request a *feature* or report a *bug*?**
feature

**Description**

It would be cool to be able to use PostCSS (included PostCSS syntaxes like SugarSS), is this in the roadmap?

[2017-10-18 18:31] thymikee commented on #142
Yup, we have that in mind. Ideally we would like to provide any css preprocessor, with Stylis as a default.

[2017-10-19 10:00] thymikee commented on #65
Since we care about the looks as our end-to-end result, we could set up [Jest + Puppeteer](https://stackoverflow.com/questions/46818427/reusing-same-puppeteer-instance-in-all-jest-tests), save screenshots and compare them using [`jest-image-snapshot`](https://github.com/americanexpress/jest-image-snapshot) for example.
Or we can set up Cypress too.

[2017-10-19 11:03] zamotany commented on #133
Merged #141.
Thanks @Tushkiz for contribution 👍 .

[2017-10-19 11:03] #133 closed

[2017-10-19 13:03] zamotany commented on #122
Closing due to inactivity.

[2017-10-19 13:03] #122 closed

[2017-10-20 19:48] satya164 opened #147 "Issues with class name generation"
In development, the class name is generated from the file hash and the variable name, while in production it's generated from the hash of the styles and variable name. This might result in inconsistent output between production and development, and cause hard to track specificity issues.

For example, in production, multiple styles won't be inserted for a style block if they are the same, even if

[2017-10-21 14:53] satya164 commented on #100
Fixed by #145

[2017-10-21 14:53] #100 closed

[2017-10-22 15:27] satya164 opened #153 "Benchmark script is broken"
Running the benchmark script produces `0.00` for everything.

[2017-10-23 10:35] #134 closed

[2017-10-23 10:36] #138 closed

[2017-10-23 10:54] zamotany commented on #65
Done in #148

[2017-10-23 10:54] #65 closed

[2017-10-23 10:58] zamotany commented on #57
Closing this in favour of #142. There is nothing we can do about `stylis`. With custom preprocessor (eg `PostCss`) this will be achievable.

[2017-10-23 12:41] #153 closed

[2017-10-25 19:02] thymikee opened #156 "Filter unhelpful babel stack traces from code frames"
**Do you want to request a *feature* or report a *bug*?**
Enhancement

**What is the current behavior?**
Here's one of our snapshots for the error:
[code]

**What is the expected behavior?**
There's a lot of unnecessary noice which could be filtered out. I think this would be more helpful:
[code]

[2017-11-02 02:07] pcxiong opened #158 "Failed at the linaria@0.2.0 postinstall script"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
npm install failed
[code]

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
`npm install --save linaria`

**What is the expected behavior?**
correctly be installed

**Please provide your exact Babe

[2017-11-02 02:23] satya164 commented on #158
cc @thymikee

[2017-11-02 04:18] steadicat opened #159 "Not compatible with Webpack file and url loaders?"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
Webpack’s `file-loader` or `url-loader` (they come standard with `create-react-app`) let you `require()` (or `import`) any file type (like images and fonts). At build time, the `require` statement gets replaced with a URL that you can use to load the file at runtime. Unfortunately Linaria seems to bre

[2017-11-02 04:22] satya164 commented on #159
You need to make sure that these `require` statements are processed before Linaria gets to them. Maybe you can move the `file-loader` and `url-loader` to the top so that they run before `babel-loader` runs and it should be fine. Lemme know if this works.

[2017-11-02 04:32] steadicat commented on #159
The `url-loader` in `create-react-app` is already before `babel-loader`. I tried moving it to the very top, and adding `enforce: 'pre'`, still no luck. My assumption (based on zero knowledge of Linaria internals) was that whatever magic Linaria is doing to to resolve modules at compile time in order to expand interpolated strings is jumping the gun and running before Webpack has a chance to let th

[2017-11-02 04:37] satya164 commented on #159
Linaria evaluates the code to resolve the requires using node's semantics and webpack doesn't have a chance to interfere. So the only way to support it would be to process these before linaria runs. Interesting that moving the loaders doesn't fix it.

Did you also change the loader config so it runs in JS files? The default config from CRA seems to exclude JS files.

cc @zamotany do you have any i

[2017-11-02 04:43] steadicat commented on #159
As I understand it, there is no way in Webpack to “process the files before Linaria runs”. Files are loaded one by one as they are encountered during parsing. Loaders run in order on each file, not in order on the whole codebase. So if Linaria reads from any file other than the one currently being parsed, it's jumping the gun and not letting Webpack process the other files beforehand as it should.

[2017-11-02 04:57] satya164 commented on #159
As you said, files are loaded one by one. So there's no way for Linaria to wait for all files to get processed. Note that Linaria is just a babel plugin, it doesn't know about webpack. Since Linaria extracts the CSS out, the file must be processed before Babel runs on it.

As per individual files, as long as `babel-loader` runs after other loaders such as `url-loader` and `file-loader` run, it sho

[2017-11-02 05:03] steadicat commented on #159
Correct me if I’m wrong, but Linaria needs to import the dependencies of the current file in order to run the code that's interpolated in the CSS, right? At that point, the current file’s dependencies have not yet been processed by Webpack, as the references have just been encountered. If my assumptions are correct, it seems pretty clear why it doesn’t work. In fact, I don’t see how it can work. S

[2017-11-02 05:08] satya164 commented on #159
Yes. But only if those dependencies are used inside the tagged template literals. It won't try to import dependencies which are not used.

e.g. -

[code]

It won't try to import `MyComponent` since it's not used inside the template literal, but it will import `colors'.

[2017-11-02 05:12] steadicat commented on #159
Right. And in my example, the problem arises when trying to reference images or fonts inside the css`` string. Makes sense.

Curious to hear what @zamotany thinks, but it sounds like this is not going to be doable.

FWIW, it does sound Linaria is bending the rules a little bit. I don't think Webpack loaders (or Babel plugins) are supposed to go out and read their own dependencies straight off of t

[2017-11-02 05:17] steadicat commented on #159
A quick fix that might take care of my use case would be for Linaria to simply ignore any `require` or `import` that references a non-JS file. Just treat the statement as a constant (which it will be eventually after the other loaders have run). Would that be possible?

[2017-11-02 05:28] satya164 commented on #159
It doesn't read dependencies from the filesystem. It evaluates the code in node, and any babel plugins you use will still apply.

Yes, custom module resolution logic will break unless you do it with a babel plugin like `babel-plugin-module-resolver`.

I'm not sure why this doesn't work

Say this is your code

[code]

Then this gets processed by `url-loader` as usual.

[2017-11-02 05:42] steadicat commented on #159
You’re right, it should work, at least in most cases. I can still imagine cases where the current file is referenced by css literals in other files, in which case Linaria _has_ to evaluate it before Webpack does its thing. That's gonna be really hard, if not impossible to fix, I imagine.

I like this idea. It hadn't occurred to me that `url-loader` also works on CSS files.

[2017-11-02 05:45] satya164 commented on #159
You could probably try changing this line https://github.com/callstack/linaria/blob/master/src/babel/lib/moduleSystem.js#L161 to `return moduleId.includes('.') && !moduleId.endsWith('.js') ? moduleId : getRequireMock(this)(moduleId);` if you want to give it a go

[2017-11-02 05:51] steadicat commented on #159
I think I just stumbled upon the answer to the “why it doesn’t work” question. Here’s what the raw JS looks like after `url-loader` does its thing:

[code]

It appears that `url-loader` does not replace the require statement with a string, it actually creates a dummy module that exports a string. I don’t see how Linaria can work around that. 😞

[2017-11-02 09:25] thymikee commented on #158
Oh, looks like npm is running postinstall scripts of the installed packages, while Yarn is not. I'll take care of it later this day.

[2017-11-02 10:10] zamotany commented on #159
So here's the thing:
Linaria implement module system similar to node's one, thus it only supports `.js` files (in future `.json` and `.node`). Requiring binary/text-like files (`.svg`, `.woff`, `.png`, ...) is a custom solution specific only to webpack with implementation details living inside source code of specific loader.

That being said, supporting it by returning a file path is doable, howev

[2017-11-02 10:14] satya164 commented on #159
@zamotany shouldn't the `publicPath` stuff be taken care of by `url-loader` when we have `url(./path/to/file)` in the css code?

[2017-11-02 10:56] zamotany commented on #159
@satya164 this is not how it works, even when `url-loader`/`file-loader` runs, they don't modify original require, they create a module that returns correct path with `publicPath` and __there is not way__ for linaria to get to that module. We would need to reimplement the whole logic.

[2017-11-02 10:59] satya164 commented on #159
@zamotany yes, but I'm not talking about JS. what happens when `url-loader` processes a CSS file with `url(./path)`?

[2017-11-02 11:20] zamotany commented on #159
Usually you won't be processing CSS files with `url-loader`, tho if you do it depends on options and the content of the file - if file size is smaller that limit (from options) or there is no limit it will be inlined as `data:base64` otherwise it will be passed to fallback loader (by default `file-loader`), which will create a dummy module with public path for that file.

[2017-11-02 11:27] satya164 commented on #159
@zamotany as long as we have `css-loader` setup (which we would if we're using linaria with webpack), these should already be handled since css-loader interprets @import and url() like import/require() and will resolve them. so `url-loader` should work with them. am I missing something?

[2017-11-02 11:28] zamotany commented on #159
special case to in linaria to create a dummy module that should export `url('...')`

[2017-11-02 11:30] satya164 commented on #159
I'm referring to this line in `css-loader` README - https://github.com/webpack-contrib/css-loader#usage, which mentions that loaders like `file-loader` and `url-loader` work with it.

[2017-11-02 11:31] zamotany commented on #159
Still, we need to replace `require('file.ext')` to `url('file.ext')` and it needs to be done by linaria.

[2017-11-02 11:33] satya164 commented on #159
@zamotany in the code we write `url(${require('image.png'))`, so it just needs to be replaced with the module string to get `url('image.png')`

[2017-11-02 11:36] zamotany commented on #159
@satya164 In that case, yes

[2017-11-02 14:03] #8 closed

[2017-11-02 14:41] zamotany opened #166 "ESLint plugin for linting styles"
In order to overcome stylelint's Node API being async, we should spawn stylelint process using `execSync`.

[2017-11-03 10:58] thymikee commented on #158
Fixed in #167

[2017-11-03 10:58] #158 closed

[2017-11-09 11:41] zamotany opened #168 "Test and upgrade to Babel 7"

[2017-11-09 11:48] zamotany commented on #147
Ok, we can change it. Class name hashes should be generated from filename.

[2017-11-10 03:09] steadicat opened #169 "Deleting outDir breaks Linaria for good"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

I sometimes see stale generated stylesheets (more on that perhaps in future issues), so I find myself deleting `./src/.linaria-cache` (my `outDir`) to try to start fresh. After I do this, Linaria fails to build, spewing a bunch of errors like:

[code]

Restarting Webpack or clearing the Babel cache

[2017-11-10 03:51] steadicat opened #170 "Error with css`` inside object with numerical keys"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

The following code:
[code]
gives the following error:
[code]
**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**

It should work fine. If a class name can't be i

[2017-11-10 04:21] satya164 commented on #169
I can successfully reproduce this. This happens due to `babel-loader`'s cache and gets fixed if you delete `node_modules/.cache/babel-loader`.

[2017-11-10 05:41] satya164 commented on #57
Stylis now has an option disable vendor prefixing with `stylis.set({ prefix: false })`. We should also expose the option `prefix: false` in our babel preset to disable vendor prefixing. For fine grained control over prefixing, consumers can use a tool like autoprefixer.

[2017-11-10 06:32] steadicat commented on #169
I actually tried deleting the Babel Loader cache and it didn't seem to work. Deleting the whole `node_modules` directory did work for me though.

[2017-11-10 06:33] satya164 commented on #169
Hmm that's weird. Maybe you have some other cache too? I tried with ejecting a fresh CRA project and deleting that folder did the trick for me.

[2017-11-10 11:30] zamotany commented on #169
Which linaria version are you using?

[2017-11-10 11:32] zamotany commented on #57
We should allow to write custom preprocessor for advanced use cases, exposing each stylis option in babel preset is not a good idea.

[2017-11-10 11:36] satya164 commented on #57
Not suggesting to expose each stylis option. Disabling auto-prefixing is a common enough case and needed to avoid shipping more code than necessary to the browsers.

Custom pre-processor is nice, but will require too much setup for just disabling prefixing.

[2017-11-10 16:40] zamotany commented on #170
Not really. And we will probably never allow this, since we are debating internally to switch to hash generation based on absolute filename instead o creating a hash based on the style content.

[2017-11-10 16:46] steadicat commented on #170
What I mean is hiding the variable name from the production class names, no matter how the hash is generated. Why isn’t this allowed? Would save bytes as well as prevent leaking of internal names to production HTML and CSS.

[2017-11-10 16:54] steadicat commented on #169
I can repro with both `0.2.0` and `0.3.1`.

[2017-11-10 21:31] steadicat commented on #169
This happens also when you start fresh with a clean repo, and no `outDir` folder. Deleting `node_modules` doesn't seem to help either. This is bad. Is there a workaround? Do we need to touch all the source files or something?

[2017-11-10 21:33] thymikee commented on #169
Does building whole project helps? This would restore whole `outDir`.

[2017-11-10 21:36] steadicat commented on #169
I'll try that, thanks. Building the project takes several minutes though (tons of JS minification and image optimization). Is there a better way? How does this normally work on other projects?

[2017-11-10 21:43] thymikee commented on #169
We just didn't encounter this in our testing, but that's definitely something buggy which we need to fix.
Other than that, building the project doesn't mean you need to run in production mode, it's all good with dev (which should be optimised for speed, so no minification et. al.). What's important here is to get all files processed by Babel (which runs Linaria). You can also try `cache: false` in

[2017-11-13 09:46] #170 closed

[2017-11-13 10:58] zamotany commented on #169
`cache: false` would only make difference between rebuilds in dev mode (same JS context), if you build your project, spawning a new command every time, linaria cache will always be empty and files will be created.

[2017-11-13 11:02] zamotany commented on #169
I've tried to reproduce this issue within `website` project with no luck. It would greatly help you you could create a repo when we can reproduce this bug.

[2017-11-13 11:02] satya164 commented on #169
@zamotany I tried with a fresh project and that doesn't happen even if I restart webpack. The babel plugin never gets called when `cacheDirectory` is specified for `babel-loader`. The only way to fix this is to delete `node_modules/.cache/babel-loader`

[2017-11-14 03:53] steadicat commented on #169
Here's a [repo where you can reproduce it](/steadicat/linaria-test). I simply created an app with `create-react-app` and ejected to add Linaria. Run it, delete `src/.linaria-cache`, and you'll see this error:
<img width="821" alt="screen shot 2017-11-13 at 7 49 14 pm" src="https://user-images.githubusercontent.com/6031/32762052-e6959c0c-c8ab-11e7-8c5b-2447a7a0740c.png">

You’ll also run into this

[2017-11-14 17:45] steadicat commented on #169
I thought about this more and I realized that I might be conflating two separate issues:

1. If you delete `outDir` and not `node_modules/.cache/babel-loader`, generated CSS is missing. This is easily explained by Babel not running on unchanged and previously cached files. Deleting `node_modules/.cache/babel-loader` fixes it, as does disabling the Babel loader cache. Or simply avoid deleting `outD

[2017-11-14 17:54] steadicat commented on #159
The solution of using plain CSS `url()` works for me. There are two actionable things:

1. Document this more clearly. I saw a mention of this at the [bottom of this file](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md). Would be great if this was in the README.
2. Fix the paths. Currently `url()`s referenced inside Linaria CSS are relative to the location of the Lin

[2017-11-14 18:11] steadicat opened #175 "Minify class names in production"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
In production, generated class names are of the form `_{variableName}__{hash}`, same as in development mode.

**What is the expected behavior?**
They should just be `_{hash}`. This will save some bytes and look cleaner, by not leaking internal variable names into the generated markup and CSS. At l

[2017-11-14 19:58] zamotany commented on #169
It theory or at least when we were developing website we have not encountered stale/missing CSS files. Files stored in `.linaria-cache` or in `outDir` are only there, so that the bundler can include then the bundle and they are regenerated every time (as long as some caching mechanism is not interfering). So rebuilding the project should emit a fresh and up-to-date CSS files. With all that said, w

[2017-11-20 11:55] #147 closed

[2017-11-20 14:56] #159 closed

[2017-11-21 02:06] steadicat commented on #169
Upgrading our dependencies seems to fix the worst of this. The remaining issue about deleting `outDir` without clearing the Babel cache is still there, but nowhere near as pressing.

[2017-11-21 10:18] thymikee commented on #156
Not relevant for now.

[2017-11-21 10:18] #156 closed

[2017-11-21 11:26] thymikee opened #177 "Print stickers"
Probably here: https://cyfrus.pl/variant/druk-naklejek-dowolnego-ksztaltu-druk-laserowy

[2017-11-22 13:18] zamotany commented on #175
For assignee:
This should be configurable as a babel preset options like `minifyClassnames` and should generate short hash (6 chars should be fine) from `_{variableName}__{hash}` to `ln{hash}` where `ln` is our prefix.

The code should probably be done here https://github.com/callstack/linaria/blob/master/src/babel/preval-extract/prevalStyles.js#L63

[2017-11-24 08:30] satya164 opened #178 "Support and document how to publish modules using Linaria to NPM"
## Background

Linaria is probably the best option to choose among CSS in JS libraries if you are making a component library which you want to publish on NPM.

- It produces vanilla CSS files, which means anyone can consume them
- It doesn't have a runtime overhead, so regardless what solution the user uses for CSS, this is not going to another CSS in JS lib to the mix

Today I was trying to publi

[2017-11-30 10:07] satya164 opened #182 "Properly resolve `url(...)` in style strings"
## What's broken

Say you have the following file structure:

[code]

Now you write following in `App.js`:

[code]

This won't work, because the generated CSS file will be at `.linaria-cache/src/components/App.css`, and when resolving `../assets/bat.png`, webpack will look relative to the the generated file.

## How to fix

We can write a `stylis` plugin which replaces relative paths in `url` with

[2017-11-30 10:22] zamotany commented on #182
I think we can calculate the correct path without stylis

[2017-11-30 10:24] satya164 commented on #182
@zamotany how? the `url` statements will be resolved by webpack and `style-loader`. we don't have any control over how it's resolved.

[2017-11-30 10:26] zamotany commented on #182
But with this:
[code]
we can calculate the correct path.

Tho you're right, the solution with stylis will work for both cases

[2017-12-05 10:40] #175 closed

[2017-12-06 14:40] croszatycki opened #184 "Include example of stylelint doesn't work"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In version 0.4.1 you didn't attached `stylelint-config.js`
[code]

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
`yarn add linaria --dev`
prepare .stylelintrc file
[code]
exec `stylelint`

**Wha

[2017-12-06 14:55] #184 closed

[2017-12-06 14:59] zamotany commented on #184
Fixed in `0.4.2`

[2017-12-13 11:15] #177 closed

[2017-12-14 12:58] #73 closed

[2017-12-14 13:04] zamotany commented on #169
We released Webpack loader in `0.5.0`. It should solve all of your problems, so please git a try. I'm going to close this issue. Should you have any problem, feel free to reopen it or create a new one.

[2017-12-14 13:04] #169 closed

[2017-12-17 20:18] morajabi commented on #182
It's interesting! Do you want me to give this a hand? 🙌

[2017-12-17 20:21] morajabi commented on #118
I can give this a hand too :) It seems I'm obsessed with CSS-in-JS projects' websites 😝 (worked on the styled components website too)

[2017-12-17 20:44] thymikee commented on #118
Any help on this is greatly appreciated! :)

[2017-12-17 20:45] morajabi commented on #118
What do you mean by "Any help"? It's either the website or nothing, am I missing something?

[2017-12-17 20:49] thymikee commented on #118
The website is already done, it just needs a redesign. Since we're not publishing it automatically, you're good to change any part of it, e.g. fonts and hero section, if you don't have time to finish all of it. What I mean is that we can update the website incrementally, in small changes if needed.

[2017-12-17 20:54] morajabi commented on #118
Cool! Let's discuss the details then!

[2017-12-17 21:22] thymikee commented on #118
For now we know that we'd like our hero area to look like this:

<img width="462" alt="screen shot 2017-12-17 at 22 11 19" src="https://user-images.githubusercontent.com/5106466/34083859-445d7716-e377-11e7-8b1a-92dd5973ac7b.png">

Rest of the page can stay as is (plus adjusting fonts and colors). Speaking fonts, I'd go with these:
* headings: [Montserrat Alternates](https://fonts.google.com/specim

[2017-12-17 22:05] morajabi commented on #118
Awesome, will take the first step tomorrow

[2017-12-18 07:54] morajabi commented on #118
@thymikee Don't we want to have the website in a separate repo? `linaria-website` maybe?

[2017-12-18 07:55] thymikee commented on #118
I don't see the point for now, maybe in some distant future.

[2017-12-18 07:56] morajabi commented on #118
@thymikee Fair enough, do we want the hero to be this big? I mean to take all the screen?

[2017-12-18 09:20] satya164 commented on #118
@morajabi thanks for looking into it

Keeping in the same repo means we can test the website against master of the library. Moving to separate repo will make it harder.

Let's do something like following:

![image](https://user-images.githubusercontent.com/1174278/34098571-c8e7f8fe-e402-11e7-8502-63e01b3ddb36.png)

[2017-12-18 09:30] morajabi commented on #118
OMG @satya164 I love this!

[2017-12-18 13:05] morajabi opened #188 "[website] Replace ESLint with Prettier"
**Do you want to request a *feature* or report a *bug*?**
Feature (Build tools)

**What is the current behavior?**
ESLint rules are so annoying and slow down the development.

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
N/A

**What is the expected behavior?**
Prettier is the standard curr

[2017-12-18 13:08] thymikee commented on #188
Feel free to hook `callstack-io` config there, same as in the project's root :)

[2017-12-18 13:09] morajabi commented on #188
ESLint config? ESLint is annoying no matter the config :)

[2017-12-18 13:14] thymikee commented on #188
It's a config with Prettier already hooked up – it displays as ESLint auto-fixable errors. You just run `eslint --fix` or setup your IDE and be done with it (e.g. with format on save or on keystroke).

[2017-12-18 13:30] zamotany commented on #188
_Prettier is an opinionated code formatter. It enforces a consistent style_

_ESLint is (..) linting utility for JavaScript and JSX._

Formater !== linter.

[2017-12-18 13:31] morajabi commented on #188
Thanks for being so nice and friendly :)

[2017-12-18 14:28] satya164 commented on #188
Prettier will format the code, but it can't catch the mistakes in the code that a linter can. For example, trying to use a variable which is not defined and many more other rules that ESLint has. That's why it's important to use both ESLint and prettier together.

In our ESLint config we have only enabled rules which can catch potential errors and disabled all code style related rules which are ha

[2017-12-18 14:54] morajabi commented on #188
I know that, I mainly meant the code style linting part, sorry if I said it wrong. But that way of commenting and closing the issue right after that is not inline with for example this:

Anyway, it's your project and thanks for open sourcing it 👏, but what's the point then!

[2017-12-18 15:40] philpl commented on #188
@satya164 @zamotany seeing that this issue specifically relates to the website, the way forward here seems to just reuse the same eslint config for it from the root of the project as @thymikee suggests.

Could be worth reopening maybe? 😬

[2017-12-18 15:49] grabbou commented on #188
I second what @satya164 said. If `website` is using a different than `callstack` config, I'd recommend we update that.

Assuming that it uses `airbnb`, I too agree it's a bit annoying. I always end up commenting out like 50% of it.

@morajabi no one meant to be unfriendly here whatsoever - it's just that some things get lost when written down, esp. here, on Github issue tracker. We appreciate your

[2017-12-18 15:51] grabbou commented on #188
I second what @satya164 said. I assumed that website is using our Callstack config as well. In case it's using Airbnb one, I suggest we get rid of that. I think it's a bit too restrictive as well and I always end up being annoyed by the amount of rules I have to remove.

@morajabi I am really sorry that it sounded like this in the comment. Trust me, no one meant to be rude. We will work on improvi

[2017-12-18 16:01] grabbou commented on #188
As expressed in other comments, we use `eslint` everywhere throughout all the projects that we do. It has numerous benefits that go beyond just the ability to report issues related to the code we write (e.g. undefined variables).

One of them is the ability to use `prettier` as a eslint rule. That way, we get the ability to report code styling issues as a part of `eslint .` step running. One less

[2017-12-18 16:48] morajabi commented on #188
Let me tell you the thing that happened to me for a single ~10 line file with ESLint. I copied an SVG code as wanted to export it as a component, this is the error:
<img width="653" alt="screen shot 2017-12-18 at 8 03 50 pm" src="https://user-images.githubusercontent.com/12202757/34116710-9bd647b8-e42e-11e7-9890-68b740aa863a.png">

What the hell! I don't know what it's saying, took me a couple of

[2017-12-18 17:09] satya164 commented on #188
Yes, the rule is annoying and unnecessary for utilities. For components, we follow the convention of exporting a single component from a file at callstack.

The ESLint config gets merged with the one in the root. The one inside `website/` are just for overrides.

`prettier-eslint` has a different purpose, i.e. format code with prettier then override some code style with custom ones from ESLint.

H

[2017-12-18 17:16] morajabi commented on #188
This is def a deal breaker for you then!

[2017-12-18 17:18] morajabi commented on #188
@grabbou said it's a good thing and I mentioned this package. That's exactly what he mentioned with `eslint --fix`, isn't it?

[2017-12-18 17:24] thymikee commented on #188
It's also a pain while rebasing.

Wrapping it up – this is the workflow we worked out after many tries and it serves us really well in multiple projects (also outside Callstack). However, if you feel that ESLint with Prettier is annoying or slowing you down, just disable it while development:
[code]
...and run `yarn lint --fix` from project root before committing (or after you see the CI failure),

[2017-12-18 17:25] satya164 commented on #188
It's different:
- `prettier-eslint` - format code with prettier, then override some style rules with eslint (for example `array-bracket-spacing`), like running `prettier`, then `eslint --fix`.
- `eslint` with `eslint-plugin-prettier` - disable all of the style related rules from eslint and always use the prettier for formatting, equivalent to running `eslint --fix` then `prettier`

[2017-12-18 17:30] satya164 commented on #188
BTW I have autofix on save enabled for eslint in my editor, which makes it much easier.

[2017-12-18 17:31] morajabi commented on #188
Although what about those annoying rules I mentioned with the SVG example? What is your plan to deal with them?

[2017-12-18 17:33] satya164 commented on #188
I can only find one, `export default`. Do you have more? Can you comment the list so we can scan easily? :)

About what to do with them, I'd let @grabbou and @thymikee decide

[2017-12-18 17:34] morajabi commented on #188
- export default
- Unreadable styling errors

[2018-01-08 12:11] zamotany opened #190 "Parcel plugin"

[2018-01-08 12:12] satya164 commented on #190
https://github.com/callstack/linaria/pull/189

[2018-01-15 01:36] oBusk opened #193 "Is dynamic imports supported?"
I'm trying to setup an enviroment using SSR and Code-splitting based on

* [`react-universal-component`](https://github.com/faceyspacey/react-universal-component)
* [`webpack-flush-chunks`](https://github.com/faceyspacey/webpack-flush-chunks)
* [`extract-css-chunks-webpack-plugin`](https://github.com/faceyspacey/extract-css-chunks-webpack-plugin)

The code is written in typescript and built with w

[2018-01-15 11:11] zamotany commented on #193
I don't think that dynamic imports will work, because some of your code will be evaluated in compile time in node context which doesn't implement `import` function, especially considering `import` is asynchronous.

Are you sure it was working w/o Universal Component, since linaria was never designed to work with TS, because we (internally for evaluation purposes) transpile the code with Babel not

[2018-01-15 11:43] satya164 commented on #193
Can you post a code sample?

[2018-01-15 11:48] oBusk commented on #193
Thanks for the fast response!.

I'll gladly try to create a sample! I'll try to create one using typescript and one using Universal Component. I'll get back to you when I have it.

[2018-01-15 13:35] Trancever commented on #118
Hello Callstack engineers. I would like to work on this task if you still need some help. There've been no activity from **morajabi** on this for 28 days so i think he is not working on it anymore.

[2018-01-15 13:40] thymikee commented on #118
@Trancever awesome, feel free to open a new PR for that.
@morajabi hope you don't mind? 🙂

[2018-01-15 14:55] Trancever commented on #118
@thymikee I have encountered a problem with running website dev server. I got an error while executing "yarn run start". Of course, first i installed dependencies with yarn.
There is a screenshot with the problem.
![error-linaria](https://user-images.githubusercontent.com/18584155/34948033-42d11b86-fa0c-11e7-8671-d8d8a039b9a7.PNG)

[2018-01-15 15:02] zamotany commented on #118
@Trancever Can you open a separate issue? I'm pretty sure it's happening only on Windows. On Mac everything is fine. I'll try to reproduce it on Win10 later.

In the meantime you can check out https://docusaurus.io/
Ideally, we would like to have a documentation done with it with custom home/landing page as shown in mockup.

[2018-01-15 15:12] Trancever commented on #118
@zamotany Yeah, i'll open an issue for that.

So you not only want to change home page but also whole setup for creating documentation, am i right? Then what should i do now, work on the home page or check docusaurus and maybe try to setup it?

[2018-01-15 15:19] Trancever opened #194 "`inject` not working on Windows"
**Do you want to request a *feature* or report a *bug*?**
- report a bug

**What is the current behavior?**
- Error while running website dev-server on Windows 10

![error-linaria](https://user-images.githubusercontent.com/18584155/34949056-40936f38-fa0f-11e7-9b65-5cbe93185e71.PNG)

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we

[2018-01-15 15:21] satya164 commented on #118
I'd suggest to finish the homepage first before we set up docusaurus :)

Also, can you share your email? I'll invite you to our Slack.

[2018-01-15 15:32] Trancever commented on #118
My email is dawidu@onet.pl, thanks Satya :)

[2018-01-15 15:54] zamotany commented on #118
It doesn't matter which one you do first, they can be done independently. I suggested that because, we're blocked by #194.

[2018-01-15 16:03] Trancever commented on #118
Ok, I’ll install Linux tommorow to be able to work on the website. If it is done, i can have a look on docusaurus as Satya suggested.

[2018-01-15 16:04] zamotany commented on #118
You can also try [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10)

[2018-01-15 22:13] zamotany commented on #194
Temporary workaround; use [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10)

[2018-01-21 18:36] oBusk commented on #193
Dynamic imports seems to be working when using `linaria/loader`! I created a [very rough setup](https://github.com/oBusk/react-universal-component-linaria) which seems to be working as expected.

However, it seems like typescript is not working. [Here](https://github.com/oBusk/typescript-react-linaria) is a simple setup trying to build typescript and then run that through `linaria/loader` but when

[2018-01-26 12:43] zamotany opened #197 "TypeScript support"

[2018-01-26 12:45] zamotany opened #198 "Webpack 4 support"

[2018-01-26 12:45] thymikee opened #199 "Prepare for webpack@4"

[2018-01-26 12:56] zamotany commented on #166
Upon further investigation it doesn't make sense. ESLint operates on AST which we don't have unless we create it, but then we won't be able to use stylelint. Since this is time consuming the cost outbalance the benefit.

[2018-01-26 12:56] #166 closed

[2018-01-26 12:58] thymikee commented on #199
Duplicate of #198

[2018-01-26 12:58] #199 closed

[2018-02-22 10:44] dumaron commented on #197
Hi, any news on this?
Can you tell me what need to be done in order to help?

[2018-02-22 10:46] thymikee commented on #197
To make that happen we'll need to migrate to Babel 7 and make sure all works with `@babel/preset-typescript`

[2018-02-22 11:07] dumaron commented on #197
This, however, will not help the ones working on projects bootstrapped with `create-react-app-typescript`, right? This will only support typescript if transpiled from babel?

[2018-02-22 11:11] thymikee commented on #197
No, it won't work. Linaria is a Babel preset. AFAIK TypeScript doesn't allow you to transform its AST like Babel does. However, with Babel 7 you should be able to technically pre-compile your app (typescript and linaria presets required) before it goes to `tsc`.

[2018-03-10 12:11] satya164 commented on #178
I think `styled-components` could have been a nice solution to this problem, but there are several other CSS in JS libraries too. Which means that if developers start publishing code using CSS in JS libraries to NPM, it's not going to be only styled-components. Developers are going to use their preferred libraries. And for the users using those libraries, they might get multiple CSS in JS librarie

[2018-03-10 14:41] mxstbr commented on #178
I see where you're coming from but we're working on all of those DX issues with https://github.com/cssinjs/istf-spec and @kitten's github.com/kitten/sweetsour, so interop will soon be the standard for CSS-in-JS libs! CSS files ain't changing anytime soon :wink:

Anyways, let's agree to disagree, just wanted to chime in with those thoughts.

[2018-03-10 15:02] satya164 commented on #178
I don't think there's anything to disagree here. These are not opinions, but problems which prevent using CSS in JS library.

ISTF is great, and I hope it'll solve most of these issues. But to do that, all CSS in JS libraries need to adopt that. What you're saying is ideal, but not practical right now. It'll happen, but in future. And until that happens, vanilla CSS files are the best we have.

[2018-03-10 15:08] kitten commented on #178
@satya164 To be fair, not **all** CSS-in-JS libraries need to adopt ISTF or even the connected pipeline. The important part is that a diverse amount of libraries that might or might not form a majority adpot it.

Btw it'd be great to talk about how we can proceed with Sweetsour/ISTF. I'm planning to use it for React Native first to test out its constraints and practicality.

[2018-03-10 15:17] mxstbr commented on #178
That's exactly where we disagree!

For our needs, a shared component library that's meant to be used by any developer who can run `npm install`, vanilla CSS (or less or sass or linaria) didn't and still doesn't work. That's why we built styled-components, and it is a better solution than vanilla CSS files for our use case.

I'm not saying `styled-components` is perfect, don't get me wrong you iden

[2018-03-11 21:24] satya164 commented on #178
HMU! You know where to find me :D

[2018-03-23 10:59] wardpeet opened #201 "Question: Opensource modulesystem"
I really like the [module system](https://github.com/callstack/linaria/blob/master/src/babel/lib/moduleSystem.js) as it is great to compile modules and generate the correct output.

I really want to use it in [emotion](https://github.com/emotion-js/emotion/tree/master/packages/babel-plugin-emotion)

So my request is if you could create a separate package for this one. For now I can start copying t

[2018-03-23 11:41] satya164 commented on #201
Hey @wardpeet! Really interested in knowing what you're going to use it for :D

[2018-03-23 15:08] jacobp100 commented on #201
Is this the part that does build-time code evaluation? I want to use it in [cssta](https://github.com/jacobp100/cssta) (the web version). It looks like we have really similar projects---I wonder what overlap we could share!

[2018-03-23 15:19] wardpeet commented on #201
@satya164 also css interpolation. Emotion babel support has the same option to extractCSS to a cssFile. The downsize is that it doesn't support interpolation which is sad. I'll use the module compiler to resolve my ast to code like you do with linaria

[code]

[code]

[2018-03-23 16:01] zamotany commented on #201
@wardpeet 2 things:

1. Why don't you use linaria?
2. The module system is not responsible for evaluation at compile time.

[2018-03-23 21:14] wardpeet commented on #201
@zamotany syntax is a bit of with the include statement. We really like the styled components syntax but we need the css extraction for speed and emotion was the only option.

We would use it the same as the lernia babel plugin so not doing anything on compile time

[2018-03-23 21:27] jacobp100 commented on #201
I think what we would want is `babel-plugin-eval-template-expressions`, which takes options like `{ templateTag: 'glamor' }`. This would then be able to be used in multiple CSS-in-JS projects, which would be great for collaboration 😄

[2018-03-23 21:39] satya164 commented on #201
`include` is just a helper to expand a class name to get the styles. emotion has a similar feature where you can write `${someClass}` instead of `${include(someClass)}` which is confusing imo. What if you actually want to use the class name in a selector like `& > .${someClass}`? Now the same syntax behaves completely different according to where it's used. That said, `include` is not something th

[2018-03-30 16:08] jacobp100 commented on #201
I made a really _really_ basic start on this over [here](https://github.com/jacobp100/babel-plugin-pre-evaluate-template-strings). For now, I've just copied and pasted code.

I suspect we'll first need to expose the `resolveTemplateLiteral` function. We'll also need ways to customise the interpolation too. We might need to expose module mocking.

The aim is that any CSS-in-JS project should be abl

[2018-05-04 19:04] MartinJohns commented on #197
TypeScript has support for transformers: Microsoft/TypeScript#13764

[2018-06-07 03:06] namnm opened #203 "Option to not emit css content, keep only class name in js"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
Not sure if we have this feature already, now css is generated to output dir or in webpack bundles, but I want only class name from the block and ignore the css content.

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn

[2018-06-11 15:08] zamotany commented on #203
Have you tried `extract: false` option? https://github.com/callstack/linaria/blob/master/docs/BABEL_PRESET.md#options

[2018-06-11 16:38] #203 closed

[2018-06-11 16:39] namnm commented on #203
Look like I missed that!

[2018-06-30 20:35] chrisbateman opened #204 "Missing classes in output - depending on filename"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Classes go missing depending on the order in which files are processed. See below for more details.
- Example repo: https://github.com/chrisbateman/linaria-demo
  - `npm install` and `npm run build`
- The issue seems to occur only when using babel-cli and **not** when using babel-loader in a webpack ap

[2018-06-30 22:11] satya164 commented on #204
Thanks for the report! I'll take a look as soon as possible!

[2018-07-01 22:28] DanielRuf opened #206 "CI: also test Node.js 8 and 10"
We should also test Node.js 8 and 10.

[2018-07-03 18:23] chrisbateman opened #208 "Feature Request: avoid hash clashes"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Hashes are generated from the filename, which can lead to clashes in the following cases:
- 2 different versions of the same library where the styles changed between versions (this is my primary use case)
- 2 separate libraries that both use Linaria and have the same variable names in files with th

[2018-07-03 21:35] namnm opened #209 "Wrong css class name output"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**
The class names generated in css file are different with the ones in js file

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
https://github.com/namnm/linaria-test

**What is the expected behavi

[2018-07-03 23:34] namnm commented on #33
Hi guys, any news on this?

[2018-07-04 11:02] satya164 commented on #208
You might wanna check my RFC regarding publishing libraries to NPM: https://github.com/callstack/linaria/issues/178

[2018-07-04 11:08] satya164 commented on #208
We could also default to `[name]@[version]~[filename]` for hashes, and allow customizing it.

[2018-07-15 07:16] hedgepigdaniel commented on #142
Is there any benefit of including this in linaria when one could just as easily use a webpack loader applied to css files, e.g. `postcss-loader`?

[2018-08-29 22:57] kylpo commented on #168
Babel 7 has been officially released (woohoo!). Curious if there are plans to get linaria on Babel 7 soon.

[2018-08-30 09:04] zamotany commented on #168
Before any decision is made, we need to make sure that the changes to plugin API still allows us to achieve what we want. When investigating rewrite to Babel 7 beta, we've come to the point when we couldn't proceed further, because the API we used was removed and there was no clear workaround. We're also thinking about rewriting Linaria as a standalone tool, without Babel, so we have more control.

[2018-09-03 21:05] kylpo commented on #168
Thanks for your reply, @zamotany. Linaria is too important for me to lose, so I'll just be sticking with Babel 6.

A standalone tool would be great, but boy does that sound like a lot of work on your end. Thanks for your work on this!

[2018-09-12 20:40] s-panferov commented on #198
I would like to take care of this, but there is something I don't understand in the current codebase: https://github.com/callstack/linaria/blob/master/src/tools/webpack-loader.js#L108-L124

Why do we need to iterate through the parent modules to do something? Isn't it contradicts with the webpack's loader logic?

[2018-09-12 21:32] s-panferov commented on #198
@satya164 personally I hate `styled-components` approach, and I really think that just `css` helper is enough for everything. Please please please add it to the new library as-is in the current `linaria`.

[2018-09-12 21:34] satya164 commented on #198
Yes, I want to support both types of usage, probably 2 packages, but the core can be there same.

[2018-09-12 22:08] zamotany commented on #198
Thia is an case when you change something which is used by `css` somewhere else (it's a parent module). Let's say you have:
[code]
When you make changes to `someHelper` implementation, thd results might change so the loader has to rebuild each module that is using `someHelper`, each module that is using `A.js` (because it might got changed) and so on. This of course has performance downsides, but

[2018-09-12 22:52] s-panferov commented on #198
@zamotany I believe that `https://webpack.js.org/api/loaders/#this-adddependency` handles this better.

[2018-09-13 08:36] zamotany commented on #198
As far as a remember, it didn't handled few cases. But hey, @s-panferov if you want, please give it a shot 😉

[2018-09-13 16:29] s-panferov opened #270 "Please add a `css` helper back"
`css` helper (as in `linaria`) works great for our projects. It would be nice to have it as a lightweight alternative for the more complex `styled` approach.

[2018-09-13 19:00] satya164 commented on #198
I just added `this.addDependency` in the loader here and it seems to work: https://github.com/callstack/linaria-styled/blob/873675c52c38c109376859a5c6281209200d61ba/src/loader.js#L71

[2018-09-14 14:58] satya164 commented on #198
Supported in https://github.com/callstack/linaria/tree/next

[2018-09-14 14:58] #198 closed

[2018-09-14 14:58] satya164 commented on #168
Babel 7 is used in https://github.com/callstack/linaria/tree/next

[2018-09-14 14:58] #168 closed

[2018-09-14 14:59] satya164 commented on #40
Basic support added in https://github.com/callstack/linaria/tree/next

[2018-09-14 14:59] #40 closed

[2018-09-14 15:03] satya164 commented on #32
Can use https://github.com/callstack/react-theme-provider/ with the `styled` helper in https://github.com/callstack/linaria/tree/next

[2018-09-14 15:03] #32 closed

[2018-09-14 15:17] satya164 opened #214 "Linaria 1.0 roadmap"
The next rewrite is at: https://github.com/callstack/linaria/tree/next

### Summary

- Different architecture - Previously the Babel plugin used to write CSS files to the disk, this caused many issues:
  * We have to deal with environment variables to prevent writing files
  * We have to use separate options for testing and SSR to prevent these files from getting written
  * Files keep getting wri

[2018-09-17 05:48] ivan-aksamentov commented on #193
@oBusk Hi, Oscar, have you ever figured out how to make `linaria` to work with `react-universal-component` family, especially server-side rendering?  I checked your [react-universal-component-linaria](https://github.com/oBusk/react-universal-component-linaria), but it seems client side only.

[2018-09-17 09:57] satya164 commented on #193
@ivan-aksamentov can you post some code or error message on what you're encountering? is it a syntax error?

[2018-09-17 11:01] ivan-aksamentov commented on #193
@satya164 Satyajit, thanks for asking! The answer ended up a bit long, because I am very new with linaria and my project requirements and setup are kinda weird.

At first I did not understand how `linaria` interacts with `extract-css-chunks-webpack-plugin` and `webpack-flush-chunks`. From docs I understood that linaria requires all CSS in a single file (or string in memory), while the other two pa

[2018-09-17 11:27] ivan-aksamentov opened #216 "[next] Incorrect import paths"
**Do you want to request a *feature* or report a *bug*?**
🐞 bug

**What is the current behavior?**

On `linaria` `next` branch (current commit `ff47c99cab96c1803ab452018a69b2903a382367`) build fails with:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

[code]

**What is the expected

[2018-09-17 11:49] satya164 commented on #216
Thanks for the report! Fixed.

[2018-09-17 11:49] #216 closed

[2018-09-17 12:00] satya164 commented on #193
Thanks for the code. I'm not familiar with `collect` works, so I'll defer to @thymikee

[2018-09-17 18:14] ivan-aksamentov opened #217 "[next] 🐞 `collect()` fails on a particular CSS snippet from bootstrap 4"
**Do you want to request a *feature* or report a *bug*?**
🐞 bug

**What is the current behavior?**
While server rendering, during collection of critical CSS, the following error is being emitted:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

In my crazy setup, linaria receives a p

[2018-09-17 18:59] ivan-aksamentov opened #218 "[feature request] 🚀 Classname optimization: shorten CSS class names"
### Introduction
Due to its powerful compile-time CSS and JS proprocessors, and, more importantly, read-write acces to both, Linaria has a great potential for further CSS optimizations.

One of the best size reduction optimization is shortening of class names. That is, in production Linaria could rename the default `.classname_ab0c0da8ra` into shorter, simple, potentially sequential, unique identi

[2018-09-17 23:04] yakovkhalinsky opened #220 "Installing linaria@next results in empty module directory in node_modules"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
running `npm i linaria@next` results in a node_modules

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
run `npm i linaria@next`
look at `node_modules/linaria`
you will see only `package.json`

**

[2018-09-17 23:14] satya164 commented on #220
The next branch is not published to NPM yet. You need to install from GitHub for now.

[2018-09-17 23:42] satya164 commented on #218
Thanks! I'll look into this once I've the pending items sorted.

[2018-09-18 00:12] satya164 commented on #218
I think it have an idea of how to make it deterministic. I need to store a cache somewhere with mappings from full class to short ones. Will see.

[2018-09-18 07:27] ivan-aksamentov commented on #218
@satya164 On `linaria/next` you currently have both, babel preset and webpack loader. I don't know for sure, but maybe it is more convenient to access all the chunks from webpack? It is also not uncommon to use webpack loader+plugin (like [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin)), so why not.

In any case, I will gladly test any implementation prototype

[2018-09-18 07:30] ivan-aksamentov commented on #220
@yakovkhalinsky Use:

    npm install callstack/linaria#next

or

    npm install callstack/linaria#<commit_hash>

or fork+clone + `npm link` if you're up to contributing :)

[2018-09-18 10:34] satya164 commented on #220
Just published it

[2018-09-18 10:34] #220 closed

[2018-09-20 12:39] #57 closed

[2018-09-20 12:40] zamotany commented on #33
Since, we have now `css-loader` in the pipeline, you can use normal CSS files.

[2018-09-20 12:40] #33 closed

[2018-09-20 12:41] #118 closed

[2018-09-20 12:41] zamotany commented on #106
We are not going to support this.

[2018-09-20 12:41] #106 closed

[2018-09-20 12:42] zamotany commented on #103
We cannot suport CRA with altering configuration files. If you want to use it with CRA, the only option is to eject.

[2018-09-20 12:42] #103 closed

[2018-09-20 12:49] zamotany commented on #194
https://github.com/callstack/linaria/blob/763f9a79a30f428ec6bf2da0ca197e1b432bb44f/src/loader.js#L25

[2018-09-20 12:49] zamotany commented on #194
@Trancever do you want to contribute??

[2018-09-20 12:52] zamotany commented on #209
With new solution we use for linaria (on `next` branch) is cannot happen again.

[2018-09-20 12:52] #209 closed

[2018-09-20 13:07] satya164 opened #222 "Investigate if we can avoid writing the CSS file to disk"
Currently, we write the file to the disk and add it as a `require` statement in the JS in the webpack loader. We should use memory fs if possible. https://github.com/4Catalyzer/css-literal-loader does it but looks complex. Another approach in https://github.com/callstack/linaria/tree/%40satya164/loader-magic, but it doesn't go through `css-loader` anymore

[2018-09-20 13:07] satya164 opened #223 "Investigate using webpack API to add sourcemap"
Currently use add the sourcemap as a inline comment string directly in the CSS file

[2018-09-22 12:21] asvny opened #225 "Add an option to output atomic css"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
-

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**
The current behavior is

[code]
**Please provide your exact Babel configuration and mention your Linaria,

[2018-09-23 00:03] asvny commented on #225
@satya164 I very excited about this and if you are fine with this feature, I am ready to experiment by integrating https://github.com/linkedin/opticss with linaria to optimize the output.

**Note: This can be added as non-breaking change by adding this as feature flag until it gets stable.**

[2018-09-23 13:06] satya164 commented on #225
@asvny I think it'll be great. maybe we would want to have a separate package or entry point `linaria/atomic` if the implementation diverges too much. The only problem I see is that this feature can only work with `css` tags. With `styled` tags, there will be specificity issues when decorating existing styled component.

[2018-09-24 12:50] asvny commented on #225
@satya164 I am not able to get this point
 ` With styled tags, there will be specificity issues when decorating existing styled component.`

Can you please provide an example?

[2018-09-24 12:58] satya164 commented on #225
@asvny so for example, say you have this:

[code]

here, the background of `FancyButton` will override the background of `Button` because we generate a more specific selector (`Button` will generate something like `.abcdef` and `FancyButton` will generate something like `.abcdef.tyuio`). could be difficult with atomic class names. but probably we can avoid atomic class names for components like `F

[2018-09-28 19:20] chrisbateman commented on #214
So I guess Linaria will no longer be able to be used with libraries or other projects that don't use Webpack?

[2018-09-28 19:50] satya164 commented on #214
@chrisbateman for the next release, we'll only have a webpack loader. but eventually we'll write integrations for more bundlers. we're also working on a CLI (#227) for libraries.

[2018-09-30 21:44] braco opened #233 "Gatsby and linaria?"
Has anyone done work with the (extremely popular) Gatsby and Linaria? I didn't see a plugin:

https://github.com/gatsbyjs/gatsby/tree/master/packages

[2018-10-02 19:52] ai opened #234 "Modifier classes"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the expected behavior?**

To have the same modifiers syntax as in [`astroturf`](https://github.com/4Catalyzer/astroturf)

[code]

Compare to `${  }` interpolation it keeps CSS syntax. CSS highlight and autocomplete works.

[2018-10-02 19:56] satya164 commented on #234
@thymikee @zamotany thoughts?

[2018-10-02 20:01] thymikee commented on #234
I think it introduces a level of indirection and complicates stuff. I'm not a fan.

[2018-10-02 20:14] ai commented on #234
@thymikee is it OK to simplify a lot of user’s code but increase complexity in a framework. Is how all features ware made?

Why you are not a fan of it?

[2018-10-02 20:27] ai commented on #234
Can you show a small example? I am thinking that I was worry about it too, but not sure that we are speaking about the same.

[2018-10-02 20:37] satya164 commented on #234
For example, say:

[code]

The `primary` prop is also going to be passed to `MyComponent` unless we filter it out. But we don't know supported props, so not possible filter it out.

Wondering something like this is a good idea:

[code]

Or maybe the user can use this package: https://npmjs.com/package/classnames

I'm not opposed to the idea, but probably need to think a bit more to avoid the edge

[2018-10-02 20:40] thymikee commented on #234
Was about to write the same, but Satya 🤖 was quicker!

[2018-10-02 20:43] satya164 commented on #233
I was thinking about it, but haven't gotten time. Maybe you can build it :D

[2018-10-02 20:50] ai commented on #234
@satya164 why we don’t know about supported props?

We have `styled` object from CSS Modules and can look into classes. `astroturf` does the same to detect what properties should be used as style modifiers. https://github.com/4Catalyzer/astroturf/blob/master/src/runtime/styled.js#L23-L25

[2018-10-02 20:58] satya164 commented on #234
@ai I'm a bit confused about this line:

[code]

Is `styles` the list of `styles` applied to the component and astroturf keeps them in the bundle?

BTW I was not talking about which props are used in the CSS. I was talking about the props that are accepted by `MyComponent` (in above case). We don't know if a prop is used only for styling or is also a regular prop. If the user uses a prop only for

[2018-10-02 21:09] ai commented on #234
@satya164

Yeap, `styles` is that object from CSS Modules `{ list: 'component_list_hb4h5h45' }`. We need it anyway when we use `styled()`.

We can have the agreement that if prop is defined by class in `styled()`, it will not be passed down. It is pretty expected behaviour. If you declare prop as a class in styles, it definitely stops to be a just regular prop.

[2018-10-02 21:10] satya164 commented on #234
Also, what do you think about `data-` attributes? This is already supported:

[code]

[2018-10-02 21:17] ai commented on #234
1. `data-` attributes will be DOM
2. It requires more symbols
3. It is also a little hacky. `data-` attributes were created for a different purpose. People will not love them, as result it will not be syntax sugar feature for linaria as it works for `astroturf`.

[2018-10-02 21:20] satya164 commented on #234
Makes sense. We'll think about it a bit more then.

Any reason you don't like following:

[code]

One extra character, but I prefer to be explicit rather than assuming which properties shouldn't be passed.

[2018-10-02 21:29] satya164 commented on #234
@ai currently linaria doesn't use `css-modules`, just normal `css-loader`, so we don't have a `styles` object. it can be implemented though. though the reason I prefer `$primary` is because it's explicit that it's for styling, and not a regular prop/attribute.

[2018-10-02 21:37] ai commented on #234
How do you scope keyframes? Or what if I don’t want to scope class (`:global()` in CSS or `injectGlobal` in SC)?

Did I understand correctly that right now you collect all styles to the single file `styles.css`? How code splitting works?

[2018-10-02 21:43] satya164 commented on #234
Currently, we use `stylis` as the parser (though planning to switch to postcss for few reasons) which handles scoped keyframes as well as `:global`.

We create separate CSS files for each JS file and add a require statement, which gets picked up by style loader. Code splitting works similar to when you import vanilla css files with `mini-css-extract-plugin`.

[2018-10-02 22:17] s-panferov opened #235 "Please allow a space between css and "`""
**Do you want to request a *feature* or report a *bug*?**
Bug, i think

**What is the current behavior?**

[code]

this chunk currently skipped by linaria because of the space between `css` and `

The problem is [this](https://github.com/callstack/linaria/blob/a5f970cc399e464ecf30b64086802ba5d3df4aa6/src/transform.js#L47) regexp.

**What is the expected behavior?**

It should be properly parsed be

[2018-10-02 22:37] s-panferov commented on #235
@satya164 thanks, that was quick!

[2018-10-09 19:31] giuseppeg commented on #225
it is possible to resolve the styles if you use a specific naming convention and process the atomic class names right to left when applying them. I do that in DSS https://survivejs.com/blog/dss-interview/ and in https://github.com/giuseppeg/style-sheet

[2018-10-09 19:41] giuseppeg opened #242 "Extract static evaluation modules to a standalone package"
Hi there friends!

For [a CSS-in-JS library of mine](https://github.com/giuseppeg/style-sheet) I am writing a Babel plugin to extract styles to static. I did some research and it seems that you are doing exactly what I thought I should do to extract those styles.

Would you consider extracting the reusable pieces of https://github.com/callstack/linaria/tree/master/src/babel and make a standalone p

[2018-10-10 10:02] silvenon commented on #233
I built it, it's was really simple thanks to how Linaria works. I'll publish it soon and post a comment here.

[2018-10-10 10:16] silvenon opened #243 "Add class composition feature"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the desired behavior?**

[code]

Is it possible/hard to make interpolating `card` result in Container receiving its styles with class composition? ([Inspired by emotion](https://emotion.sh/docs/composition).)

**Please provide your exact Babel configuration and mention your Linaria, Node, Yarn/npm version and operating s

[2018-10-10 15:31] satya164 opened #244 "`fragment` tag for composition"
## Problem

Currently it's not possible to compose styles from multiple classnames together. Previously we had a `include` helper which would take a class name and return the unprocessed CSS text. I removed it because it wasn't strightforward to implement it with the new approach and I haven't needed to use it personally. In addition, an extra class name was generated whether you used it anywhere

[2018-10-10 15:32] satya164 commented on #243
I just created an RFC - #244

Will be great if you can check it and give some feedback.

[2018-10-10 16:54] silvenon commented on #233
[gatsby-plugin-linaria](https://github.com/silvenon/gatsby-plugin-linaria)

[2018-10-10 17:09] silvenon commented on #244
Just to check, this route is impossible/unacceptable?

[code]

[2018-10-10 17:18] #233 closed

[2018-10-10 17:31] satya164 commented on #244
@silvenon we cannot do that because then the following will not be correct:

[code]

Here the desired result was to use different styles for `paragraph` when nested inside `article`, but concatenating the class names will mean that all the styles from `paragraph` will also be applied to `article`.

You can instead do following:

[code]

[2018-10-10 23:16] satya164 commented on #242
I think we would prefer to keep it in Linaria itself because it allows us to iterate faster, and we don't have a need to extract it out. Feel free to use the module from the linaria package, I think the only part specific to Linaria is the babel transform in the `module.js` file. But we could move it to a separate method which you could monkey patch or something.

[2018-10-11 07:11] giuseppeg commented on #242
hi @satya164 thanks for the reply! Yeah I totally understand and I don't want to get in your way if that'd make things more complicated. Would there be away to inject those dependencies instead of monkey patching?

Also could you give me a very brief overview of the plugin architecture? Does it go through every `Identifier` and tries to resolve it with `path.evaluate()` before trying to determine

[2018-10-11 07:38] resir014 commented on #197
Not only that, but a type declaration (`.d.ts`) also needs to be provided.

[2018-10-11 09:15] satya164 commented on #197
cc @Esemesek, our ts hero

[2018-10-11 11:02] giuseppeg commented on #242
oh awesome! @satya164 thanks so much for all the info. Have you tried to use `babel-helper-evaluate-path` instead of `path.evaluate()`? It should be a little more powerful but yea it won't work for imported stuff though.

Would you have time to do this or do you want me to put together a PR when I have some free time?

[2018-10-11 11:09] silvenon commented on #244
I thought that it would be possible to detect `.${paragraph} {` vs `${paragraph};` and act accordingly. Yes, we can concatenate classes with `cx`, but this way would be _much_ shorter, especially with `styled`. Also, unlike fragments, concatenating class names wouldn't duplicate styles.

But if that's not possible, fragment API (mixins?) sounds good! Although instead of adjusting API to text edito

[2018-10-11 13:38] satya164 commented on #242
I haven't, but maybe we can change `path.evaluate` to use that instead.

If you can send a PR, that'll be awesome. Otherwise I'll do it when I have some time.

[2018-10-12 14:46] giuseppeg commented on #242
✌️

[2018-10-12 14:46] #242 closed

[2018-10-12 15:03] silvenon opened #249 "Explicitly pass Babel configuration to evaluate or infer it better"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Currently it doesn't seem to be possible to explicitly pass custom Babel configuration to Linaria. If there's a Babel configuration file in the standard place, Linaria's evaluate automatically picks it up, but in cases where Babel configuration is somewhere else, this doesn't seem to be possible.

**

[2018-10-12 17:54] giuseppeg commented on #242
holy cow it works <3 https://github.com/giuseppeg/style-sheet/blob/master/test/babel/snapshots/index.js.md @satya164 do you do clean up the module after evaluation? Like remove referenced expressions that have been resolved or imports/dependencies (I imagine you do this at least)?

[2018-10-12 18:15] satya164 commented on #242
@giuseppeg

The evaluated modules are cached. So subsequent evaluations of the same module will use the cached result instead of re-evaluating. You can manually invalidate the cache when you need (we do it every time we evaluate a file):

[code]

We don't remove them ourselves. They should get removed during minification if not used anymore.

[2018-10-12 18:53] giuseppeg commented on #242
good point! Thanks again for the help

[2018-10-13 12:14] satya164 commented on #244
It could be possible if we parse the CSS as it's constructed. But then we also have to distinguish between class names being interpolated and plain strings being interpolated. It adds complexity which isn't worth it imo. It's also not straightforward to understand.

I think the main appeal of composition in emotion is that when you compose 2 classes, you don't have to worry about the cascade, unli

[2018-10-13 14:32] satya164 commented on #249
How about adding a `.babelrc` to the project root which just extends gatsby's babel config?

[code]

Other tools such as Jest need a `.babelrc` too, so maybe makes sense to solve it at the project level instead of adding an option specifically for linaria.

[2018-10-13 14:37] satya164 commented on #201
Closing this since now it's easy enough to depend on `linaria` and use the `evaluate.js` helper.

[2018-10-13 14:37] #201 closed

[2018-10-13 14:48] silvenon commented on #249
That's a really good point, not sure what I was thinking with this issue. 😅

[2018-10-13 14:48] #249 closed

[2018-10-13 14:49] satya164 commented on #217
I can successfully repro this. The following is enough to repro:

[code]

Strangely either of the following don't exhibit the issue:

[code]

Or

[code]

Any idea why it would happen @thymikee? I tried to fix it, but I'm not familiar with postcss yet.

[2018-10-13 16:22] johanholmerin opened #252 "Rollup plugin"
I created a [rollup plugin for linaria](https://github.com/johanholmerin/rollup-plugin-linaria). Are you interested in integrating or linking to it?

[2018-10-13 17:58] thymikee commented on #217
Not sure, I don't have a way to check it currently

[2018-10-13 18:05] johanholmerin commented on #252
PR #253 submitted

[2018-10-14 20:17] satya164 commented on #194
Should be fixed

[2018-10-14 20:17] #194 closed

[2018-10-15 06:52] bebraw opened #256 "Pattern for excluding props"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

[code]

leaks `backgroundColor` into the DOM leading to a React warning.

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

See above.

**What is the expected behavior?**

There should be a p

[2018-10-15 07:12] thymikee commented on #256
I'd rather document the behavior instead of adding a pattern/whitelist, which increase the maintenance cost. You can name the prop whatever you like and we shouldn't alter that imho, unless it's a special prop like `css`.

[2018-10-15 10:11] #182 closed

[2018-10-15 11:57] zamotany commented on #252
Merged 🎉

[2018-10-15 11:57] #252 closed

[2018-10-16 09:56] satya164 commented on #256
Also, to filter props, you could do something like:

[code]

For React warning, React does

[2018-10-16 10:07] bebraw commented on #256
I'm running React 16 and it gives warnings.

It's the same pattern as for SC then. 👍

[2018-10-19 11:04] satya164 commented on #197
@resir014 can you check #263 if it helps?

[2018-10-19 11:04] satya164 commented on #235
@s-panferov btw since you use typescript, can you try if this works for you? https://github.com/callstack/linaria/pull/263

[2018-10-19 18:48] s-panferov commented on #235
@satya164 wow, I'll try, but I believe that anything is better than nothing. Right now I use just

[code]

[2018-10-26 10:32] eatsjobs opened #268 "[Theming] Compile down to the values instead to set custom css properties"
**Do you want to request a *feature* or report a *bug*?**
A Feature

**What is the current behavior?**
Theming props fallback to custom css properties

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
N/A

**What is the expected behavior?**
Compile down to the value instead to set custom prope

[2018-10-26 16:11] satya164 commented on #268
We use CSS variables only for the values we don't know at compile time. If you're passing your theme via props, your app needs to be rendered first to get the initial value, and props can change when your app is running, so we can't use just the initial value. CSS variables are the most performant way to use these dynamic values.

If you don't want to use CSS variables, you can use the class name

[2018-10-26 16:11] #268 closed

[2018-10-31 17:30] #270 closed

[2018-10-31 17:31] satya164 commented on #197
Can this be closed? We now use Babel 7 and also ship TypeScript definitions.

[2018-11-07 10:51] eatsjobs commented on #178
Any news on this?can i publish a lib in es module format just transpiling with babel?

[2018-11-07 11:09] satya164 commented on #178
@eatsjobs need to wait for #227 for this

[2018-11-07 12:59] eatsjobs commented on #178
@satya164 thanks

[2018-11-07 14:57] egoist opened #273 "Vue support"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
There's only `styled` for React, I'm trying to work on a Vue.js version but https://github.com/callstack/linaria/blob/a1d1b5a2f621ba50d986d97b96ff32f33e9a1106/src/babel/extract.js#L99-L109 makes it impossible

**Solutions**

1. somehow change the code above to allow importing from other modules lik

[2018-11-12 11:05] eatsjobs commented on #273
Maybe you can just do something like that?
`data: {
  activeClass: css`color: green;`,
  errorClass: css`color: red;`
}
<div v-bind:class="[{ activeClass: isActive }, errorClass]"></div>
`
I don't know if that works but should be.
[https://vuejs.org/v2/guide/class-and-style.html#ad](https://vuejs.org/v2/guide/class-and-style.html#ad)

[2018-11-12 11:08] egoist commented on #273
@eatsjobs sure we can that, but I mean the `styled` component support.

[2018-11-12 11:12] eatsjobs commented on #273
Yeah I understood. but I don't think it's in the 1.0 roadmap so I don't think you can have it soon

[2018-11-12 12:33] egoist commented on #273
why though 😂 it isn't hard right? just allow the babel plugin to transform `styled` that's imported from other libs.

[2018-11-15 19:12] s-panferov opened #274 "Allow to configure babel"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Linaria uses [a .babelrc file inside a project](https://github.com/callstack/linaria/blob/c949f19d76cb5027f980c3de864dae0b6f98ea2e/src/transform.js#L67). I believe it works most of the time for small projects. The problem is that in our company babel configuration is centralized, so we don't have a

[2018-11-27 12:30] zamotany commented on #273
@egoist We are happy to accept a PR with Vue support, we are fine with both integrating Vue inside linaria itself (`linaria/vue`) or changing the mentioned code. The third option is to add `linaria/vue` file which will require and export `vue-linaria`.

[2018-12-04 16:30] vladmelnikov opened #275 "Provide typescript typings for linaria/react"
**Do you want to request a *feature* or report a *bug*?**
🐞 bug

**What is the current behavior?**
import { styled } from 'linaria/react'; throw typescript error - Could not find a declaration file for module 'linaria/react'. 'C:/Baristika-dashboard/node_modules/linaria/react.js' implicitly has an 'any' type.
  Try `npm install @types/linaria` if it exists or add a new declaration (.d.ts) file con

[2018-12-04 16:35] satya164 commented on #275
Hmm. We have types: https://github.com/callstack/linaria/blob/master/types/index.d.ts

Any idea why it's not working? @Esemesek

[2018-12-04 17:00] vladmelnikov commented on #275
seems if place file react.d.ts in root directory with current typings its gonna work

[2018-12-04 17:01] Esemesek commented on #275
Yup. Typings are there but they are not linked properly. I am working to fix this issue RN.

[2018-12-04 18:06] marsimx opened #276 "linaria/babel plugin with CRA"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Linaria uses a babel plugin (linaria/babel) to be included in babelrc

**What is the expected behavior?**
How could I use Linaria babel plugin with CRA without having to eject? Maybe something like a babel-plugin-macros?

[2018-12-04 18:30] satya164 commented on #276
It's not ideal with a macro. We need to generate CSS files and a bundler plugin is the best tool for this. We could technically do this from a Babel plugin, but CRA disables caching for macros, so perf will be bad, and there'll be many other issues without proper integration with the bundler.

[2018-12-05 16:03] vladmelnikov opened #278 "Cant resolve .linariacache"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
webpack throws error
Can't resolve 'C:my-project.linaria-cachesrcApp.linaria.css' in 'C:\my-project\src'
configuration
.babelrc
`{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react",
    "linaria/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-deco

[2018-12-06 11:57] alexfedoseev commented on #33
But it's impossible to use variables defined in js?

[2018-12-06 12:12] alexfedoseev commented on #33
Workaround (Webpack only I guess):

[code]

[2018-12-10 20:33] radoslaw-medryk opened #279 "linaria/loader issue with TypeScript"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`linaria/loader` skips files that uses `styled` or `css` only with generic type parameter (TypeScript).

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**
Create new component file, inside create st

[2018-12-10 20:35] satya164 commented on #279
Oops. Sorry, will fix asap.

[2018-12-10 20:36] radoslaw-medryk commented on #279
I can do PR to fix this. Would be a good intro into contributing to project with great potential :)

[2018-12-10 20:43] satya164 commented on #279
Will be awesome. Thank you.

[2018-12-10 20:44] radoslaw-medryk commented on #279
I see some possible solutions:
- Adapt regex to detect TypeScript generic parameters
This is more of a quick-fix than a real solution. This way of checking if file uses linaria is not perfect, and can fail in some quite common scenarios, like for example:
[code]

- Change regex to something harder to accidentally bypass, .e.g. check lines that contains `import`/`require` and `linaria`.
Still possi

[2018-12-10 21:04] satya164 commented on #279
Maybe we can just check for `styled` and `css`. They should be guaranteed to be in the file. It'll result in more false positives, but should be more reliable.

[2018-12-11 20:22] #279 closed

[2018-12-14 20:21] radoslaw-medryk opened #282 "Cannot resolve imports of e.g. .tsx files when not specifing extenion explicitly"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Bug is related to projects using non-default extensions for component files (e.g. `.ts`, `.tsx`).
That means it is likely to occur in projects using TypeScript.

Problem occures when importing a file *from inside of a file that uses linaria*, where *extension of imported file is not specified* but is l

[2018-12-14 20:22] radoslaw-medryk commented on #282
I can look into it later and try to come up with PR with fix.

[2018-12-19 21:20] radoslaw-medryk commented on #282
Seems to be fixed by https://github.com/callstack/linaria/pull/283 .

[2018-12-19 21:20] #282 closed

[2018-12-27 14:35] radoslaw-medryk commented on #256
Confirming as well, React 16.6.3 gives the warning when not recognized attributes are added to HTML elements.

I think approach used by `styled-components` works quite well, i.e. filtering and passing through only recognized props to HTML elements. `styled-components` deals with that in quite intuitive way, Handling gracefully most common case when you dont pass custom attributes to DOM.

Example

[2018-12-27 15:31] satya164 commented on #256
They had removed it in styled-components, but added it back. We can consider doing the same, though it'll add around 2kb to the bundle: https://bundlephobia.com/result?p=@emotion/is-prop-valid

cc @zamotany @thymikee

[2018-12-28 10:53] thymikee commented on #256
It's dev only so I'm not opposed

[2018-12-29 19:27] consegrado opened #284 "Linaria webpack loader can't resolve webpack alias"
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**

webpack config:
[code]

file with linaria import:
[code]

error:
[code]

[2018-12-31 09:45] zamotany commented on #284
This will be tricky to figure out, since even if we make it work with webpack, it will break in case of standalone babel compilation and CLI. That being said, I'm not sure if webpack provides a way to get all aliases resolved in a loader.

Currently the workaround is to use `babel-plugin-module-resolver`, which should work together with linaria.

[2019-01-01 15:58] silvenon commented on #274
Yep, I built [gatsby-plugin-linaria](https://github.com/silvenon/gatsby-plugin-linaria) during alpha, but the plugin doesn't work anymore because it doesn't detect Babel configuration. I would also appreciate if we could pass it to the webpack loader.

[2019-01-02 08:56] sysleaf opened #285 "How to use Linaria in create react app 2"
**Do you want to request a *feature* or report a *bug*?**
Its not a bug or feature but it would be great if it mentioned somewhere on how to use it with create react app.

what configuration need to be changed in order to make it work with create-react-app.
I tried whatever babel preset config was mentioned with craco but I was getting error like below.

[code]

Currently, I am using create-react-

[2019-01-05 10:03] steffenmllr opened #286 "Painfully slow performance during development"
I'm evaluating linaria for a upcoming project and setup a sample repo here: https://github.com/steffenmllr/linaria-ts-storybook

Long story short: If I add linaria to the project the compiling time for 2 sample components increases to a painfully slow startup time (`5s` to `14s`) which I might can live with but the rebuild time goes from instant `200ms` to `5142ms`.

So my question is: Is this a k

[2019-01-05 11:48] satya164 commented on #286
Thanks a lot for the report. I did some investigation and it's because we are (unnecessarily) transpiling modules under `/node_modules/`. I just sent a PR which excludes `/node_modules/` by default and adds a config option to customize it. https://github.com/callstack/linaria/pull/287

Please try it and let me know if it improves the perf for you. I tested it locally and the slowdown is gone.

[2019-01-05 19:30] steffenmllr commented on #286
Look much better. Saw that you missed the default `ignore` in https://github.com/callstack/linaria/pull/287/files#r245486139. When I added the node_modules regexp re-compilation is down to a couple of 100ms. The initial load time also went down to about 5-6sek.

Thank you!

[2019-01-05 19:55] #286 closed

[2019-01-06 21:56] satya164 commented on #285
Linaria requires a webpack loader, so it won't work without ejecting from CRA as CRA doesn't allow you to customize the webpack config.

[2019-01-06 21:56] #285 closed

[2019-01-06 22:37] satya164 commented on #278
I don't have a windows machine to test unfortunately :(
Do you use WSL?

[2019-01-06 22:39] satya164 commented on #256
@thymikee I think doing it only in dev might produce inconsistent results. I'm not really sure. Does `styled-components` only do it in dev?

[2019-01-07 11:23] zamotany commented on #278
@satya164 I don't WSL is used here, if you look at the paths: ` 'C:my-project.linaria-cachesrcApp.linaria.css' in 'C:\my-project\src'`, with WSL they would look much different. My bet is that the original error is
[code]

[2019-01-07 12:50] satya164 commented on #274
Usually, something like this should do:

[code]

Is there a reason not to use it in your case? Thinking whether we should document it or add an option to specify `babelrc`. (PR welcome btw)

[2019-01-07 14:32] mfarhadpur commented on #278
Having the same issue. Is it maybe the `:` in Windows paths resulting in invalid module names [here](https://github.com/callstack/linaria/blob/8ace1f310384cb6809ec654dac0c016893f83586/src/loader.js#L15)?

[2019-01-07 15:53] satya164 commented on #278
Maybe it's how Webpack handles absolute paths on Windows? From this issue, looks like we need to escape the slashes: https://github.com/webpack/webpack/issues/66

So we need to insert: `C:\\my-project\\.linaria-cache\\src\\App.linaria.css` instead of `C:\my-project\.linaria-cache\src\App.linaria.css`.

Can you try this branch and tell me if it works @mfarhadpur? https://github.com/callstack/linari

[2019-01-07 19:55] #278 closed

[2019-01-10 17:23] chrisbateman opened #292 "CLI insert-css-requires path"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
CSS require paths don't include a leading `./`, so it looks for the files in `node_modules`.

Though I'm not completely sure if I'm using the CLI in an unexpected way.

Example project files:
- src
  - component.js
  - componentStyles.js

Command:
[code]
Output dist files:
- dist
  - component.js
  - c

[2019-01-10 18:12] satya164 commented on #292
cc @zamotany

[2019-01-10 21:13] s-panferov commented on #274
This might work, but I just don't want my projects to require .babelrc at all. We have more than 100 UI projects and I prefer to manage all the configuration in one place.

[2019-01-11 11:55] zamotany commented on #292
@chrisbateman Please provide us with reproducible project, I'm having a difficulty to reproduce it.

[2019-01-11 12:02] satya164 commented on #206
@ShmouG We use Circle CI at all other projects at callstack, so we'd like to keep using it.

[2019-01-11 16:24] #292 closed

[2019-01-11 17:15] chrisbateman commented on #292
Awesome, thanks so much!

[2019-01-11 17:25] chrisbateman opened #293 "Feature Request: remove linaria import when using the Babel plugin"
**Do you want to request a *feature* or report a *bug*?**
Feature

This is not a big problem, since we can usually rely on Webpack/Rollup to remove the unused import. But this would allow reusable libraries to make Linaria a devDependency rather than a regular dependency.

**What is the current behavior?**
Example output JS:
[code]

**What is the expected behavior?**
[code]

[2019-01-11 17:40] satya164 commented on #293
Makes sense. Though if you use any other utilities from `linaria` (`cx` and `styled`), they are actually needed in runtime, so we can only remove the import if you only use `css`. Maybe it'll be better to use something like `babel-plugin-rewrite-require` when publishing the library where you rewrite them to some empty local file.

[2019-01-11 17:43] chrisbateman commented on #293
Yeah, good point. I'm good with whatever y'all want to do!

[2019-01-11 18:42] s-panferov commented on #274
Every project has a `webpack.config.js` file, which contains a require from our build system package:

[code]

This `configBuilder` returns a complete set of Webpack configuration: loaders, plugins, settings. Babel is configured as a part of `babel-loader`, which supports passing babel settings directly. There is no place in the system where I need a .babelrc file, because all the projects share t

[2019-01-11 19:13] chrisbateman commented on #204
Just FYI, I've confirmed this is fixed in the latest beta releases 🎉

[2019-01-11 19:15] #204 closed

[2019-01-14 18:39] #142 closed

[2019-01-14 18:40] satya164 commented on #274
@s-panferov I'm open to add a `babelOptions` option and PR welcome.

[2019-01-15 20:33] franklinjavier opened #296 "React.forwardRef is not a function"
I'm trying to setup linaria with preact but got `React.forwardRef is not a function`

[code]

---

### App.js
[code]

---

![image](https://user-images.githubusercontent.com/440220/51208328-7aa17800-18f4-11e9-8de5-454d1463251f.png)

[2019-01-16 12:17] zamotany opened #299 "Add scope option for libraries"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

**What is the expected behavior?**

**Please provide your exact Babel configuration and mention your Linaria, Node, Yarn/npm version and ope

[2019-01-16 12:20] zamotany commented on #193
This should already work, if anyone have problem, please open separate issue.

[2019-01-16 12:20] #193 closed

[2019-01-16 12:40] zamotany commented on #276
Generally, we do not support CRA without ejecting.

[2019-01-16 12:40] #276 closed

[2019-01-16 12:48] zamotany commented on #208
I'm going to close this one in favour of #299

[2019-01-16 12:48] #208 closed

[2019-01-16 12:51] zamotany commented on #197
For TS support: you need to use babel 7 with typescript preset.

[2019-01-16 12:51] #197 closed

[2019-01-16 12:58] #284 closed

[2019-01-16 21:00] egorovli opened #301 "using both `css` and `styled` throws error"
**Do you want to request a *feature* or report a *bug*?**

A bug.

**What is the current behavior?**

When used separately, both `css` and `styled` APIs work. When used in the same file, it throws

[code]

The code is something like this:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.

[2019-01-16 21:08] satya164 commented on #301
thanks! i'll check it asap

[2019-01-16 21:32] #301 closed

[2019-01-16 23:38] #256 closed

[2019-01-16 23:38] #296 closed

[2019-01-17 00:43] franklinjavier commented on #296
Awesome! Thanks guys

[2019-02-05 15:57] lauritzsh commented on #33
@alexfedoseev I am trying your workaround but am not having luck with it. It does not seem to add any global styling. I have a separate `globals.css` file but like you, I want to use variables I have defined. Where did you add your snippet and did you have to configure webpack somehow for it to work?

[2019-02-08 17:42] satya164 commented on #33
You can also do this if you want to use variables and/or pass props:

[code]

[2019-02-08 22:38] #214 closed

[2019-02-09 21:56] otbe opened #307 "Usage side by side with css modules"
**Do you want to request a *feature* or report a *bug*?**
Maybe bug, maybe misconfiguration

**What is the current behavior?**
I tried to add linaria to an existing codebase which uses `css-loader` and `modules: true`.
My test component is something like that:
[code]
and `<Svg color="currentColor" size="2rem"/>` gets rendered to
[code]
This seems to be fine, but the extracted css doesnt contain a

[2019-02-09 22:00] satya164 commented on #307
The CSS files generated by Linaria have `.linaria.css` extension, so you can exclude those from CSS modules and use `css-loader` without modules to process them.

[2019-02-09 22:07] otbe commented on #307
Smart! Thanks, got it working 👍
Very nice lib by the way!

[2019-02-09 22:07] #307 closed

[2019-02-10 18:55] cellog opened #308 "add babel macro for zero-config projects like create-react-app"
**Do you want to request a *feature* or report a *bug*?**

I would like to request that `import css from 'linaria/macro'` return a babel macro, which can be used in zero-config projects like create-react-app without needing to change the babel configuration.

**What is the current behavior?**
requires react-app-rewired, rescripts, or other complex side thingy

**Feature requested**
As outlined her

[2019-02-10 19:38] satya164 commented on #308
We would very much like to support CRA, but it's not possible to provide a good enough DX without integrating with the bundler:

- babel-loader's cache is persisted to disk, which means if you Linaria's cache somehow got deleted/got out of sync with JS, we have no way to ensure those files are re-generated and updated, even if you restart webpack
- Without bundler integration, we cannot re-evaluat

[2019-02-10 19:38] #308 closed

[2019-02-14 07:57] otbe commented on #244
Thats really the last missing piece to switch to linaria. I have 2 projects in my mind. In one project we use css modules (with compose) and in the other project we use styled-components. And we do things like:
[code]
If I get you correct, this should be possible with `fragment.css`?
Would love to see somthing like this :)

[2019-02-15 19:13] tenjojeremy opened #314 "so confused with the error "[TypeError: _this.setMessage is not a function]"
so confused with the error "[TypeError: error.setMessage is not a function]
![annotation 2019-02-15 111314](https://user-images.githubusercontent.com/25231946/52878940-bf4a4a00-3112-11e9-9e42-dcd6c435a19f.jpg)

[2019-02-15 19:16] satya164 commented on #314
can you post your code?

[2019-02-15 19:17] tenjojeremy commented on #314
Fixed. I forgot to add `css-hot-loader` module

Thanks for the quick response and great job on the project!

[2019-02-15 19:18] #314 closed

[2019-02-15 22:14] jquense commented on #222
Hey if ya'll are still interested in this, i'd be happy to extract out the underlying webpack plugin into a separate package 👍

[2019-02-16 07:25] ferdaber commented on #244
What if another function is exported from the library that where you can call it that allows you to detect that the intent is to compose?
[code]

[2019-02-16 20:45] satya164 commented on #244
@ferdaber We did exactly the same previously. but it's not very useful because it's not possible to use interpolations etc. and it just becomes a fancier string interpolation. It's also not straightforward to implement.

[2019-02-16 20:58] ferdaber commented on #244
I think the issue with `fragment` is that it may not be obvious to a user importing it that it's a fragment without looking at the source code. I know with my team we have a lot of "mixins" but some are actually fragments but some are nearly-full styles of components that need to be composed, and it might be a bit of mental overhead to consider when to actually do `className={css(myFragment)}` vs

[2019-02-16 21:19] satya164 commented on #244
Because we can't support dynamic interpolations in the `css` tag, and will throw a syntax error if you try to use it. This alone makes the use case very limited. We could make it so that only `css` tag can be composed inside another `css` tag and only `styled` tag can be composed inside another `styled` tag, but it'll be better to have a solution which is interoperable.

It's a valid argument, but

[2019-02-16 22:19] ferdaber commented on #244
Ah gotcha, I thought you were talking about *any* interpolation in general, because I think that `css` still supports partial evaluation of variables, right? `css'${colors.white}'`

With `css(myFragment)` I was referring to your proposal, wouldn't they be equivalent?
[code]

[2019-02-17 02:58] satya164 commented on #222
@jquense That'll be great! It'll also be useful for other use cases I imagine.

[2019-02-22 14:45] Hotell commented on #285
what about providing babel macro to prevent ejecting ?

[2019-02-22 14:49] satya164 commented on #285
A babel macro will provide very bad UX. See my comments [here](https://github.com/callstack/linaria/issues/308#issuecomment-462164541).

Maybe it'll be nice if someone publishes `react-scripts-linaria` which we can link to in our docs.

[2019-02-22 15:08] Hotell commented on #285
thanks for the link to former issue!

Yeah that makes

[2019-02-22 18:34] orpheus opened #318 "basic syntax with react not working"
Using react and nextjs. The div element gets the className: `ci74fup` but no styles are applied. What am I missing?
Am I limited to using only the react-helpers?
[code]

**.babelrc**
`{
  "presets": ["next/babel",   "linaria/babel"]
}`

![linaria-issue-1](https://user-images.githubusercontent.com/18369749/53263160-6d16a500-368d-11e9-95c1-a1bd2a191502.png)

[2019-02-22 18:39] satya164 commented on #318
Have your added css-loader to your webpack config?

[2019-02-22 19:24] orpheus commented on #318
@satya164 Didn't think to since it's hidden with next.js. Extending webpack..

Following the `next.js` rules on how to [extend webpack config](https://nextjs.org/docs/#customizing-webpack-config) I did this:
[code]

this is the compile error I get:
[code]

[2019-02-22 19:33] orpheus commented on #318
I'm not placing `linaria/loader` in the right spot. Lemme fix this and try again.
"Make sure that linaria/loader is included after babel-loader."

[2019-02-22 19:40] orpheus commented on #318
@satya164 Adding it correctly did the trick. Feels a little hacky but that's next.js for you I guess. Here's the confg setup:

**next.config.js**
[code]

[2019-02-22 19:40] #318 closed

[2019-02-23 09:30] OrcaXS commented on #318
Following your way, I find it working only in dev but not in the production build.

[2019-02-24 15:15] Dozalex opened #319 "linaria/loader don't work with ProvidePlugin"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
`linaria/loader` don't work if it used in webpack alias - no css bundle.

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

webpack.config
[code]

In components using `styled` and `css` without

[2019-02-25 07:14] swa1ps opened #321 "Jest coverage don't work with component interpolation"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When I run test without coverage, then all is ok, but with coverage flag I have this error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce and a minimal repository on GitHub that we can `yarn install` and `yarn test`.**

[code]

**What is the expected behavior?**

Bu

[2019-02-25 08:45] satya164 commented on #321
Thanks for reporting. We'll take a look

[2019-02-25 12:55] Dozalex commented on #319
@satya164 maybe need more info? It looks like #284 but with linaria alias

[2019-02-25 13:40] zamotany commented on #319
Hey @Dozalex, thanks for reaching us.
The use case of yours is not actually a bug, it's a feature. When linaria is running babel to extract CSS, it checks if there's any import for `styled` or `css`. In that case there isn't - the JS that linaria has, doesn't have any import for `styled`/`css`. We can add option to disable a check, but then if some dependency is _provided_ with `ProvidePlugin` and

[2019-02-25 17:15] #274 closed

[2019-02-27 10:05] #321 closed

[2019-02-28 09:56] kryops commented on #57
Just adding the following to my webpack configuration file seems to have done the trick for me:

[code]

[2019-03-02 18:33] SchlagerKhan opened #330 "Problem with babel-plugin-module-resolver ("[linaria] failed to add dependency")"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

File structure:
- src
  - styles
    - colors.js
    - index.js
  - index.js

Using linaria together with babel-plugin-module-resolver (check module-resolver settings below), running the following code:

[code]

throws the following message:
`[linaria] failed to add dependency for: styles/colors`

alo

[2019-03-02 20:32] satya164 commented on #330
When we fail to add a dependency, the issue you'll have is that if you edit `colors.js`, it won't rebuild the css if you didn't edit the file with the CSS.

The warning is because we collect the list of dependencies before we transpile the code: https://github.com/callstack/linaria/blob/master/src/babel/evaluate.js#L111, so we don't have the rewritten paths from the babel plugin yet. We should fix

[2019-03-03 09:21] SchlagerKhan commented on #330
Thanks for your quick response!

I'll filter out the warnings for now.

A few follow-up questions just to get a timeline perspective:
- Is this a difficult fix?
- Is there a new roadmap for coming linaria releases?
- Is there anything I can do?

[2019-03-04 10:35] SchlagerKhan opened #331 "Defualt props on styled element (.attrs)"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Using the `styled` variable there is no way to set default props/attributes on the elements. In `styled-components` there is a way using the `.attrs` property such as

[code]

Have I missed some documentation of this (or a similar) feature or is this not (yet?) supported by linaria? Or is there ano

[2019-03-04 10:41] satya164 commented on #330
Not difficult, just needs to be done. I'll do it when I have some time this week.

[2019-03-04 10:42] satya164 commented on #331
They are normal React components. So you'd just use default props like you'd on React components.

[code]

[2019-03-04 10:42] #331 closed

[2019-03-04 10:50] SchlagerKhan commented on #331
So you don't agree that the code sometimes can get more concise if you would expose an `.attrs` property on the styled elements?

[2019-03-04 10:53] SchlagerKhan commented on #330
Fantastic! Great library by the way with a lot of potential. Keep up the good work!

[2019-03-04 10:54] satya164 commented on #331
It may be sometimes more concise, but we don't want to reinvent APIs already provided by React. You're already using React, so no reason to hide it by abstracting over a React API.

[2019-03-04 12:02] SchlagerKhan opened #332 "Array<Object> interpolation - polished normalize fails"
**Do you want to request a *feature* or report a *bug*?**
feature/bug

**What is the current behavior?**
The `normalize` function from `polished` returns an array of styles which makes the following break:

[code]

It's unclear why polished returns an array and it could of course be solved by doing:

`${normalize()[0]}`

 But it's not vert stylish and, without knowing anything about your implement

[2019-03-04 12:05] satya164 commented on #332
Yeah we can handle it. Wanna send a PR?

[2019-03-05 08:40] buzinas commented on #57
Not sure why this issue is closed, since it was not fixed and there is still no easy way to disable this annoying auto-prefixing provided by linaria by default. I shouldn't have to use change the pre-processor to achieve that, imo.

[2019-03-05 09:43] satya164 commented on #57
@buzinas you should be able to do this in your webpack config:

[code]

[2019-03-05 10:42] buzinas commented on #57
Yep, that's what I did… Thanks, @satya164!

[2019-03-05 11:02] Hotell opened #333 "linaria/babel throws error on nested object interpolations within css"
**Bug:**

**What is the current behavior?**

When nested objects, which have been created by some helper function, are used within `css` interpolation, pure babel compilation will throw error. webpack plugin works though!

**Command:**
[code]

[code]

**Error:**
[code]

**What is the expected behavior?**

babel loader should work the same way as rollup/webpack plugin 👀 ( otherwise issues may/will

[2019-03-05 15:18] Hotell opened #334 "linaria doesn't work within monorepo"
**bug**

**What is the current behavior?**

errors are thrown when:

- `linaria/loader` is used within webpack.config per package (doesn't work with `rootMode: 'upward'` within babel-loader options)
- `linaria` CLI is used from monorepo root (there is no way how to pass `--root-mode upward`)

Error (it wont apply previous babel presets/plugins at all):

[code]

**If the current behavior is a bug,

[2019-03-05 15:22] satya164 commented on #334
Linaria loader also accepts a `babelOptions` property. Have you tried it?

[2019-03-05 15:29] Hotell commented on #334
Oh my, oh my..... I've spent half day with this.... you're a life saver @satya164

Speaking of which, I'll submit PR with some docs improvements if you won't mind.

Cheers !

[2019-03-05 15:31] Hotell commented on #334
For anyone else looking at this issue, here is the fix:

[code]

[2019-03-05 15:32] Hotell commented on #334
What about the CLI though ?

[2019-03-05 16:39] Hotell commented on #334
CLI works only when executed from the root (which is not what you want usually when working in monorepo):

I've defined `linaria.config.js`

[code]

**Works:**

[code]

![image](https://user-images.githubusercontent.com/1223799/53820249-a7285680-3f6b-11e9-8083-86cacc6154df.png)

**Doesn't Work:**

- I've also tried to provide `linaria.config.js` per package directory, but the outcome is the same

[2019-03-05 16:49] satya164 commented on #334
Is the config file in the same directory where the CLI is being executed? Maybe we need a `--config` option to pass path to config file?

[2019-03-05 17:04] Hotell commented on #334
yes

sounds good !

[2019-03-05 17:10] satya164 commented on #334
PR welcome to add a `--config` option

[2019-03-06 09:32] Hotell opened #335 "linaria/stylelint-config silently fails and thus doesn't work"
**bug**

**What is the current behavior?**

apparently stylelint-config preprocessor traverses all module dependencies(imports) and on error silently fails, which results in false outcomes -> no styling errors

![image](https://user-images.githubusercontent.com/1223799/53869940-7f7fcf80-3ff9-11e9-804f-f8d3b15b9e0a.png)

here is the culprit of muting processing errors
https://github.com/callstack/l

[2019-03-06 11:37] satya164 commented on #335
Can you clarify what it means? I know the output files are written to memory fs for dev server, but why would the input modules be in memory fs?

Yea we'll do this

The styled components preprocessor is very limited (e.g. it can't know the type of certain interpolations and you have to add comments to tell it). Linaria's preprocessor evaluates the modules and is able to provide better linting as a

[2019-03-06 11:52] #334 closed

[2019-03-06 12:13] #332 closed

[2019-03-06 12:39] Hotell commented on #335
I've created image, as I think it describes the issue better.

![image](https://user-images.githubusercontent.com/1223799/53881913-2d4ca780-4015-11e9-889d-502018fff27d.png)

[2019-03-06 12:40] Hotell commented on #334
folks! you rock ! ❤️🍻

[2019-03-06 12:57] satya164 commented on #335
Hmm we only lint the source files, don't care about generated files (like in dist)

[2019-03-06 13:05] Hotell commented on #335
I know you are (which makes sense ofc), but if those generated are not present ,lint throws error (babel parse error).

[2019-03-06 13:10] satya164 commented on #335
that shouldn't happen and I'm not sure why it happens. will be great if you can create a repro and I'll investigate it

[2019-03-06 14:04] #330 closed

[2019-03-06 17:58] satya164 commented on #335
the errors should no longer be ignored #339

[2019-03-06 18:03] satya164 commented on #335
I'm wondering if the `main` field in `package.json` in your folders point to `dist`. That might explain the error.

Also, are you using webpack aliases? That won't work with the stylelint processor because it doesn't know about webpack. Using https://github.com/tleunen/babel-plugin-module-resolver will work for both. However I'm not sure why having `dist` will make it work.

[2019-03-06 18:16] satya164 commented on #333
Can you share the demo with me?

[2019-03-06 19:00] Hotell commented on #335
Ofc they are. I thought it's obvious LOL.

Yes, aliases are used for monorepo packages so they don't have to be present physically rather then build all together in memory.

I know that stylelint processor doesn't know about anything webpack specific. Why should it anyways. That's what I was trying to explain. Styled-components-stylelint works without any further Babel configs, linaria is not.

😀

[2019-03-06 19:20] satya164 commented on #335
It's not obvious because webpack build is working without them. Also Linaria is able to evaluate these files inside webpack, so they must be on fs. (We use webpack's resolution, but still if the files aren't there, it wouldn't work). The stylelint processor uses the same code as the webpack loader (only the resolution is different in webpack).

How are the `dist/` files written to memory fs? Or do

[2019-03-07 09:59] Hotell commented on #333
https://codesandbox.io/s/rr6z3pop7p

check Readme pls

[2019-03-07 12:29] satya164 commented on #333
Thanks!

[2019-03-08 09:13] SchlagerKhan commented on #332
Beat me to it

[2019-03-08 09:34] SchlagerKhan commented on #331
Fair enough - I agree with the philosophy in general. Better to do one think right than a lot in less quality. But I don't think this is reinventing the API more than adding a useful component wrapper helper.

You are probably more familiar with styled-components than I am and I'm not saying that they are doing everything right. But I would argue that one general purpose for this css-in-js approac

[2019-03-09 16:14] IanVS opened #347 "Avoid breaking eslint rule react/no-unknown-property"
Because the prop name of `class` that linaria chose, I found that eslint was automatically changing it into `className` when I saved the file, and realized it was because of [`react/no-unknown-property`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unknown-property.md).

Have you considered using a prop named `css` instead?  This is what emotion uses, and from what I

[2019-03-09 16:34] IanVS opened #348 "How to configure typescript"
## Ask your Question

I'm trying to set up linaria (v1.3.1) in a gatsby typescript project, and I'm hitting a few issues.  What I'm asking about in this particular issue is that I'm getting errors in VS Code (and when running `tsc --noEmit` to check types on the command line).  For example, I get:

[code]

I tried to configure my `tsconfig.json` with `"types": ["node", "linaria"],`, but that didn'

[2019-03-09 16:35] satya164 commented on #347
The `css` tag returns a class name, how you pass it to your component is up to you. Linaria doesn't require you to use `class`. You can use either `class` or `className` for React. `className` is preferred, but both are perfectly valid prop names.

Regarding gastby, have you tried https://github.com/silvenon/gatsby-plugin-linaria ?

[2019-03-09 16:36] satya164 commented on #348
I believe the typescript types use `className` and not `class`. Use `className` and it'll be fine.

[2019-03-09 16:38] IanVS commented on #347
Oh that makes perfect sense.  I didn't realize the example in `https://github.com/callstack/linaria#syntax` was just html, and not jsx.  I'm so used to looking at react-based projects!  😆

Regarding the gatsby plugin, that's what I'm using, but unfortunately have not yet gotten to generate an actual css file yet.  Still trying to figure out what's going on there…

Anyways, thanks for the help!

[2019-03-09 16:38] #347 closed

[2019-03-09 16:39] IanVS commented on #348
Yep, thanks!  This stemmed from my misunderstanding in https://github.com/callstack/linaria/issues/347.

[2019-03-09 16:39] #348 closed

[2019-03-09 16:41] satya164 commented on #347
Maybe @silvenon can help since he wrote the plugin

[2019-03-09 16:56] IanVS commented on #347
Thanks. I opened https://github.com/silvenon/gatsby-plugin-linaria/issues/9 in that project.  I'm really excited to get this working. I've always thought it would be great to ship real CSS files and use custom properties.  Seems a particularly good fit for Gatsby.

[2019-03-10 21:43] vladshcherbin opened #349 "Rollup: Unused classes are not removed from css file when using rollup and unused imported styles"
## Environment

linaria - 1.3.1
rollup - 1.6.0
rollup-plugin-css-only - 1.0.0

## Description

When using rollup and importing styles from a separate file, unused classes from unused exports are not removed from css file, only from js one.

## Reproducible Demo

Repo - https://github.com/vladshcherbin/experiments/tree/master/linaria-rollup-imports

Run: `yarn build`

I've also added pre-built file

[2019-03-10 21:53] vladshcherbin opened #350 "Rollup: Unused css import is not removed by rollup, produces error"
## Environment

linaria - 1.3.1
rollup - 1.6.0
rollup-plugin-css-only - 1.0.0

## Description

Rollup doesn't remove unused `css` import and produces an error in bundle instead.

## Reproducible Demo

Repo - https://github.com/vladshcherbin/experiments/tree/master/linaria-rollup-non-used-error

Run: `yarn build`

I've also added pre-built files.

[2019-03-10 22:17] vladshcherbin opened #351 "Rollup: doesn't remove linaria from bundle without using plugins, which produces browser error"
## Environment

linaria - 1.3.1
rollup - 1.6.0
rollup-plugin-css-only - 1.0.0

## Description

When using only `css` function with rollup, `linaria` is not removed from bundle and is set as a global variable. If you run it, browser will give you an error.

To solve this, currently you need to use `rollup-plugin-node-resolve` and `rollup-plugin-commonjs`. If linaria will be correctly removed from b

[2019-03-13 19:52] satya164 commented on #331
Yeah, the `attrs` prop is useful if you want to derive props from props. However, implementing it also means extra work.

For a small amount of usage, usually, an HOCs is fine, or we can move the computation to an external function.

Do you need this functionality often?

[2019-03-13 21:49] SchlagerKhan commented on #331
Yeah, no surprise that this requires extra work and also may become a problem by adding extra complexity to the transpiler(?). However, personally I think this is quite an essential feature that might be a deal breaker for me. Despite the other amazing features of Linaria, clean and concise code is prio 1 for me.

If I use it often or not I think is quite irrelevant because I don't want to trade y

[2019-03-15 10:36] ilyalesik opened #355 "Modifiers"
## Describe the feature

Describe styled component with `.withModifiers`:
[code]

#### Using
Apply modifier:
[code]
Apply multiple modifiers:
[code]
Referring (if it possible):

[code]
#### Output code
[code]

## Motivation
Good type inference at static type checkers (TS, Flow). Non declared specifier will throw typing error:
[code]

## Related Issues

[2019-03-18 08:55] greenkeeper[bot] opened #356 "An in-range update of strip-ansi is breaking the build 🚨"
## The dependency [strip-ansi](https://github.com/chalk/strip-ansi) was updated from `5.1.0` to `5.2.0`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fstrip-ansi-5.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

strip-ansi is a direct dependency of this project

[2019-03-18 15:09] greenkeeper[bot] opened #357 "An in-range update of all-contributors-cli is breaking the build 🚨"
## The devDependency [all-contributors-cli](https://github.com/all-contributors/all-contributors-cli) was updated from `6.1.3` to `6.2.0`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fall-contributors-cli-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

all-c

[2019-03-18 19:42] greenkeeper[bot] opened #358 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.2` to `5.15.3`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Feslint-5.15.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might

[2019-03-19 10:08] Hotell opened #359 "linaria/loader: cacheDirectory is ingored when webpack aliases are used within monorepo"
## Environment

[code]

## Description

I have following config/project structure:

**webpack loader config:**

[code]

**webpack aliases:**

[code]

**project tree ( simplified ):**

[code]

**The issue:**

Loader outputs file within `app/components/src/button/button.style.linaria.css` (basically mirrors the file structure from `components` package),  which is not what one would expect ( also you

[2019-03-20 03:57] greenkeeper[bot] opened #361 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.3.4` to `7.4.0`.
- The `dependency` [@babel/generator](https://www.npmjs.com/package/@babel/generator) was updated from `7.3.4` to `7.4.0`.
- The `dependency` [@babel/plugin-transform-modules-commonjs](https://www.npmjs.com/package/@babel/plugi

[2019-03-20 15:47] hemmxwxsoo opened #362 "Is it possible to refer to a parent component?"
It's possible to refer to a child component, but neither a parent component nor a parent component's class. It seems to cause an infinite loop. I got an error `An error occurred when evaluating the expression: Maximum call stack size exceeded. Make sure you are not using a browser or Node specific API.`

Is it expected behavior? Is there any other way to achieve it?

[code]

[code]
[code]

### Exa

[2019-03-22 02:37] achmadk commented on #361
I have updated `core-js` to version 3 after update babel packages to recent version. After upgrade then running my web app, I got following error:

[code]

[2019-03-22 14:03] Glazy opened #364 "Rollup: Using the "styled" tag in runtime is not supported"
## Environment

`rollup`: `^1.2.2`
`linaria`: `^1.3.1`

## Description

Project is TypeScript + Linaria transpiled via Babel using `@babel/preset-typescript`. The module bundler I am using is `rollup`. Despite having included the `linaria/babel` preset in my `babel.config.js` file I am still seeing an error in the console: `Error: Using the "styled" tag in runtime is not supported. Make sure you h

[2019-03-22 14:21] satya164 commented on #364
Can you post your code? How are you importing `styled` tag? If you don't use ES modules to import it, our babel plugin won't understand it. We can add an option to disable this check however if it's important for you.

[2019-03-22 14:27] Glazy commented on #364
Thanks for the quick response @satya164!

I have updated my original issue with an example component to illustrate my usage :+1:

[2019-03-22 14:30] satya164 commented on #364
I don't have much experience with rollup, so not sure about plugin ordering. Linaria needs to run before babel, have you tried adding the linaria plugin before babel?

[2019-03-22 14:33] Glazy commented on #364
Yeah, I originally had them the other way round and have just tried it again without success.

[code]

[2019-03-22 14:36] satya164 commented on #364
I'm tagging @johanholmerin who implemented the rollup plugin. Maybe he will be able to help you.

Sorry, I'm not very familiar with rollup.

[2019-03-22 14:40] Glazy commented on #364
No problem, thanks for your help so far 👊

Whenever I get this resolved, if I think there is space for improvement, I will make a PR to the rollup section of the documentation :+1:

[2019-03-22 15:04] OrcaXS commented on #361
Same here, I have to set
[code]
as a workaround.

[2019-03-22 16:35] greenkeeper[bot] opened #365 "An in-range update of dtslint is breaking the build 🚨"
## The devDependency [dtslint](https://github.com/Microsoft/dtslint) was updated from `0.5.5` to `0.5.6`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fdtslint-0.5.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

dtslint is a devDependency of this project. It **mi

[2019-03-23 20:58] kryops commented on #361
Here's a workaround to use `core-js@3` in a yarn+webpack project:

1. In your `package.json`, leave the `core-js` dependency at version 2, but add an alias dependency for version 3:
[code]

2. In your webpack configuration, add the corresponding alias:
[code]

3. In your Babel configuration, set `corejs: 3` in the options for `@babel/preset-env`

This way, your webpack build will use `core-js` 3,

[2019-03-24 01:27] oliviertassinari commented on #178
@satya164 We will release a stable version of Material-UI v4 in the next few weeks. I want to prepare for v5. We have recently made a developer survey. Aside from people asking for more components and better documentation (something we can fix between v4 and v5), a lot of people are asking for a better customization story, faster components, and a smaller bundle size.
We will probably drop IE 11 i

[2019-03-24 18:22] greenkeeper[bot] opened #367 "An in-range update of cosmiconfig is breaking the build 🚨"
## The dependency [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) was updated from `5.1.0` to `5.2.0`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fcosmiconfig-5.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cosmiconfig is a direct dependency of

[2019-03-26 11:15] satya164 commented on #178
@oliviertassinari that sounds great. I think it'll be good to prioritize a workflow for publishing in the next few months. I'm currently a bit busy due to conf, but I'll get back to it this soon.

[2019-03-28 14:25] ivancuric opened #368 "url() params break when wrapping in strings."
## Environment

`"linaria": "^1.3.1",`
`"webpack": "^4.29.6",`

## Description

Using `src: url('../../../assets/Roboto-Medium.ttf');` causes the following error:
[code]

Removing the quotes, eg using `src: url(../../../assets/Roboto-Medium.ttf);` fixes the issue.

## Reproducible Demo
The whole snippet:
[code]

[2019-03-28 14:42] satya164 commented on #368
It's intentional. We process the URL inside the `url(...)` expression, but leave it alone if you wrapped it in quotes to give you an escape hatch when you don't want linaria to touch it. We should document it though.

[2019-03-28 15:42] ivancuric commented on #368
So what would be the best way to approach this issue?
Also, why can't the URL be resolved?

[2019-03-28 15:57] satya164 commented on #368
It's just undocumented behavior that we don't transform the quoted string. There's nothing preventing us from doing it, but I left it that way to provide an escape hatch in case you don't want linaria to resolve it.

But maybe we should resolve it regardless because css-loader will try to resolve it anyway even if linaria doesn't. We just need to change the regex here https://github.com/callstack/

[2019-03-29 15:02] ivancuric commented on #368
All I know is that either webpack or the browser is complaining when resolving the `url()`.

Might be an issue with the `css-loader` or `mini-css-extract-plugin`. :\

[2019-03-29 15:06] satya164 commented on #368
Even if you remove the quotes?
Sorry I'm not understanding.

[2019-03-29 15:08] ivancuric commented on #368
It works without quotes. However, I'd like to have it work _with_ quotes, or even by using the `import` syntax for the `url-loader` and then interpolating it in css, like `background-image: url(`${image}`);

[2019-03-29 15:16] satya164 commented on #368
@ivancuric so the string in the `image` variable has quotes in it? we can handle quotes in linaria, no big deal.

[2019-03-29 15:23] ivancuric commented on #368
Here's the thing:
My folder structure is the following:
[code]

Using either of these doesn't work:
[code]
It produces the error:
[code]

What does work:
[code]

[2019-03-29 15:38] satya164 commented on #368
Thanks! The second one was supposed to work, but seems it's broken. Will fix it.

[2019-03-29 15:48] ivancuric commented on #368
Also, using `src: url("../../../assets/Roboto-Medium.ttf");` in scss files works fine.
So does importing `import font from '../../../assets/Roboto-Medium.ttf';` in JS.

[2019-04-01 00:37] hemmxwxsoo opened #370 "Typescript error when I refer to a component as selector"
## Environment
- typescript 3.3.3
- linaria 1.3.1

## Description

I got a type error like below when I try to refer to a component.
[code]

## Reproducible Demo

[code]

I think that it has to be fixed on `linaria/react.d.ts`.

from

[code]

to

[code]

[2019-04-01 11:07] satya164 commented on #370
You're right! It'll be awesome if you can send a PR for that

[2019-04-02 02:12] guochun opened #373 "How to use linaria and config vue.config.js file in @vue/cli 3.0"
we tream wants to  use linaria in vue framework. needs config linaria/loader into   vue.config.js . But i don't konw How to config

[2019-04-02 02:20] satya164 commented on #373
Unfortunately, I have never used vue, so I don't have much idea. But let us know if there's something we can do to make it easier.

[2019-04-03 01:05] guochun commented on #373
thanks for helping . i have been find method  for Vue.

[2019-04-03 03:37] tomchentw commented on #112
I would be interested in writing a codemod from css-modules to `linaria@1.3.1`

[2019-04-03 12:16] greenkeeper[bot] opened #376 "An in-range update of codecov is breaking the build 🚨"
## The devDependency [codecov](https://github.com/codecov/codecov-node) was updated from `3.2.0` to `3.3.0`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fcodecov-3.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

codecov is a devDependency of this project. It *

[2019-04-03 18:21] greenkeeper[bot] opened #378 "An in-range update of @types/react is breaking the build 🚨"
## The devDependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.8.10` to `16.8.11`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2F%40types%2Freact-16.8.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/react is a

[2019-04-04 06:15] greenkeeper[bot] opened #379 "An in-range update of rollup-pluginutils is breaking the build 🚨"
## The dependency [rollup-pluginutils](https://github.com/rollup/rollup-pluginutils) was updated from `2.5.0` to `2.6.0`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Frollup-pluginutils-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup-pluginutils is a

[2019-04-04 15:56] ivarshavets opened #380 "Webpack resolve"
## Environment

"@babel/core": "7.4.0",
"@babel/plugin-proposal-class-properties": "7.4.0",
"@babel/plugin-proposal-export-default-from": "7.2.0",
"@babel/plugin-proposal-export-namespace-from": "7.2.0",
"@babel/plugin-proposal-object-rest-spread": "7.4.0",
"@babel/plugin-syntax-class-properties": "7.2.0",
"@babel/plugin-syntax-export-default-from": "7.2.0",
"@babel/plugin-syntax-export-namespace-

[2019-04-07 12:57] drownbes commented on #285
@sysleaf Check this: https://github.com/drownbes/linaria-cra . I've set up cra with linaria using [craco](https://github.com/sharegate/craco)

[2019-04-07 12:59] drownbes commented on #103
@jukben Check this: https://github.com/drownbes/linaria-cra

[2019-04-08 11:05] domeknn commented on #380
@ivarshavets you have to use `babel-plugin-module-resolver`

[2019-04-08 11:22] ivarshavets commented on #380
@domeknn Thanks

[2019-04-08 11:22] #380 closed

[2019-04-08 14:02] SpawnAtis opened #383 "Composing dynamic styles"
Is linaria suports "Composing dynamic styles" ?
[code]
This is a  [demo](https://codesandbox.io/s/wwjx404y17). It crashes with an error:

[2019-04-08 14:53] #383 closed

[2019-04-09 16:21] greenkeeper[bot] opened #384 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/release-it/release-it) was updated from `10.4.0` to `10.4.1`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Frelease-it-10.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependency of this

[2019-04-17 07:19] Hotell opened #390 "linaria/babel doesn't work within tests in monorepo"
## Environment

- macOs
- linaria 1.3.1
- "@babel/core": "7.3.4"

## Description

if I wanna use static variables from package  A within package B css declaration via linaria, tests are failing.

## Reproducible Demo

- using jest for running tests, with custom module mapper ( that resolves monorepo packages )

[code]

babel.config.js:
[code]

some-component.styles.ts:
[code]

some-component.tsx
[

[2019-04-18 09:43] lithiumfallen opened #391 "url() processing on Windows not working"
## Environment

`Windows 10`
`linaria@1.3.1`
`webpack@4.26.0`

## Description

If I use `url()` like that `background: url(./image/logo.svg)` after compile in `.linaria-cache` I have something like that `.\..\..\..\..\..\src\search\card\image\logo.svg`. And the next step build will be broken. I found that `https://github.com/callstack/linaria/blob/master/src/transform.js#L113` operate `url()`. May

[2019-04-24 12:53] SpawnAtis opened #392 "Build time in 1.3.1"
## Environment
``"linaria": "^1.3.1",
"webpack": "^4.30",
"@babel/cli": "^7.4.3",
 "@babel/core": "^7.4.3",
 @babel/node": "^7.2.2",
 "react": "^16.8.6",``

## Description
After migration to 1.3.1 from 1.3.0 the build time increased in 5 times 😢. After analyzing changes in 1.3.1. suspicion fell on [babel/evaluate.js](https://github.com/callstack/linaria/blob/master/src/babel/evaluate.js).

In our

[2019-04-24 18:40] Hotell opened #394 "cli: doesn't properly resolves globs when executed via lerna"
## Environment

macOs 10.14.4
node 8

## Description

When linaria CLI is executed via lerna, file globs resolution doesn't work properly (used within monorepo)

Both following use cases are broken when `linaria` is executed via lerna:

**1. via root package.json**

[code]

**2. via root package.json script by executing local package.json script**

[code]

This might be indeed yargs bug, because e

[2019-04-24 18:42] Hotell commented on #394
I've spent 2 hours with this... for anyone else experiencing this issue, fix is following:
 wrap globs within double quotes 🤦‍🤦‍

[code]

[2019-04-24 19:08] Hotell opened #395 "cli: adding a require statement for generated CSS doesn't work with typescript source files"
## Environment

macOs 10.14
node 8

## Description

`src` are typescript files

they are compiled via babel to `dist`. CLI will throws an error because it things there is only `.js` in this world :D https://github.com/callstack/linaria/blob/master/src/cli.js#L120

[code]

I'll send a PR, although after last events/attempt I promised myself I would never contribute with and PR to this project again

[2019-04-24 19:30] #394 closed

[2019-04-24 19:54] Hotell commented on #392
I would fix this first, then do perf evaluation. circular deps are highway to hell

[2019-04-24 23:25] greenkeeper[bot] opened #397 "An in-range update of conventional-changelog-cli is breaking the build 🚨"
## The devDependency [conventional-changelog-cli](https://github.com/conventional-changelog/conventional-changelog) was updated from `2.0.16` to `2.0.17`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fconventional-changelog-cli-2.0.17).

This version is **covered** by your **current version range** and after updating it in your project **the

[2019-04-25 13:19] Hotell commented on #390
I've investigated further this issue, which takes our intenral project into  unfortunate situation. As previously mentioned the problem is monorepo + linaria/babel combo, when executing tests.

`@twisto/styles` package is being imported within `*.styles.ts` in other packages (mainly `@twisto/components`), which linaria/babel is unable to resolve. I don't see any quickfix on the horizon. So my solu

[2019-04-25 14:24] Hotell commented on #392
So similar issue here (not related to version I guess).

We extracted common styles to `styles` package within monorepo. now all components use this as a reference when defining styles via `css`.

[code]

![image](https://user-images.githubusercontent.com/1223799/56743262-8b288080-6776-11e9-928d-51088b947b2c.png)

 This change increases storybook build from 60 seconds to 340 seconds. 🥺 🤒

[2019-04-26 07:28] SpawnAtis commented on #392
I fixed all circular deps, it reduced time on 30 sec. Now, with linaria 1.3.0 - 1.46m, after upgrade to 1.3.1 -  4.75. 😞

<img width="1107" alt="Screen Shot 2019-04-26 at 10 27 44" src="https://user-images.githubusercontent.com/23311140/56790711-f5d8cb00-680d-11e9-8750-b742b27eac03.png">

[2019-04-26 07:56] Hotell commented on #392
I feel your pain... we are facing similar issues like mentioned above... had to redo whole building pipeline to make it usable....

[2019-05-01 13:37] zarrellab opened #399 "Styling custom component containing react-fontawesome import causes error"
## Environment

- linaria 1.3.1
- webpack 4.30.0

## Description

Using the method from the docs to style custom components (https://github.com/callstack/linaria/blob/master/docs/BASICS.md#styling-custom-components) on a component that imports from react-fontawesome produces an error:
[code]

## Reproducible Demo

https://github.com/zarrellab/linaria-bug-example

example code:

_component.jsx_
[co

[2019-05-02 03:00] zarrellab commented on #399
I've found that this was being caused by exporting the original component in react's `memo`. I would still expect this to work. Any ideas why it would cause this error?

[2019-05-02 14:17] steffenmllr commented on #392
Having the same Problem with high build times. The 1.3.0 start time (storybook) is at `2.35min` goes up by a half a minute to `3.02 min. We do not have circular dependencies. The github actions build step is at around `5-7min.` - this is a medium / small sized project.

Any suggestions @Hotell how to make this more usable? I don't mind long build times in the CI but the hot reload speed is (depend

[2019-05-03 20:38] satya164 commented on #392
Sorry there have been a lot of holidays recently. I think we can improve the build time by implementing some sort of caching. I'll look into it soon.

[2019-05-04 19:06] greenkeeper[bot] opened #402 "An in-range update of postcss is breaking the build 🚨"
## The dependency [postcss](https://github.com/postcss/postcss) was updated from `7.0.15` to `7.0.16`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fpostcss-7.0.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss is a direct dependency of this project, and *

[2019-05-05 02:49] mattoni opened #403 "Error building storybook/typescript/linaria"
## Environment
A UI library bundled with rollup, but developed with storybook. Rollup build works fine.

[code]

## Description

Attempting to use linaria/loader causes my build to fail. Appears to be transforming typescript incorrectly.

[code]

Storybook webpack, which works correctly if I comment out linaria/loader:

[code]

[2019-05-05 02:51] mattoni commented on #399
I had a similar issue, I believe it's because memo() has a side effect. Try styling the component without memo() then wrap that.

[2019-05-05 15:57] satya164 commented on #403
You need a `.babelrc`/`babel.config.js` file or pass a babel config to Linaria https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md#options

[2019-05-05 15:57] #403 closed

[2019-05-05 19:07] mattoni opened #404 "Issue with Imported Values Using Gatsby Plugin"
## Environment
Using Gatsby plugin + linaria.config.js file

linaria.config.js:
[code]

## Description

I'm attempting to import an object of colors from an external UI  library in node_modules (bundled with rollup, just in case it matters). I get the following error:

[code]

If I import the colors from the local directory,  they work so I thought it was an issue with the "evaluate" option, but e

[2019-05-05 22:07] ivancuric commented on #391
Perhaps the same error as https://github.com/callstack/linaria/issues/368?

[2019-05-06 09:41] ShanonJackson commented on #197
Fucking around with linaria on weekends in preparation for when we stop supporting IE11 in production and i can swap from styled-components. Making sure the SSR all works etc etc i'm finding the lack of documentation for typescript support basically null, after reading the documentation it's starting to look like i'm literally forced to stop using awesome-typescript-loader (in dev) and ts-loader (

[2019-05-06 10:01] zamotany commented on #197
Unfortunately no, TypeScript compiler do not provide public API for writing custom transformers, so we cannot support `tsc`. Currently, there's no way to use linaria without babel.

[2019-05-06 23:53] greenkeeper[bot] opened #405 "An in-range update of @commitlint/config-conventional is breaking the build 🚨"
## The devDependency [@commitlint/config-conventional](https://github.com/conventional-changelog/commitlint) was updated from `7.5.0` to `7.6.0`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2F%40commitlint%2Fconfig-conventional-7.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the

[2019-05-07 01:03] mattoni commented on #364
Just wondering if there has been an update to this or if more information is available. I'm running into this as well with a similar setup.

[2019-05-07 01:48] greenkeeper[bot] opened #406 "An in-range update of commitlint is breaking the build 🚨"
## The devDependency [commitlint](https://github.com/conventional-changelog/commitlint) was updated from `7.5.2` to `7.6.0`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fcommitlint-7.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

commitlint is a devDependency

[2019-05-07 09:59] Hotell opened #407 "Update: babel to 7.4"
## Environment

[code]

## Description

**Related** https://github.com/babel/babel/issues/9910

There was an issue within babel core with `as const` in TypeScript, which was resolved in babel 7.4. Linaria CLI uses old `7.3.3` as dependency.

## Reproducible Demo

[code]

will throw because theme package contains  `as const`

[code]

**Error:**

[code]

## Solution

after manually bumping linaria d

[2019-05-07 23:25] steadicat commented on #197
FWIW, here's the issue that tracks adding support for custom transformers to the TypeScript compiler: https://github.com/Microsoft/TypeScript/issues/14419

[2019-05-08 01:03] greenkeeper[bot] opened #408 "An in-range update of glob is breaking the build 🚨"
## The dependency [glob](https://github.com/isaacs/node-glob) was updated from `7.1.3` to `7.1.4`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fglob-7.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

glob is a direct dependency of this project, and **it is very

[2019-05-08 09:20] ShanonJackson commented on #197
@zamotany Anychance in the intermediatory period we could have some cool babel cats out there setup a typescript example setup of both frontend / backend Typescript + Babel + Linaria? Spent about 8 hours now trying to configure something that will work but as someone with little babel experience (and someone who finds the babel documentation and plugin system confusing) it would be great to have a

[2019-05-08 21:52] mbavio commented on #392
Having a lot of issues with build times too. Is Linaria not ready yet for real use of `styled` composition?

[2019-05-09 02:49] zarrellab commented on #399
I was thinking the same thing for a second while trying to debug. I was mislead by a few things as restarting the build after changes is the only way to make sure that the error would be reported accurately. I stripped down my project to a minimum example of the issue. Here I found that the actual problem is importing react-fontawesome into a component. You don't even have to use the react-fontawe

[2019-05-09 02:57] mattoni opened #409 "Conditional CSS with styled tag"
## Ask your Question

Is it possible to do something like the following?

[code]

Typescript is giving the following error:

[code]

[2019-05-09 03:04] mattoni commented on #409
Trying to compile and ignore the TS error has linaria throwing this:

[code]

[2019-05-09 04:12] mattoni commented on #399
Ah, maybe that's why I'm running into it elsewhere too. I use react-fontawesome in several projects and have hit this issue.

[2019-05-09 05:46] kaiserkoenig commented on #392
I removed all these `const Container = styled(LayoutContainer)<LayoutContainerProps>`...`;`
in our project and replaced them with `const Container = css`...`;`. Then i used this as a className for `<LayoutContrainer classaName={Container}`
1. works well without any issues
2. build time is even faster from 2:17min to 1:37min

It was a bunch of work and not easy in every case. Nevertheless you shoul

[2019-05-10 12:09] mbavio commented on #392
@kaiserkoenig curious about 3, can you expand?

[2019-05-10 14:31] kaiserkoenig commented on #392
sure...
if your CSSinJS or Linaria looks like this

`const MyDiv = styled.div'
   && {
      background-color: black;
   }
' `
and
`const myAdvancedStyles = css'
   && {
      background-color: pink;
   }
' `
the builded CSS will be `.myAdvancedStyles.myAdvancedStyles {background-color: pink;}` .
if you add this `<MyDiv className={myAdvancedStyles} />` `Mydiv` will be will be pink.

In most cases

[2019-05-12 06:15] greenkeeper[bot] opened #410 "An in-range update of babel-loader is breaking the build 🚨"
## The devDependency [babel-loader](https://github.com/babel/babel-loader) was updated from `8.0.5` to `8.0.6`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fdefault%2Fbabel-loader-8.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-loader is a devDependenc

[2019-05-13 01:09] greenkeeper[bot] opened #411 "An in-range update of flow-copy-source is breaking the build 🚨"
## The devDependency [flow-copy-source](https://github.com/Macil/flow-copy-source) was updated from `2.0.4` to `2.0.5`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fflow-copy-source-2.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

flow-copy-source is a devDep

[2019-05-13 04:12] greenkeeper[bot] opened #412 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/callstack/linaria/compare/master...callstack:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of this project, and **it is ver

[2019-05-16 12:19] #356 closed

[2019-05-16 12:19] #357 closed

[2019-05-16 12:19] #358 closed

[2019-05-16 12:19] #361 closed

[2019-05-16 12:19] #365 closed

[2019-05-16 12:19] #367 closed

[2019-05-16 12:19] #376 closed

[2019-05-16 12:19] #378 closed

[2019-05-16 12:19] #379 closed

[2019-05-16 12:19] #384 closed

[2019-05-16 12:19] #397 closed

[2019-05-16 12:19] #402 closed

[2019-05-16 12:19] #405 closed

[2019-05-16 12:19] #406 closed

[2019-05-16 12:19] #408 closed

[2019-05-16 12:19] #410 closed

[2019-05-16 12:19] #411 closed

[2019-05-16 12:19] #412 closed

[2019-05-16 12:19] pbitkowski commented on #404
You need to whitelist that library, please check our docs for ignore option:
https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md#options

[2019-05-16 12:27] #404 closed

[2019-05-16 12:29] pbitkowski commented on #190
Satya already started it, if anyone wants to contribute let's check https://github.com/callstack/parcel-plugin-linaria

[2019-05-16 12:34] #112 closed

[2019-05-16 12:38] thymikee opened #413 "Migrate Linaria to monorepo under @linaria namespace"
## Describe the feature

Let's split Linaria to monorepo after #386 is done.
We already grabbed the namespace: http://npmjs.com/org/linaria

## Motivation

Splitting to smaller packages, like `@linaria/core` , `@linaria/runtime`, `@linaria/react` etc is going to allow adding e.g. library's runtime as a direct dependency of other libraries that take size into consideration.

[2019-05-16 12:39] pbitkowski opened #414 "Documentation for publishing with Linaria"
## Describe the feature

Document the process of publishing library with linaria

[2019-05-16 12:40] pbitkowski opened #415 "Add watch mode to our CLI"
## Describe the feature

Add watch mode to our CLI

[2019-05-16 13:39] pbitkowski commented on #391
Thanks for submission @lithiumfallen. It looks like @ivancuric is right. I will close this issue for now and please check #368 for updates.

[2019-05-16 13:55] pbitkowski commented on #370
It looks like we had PR for this issue but the test case for solution were missing. This issue is up for grabs, just add test case for this PR #372

[2019-05-17 13:54] OriginalEXE commented on #392
:wave: Thank you for writing and maintaining this library! Anything we could do to help facilitate the solution to this issue? I am faced with very long HMR times (6s) in quite a small project. As I add more styles, it will continue to get worse and it's already pretty much unusable (we are spoiled, I know :slightly_smiling_face: ).

I have noticed that you had a branch for in-memory builds here:

[2019-05-17 14:03] Hotell commented on #392
another numbers, when used with storybook (no plugins, no stories loaded):

- with linaria ( linaria beeing just configured within babel-config ) `1.73 min`
- wihout linaria `13s`

[2019-05-17 15:28] pbitkowski commented on #392
Thank you for your feedback! 🙌 We're currently working on TS migration which is blocker for us (#398), but it's almost ready. After that we can work on optimizations.

@OriginalEXE if you want to contribute the best way would be creating a proposal issue with info about how do you want to solve this problem. If it will be a good idea, then we can guide you through development process. 😃

It would

[2019-05-21 14:11] Hotell commented on #407
@pbitkowski it's not very cool to change issues titles which you don't own. Anyone trying to find this particular issue while running into problem with TS and linaria would probably never look solution within issue with title: `update: to babel 7.4`

[2019-05-21 14:14] thymikee commented on #407
@Hotell as long as the error message is somewhere in the issue text that shouldn't be a problem for indexing bots, isn't it? I'm sure @pbitkowski had good intentions and did that to ease working with the issues we have in store. Sorry if it was too intrusive

[2019-05-21 14:37] Hotell commented on #407
@thymikee yes that's correct. I would suggest to rather create appropriate flags, than renaming issues in long run, as in my experience, it's not very nice to contributors (personally I don't mind, but you never know who is on the other side of the line 👀)

[2019-05-21 15:10] thymikee commented on #407
Sure we'll take that into account 👍

[2019-05-21 21:14] ShanonJackson commented on #370
@hemmxwxsoo can you post a pastebin of your webpack config aswell? trying myself to get Typescript + Linaria playing nice on frontend/backend (for SSR), but it's failing for me when importing constants can't seem to debug it.

[2019-05-22 18:56] mattoni commented on #399
To add some extra info, I'm using a component I styled with linaria in another component that has react-fontawesome components, and running into the issue. So even simply having it next to a fontawesome component causes the problem. Commenting out the fontawesome icon allows it to compile correctly.

![image](https://user-images.githubusercontent.com/5110855/58200871-abb9fc80-7c88-11e9-9e4d-68a97c

[2019-05-22 22:08] mattoni opened #418 "Unable to use component with side effect as child component of styled component"
## Environment

Using ejected CRA with latest version of linaria  (1.3.1) and @reach/router

## Description

I'm unable to use a `<Link />` component as a child of a linaria styled component. I get strange, cryptic error messages like:

![image](https://user-images.githubusercontent.com/5110855/58212104-90f48180-7ca2-11e9-870f-dfc67f8f82bb.png)

For reference, here is how it is configured:

![imag

[2019-05-25 00:16] ShanonJackson opened #419 "Deterministic Class Names"
## Ask your Question

New to Linaria, playing around with it on weekends so don't roast too hard.

Setting up SSR on Backend.
Have to compile my frontend through web pack to get the style sheet. (style.css).
style.css comes out with my test component styles `.TestComponent.112XYZ`
Have to compile my frontend again with my backend for SSR.
TestComponent.js comes out something like... `(0, styled...

[2019-05-25 01:38] ShanonJackson commented on #419
Well to answer my own question after some digging through the source the culprit is this...

TaggedTemplateExpression.js, has a parameter called state.file.opts.root that gets passed into the slug.

When the backend executes it this is the root dir of the backend.
When the frontend executes it this is the root dir of the frontend (backend/src/frontend)

When these are aligned to the same directory

[2019-05-25 11:01] egor-a-trubnikov-panov opened #420 "Error: Cannot find module 'core-js/modules/es6.regexp.to-string'"
I ran this [example](https://codesandbox.io/s/2x93v25p3j) on my computer and I got this error:

`ERROR in ./src/App.js
Module build failed (from ./node_modules/linaria/loader.js):
Error: Cannot find module 'core-js/modules/es6.regexp.to-string'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:613:15)
    at Function.Module._load (internal/modules/cjs/loader.js:539:25)
    at

[2019-05-25 14:00] egor-a-trubnikov-panov commented on #420
I added "core-js": "^2.0.0", in package.json and everything worked

[2019-05-26 08:12] skywickenden commented on #420
Also having this problem. I'm a first time user to Linaria and was simply following the install instructions.  I added

    "core-js": "^2.6.8"

to devDependencies. (^2.0.0 has vulnerabilities!)

This looks like https://github.com/callstack/linaria/issues/361 and should be fixed but isn't

[2019-05-26 09:10] skywickenden opened #421 "style-loader and/or css-hot-loader are no longer needed"
## Describe the feature

The bundlers instructions page mention using style-loader or css-hot-loader to achieve hot reloads of changed styles. This can now be achieved with mini-css-extract-plugin using the following in the css rules of webpack.config.js

          {
            loader: MiniCssExtractPlugin.loader,
            options: {
              hmr: process.env.NODE_ENV !== 'production'

[2019-05-26 10:55] thymikee commented on #421
Maybe you'd like to send a PR with the fix and some background on why to use this instead of other solutions? :)

[2019-05-26 12:52] skywickenden commented on #421
Done: https://github.com/callstack/linaria/pull/422

[2019-05-26 12:52] #421 closed

[2019-05-26 20:35] c01nd01r commented on #420
Looks like `package.json` in master branch and in npm (https://unpkg.com/linaria@1.3.1/package.json) has differences
<details>
  <summary>diff</summary>

![img diff](https://user-images.githubusercontent.com/3511312/58386694-1b731300-800c-11e9-9aa6-b5f4e3f1c714.png)
</details>

[2019-05-27 10:17] Dozalex commented on #355
#234 this suggestion better

[2019-05-27 10:56] lithiumfallen commented on #391
Hi all, sorry for lateness. I think it's different issues and relation with processing paths for different os. For example I have svg logo `logo.svg` and i wanna process. As want to process in background.
[code]
Before linaria/loader processing I have css style
[code]
When I try build this css file will be process loaders from webpack. And this path will be parce with  escaping like this
[code]
th

[2019-05-27 11:07] pbitkowski commented on #391
Thanks @lithiumfallen for explanation! :) We'll check this out.

[2019-05-28 08:42] steffenmllr commented on #392
Those are the build speeds from `emotion` vs `linaria` for the same project. I just `sed` the import for now.

[code]
[code]

[2019-05-28 09:20] Hotell commented on #392
we have similar results ( as  we're adding more components ):

linaria -> 4 minutes
emotion -> 16 sec

**Quick/Dirty fix:**

For development purposes we are using emotion with webpack aliases. for production build we switch back to linaria. 💣🚨

[2019-05-28 09:22] steffenmllr commented on #392
@Hotell that is also what I'm implementing right now - `best of both worlds` 😄

[2019-05-28 09:24] Hotell commented on #392
@steffenmllr  just a headsup. You might experience various css bugs, as emotion is injecting classes in unpredictable order within `<head/>`, which causes specificity issues !

**quick fix:**

[code]

[2019-05-28 12:59] thymikee commented on #392
This is pretty serious issue and seems to be introduced by these 2 commits: 15986c8, 96b8284. We'd appreciate help in investigating which one is exactly to blame and, if both are, how they affect the build times separately. That should make it easier to focus on a quick fix for that.

[2019-05-28 13:54] Anber opened #424 "Interop with emotion/styled-components"
## Describe the feature

Add an ability to use Linaria components together with Emotion/styled-components/etc.

## Motivation

Complete migration from emotion/styled can be challenging or inappropriate for a lot of reasons, but Linaria can be used for optimization in critical parts. The problem there that migrated components cannot be interpolated in styles of non-migrated.

I have a draft impleme

[2019-05-28 15:17] deklanw commented on #361
@kryops That worked for me although I'm now getting this upon installing new packages

[code]

[2019-05-28 22:29] jedmao commented on #364
I'm getting the same error when using https://github.com/callstack/linaria/issues/285#issuecomment-480587977

[2019-05-28 22:48] jedmao opened #425 "Add documentation for installation after CRA eject"
## Describe the feature

Considering how prolific CRA is, I think the documentation could benefit from CRA-specific installation steps.

## Motivation

The closest thing to documentation after a CRA eject would be [this webpack section](https://github.com/callstack/linaria/blob/master/docs/BUNDLERS_INTEGRATION.md#webpack), but some of the instructions are not relevant for a fresh CRA eject.

## Co

[2019-05-28 23:43] brandonkal commented on #362
This doesn't make sense. If your components are so tightly bound (Child cannot function without Container), why are you trying to decouple them?

The parent knows about all its children, so just set the hover style on the parent component (Container).

[2019-05-29 09:12] ilyalesik commented on #355
Ok, I don’t need linaria anyway, because there is a solution that is much cooler - [reshadow](https://github.com/lttb/reshadow).

[2019-05-29 09:12] #355 closed

[2019-05-29 11:05] brandonkal opened #426 "Atomic ClassName Optimization"
I would like to propose an improvement in ClassName generation to produce smaller stylesheets. Have a look at CSSBlocks for an example of generating atomic classnames for shared styles. https://css-blocks.com/

Linaria is in a position to do the same. The css function would return classes with a dot so that they can be replaced in build time and continue to function in nested styles and used for q

[2019-05-29 11:08] satya164 commented on #426
kind of similar to #218

[2019-05-29 11:19] brandonkal commented on #426
Yes, combined with shorter classnames, this would help save a lot of bytes! I'd argue this would be a larger performance win because the classnames length generated by Linaria is already pretty short but duplicated style declarations for different elements is common.

[2019-05-29 11:34] brandonkal commented on #244
What if array destruturing was used?

Normally:
[code]
Then to grab the rules for composition within another css or styled tag:

[code]

[2019-05-30 01:45] brandonkal commented on #234
Here's an idea if you want to keep nesting rather than composing individual classnames that would work with linaria's styled approach of using CSS variables for interpolations:

[code]

Linaria would then transform it to this before running stylis:

[code]
Linaria would then accept the props for primary and color and if they match what was specified, it would apply the appropriate styles:

[code]

[2019-05-30 03:58] brandonkal commented on #418
I am also seeing this behaviour. The issue is that the linaria styled helper is not using JSX. Oddly I believe it comes down to calling React.createElement() (which linaria/react.styled uses) rather than using JSX syntax that seems to break things.

[code]

I've noticed this with Storybook as well:
[code]

[2019-05-30 08:08] brandonkal opened #427 "Unify API"
## Describe the feature

CSS in JS libraries are maintaining two seperate APIs, namely styled and css. There are good reasons for both, but in react projects, it is an unnecessary complication. I wish to show that with Linaria's approach it is possible to get the best of both (composition, selection, prop interpolation, and automated css variable interpolations)!

## Problem

Having a single consi

[2019-05-30 11:04] pbitkowski commented on #420
Hi! Thanks for your input. Could you try alpha version?

[2019-05-30 11:11] pbitkowski commented on #419
We need a path to generate a slug to keep the names deterministic. We can use either absolute or relative path, but using absolute path means that the slug will differ between machines. That's why we use relative path. Ideally we would use the path relative to project root, but we don't know what your project root is, we only know where you are running it from.

[2019-05-30 11:11] #419 closed

[2019-05-30 11:25] pbitkowski commented on #392
Could you test your projects with [our new alpha release](https://github.com/callstack/linaria/releases/tag/v1.4.0-alpha.0)? Let me know if build time improved.

[2019-05-30 13:20] neozgul commented on #409
Hi.

I'm also wondering if there is a possibility to do this. With styled components we can have something like:

[code]

[2019-05-30 15:28] kryops opened #428 "[1.4.0-alpha.0] Incompatible with @babel/preset-typescript"
## Environment

I have a TypeScript project that I build through webpack > babel-loader > @babel/preset-typescript

## Description

[code]

Babel is looking for `context.filename` to match it against the `.ts` pattern, but `context` only contains

[code]

The code in linaria's `shaker.ts` is

[code]

Adding something like `{ filename: 'foobar' }` as second argument seems to fix the problem.

## Re

[2019-05-30 15:39] satya164 commented on #428
cc @Anber

[2019-05-30 15:41] kryops opened #429 "[1.4.0-alpha.0] TypeScript error "Argument of type 'TemplateStringsArray' is not assignable to parameter of type 'string[]'.""
## Environment

Tested with TypeScript 3.4.5 and 3.5.1, linaria 1.4.0-alpha.0

## Description

With the TS migration, the TypeScript typings seem to have changed in a way that breaks TypeScript consumers:

1.3.1 - typings.d.ts
[code]

1.4.0.alpha.0 - css.d.ts
[code]

I now get the following error when using the `css` function with a tagged template literal:

[code]

Maybe the type for `_strings` i

[2019-05-30 15:48] satya164 commented on #429
cc @Anber

[2019-05-30 23:01] brandonkal commented on #427
I've been thinking about this a lot, so I'd be interested in hearing thoughts. It is clear to me that using a classname only approach for styling descendent selectors does introduce complexity though that is a risk a developer takes when using descendant selectors.

I do believe using classnames is the right approach. The styled component is a nice abstraction as you don't have to think about clas

[2019-05-30 23:30] brandonkal commented on #234
I've added a [comment](https://github.com/callstack/linaria/issues/427#issuecomment-497515487) to my RFC that specifically addresses this issue. I've included a lot of detail, but the essence of it is this:
Rather than using an arbitrary prefix for style only props, instead specify in the CSS rule if a prop should not be forwarded.
Proposed syntax is like this:
[code]
`--` suffix, do not pass prop

[2019-05-31 00:03] brandonkal commented on #409
@neozgul This is currently not possible due to the way CSS is extracted at build time, the value of active is unknown at that time.

You'd have to do this:
[code]

With my [proposal](https://github.com/callstack/linaria/issues/427), you could define props inside styled, specify if the prop should be forwarded, and thus keep all logic inside the CSS as you had before:

[code]

[2019-05-31 10:43] Anber commented on #429
`TemplateStringsArray` already extends `readonly string[]` so we don't need to explicitly specify `string[]`.

[2019-05-31 15:27] le0pard commented on #420
@pbitkowski thanks. Can you publish 1.4.0-alpha.0 to npm?

[2019-05-31 16:42] thymikee commented on #429
Fixed in `alpha.1`

[2019-05-31 16:42] #429 closed

[2019-05-31 16:42] thymikee commented on #428
Fixed in `alpha.1`

[2019-05-31 16:42] #428 closed

[2019-06-01 08:19] secretlifeof opened #434 "Linaria with preact-cli & preact X"
Does anybody have experience with setting up Linaria with Preact-cli/Preact X?

I tried the following:
linaria moduleWrapper
[code]
.babelrc
[code]
preact.config.js
[code]

The following error is returned:
**bundle.esm.js:1593 Error: Using the "styled" tag in runtime is not supported. Make sure you have set up the Babel plugin correctly. Is .babelrc not setup correctly?**

Versions:
"linaria": "^1

[2019-06-02 00:42] tonykiselis opened #435 "Support Svelte."
Currently compiler breaks when it encounters <script> tag:

[code]
I suppose Vue would have very similar problem as compiler doesn't recognize that javascript is contained within the <script> tag.

Now for those who might not be aware, Svelte is a compiler for web standard compliant vanilla javascript components. Which made me think that Linaria sould be such a perfect fit to go hand in hand.

It'

[2019-06-02 06:32] brandonkal commented on #218
One way to implement this would be to just prefix and suffix all generated classnames and CSS variables:

| Mode               | Before                              | After                               |
|--------------------|-------------------------------------|-------------------------------------|
| Development        | const Title = styled.h1``           | .Title_ab0c0da8ra

[2019-06-02 19:20] pbitkowski commented on #435
Hi Tony. Thanks for your request! I checked [Svelte](https://svelte.dev/) and it looks like a really good idea to support it.

[2019-06-03 13:10] PutziSan opened #436 "definition of "critical css""
Hi,
I think I've completely gone through the documentation. It is often said that critical css can be extracted. But I haven't found anywhere how "critical" is defined? Is there an attempt to extract css "above the fold" or does it depend on certain style tags?

[2019-06-04 09:17] sshmyg commented on #244
Will 1.4v get some solution for this issue?

[2019-06-05 18:35] pbitkowski commented on #392
Is there any improvement? :)

[2019-06-05 18:53] steffenmllr commented on #392
@pbitkowski just ran the build command, didn't test the output:

[code]

[2019-06-07 14:36] SpawnAtis commented on #392
"linaria": "1.3.1" > 2.78
"linaria": "1.4.0-alpha.1", > 47.8s  👍

But I got an error :
<img width="1006" alt="Screen Shot 2019-06-07 at 13 52 44" src="https://user-images.githubusercontent.com/23311140/59111657-1dad6980-894a-11e9-9c59-9bed5033b4d4.png">
```import * as theme from '../../theme';```

I think it is connected with syntax : ```import * as content from './somepath'```

demo to reproduce:

[2019-06-07 14:52] Hotell commented on #420
we are using corejs v3 -> that won't work with linaria 1.3.1, if we bump to 1.4. hell breaks loose.  `RangeError: Maximum call stack size exceeded` all the things...

[2019-06-08 00:44] brandonkal commented on #436
@PutziSan the term "critical css" means the minimum css to render a view. You can look at the code:

https://github.com/callstack/linaria/blob/7e326c356b65639de10e405ebf5b29eec8742f10/src/server/collect.js#L80-L91

For any given html string, it will return the CSS classes that match it and all tags e.g. `span {}, div {}`.
This will usually be the SSR portion before React hydrates on the client.

I

[2019-06-10 08:25] imbsky commented on #420
`1.4.0-alpha.0` is working for us!
https://github.com/imbsky/linaria-module-issue

[2019-06-10 23:54] brandonkal commented on #427
I believe I've found a better way to unify these APIs.
This takes advantage of Linaria being compiled at build time.
Steps:

1. The styled function gets some new public properties. The logic that is filtering props and calculating the new className and style attributes becomes a css() method.
2. This css method can then be spread on any element.
3. The styled render function calls this css() funct

[2019-06-11 10:26] skywickenden opened #438 "Any suggestions on how to test linaria styles in classes with Jest"
I'm using react-testing-library and jest for testing. I'd like to write styling checks - either snapshots or individual styles.

I'm mainly using Linaria with css templates in React className attributes.

I'm not sure how to go about this. If I render the element with react-testing library then I can get access to the className, but not the actual styles as they are transpiled with babel. How are

[2019-06-11 11:16] skywickenden commented on #438
No worries. I've realized I can do it with [collect](https://github.com/callstack/linaria/blob/master/docs/API.md)

eg - quick and dirty:

    import React from "react";
    import { render } from "../../test-utils";
    import Main from "./main";
    import { collect } from "linaria/server";
    import fs from "fs";
    import path from "path";
    const css = fs.readFileSync(path.resolve("./.lin

[2019-06-11 11:16] #438 closed

[2019-06-11 16:46] deklanw commented on #420
`1.4.0-alpha.1` fixed it for me.

But, does it not include Typescript types?

[2019-06-13 19:40] kryops commented on #392
Small frontend, 43 linaria components across 15 files.

Build times definitely improved in 1.4.0-alpha.1, though interestingly my production build is a lot faster than the development build  (both builds include source maps)

Development build:
- without linaria - 11s
- 1.3.1 - 25s
- 1.4.0-alpha.1 - 18s

Production build:
- without linaria - 10s
- 1.3.1 - 17s
- 1.4.0-alpha.1 - 11s

[2019-06-14 14:04] iamchanii opened #439 "Bug with use calc()"
## Environment

- MacOS 10.14.5(18F203)
- Chrome 74.0.3729.169 (64-bit)
- linaria@1.4.0-alpha.1

## Description

I use `calc()` function in my code. but missing parentheses for the calc() function.

![2019-06-14 22-58-58 2019-06-14 23_00_02](https://user-images.githubusercontent.com/26643843/59514639-3ee8f980-8ef8-11e9-9fba-82f148e8890b.gif)

this is compiled style code:
![image](https://user-imag

[2019-06-14 20:31] geakstr commented on #197
Hi and thanks for linaria! In our project we use typescript namespaces, so we can't move to @babel/preset-typescript (it doesn't support namespaces). It would be really cool to have linaria worked with ts-loader. Is there any chance?

[2019-06-15 09:11] imbsky opened #440 "Can't we use css-in-js syntax in stylelint?"
Can't we use css-in-js syntax in stylelint config?
I got this message when I run stylelint with fix option.

`linaria/stylelint-config` has custom processor. But, since `stylelint@9.10.0`, it has `css-in-js` syntax option.

[2019-06-16 03:28] iamchanii commented on #439
I made a repository what is reproduce this issue. check this out: https://github.com/iamchanii/reproduce-linaria-issue-439

[2019-06-16 03:38] iamchanii commented on #439
and I can't label this issue to Bug. if someone can edit this issue's label, update please. thanks.

[2019-06-17 19:41] brandonkal commented on #440
@imbsky Please look into this. Auto fix will be very hard to do safely, especially for fixes that sort lines.
The css-in-js option is quite impressive, but is quite new and has some issues. The main issue right now is that it doesn't understand how to handle interpolations:

[code]
With the code above, you will see false positive errors:
- Unexpected extra semicolons on line 3 (it looks to be comp

[2019-06-17 21:53] hudochenkov commented on #440
[stylelint-order](https://github.com/hudochenkov/stylelint-order) sorts CSS-in-JS safely :) When it's not possible to do safe sort, sorting not happening, only reporting happens.

Yeah, there some limitation in `postcss-jsx`. For this case semicolon should be placed inside interpolation: `${'background-clip: border-box;'}`.

Correct. `postcss-jsx` doesn't evaluate code in interpolations. So the fo

[2019-06-17 23:15] brandonkal commented on #440
What I mean when I say that using something like stylelint-order will be hard when evaluation comes into play:

[code]
If for instance you proxied the autofix with a processor that evaluate, runs autofix on that, and then replaces the interpolations with the originals you could easily break the intent of the code:

After pre-evaluation, "css-in-js" would see this input:
[code]
An autofix would wit

[2019-06-18 03:27] brandonkal commented on #440
In fact, it would be very powerful test all known outputs of an interpolation:
[code]
Error: 50empx and 10empx not valid.

[2019-06-23 13:22] hellpirat commented on #399
I got the same error when trying to use linaria with antd

[2019-06-23 23:26] chrisabrams commented on #197
@geakstr have you tried running babel in front of ts-loader?

[2019-06-24 08:13] geakstr commented on #197
@chrisabrams yes, from webpack config:

[code]

.babelrc
[code]

In runtime: `Error: Using the "css" tag in runtime is not supported. Make sure you have set up the Babel plugin correctly.`

[2019-06-24 09:30] geakstr commented on #197
Wow, got it work! The problem was `"module": "commonjs"/"target": "es5"` in `tsconfig.json`. With this config `linaria/loader` gets already transpiled imports. Changed to `"module": "esnext"/"target": "esnext"` - all works fine. That's super intuitive and it should be reflected somewhere in the docs. Let me prepare PR when I have a chance.

[2019-07-01 23:00] nhooyr commented on #420
Yea it looks like the alpha version doesn't have typescript types.

[2019-07-01 23:18] nhooyr opened #441 "stylelint with typescript"
Is there anything special I have to do to make stylelint work with typescript?

Right now it looks like stylelint is parsing my typescript as css:

[code]

[2019-07-01 23:19] nhooyr commented on #441
Ah so looks like the issue is using `stylelint-config-standard`. Can't use that with `linaria/stylelint-config`, have to use `stylelint-config-recommended`.

is this supposed to happen or is it a bug?

i.e the following in my package.json works fine:

[code]

but

[code]

does not.

[2019-07-01 23:24] nhooyr opened #442 "double slash line comments cause stylelint to throw unknown word"
[code]

Above is a snippet from one of my TSX files.

Running style lint on it throws:

[code]

Removing the comment makes things pass.

[2019-07-02 00:35] nhooyr commented on #442
Ah, it's not a valid CSS comment, TIL.

It compiles fine though.

[2019-07-02 01:52] nhooyr opened #443 "stylelint complains about :global selector"
[code]

Running stylelint on the above code will give:

[code]

My stylelint config is:

[code]

[2019-07-02 04:27] nhooyr commented on #442
It'd be nice if it just worked as it is still a js file.

[2019-07-02 06:18] nhooyr commented on #420
For now I'm just using

[code]

Added into a `custom.d.ts` file.

[2019-07-02 13:17] ryan-ds opened #444 "Not working in Gatsby production mode"
## Environment

node: `8.12.0`
gatsby: `2.12.0`
gatsby-plugin-linaria: `1.2.0`
linaria: `1.3.1`
react: `16.8.6`

## Description

- I have created a new starter project with Gatsby via the following command:
`npx gatsby new my-default-starter https://github.com/gatsbyjs/gatsby-starter-default`

- Then added the required packages via:
`yarn add gatsby-plugin-linaria linaria`

- After that, I added t

[2019-07-02 21:13] nhooyr commented on #442
https://github.com/styled-components/stylelint-processor-styled-components/issues/195#issuecomment-393563578

[2019-07-02 21:13] #442 closed

[2019-07-03 01:22] nhooyr commented on #409
The readme has an example that shows you can do this:

[code]

[2019-07-03 01:29] brandonkal commented on #409
Yes. That is the other approach.

Be careful though @nhooyr. You'll notice color will leak into the DOM. The color attribute has special meaning in Safari. I've started just suffixing custom props that shouldn't make it to the DOM. So "color" would become "color$"

[2019-07-03 01:44] nhooyr opened #445 "Add minimal runtime for dynamic props with IE 11"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

dynamic styled props do not work with IE 11.

**What is the wanted behavior?**

They should. It'd be nice if Linaria had a very minimal runtime to modify the stylesheet and dynamically adjust css variables based on passed in props such that they work in IE 11.

I believe this is possible but I c

[2019-07-03 01:55] klimashkin commented on #445
I don't think it's worth it. IE11 is going away, even big enterprise companies that I work with are dropping it this year.

[2019-07-03 08:47] nhooyr commented on #445
@klimashkin See #446, the implementation is tiny.

[2019-07-04 02:49] imbsky commented on #440
In my environment it seems that 'css-in-js' option works correctly, so I close this issue.

[2019-07-04 02:49] #440 closed

[2019-07-04 02:54] imbsky commented on #440
I just wanted to ask if it's possible to replace linaria parser with the css-in-js option of stylelint. And linaria config had very few configs, so I decided to write my own config.

[2019-07-04 11:31] TheJohnPython opened #447 "Styling custom components with NextJs"
I'm using NextJs with linaria and trying to apply styled on custom component:
[code]

and get error:
[code]

[2019-07-04 11:46] pbitkowski opened #448 "Consider simplifying new styles evaluator"
After some investigation the burden of maintaining new extractor is too high. Having to list and manage explicitly all of the syntaxes it's not feasible for us.

There are still open questions:
1. What additional use cases the new extractor handles than the previous one?
2. Can we use new extractor logic and get rid of the AST specifics (list of specific language syntaxes / identifiers) ?

CC: @An

[2019-07-04 11:51] Anber commented on #448
At least it works with any code base, not only with specially prepared. The current one just fails on our project with out of memory exception and returns a lot of `undefined` instead of classes.

[2019-07-04 11:54] pbitkowski commented on #448
Could you provide repro?

[2019-07-04 12:04] Anber commented on #448
An example with `undefined` was in original PR:
[code]

Out of memory happens on our project with 500+ jsx files and I'm afraid, I can not just make a sample repo. It happens because of the current extractor tries to import unnecessary dependencies that also has dependencies…

[2019-07-04 12:05] thymikee commented on #448
The main concerns we have is about the maintenance, because JS and other compile-to-js languages (e.g. TS, Flow) tend to add new syntaxes once in a while. We unfortunately don't have unlimited bandwidth to contribute to this project. I hope that's understandable.

Do you think you could help us with that and maintain this part of the codebase? We'd really appreciate that. We admire the work that y

[2019-07-04 12:21] Anber commented on #448
Definitely yes, because we have two big projects that we have already migrated to linaria.

We can If there is an existing solution. It would be the best option.

Supporting for other languages is not as hard as it sounds. For example, for TS I have just added ≈30 lines of code. The main problem is to find broken samples of code (eg. enums for TS).

[2019-07-04 12:35] thymikee commented on #448
Awesome! We have plans to move linaria to a monorepo, so the packages scope is better defined: https://github.com/callstack/linaria/issues/413. It should help with owning a specific part of the codebase (we could use CODEOWNERS.md file for that and add you there). That would also be an opportunity to document the approach and code better for current and future contributors, since it's a pretty com

[2019-07-05 06:43] TheJohnPython commented on #447
But it works if i pass anonymous function:
[code]

[2019-07-05 17:29] satya164 commented on #447
Do you have a `.babelrc`/`babel.config.js` file? You need it

[2019-07-05 21:13] TheJohnPython commented on #447
yes
[code]

[2019-07-06 05:32] nhooyr opened #449 "stylelint complains about duplicate selectors with css function"
Running stylelint with the following config:

[code]

on:

[code]

Output:

[code]

Looks like the stylelint processor is not generating unique class names.

[2019-07-06 05:43] nhooyr opened #450 "Accept :global("") for global css"
With the current :global() syntax, [WebStorm](https://www.jetbrains.com/webstorm/) complains that it expects a term in between the parenthesis, i.e it cannot be empty. This makes sense as I don't think there is any "real" css pseudo selector that doesn't take an argument.

In order to satisfy WebStorm, it'd be nice if I could instead specify `:global("")` for my global styles.

[2019-07-06 05:45] nhooyr commented on #450
Interestingly, `:global(html)` already works. I think this is a stylis feature and not Linaria so closing:  https://github.com/thysultan/stylis.js/blob/master/README.md

[2019-07-06 05:45] #450 closed

[2019-07-06 05:47] nhooyr commented on #443
`:global(html)` works. See #450

[2019-07-06 05:53] nhooyr commented on #443
Nvm it doesn't, my bad.

[2019-07-06 06:42] nhooyr opened #452 ":global css should be inserted before any other styles"
Right now the `:global` are last.

I think this is unexpected as you can't use `:global` for global styles and then override some styles in specific components, the `:global` styles take precedence because they're last in the CSS file.

[2019-07-06 06:57] satya164 commented on #452
Linaria doesn't control insertion order. It depends on what code is loaded first. If your file containing the global CSS is the entry file or is imported in the entry file first, it'll be inserted first.

I think this is largely a non-issue because selectors (i.e. tags) in global styles have less specificity most of the time. It can be an issue with some, e.g. attribute selectors, but this can be

[2019-07-06 06:57] #452 closed

[2019-07-06 06:59] satya164 commented on #443
We can probably add `ignorePseudoClasses: ["global()"]` in the default config

[2019-07-06 07:26] nhooyr commented on #452
Makes sense but my global styles are in my index.tsx.

[2019-07-06 07:27] nhooyr commented on #452
Any ideas why my global styles might be inserted last?

Full source at https://github.com/nhooyr/site/blob/3e2dd5306fc0535d69700a072574ae367014e418/src/index.tsx#L6

You can use `yarn && yarn dev` to start webpack-dev-server.

[2019-07-06 07:31] nhooyr commented on #452
@satya164 could you reopen this issue until its figured out in case it is a bug with Linaria

[2019-07-06 07:45] satya164 commented on #452
@nhooyr Any ideas why my global styles might be inserted last?

Your CSS is code is loaded after your `App` is loaded. You can move it to another file and import it before you import `App`

[2019-07-06 07:46] nhooyr commented on #452
Ohhh, of course. 🤦‍♂ thanks

[2019-07-06 09:41] ahuglajbclajep commented on #420
Dependencies version can also be specified using a commit hash.
https://docs.npmjs.com/files/package.json#github-urls

Since [package.json in the current master branch contains core.js](https://github.com/callstack/linaria/blob/7e326c3/package.json#L86), you may be able to avoid the error with the following command: `npm i callstack/linaria#7e326c3` or `yarn add callstack/linaria#7e326c3`.

[2019-07-06 14:57] imbsky commented on #434
I use linaria with preact.
https://github.com/imbsky/bsky-moe

[2019-07-07 09:36] eviL-ivan opened #454 "custom styled function or decorator"
Hi, linaria is awesome, but i try go from styled components to linaria and have a few troubles.
I don`t totaly undestand bug it or feature, please help me understand.

**Do you want to request a *feature* or report a *bug*?**

Maybe Bug

**What is the current behavior?**

For theming, so as not to pass theme in most of the components, i wanna decorate styled function, like this:

`
const myStyled

[2019-07-07 11:39] eviL-ivan commented on #447
Same issue:
https://github.com/callstack/linaria/issues/454

Codesandbox example:
https://codesandbox.io/embed/hello-world-bu9q8

[2019-07-08 08:53] lqez opened #455 "Inline styling uses JavaScript DOM style names, not CSS property."
https://github.com/callstack/linaria/blob/master/docs/DYNAMIC_STYLES.md#inline-styles
shows how to use inline styling. But we should use JavaScript DOM style property names(like `fontFamily`), not CSS property(like `font-family`).

e.g.
[code]

This fails.
[code]

Expected behavior:
Accept CSS property names. Or, this design has to be documented, at least.

[2019-07-08 22:09] eramdam opened #456 "styled.* TS typings erase props of underlying JSX Element"
## Environment

Dependencies:

[code]

## Description

Creating a styled component with `styled.*` returns a component whose props lack the ones from the underlying JSX element. Here's an example that repro

[code]

Yields the following message

[code]

## Reproducible Demo

https://codesandbox.io/s/confident-sound-zw01e?from-embed

[2019-07-09 16:02] cometkim commented on #392
My production build time has reached almost 10 minutes and I had some investigation today.

The reason why linaria is going to slow is "core-js" in my case. Linaria loader evaluated "entire sub-packages" (mostly not needed) in core-js "every time they visited each of the TaggedTemplateLiteral", and they were never cached.

[2019-07-09 17:39] nhooyr commented on #456
See https://github.com/callstack/linaria/pull/389

[2019-07-09 19:31] eramdam commented on #456
@nhooyr Sweet! Any idea when this would land?

[2019-07-10 06:26] cometkim commented on #392
Quick fix: Install this script in your postinstall to enable module cache

[code]

It makes production build hundreds of times faster.

[2019-07-10 06:58] cometkim commented on #444
Resolved in gatsby-plugin-linaria v1.2.2, @ryan-ds You can close this 😉
(See https://github.com/silvenon/gatsby-plugin-linaria/issues/17)

[2019-07-10 07:12] #444 closed

[2019-07-12 00:55] ShanonJackson commented on #407
Can we please upgrade core-js as a dependency? its causing inter-dependency issues in my project between other libraries who rely on the latest version of core-js.

[2019-07-12 10:23] megabayt commented on #420
any workaround without using alpha version?

[2019-07-14 17:46] samdenty opened #457 "Cyclic imports result in infinite loop"
## Environment

## Description

I was using linaria with gatsby, modified a few components and it froze. Through debugging, I narrowed it down to cyclic imports not working

## Reproducible Demo

https://github.com/samdenty/linaria-cyclic - `yarn; yarn build`

**a.js**
[code]

**b.js**
[code]