[2022-06-09 04:09] silviogutierrez opened #986 "import in esbuild appears to be completely broken (reproducible)"
## Environment

Appears to be related to https://github.com/callstack/linaria/pull/955 and https://github.com/callstack/linaria/issues/954

Here's a repro: https://github.com/silviogutierrez/linaria-esbuild-bug

- Linaria version: beta20
- Bundler (+ version): esbuild 0.14
- Node.js version: v14

## Description

It seems all external imports are broken.

## Reproducible Demo

1. Clone https://gith

[2022-06-09 14:02] Anber commented on #984
Hi @ntucker
Step 6 says that `@anansi/core must be installed to run this subcommand`. `yarn install` inside `examples/concurrent` doesn't help.
[code]

[2022-06-09 14:28] #986 closed

[2022-06-09 14:31] Anber commented on #986
Thank you, @silviogutierrez!
Fixed and will be released soon.

[2022-06-09 14:33] #967 closed

[2022-06-09 14:34] ntucker commented on #984
You're supposed to yarn install before you change directory

[2022-06-09 14:38] ntucker commented on #984
Yarn v1 should be used...how did you get v3 in a global case I thought yarn 2 was all about per project config

[2022-06-09 14:41] Anber commented on #984
https://github.com/ntucker/anansi/blob/c85f2c42602fda03594966eb7a2b90d3e45cfd4e/.yarnrc.yml it's here

[2022-06-09 14:44] ntucker commented on #984
You ran yarn build:pkg? That should have built core

[2022-06-09 14:52] Anber commented on #984
My bad. Sorry for disturbing you. I was distracted during the setup and missed the step.

[2022-06-09 16:45] Anber commented on #984
After two hours in the debugger, I finally have an answer: the killer is `fs-monkey` that doesn't support `exports` in `package.json`. Is it possible for you to replace it with something that supports node 12+?

[2022-06-09 16:51] ntucker commented on #984
Wow, thanks. I'll look into this

[2022-06-09 16:53] Anber commented on #984
I will try to add aliases for backward compatibility.

[2022-06-09 17:51] ntucker commented on #984
Oh nice - that's probably great to making everyone's upgrade path smoother. Thanks @Anber ! <3

[2022-06-09 18:23] #984 closed

[2022-06-09 18:59] ntucker commented on #984
Hmm, I still get Error: Cannot find module '@linaria/core/processors/BaseProcessor' when using fs-monkey. I'll try to figure out another thing to use. The production builds now work so that's definitely the only problem for me.

[2022-06-09 20:02] Anber commented on #984
Hm. For some reasons, processes folder hasn't been published to npm. I'll fix it tomorrow.

[2022-06-09 20:04] Anber commented on #984
I forgot to add it to the list of published files in package.json. 🤦‍♂️

[2022-06-09 20:42] ntucker commented on #984
For anyone stumbling on this thread, I was able to solve require() compat by switching to fs-require from fs-monkey. https://github.com/ntucker/anansi/pull/1538

[2022-06-09 21:23] silviogutierrez commented on #986
@Anber : thanks for the super quick turnaround!

Quick question: is esbuild such a rarely used plugin that it wasn't caught earlier? Afaik, it broke all builds, especially with semver. Or was there some specific condition in my setup? This is *very* popular library, so I'm curious.

And for another esbuild issue, check out this other issue I filed a while back: https://github.com/callstack/linaria

[2022-06-10 10:09] Anber commented on #986
`@linaria/esbuild` has ≈60 times fewer downloads than webpack-plugins, so yes it is pretty rarely used. I'm surprised that it worked for @aiji42, so maybe there are some specific conditions.

I'll take a look. Source maps and esbuild are a dark forest for me, and I hoped that maybe someone who knows it better would come and fix it :)

[2022-06-10 19:16] silviogutierrez commented on #986
@Anber : thanks, I looked into it a bit and have some findings. I'll post on that thread.

[2022-06-10 19:22] silviogutierrez commented on #898
@Anber : so if you console.log the babel results of a transform here:

https://github.com/callstack/linaria/blob/master/packages/esbuild/src/index.ts#L82

You'll see `result.sourceMap` coming back from the transform *already* has the "post" JSX transformation. Meaning, the information is lost. So there's no way for `esbuild` to see the original code, even if you properly insert the code map like s

[2022-06-10 19:55] silviogutierrez commented on #898
Well... duh, it's actually `esbuild` that is transforming. It runs *before* babel, I never realized that:

https://github.com/callstack/linaria/blob/master/packages/esbuild/src/index.ts#L73

I'm not sure what the right approach is here. Run esbuild *after*? At that point, what's esbuild even doing?

Another is to pass the esbuild source maps *into* babel, then after too.

[2022-06-11 18:28] hackwaly opened #990 "Keyframe name not mangled in atomic mode"
## Environment

- Linaria version:
    "@linaria/atomic": "3.0.0-beta.21",
- Bundler (+ version):
    "@linaria/rollup": "3.0.0-beta.21",
- Node.js version: v17.8.0
- OS: macOS 12.4 (21F79)

## Description

[code]

## Reproducible Demo
https://stackblitz.com/edit/vitejs-vite-wq778x?file=src/App.tsx

[2022-06-14 07:33] nvh95 commented on #617
This works for `babel-jest`

[code]

Use `linaria/babel` instead of `@linaria`
[code]

[2022-06-14 07:33] nvh95 commented on #910
This works for `babel-jest`, I guess it may work for `ts-jest`

[code]

Use `linaria/babel` instead of `@linaria`
[code]

[2022-06-14 16:44] silviogutierrez commented on #898
I've opened a rough pass at it, let me know what you think. https://github.com/callstack/linaria/issues/898

[2022-06-16 15:47] hackwaly commented on #990
I found the code:

https://github.com/callstack/linaria/blob/3285ccc1d00449b78b3fc74087528cd38cbdd116/packages/atomic/src/processors/helpers/atomize.ts#L40-L51

It seems in atomic mode, keyframes and prefix are disabled. Why?

[2022-06-16 18:06] hackwaly opened #993 "Consider leverage css layers to control rule priorities."
## Describe the enhancement

Inspired from https://github.com/unocss/unocss#layers

linaria.config.js
[code]

Add optional options argument which can be used to pass `layer` option to `css` function.
[code]

Output rules with care of layers order, except that in development environment could just simply rely on browser's native css layers feature.

## Motivation

The `cx` function of`@linaria/atom

[2022-06-17 13:10] #898 closed

[2022-06-17 16:39] Mavrin opened #995 "object interpolations stop working for some case"
## Environment

- Linaria version: 3.0.0-beta.21
- Bundler (+ version): webpack 5.73.0
- Node.js version: v16.15.0
- OS: MacOS

## Description
I have next code:
[code]
I get error
[code]
It works with  v3.0.0-beta.15
and I noticed it stop worked also
[code]

## Reproducible Demo
repo for reproduce issue
https://github.com/Mavrin/linaria-issue
[code]
[code]
[code]

[2022-06-23 10:22] petamoriken commented on #821
This repository may be used as a reference to implement a CSS in JS implementation in SolidJS.
https://github.com/solidjs/solid-styled-components

[2022-06-24 19:19] meAnurag commented on #952
How can I solve this issue?

[2022-06-25 00:58] qiweiii commented on #952
@meAnurag I remember we used a workaround solution: using nodejs to copied the required ui5 file from node_module to our project root on `yarn start` or `yarn build`, so our own project setup will handle its ES6 syntax. This solution is just a workaround and may not apply to your use case since we only need to copy one ES6 file (`ThemeParameters`) from UI5.

[2022-06-25 05:26] meAnurag commented on #952
Hey @qiweiii Thanks for the quick response. Actually I am bit confused here. What is a ui5 file? and can you please point me how can I create a workaround like yours.

[2022-06-25 05:50] qiweiii commented on #952
@meAnurag in the code sandbox: https://codesandbox.io/s/linaria-demo-forked-1kwhyy?file=/src/App.js, I imported `ThemingParameter` from ui5. For my case this is the line that gives the error, if I remove this import and usage of `ThemingParameter`, the error will be gone. The ui5 file which I refer to is `ThemingParameters.js` which uses ES6 syntax.

So my solution is to maybe add a node script ca

[2022-06-25 20:20] #293 closed

[2022-06-27 19:32] IgnusG opened #998 "Website seems to be down down"
## Description
https://linaria.dev/ displays a blank screen with the error React is not defined.

## Reproducible Demo

![image](https://user-images.githubusercontent.com/6438760/176021079-ca74ae6a-6ab3-4fcc-b2e2-bf942c6821ac.png)

![image](https://user-images.githubusercontent.com/6438760/176021628-d4940899-bcef-4271-9f5f-87d3013619ee.png)

I've tried latest Edge and Firefox

[2022-06-29 07:15] mindyourlifeguide commented on #857
Faced this problem.

version:
  "linaria": "^3.0.0-beta.19",
  "next": "^12.2.0",
  "next-linaria": "^1.0.1-beta",

or

  "linaria": "^2.3.1",
  "next": "^12.1.6",
  "next-linaria": "^0.11.0",

[2022-06-30 14:30] Anber commented on #998
Thank you! Fixed.

[2022-06-30 14:30] #998 closed

[2022-07-01 10:26] fmacherey opened #999 "@babel/plugin-transform-runtime@7.18.6 throws warnings with linaria"
## Environment

Updating `@babel/plugin-transform-runtime` from 7.18.5 to 7.18.6 lead to the following warning from webpack:
[code]

- Linaria version: 3.0.0-beta.22
- Bundler (+ version): next@12.1.6, babel@7.18.6
- Node.js version: 16.13.1
- OS: macos

## Description
When running the next build (dev and prod), this error happens with lots of webpack warnings. I think there is missing peer depend

[2022-07-01 16:35] ntucker commented on #999
I have the same issue

[2022-07-04 16:43] rizzzse opened #1000 "Syntax error while evaluating variables imported from another TypeScript file."
## Environment

- Linaria version: 3.0.0-beta.22
- Bundler (+ version): rollup 2.75.7 (@rollup/plugin-typescript 8.3.3)
- Node.js version: v16.13.2
- OS: windows11 + WSL2(Ubuntu)

## Description

A syntax error occurs when trying to evaluate a variable imported from another TypeScript file.

## Reproducible Demo

[code]
[code]
[code]
When I build the above project, I get the following error.
[code

[2022-07-12 07:46] huydq-1218 commented on #589
Anyone have a working example with NextJS 12 and linaria 3 beta?

[2022-07-12 16:32] layershifter commented on #857
Oops, my bad.

[code]

And it works like a charm 💎

[2022-07-12 16:36] #857 closed

[2022-07-13 07:58] Anber commented on #1000
If you don't use Babel, Linaria doesn't know how to parse ts-files. Probably, we can detect tsconfig.json and use it for parsing, but it will take some time for investigating and implementing this solution. As a quick workaround, you can pass `@babel/preset-typescript` to [`babelOptions`](https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md).

[2022-07-13 13:30] Anber commented on #952
By default, Linaria doesn't transpile modules inside `node_modules`. However, you can add a rule for a specific folder (see [`rules` options](https://github.com/callstack/linaria/blob/master/docs/CONFIGURATION.md)). For your case, `linaria.config.js` will look like this:
[code]

[2022-07-16 08:18] iMoses-Apiiro opened #1005 "Animation names are being suffixed with className when no animation is defined"
## Environment

- Linaria version: 3.0.0-beta.15
- Bundler (+ version): webpack 5.69.1
- Node.js version: 16.15.0
- OS: Ubuntu

## Description

Animation names are being suffixed with the generated className even if no animation is defined with that name.

This causes a condition in which it's impossible to use globally defined animations, as linaria will mess up the names.

## Reproducible Demo

[2022-07-18 11:11] Anber commented on #1005
It looks like [an issue from stylis](https://github.com/thysultan/stylis/issues/133). As a workaround, you can redefine `preprocessor` in your config.

[2022-07-19 15:51] layershifter opened #1008 "@linaria/shaker removes specific code"
## Environment

- Linaria version: `@linaria/shaker@4.0.0-beta.0`
- Bundler (+ version): N/A
- Node.js version: N/A
- OS: N/A

## Description

This bug is a regression (#861). The problem comes with compiled code, the minimal input is:

[code]

After the plugin 💥

[code]

(while the object should remain the same 🐱 )

## Reproducible Demo

https://stackblitz.com/edit/node-clu7gg?file=index.js,code.

[2022-07-20 11:09] #1008 closed

[2022-07-22 09:15] IgnusG commented on #244
Lol we went full circle to the original suggestion 😅

[2022-07-25 10:47] nstepien opened #1018 "linaria@4.0.0 broke re-exports"
## Environment

- Linaria version: 4.0.0
- Bundler (+ version): webpack@5.72.0, rollup@2.71.1
- Node.js version: 18.6.0
- OS: Win11

## Description

We use linaria@3 in react-data-grid: https://github.com/adazzle/react-data-grid
Trying to upgrade to linaria@4 broke webpack/rollup: https://github.com/adazzle/react-data-grid/pull/2962

[code]

https://github.com/adazzle/react-data-grid/blob/d11a5cc7

[2022-07-25 13:05] #1018 closed

[2022-07-25 13:08] Anber commented on #1018
Hi @nstepien!
Thank you for your report! I've just published `4.1.0`, which should fix both of your problems.

[2022-07-25 13:16] nstepien commented on #1018
@Anber Thanks, both work fine now!
Congrats on the stable release.

4.1.0 is breaking Jest now, not sure if 4.0.0 was working in Jest before.
Should I open a new issue?
[code]
Same branch as before in react-data-grid.

[2022-07-25 13:21] Anber commented on #1018
Do you use babel-jest transformer?

[2022-07-25 13:24] nstepien commented on #1018
https://github.com/adazzle/react-data-grid/blob/d11a5cc70615485fd94398a517d4f4e5cab6f088/jest.config.js
I believe it does yes. FWIW Jest was working fine with linaria@3.

[2022-07-25 13:27] Anber commented on #1018
I can't say right now why it was ok with 3.0, but you need something that can replace `css` calls before Jest tries to execute your code. Could you try to add this to `jest.config.js`?
[code]

[2022-07-25 13:38] nstepien commented on #1018
I get the same problem with this config.
I'm sure it's using babel to transpile anyway as we need to transpile ts types/jsx syntax for example.

[2022-07-25 13:49] Anber commented on #1018
Hm. I tried with this config, and it worked, but after your message it stopped :) Could you please open a new issue? I'll try to figure out what has happened.

[2022-07-25 13:56] nstepien opened #1021 "linaria@4.1 breaks jest"
## Environment

- Linaria version: 4.1.0
- Bundler (+ version): webpack@5.72.0, rollup@2.71.1
- Node.js version: 18.6.0
- OS: Win11

## Description

linaria@4 breaks jest, while it was working fine with linaria@3.

[code]

## Reproducible Demo

https://github.com/adazzle/react-data-grid/pull/2962

[2022-07-25 13:59] nstepien commented on #1018
Without changing anything the tests worked fine on the first try, but stopped working when I ran the tests with the cache disabled with `npm t -- --no-cache`. Maybe 4.0.0 worked fine with jest 🤔

Anyway I've opened a new issue here: https://github.com/callstack/linaria/issues/1021

[2022-07-25 14:18] ntucker opened #1022 "EvalError: Unexpected token 'export' in"
## Environment

- Linaria version: 4.1.0
- Bundler (+ version): webpack 5.78
- Node.js version: 16
- OS: ubuntu

## Description

[code]

Seems related to babel doing a transform it shouldn't?

## Reproducible Demo

https://github.com/ntucker/anansi/pull/1591

1. git clone https://github.com/ntucker/anansi
2. git checkout renovate/major-linaria
3. yarn install
4. yarn build:pkg
5. cd examples/concu

[2022-07-25 14:37] Anber commented on #1022
Did it work in 4.0?

[2022-07-25 14:45] ntucker commented on #1022
Antd uses the package.json "exports" field - not sure if that's related.

[2022-07-25 15:04] Anber commented on #1022
The key problem here is that since 4.0, Linaria started to use built-in file resolvers. In your case, Webpack resolves ES-version of Antd instead of CJS that causes `Unexpected token 'export'` when the resolved file is evaluated. As a quick workaround, you can specify a rule in Linaria config, which will force transformation for es-files:
[code]

I'll try to figure out how to solve this problem wi

[2022-07-25 16:14] ntucker commented on #1022
@Anber doing your suggestion fixes that error and results in:

[code]

[2022-07-25 16:26] Anber commented on #1022
Ok, I'll take a look in a couple of hours.

[2022-07-26 04:07] Evalon commented on #1022
Is it right that we need to traverse to another file because we should understand what type of the current symbol?
I think this problem will arise frequently in monorepos and shared components libraries. Maybe we can use some magic comment or do this check at runtime?

As a workaround:
[code]

[2022-07-26 12:35] Anber commented on #1022
It's… hard. ESM currently isn't supported by browsers and nodejs. Especially in the form which is now widely used. However, it's straightforward to parse and process ESM instead of CJS (e.g. ⅔ of https://github.com/callstack/linaria/blob/master/packages/utils/src/collectExportsAndImports.ts is for processing CJS). That's why bundlers prefer ESM and resolve ESM whenever it's possible. For me, it's

[2022-07-26 13:46] ntucker commented on #1022
@Anber I guess I'm wondering if everyone supports and loves ESM - why does it need to be CJS? Maybe the problem is just that something is treating it like CJS when it should be treated like ESM.

[2022-07-26 14:01] Anber commented on #1022
@ntucker it must be CJM because it is impossible to evaluate ESM. You can't just take ESM code and tell node "hey, run this code and give me the result". Well, you can, but you will get the error from your first message :) So that, it have to be transpired to CJS.

[2022-07-26 14:03] Anber commented on #1022
Anyway, it's not a big deal to process files inside node_modules. For some bundlers it is the only way (Vite resolves everything in ESM). I'm just a bit stuck with #1021. When I resolve it, I'll release a fix for this bug as well.

[2022-07-26 14:25] ntucker commented on #1022
Node 12+ supports ESM...how does that work?

[2022-07-26 15:30] Anber commented on #1022
It supports if it is an `mjs` file with [fully specified imports](https://nodejs.org/api/esm.html#mandatory-file-extensions). But if you check `node_modules/antd/es/index.js` in your project, you will see that the file itself is not `mjs`, and all imports inside don't have extensions.

[2022-07-26 16:05] ntucker commented on #1022
I wonder if it's possible to avoid evaluation in case these are not used for any linaria computations.... for instance this my example imports from antd are only needed for the component itself.

[2022-07-26 16:10] Anber commented on #1022
That is what @linaria/shaker does. Unfortunately, sometimes heuristics don't work well, and some redundant code is kept alive.

[2022-07-26 16:13] Anber commented on #1022
I'll check why it tries to import antd. Thank you for pointing out that it is unnecessary here.

[2022-07-26 19:37] #1021 closed

[2022-07-26 19:39] Anber commented on #1021
Maybe fixed :)

[2022-07-26 19:49] Anber commented on #1022
@Evalon if we do it in runtime, we cannot be zero-runtime :)

[2022-07-27 05:04] vladimirschneider opened #1026 "SyntaxError: Invalid usage of `styled` tag"
Hello everyone, I have a problem. I think that linaria cannot with latest babel, webpack versions. I try run configs with node 16 and 18. THe messages are identical.

I try use latest version of  `create-react-app` and self config to use `linaria` and getting the error message each time.

[code]

My component looks like

[code]

If I don't use styled and use css from `@linaria/core` it's work.

Fo

[2022-07-27 07:31] Anber commented on #1026
Hi @vladimirschneider
It's fixed in #1025 and will be released later today.

[2022-07-27 07:31] #1026 closed

[2022-07-27 07:48] Anber commented on #1022
In that specific case antd is used, because `styled` have to know the type of component it wraps and that's why Linaria tries to evaluate it. However, inners of antd can be treeshaked a bit more effectively.

[2022-07-27 16:34] jpnelson opened #1027 "Atomic CSS: Dev friendly class name generation"
## Describe the enhancement

I think it'd be useful if it were possible to generate more readable class names in development, for example:

[code]

could become

[code]

(only when NODE_ENV=development)

I think this would be an opt-in behavior too, configured in the linaria config.

### Format of the atoms
I think we'd still need to have the format be `{prefix}_{property}_{value}` but as long as

[2022-07-27 16:51] nstepien commented on #1021
Package update soon? I'd love to try it

[2022-07-27 19:35] #1022 closed

[2022-07-27 20:09] Anber commented on #1021
@nstepien published.

[2022-07-28 09:43] nstepien commented on #1021
It worked! Thank you very much

[2022-07-28 13:30] ladarit commented on #496
same question. Any updates?

[2022-07-29 13:58] glekner commented on #735
@Platane can you share a working repository with Vite & Linaria? Thank yuou

[2022-07-29 14:09] Anber commented on #735
@glekner you can find an example in examples/vite

[2022-07-29 19:42] Mavrin opened #1029 "Webpack serve crashed on syntax error"
## Environment
- Linaria version: 4.1.1
- Bundler (+ version): wepback 5
- Node.js version: 16
- OS: Mac

## Description
I run `weback serve` and make some sytax error in some file. Wepback process exit with exit code 1. I expect that webpack will continue work.

## Reproducible Demo
repo for reproduce issue
https://github.com/Mavrin/linaria-issue
[code]
[code]
[code]
make some mistake in `app/src

[2022-07-30 14:25] ntucker opened #1030 "Property key of ClassMethod expected node to be of a type ["Identifier","StringLiteral","NumericLiteral"] but instead got undefined"
## Environment

- Linaria version: 4.1.1
- Bundler (+ version): webpack 5.74.0
- Node.js version: 18.6
- OS: Ubuntu 20.04
- Node 18.6

## Description

[code]

This is 'property key':

[code]

Note that `rest/lib/BaseResource.js` is 100% node compatible ESM. All imports use fully qualified extensions, and the package.json has "type": "module". So there is actually no reason one would need to run ba

[2022-07-30 16:14] Anber commented on #1030
We cannot just ignore those files because we have to tree-shake them.
I'll fix this `expected node to be of a type` until Monday.

[2022-07-30 18:58] ntucker commented on #1030
I could be wrong as I don't understand all the internals, but https://github.com/coinbase/rest-hooks/blob/renovate/major-webpack/examples/todo-app/src/pages/Home/TodoListItem.tsx#L32 is not using any imported symbols beyond linaria, so I was thinking perhaps those imports don't have to be traversed?

(https://github.com/coinbase/rest-hooks/blob/renovate/major-webpack/examples/todo-app/src/pages/Ho

[2022-07-30 23:14] jpnelson commented on #993
I think this is a good idea too. What do you think about doing something similar to what we do with @media rules, and supporting the native API? Eg.

[code]

[2022-07-31 19:05] Anber commented on #1030
Hi @ntucker
I can't reproduce it…

It doesn't have to be that specific ClassMethod. `Property key` in the error means, that in some of `ClassMethod`s Linaria tries to remove `key` property.

I've made a fix but it would be cool if you can help me to reproduce the error, so I can add a test case.

[2022-07-31 19:06] #1030 closed

[2022-08-01 01:36] ntucker commented on #1030
I'm pretty sure it is that specific key, because `Property ${key} of ${node.type} expected` turns into "Property key of ClassMethod expected". Therefore the variable key is "key" and node.type === "ClassMethod".

Did you try reproducing using the instructions or did you just try extracting the part I thought was related?

[2022-08-01 08:54] billykwok opened #1034 "Conflict between @linaria/shaker and @babel/preset-env"
## Environment

- Linaria version: v4+
- Bundler (+ version): Webpack 5+
- Node.js version: 18+
- OS: macOS 15.6

## Description

There is a new hardcoded [`envName: 'linaria'` option](https://github.com/callstack/linaria/blob/master/packages/shaker/src/index.ts#L25) specified in the babel config of shaker v4, but [not in v3](https://github.com/callstack/linaria/blob/%40linaria/shaker@3.0.0-beta.2

[2022-08-01 10:49] raveclassic commented on #821
Hey everyone! FYI I'm working on this.
Basically it all nails down to building a new processor, mostly similar to `StyledProcessor` in `@linaria/react`. I'm already able to transpile html tags down to pure jsx-components, which can then be passed to `babel-preset-solid` that transpiles them to pure dom/ssr templates.

So it's working for html tags (`styled.div`) but I'm having troubles with anonym

[2022-08-01 11:34] Anber commented on #1030
The variable "key" here is not the value, but the name of[ the member of `ClassMethod`](https://github.com/babel/babel/blob/main/packages/babel-types/src/definitions/core.ts#L1889). The error means, that Linaria tries to replace the key in some object with `undefined`, instead of expected identifier, string or number. It is incorrect behaviour in any case and Linaria should delete the whole proper

[2022-08-01 11:38] #1029 closed

[2022-08-01 12:26] Anber commented on #821
@raveclassic it will be a long story :) Can you message me in TG @anber_ru?

[2022-08-01 16:11] ntucker commented on #1030
Good news - the new version does fix this issue.

I can think of two possible reasons you can't reproduce:

1. Do you have corepack enabled? Not using it will mean packages won't install correctly (I added corepack enable to instructions above)
2. If you already have the rest-hooks repo checked out; the build cache will avoid triggering this condition:
  1. `yarn build:clean`
  2. after moving to

[2022-08-01 23:00] Mavrin opened #1036 "Could not parse valid code"
## Environment

- Linaria version: 4.1.2
- Bundler (+ version): webpack 5
- Node.js version: 16
- OS: Mac

## Description
I have code:
[code]
I get error:
[code]
if I comment `render(reactElement, rootElement);`. Code will be parsed without errors.

## Reproducible Demo
https://github.com/Mavrin/linaria-issue

[2022-08-02 08:21] Mavrin commented on #1036
also expression like this could not be parsed
[code]
[code]

[2022-08-03 16:18] Ibaslogic opened #1037 "Adding @linaria in a babel presets causing styling issues"
## Environment

- Linaria version: v4.1.0
- Bundler (+ version): Webpack 5+
- Node.js version: v18+
- OS: macOS v12.2.1

## Description

I noticed a few issues with styling whenever I include the `@linaria` presets in the `.babelrc` file:

[code]

Issues:
1. Dynamic prop with `styled` component tag stopped working
2. Using a `styled` and `css` tag template in the same file produces an unexpected r

[2022-08-04 03:00] anc95 opened #1039 "Build failed for js literal template"
## Environment
- Linaria version: 4.1.2
- Bundler (+ version): react-scripts@5.0.1
- Node.js version: v14.17.6
- OS: Mac OS (M1 chip)

## Description
There are two files, `index.js` and `literal.js`, bellow is their contents
**index.js**
[code]
**literal.js**
[code]
When build, will get error
[code]
<img width="626" alt="image" src="https://user-images.githubusercontent.com/13167934/182753624-b249

[2022-08-04 03:05] anc95 commented on #1039
I have investigated the issue and found the causing source is there https://github.com/callstack/linaria/blob/1c697031a983799422dd4be2dee6dc0956250392/packages/babel/src/plugins/preeval.ts#L157-L165
In prepare eval phase, `linaria` will remove the related nodes of global var (in my example is `window.name`), the got
[code]
then in the next evaluator phase, `linaria` use babel to transform the sour

[2022-08-08 09:25] MaxSvargal-imhio opened #1042 "Broken styled variables interpolation"
## Environment
next@12.2.4
next-linaria@0.11.1

- Linaria version: 4.1.2
- Bundler (+ version): webpack@4.3
- Node.js version: 18.2.0
- OS: Mac OS 10.14 + Linux Sandbox

## Description
Variables in tag functions does not render at all
![Screenshot 2022-08-08 at 16 22 47](https://user-images.githubusercontent.com/72729509/183385551-cad80cf6-7de9-41eb-a194-6eaad1ddc867.png)

## Reproducible Demo
htt

[2022-08-08 12:04] hackwaly commented on #993
I think the native syntax are better.

[2022-08-09 14:34] RanolP opened #1043 "Named export 'styled' not found. The requested module '@linaria/react' is a CommonJS module"
## Environment

- Linaria version:
    "@linaria/react": "4.1.2",
    "@linaria/rollup": "4.1.2"
- Bundler (+ version): vite 3.0.4 with vite-plugin-ssr 0.4.18
- Node.js version: v18.7.0
- OS: Arch Linux

## Description

I'm writing a frontend with an SSR server using ESM and recently wanted to use linaria. But the linaria packages cannot be imported as an ESM module in a Node ESM environment.

##

[2022-08-09 14:55] lukesmurray opened #1044 "Between ^3.0.0-beta.22 and 4.0.0-beta.0 vite with linaria broke"
## Environment

I've included the environments for both cases in the following code sandboxes. The sandboxes are completely identical other than the linaria versions in package.json.

- [linaria not working with 4.1.2](https://codesandbox.io/s/linaria-fails-on-4-1-2-hzlowt)
- [linaria working with 3.0.0-beta.22](https://codesandbox.io/s/cool-hopper-eysqfw)

## Description

When I try to use the `l

[2022-08-13 06:51] Kvodnon commented on #904
same issue

[2022-08-14 16:34] kryops commented on #1036
I also got the `Property body of FunctionDeclaration expected node to be of a type ["BlockStatement"] but instead got undefined` error on code like this:

[code]

It worked once I extracted `window.innerWidth >= breakpoint` into a separate function.

[2022-08-14 16:38] kryops commented on #1034
I believe this also causes issues with the `react-refreh` babel plugin (which can be worked around though):

[code]

[2022-08-17 19:23] jonataslaw commented on #589
Linaria 4 no longer works with Nextjs 12.
At least not the dynamic properties.
Version 2 works normally.

[2022-08-18 02:16] soluml commented on #1044
This is hitting me as well. Was using the the v3 Beta in an Astro site and I'm currently unable to upgrade.

[2022-08-18 14:58] weyheyhey opened #1047 "The function cannot be used in a string template"
## Environment

Linaria version: v4+
Bundler (+ version): Webpack 5+
Node.js version: 16+

## Description

Using a function declaration in a string template results in the error "This expression cannot be used in a template because it is a function parameter.":

[code]

At the same time, the use of function expression is correctly processed:

[code]

## Reproducible Demo

https://codesandbox.io/s/

[2022-08-19 23:50] js2me opened #1048 "styled.element props not working"
## Environment

Windows 10, Webpack 5,  node 14.18.3,
[code]

## Description

I create simplest component Typography with prop color which transformed into css variable via prop fn, but I've got problem that component received css class name (as I guess) but expect to be received (prop string value which I send to component as prop)

code

[code]

`H1` usage

[code]

![image](https://user-images.g

[2022-08-20 00:03] js2me commented on #1048
Or it is not possible with this tool ?

[2022-08-20 17:44] anulman commented on #589
I got this working with NextJS 12 & Linaria 4. Just walking back through my changes; will publish something shortly

[2022-08-21 13:07] #1037 closed

[2022-08-21 13:16] #1034 closed

[2022-08-21 13:21] Anber commented on #1034
Hi @billykwok

It allows overriding babel config exclusively for the shaker stage, but yeah, it looks like it causes more harm than provides benefits. Thank you!

[2022-08-21 13:32] #1039 closed

[2022-08-21 14:30] alexradulescu commented on #1044
Same issue for me.

[2022-08-22 18:19] jerrywithaz opened #1053 "Css Variable Custom Resolver Configuration"
## Describe the enhancement

It would be great to have the ability to format the css variable names via the `linaria.config.js` file.

I prefer my css variable names to be the following format: `{componentName}-{cssProperty}-{slug}-{index}`.

So an example would be: `--flexbox-flex-direction-f22br00-0`

## Motivation

My team prefers descriptive variable id's because it makes the css easier to rea

[2022-08-23 14:23] fandy commented on #589
@anulman can you push up an example for us?

[2022-08-23 14:49] nstepien opened #1054 "Odd `Cannot use import statement outside a module` error"
## Environment

- Linaria version: 4.2.0
- Bundler (+ version): rollup@2.79.0
- Node.js version: 18.8.0
- OS: Windows (local) and Linux (CI)

## Description

Linaria + rollup can lead to bundle failure.

[code]

## Reproducible Demo

1. Clone https://github.com/adazzle/react-data-grid/commits/linaria-1054 (checkout the `linaria-1054` branch)
2. Install dependencies with `npm i`
3. `npm run build`

[2022-08-23 16:08] anulman commented on #589
Oop, sorry — only got it stable end-of-day Friday and cycled off the project this week.

[code]

That whole `crossRules` thing is a little messy but the point of it is to find Next's Babel rule, read the Babel options directly from it, and add the `@linaria/webpack-loader` sequentially after the Babel one.

[2022-08-24 14:14] jhnns opened #1055 "Error when parsing Mobx"
## Environment

[code]

[code]

On macOS Monterey

## Description

When I tried to update to the latest Linaria version, I ran into a strange parsing bug. Originally it failed on `dist/mobx.esm.js` from the popular MobX library.

I've boiled down the code to the following example:

[code]

[code]

When trying to parse this, it will fail with:

[code]

Could be a Babel bug, but since it only happen

[2022-08-27 10:13] fandy commented on #1044
Yeah, Linaria 4 is confirmed to not work at all with rollup.

[2022-08-28 08:58] ansarizafar commented on #1044
Is there any solution?

[2022-08-28 22:16] anulman commented on #1048
I'm guessing you need to specify the `configFile` option to the `babel-loader` _and_ as `babelOptions` to the Linaria webpack loader. See my comment here: https://github.com/callstack/linaria/issues/589#issuecomment-1224287054

[2022-08-31 19:09] kutnickclose commented on #930
For stylelint 13, @linaria/stylelint uses a [preprocessor](https://github.com/callstack/linaria/blob/master/packages/stylelint/src/index.ts#L2) to create a [css-ish](https://github.com/callstack/linaria/blob/master/packages/stylelint/src/preprocessor.ts#L88) file before running linting tests on it.

For stylelint 14, stylelint [discourages using a (pre)preprocessor](https://stylelint.io/developer-

[2022-09-03 01:04] iMoses commented on #904
The change required is simply replacing this part of the `package.json` file
[code]
with this:
[code]
was tested locally and it works well

[2022-09-06 11:59] cojoclaudiu commented on #735
@betterRunner did you fix the error? I'm trying to setup new React TS Vite project and I would like to use linaria but I can't make it working. I was following the https://github.com/callstack/linaria/tree/master/examples/vite but when I start the dev server I get this error
`yarn run v1.22.19
$ vite
failed to load config from /Users/claudiu.cojocaru/Development/thinkOnline_bellway/vite.config.ts

[2022-09-06 13:32] Anber commented on #1042
Hi @MaxSvargal-imhio!
Fixed in #1051.

Btw, you probably don't need to specify `linaria/babel` in `babel.config.js`. It is necessary only if you build libraries or use a monorepo. Otherwise, all transformations will be done in the webpack loader.

[2022-09-06 13:32] #1042 closed

[2022-09-06 14:38] #1036 closed

[2022-09-06 21:41] juanferreras opened #1059 "Issues with `styled` API on linaria v4.1.2 (on both react / atomic)"
## Environment

- Linaria version:
[code]
- Bundler (+ version): `webpack v5`
- Node.js version: `v16.14.2`
- OS: N/A (linux)

This is using Next.js `v12.2.0` / React `v18.2.0` latest stable major versions.

## Description

There are 3 separated issues reproducible in the `stackblitz`:

1. `@linaria/react styled` dynamic interpolation – the `color: var(--hash-0);` rule is extracted but `style="--h

[2022-09-07 09:07] cojoclaudiu opened #1060 "@linaria/react + @linaria/rollup not working with vite 3.1.0"
Hi @cojoclaudiu. I don't know. Maybe. We have [an example for Vite](https://github.com/callstack/linaria/blob/master/examples/vite/vite.config.js) (and I use Vite in my projects), and everything works well. Let's see how @iMoses's approach will affect the problem.

_Originally posted by @Anber in https://github.com/callstack/linaria/issues/1057#issuecomment-1238286783_

Hello,
Yesterday I've start

[2022-09-08 14:43] nstepien opened #1062 "Linaria crashes webpack/rollup"
## Environment

- Linaria version: 4.2.0
- Bundler (+ version): webpack@5.74.0, rollup@3.1.0
- Node.js version: 18.8.0
- OS: Win11

## Description

[code]

## Reproducible Demo

The file where babel/webpack crashes doesn't import linaria, nor does it import any linaria class names 🤷‍♂️
Let me know if you still want a reproducible demo

[2022-09-08 14:44] juanferreras commented on #1059
#1052 release fixes all 3 of these! great job @Anber! 🎊

Updating to the latest stable releases, fixes all 3 cited issues.
[code]

see https://stackblitz.com/edit/linaria-4-1-3

[2022-09-08 14:44] #1059 closed

[2022-09-08 14:52] Anber commented on #1059
Oops 😃

[2022-09-08 15:58] juanferreras commented on #1059
@Anber noted – many thanks, makes a lot of sense now. I wonder if we should make that more explicit in `README.md` and/or `docs/CONFIGURATION.md`. _"You should only use this if X or Y, but you shouldn't use it otherwise as you'll process things twice which can be error-prone on edge cases and ultimately twice as slow."_

[2022-09-08 18:08] Evalon opened #1063 "Webpack crash with ReactRefreshWebpackPlugin and Linaria loader"
## Environment

- Linaria version: 4.1.2
- Bundler (+ version): Webpack 5.74
- Node.js version: 16.4.2
- OS: macOS

## Description

Webpack crash with ReactRefreshWebpackPlugin and Linaria loader

[code]

## Reproducible Demo

https://github.com/Evalon/linaria-simple-example

[2022-09-09 12:26] AndrewVorobev commented on #946
same here

[2022-09-11 07:02] keegankb93 opened #1066 "Interpolating an object -> css class automatically adds px unit to number"
- Linaria version: 4.1.2

## Description

Pretty simple--if I have an object like the following:

[code]
when it's process to css it adds px to it making it an invalid font-weight. Not sure if that's intended, I assume it is to give some sort of default to mistakes, but it seems weird to do that as well.

[2022-09-12 02:58] #1066 closed

[2022-09-13 20:03] jbkcc opened #1067 "@linaria/esbuild plugin fails to parse some TypeScript files"
## Environment

- Linaria version: @linaria/esbuild: 4.1.3, @linaria/core: 4.1.2
- Bundler (+ version): esbuild 0.15.7
- Node.js version: 18.9.0
- OS: macOS 12.5.1

## Description

Long story short, I moved a class into its own file and triggered a surprising error message. After deleting lots of code and dependencies I cooked up a minimal reproducer and put it in its own repo, https://github.com/

[2022-09-14 07:56] Dmitra commented on #1044
added the repo to reproduce this error https://github.com/Dmitra/linaria-vite
When you first launch the project there is an error:
[code]

After change in the repo after first reload the error is the same as in this issue description

@lukesmurray why there is a tag "needs repro" - the issue is easily reproducible

[2022-09-14 10:04] Dmitra commented on #1060
duplicate of #1044 ?

[2022-09-14 10:14] cojoclaudiu commented on #1060
I think so

[2022-09-14 13:29] lukesmurray commented on #1044
@Dmitra No idea, I didn't add the tag manually. It was probably automatically added using linaria's issue template. For context I also included two reproductions with my initial report.

[2022-09-17 02:02] nstepien commented on #1054
I've updated the description above with a consistently failing repro.

[2022-09-17 22:36] Enteleform commented on #1067
I just ran into this issue as well, due to usage of namespaces:

[code]

[2022-09-21 09:44] paddyobrien commented on #1047
Also seeing this issue, it happens when I try to upgrade `@linaria/webpack-loader` from `3.0.0-beta.16` to `4.1.3`

[2022-09-21 13:25] paddyobrien commented on #1047
The issue appears to happen here: https://github.com/callstack/linaria/blob/master/packages/babel/src/utils/collectTemplateDependencies.ts#L142

`binding.kind` is set to `hoisted` and the above error message is generated

[2022-09-23 08:46] kevinseabourne opened #1070 "Compatability with Qwik"
Add Compatability with Qwik ?

[2022-09-27 13:10] #1047 closed

[2022-09-28 18:40] jpnelson opened #1072 "Using `styled`, undefined values in interpolations are turned into strings"
## Environment

- Linaria version: 3.0.0-beta.13
- Bundler (+ version): next / codesandbox

## Description

It seems as though setting an undefined null value for css variables is at runtime turns that value into a string. For example,

[code]

At runtime, the first heading will be blue, and the second will be the default text color (expected). However, the heading gets `--var: undefined` set on i

[2022-09-28 21:58] IgnusG opened #1073 "Is v3 beta still alive? (React HMR in vite/rollup not working in v4 but working on v3 beta)"
## Environment

- Linaria version: 4.1.2
- Bundler (+ version): 3.1.4
- Node.js version: 18.9.0
- OS: Linux Arch

## Description

Running latest linaria with the react HMR plugin breaks with the following error:
[code]

Additionally with the new JSX runtime the following error is thrown:

[code]

This curiously does not happen on the 3@beta branch but since we now have 4 as the latest major with a

[2022-09-29 17:01] juanferreras commented on #1072
I've seen this and I agree with the change as a bug fix – ultimately is just bloating the HTML markup for no behavioral change (eg. `undefined`/`null`/`undefinedpx`/`nullpx`/etc. are all invalid at computed-value time which AFAIK equals the same output that simply skipping the inline custom property declaration)

There's already a [warnIfInvalid()](https://github.com/callstack/linaria/blob/master/

[2022-09-30 07:22] #930 closed

[2022-09-30 09:41] usmanyunusov opened #1074 "Does auto fix work with @linaria-postcss ?"
before
[code]

after
[code]

[2022-10-03 05:57] princelauvaka commented on #870
This worked for me:

**Use**
`import styled from "@emotion/styled"`

**Instead of**
`import styled from "@emotion/react"`

[2022-10-03 10:09] #1063 closed

[2022-10-03 10:12] Evalon commented on #1063
Do not use react refresh babel plugin in babel global config and use it only in babel webpack plugin options. Thus you avoid using refresh plugin twice.

[2022-10-04 02:54] nguyenabc opened #1075 "Cannot import npm package use linaria."
## Environment

localhost

- Linaria version: 4.1.2
- Bundler (+ version): 5.74.0
- Node.js version: 16.16.0
- OS: window/os

## Description
Hi everyone,
  I build design system with storybook, typescript and linaria. I already publish package on gitlab, but when I import into another project it get the issue:

<img width="543" alt="image" src="https://user-images.githubusercontent.com/36985058/19

[2022-10-06 16:48] connor4312 commented on #1067
`@linaria/esbuild` is using a ~year old version of esbuild. It can probably be resolved simply by updating the esbuild version it depends upon

[2022-10-06 17:03] connor4312 commented on #1067
I solved this by adding the following to my `linaria()` call:

[code]

This _really_ needs to be better documented.

[2022-10-06 22:06] LukasBombach commented on #589
I made a working example from @anulman 's comment. Thank you, really good work!

Of course I credited you in that repo!

https://github.com/LukasBombach/nextjs-linaria/tree/working-poc

[2022-10-06 22:09] anulman commented on #589
Awww thanks @LukasBombach! In a recent project I had to rm `@linaria` from the babel config; looks like some updates in the core libs auto-injects the Babel plugin or something

[2022-10-06 22:23] kutnickclose commented on #1074
I didn't really test autofix much so I'm not 100% sure. I likely won't have time to make an updates myself in the next few weeks.

There is one test here:
https://github.com/callstack/linaria/blob/master/packages/postcss-linaria/__tests__/stylelint.test.ts#L34

I would have expected the interim css to be
[code]

so there may be a placeholder issue here.  If it is a placeholder issue then the code

[2022-10-09 14:33] Nandan1996 commented on #589
@LukasBombach Thanks for publishing a working example. But in case I use css module and linaria as well then some hydration issue is coming.

[2022-10-09 20:02] blazzy commented on #735
@cojoclaudiu I run into this problem too. If your project is of `type: module` in your `package.json` it won't import `@linaria/rollup` correctly. It actually ends up importing an object like this:

`{ default: <this is the actual plugin function> }`

You might be able to remove `type: module` from your package.json _or_ invoke `linariaPlugin.default()` instead.

[2022-10-09 20:32] cojoclaudiu commented on #735
Do you have a working sandbox? To be honest I gave up using linaria because I had to move on with the project. But I'm looking forward to use it for the future projects.

[2022-10-11 17:43] jneander opened #1077 "Linaria + Webpack Dev Server Missing Changes from Files Imported by Linaria Files"
## Environment

- Linaria version: 4.1.3
- Bundler (+ version): webpack@5.74.0
- Node.js version: 16.7.0
- OS: macOS 12.6 Monterey

## Description

I have Linaria files (`*.linaria.js`, or `*.css.js` in my case) that are producing styles through `css` from `@linaria/core`. The styles incorporate values imported from other files. When using `@linaria/webpack5-loader` and running the `webpack-dev-se

[2022-10-12 15:50] jneander commented on #1077
`@linaria/webpack5-loader` does get triggered by the change, and does produce output using the change. But the css file is not rewritten with the new changes. Same effect when using `style-loader` instead.

[2022-10-13 13:19] #1053 closed

[2022-10-13 13:21] Anber commented on #1053
Hi @jerrywithaz!

Thank you for your proposal. It has been implemented in #1079 and will be released soon.

[2022-10-13 15:19] jerrywithaz commented on #1053
@Anber this is awesome, thank you!!

[2022-10-13 15:53] Anber commented on #1055
Hi @jhnns!

Well… a lot of things went wrong with your example :) The main problem here is that the `b` function is marked as dead code because its body becomes empty when `a` and all related code are removed.

First of all, `void _` inside `b` should not be deleted, but for some reason, Babel thinks that `_` in `var a = void _` is a binding identifier and not a referenced identifier, and since th

[2022-10-13 21:34] nstepien commented on #1062
Also having the same crash in rollup
[code]

[2022-10-14 11:21] Anber commented on #1055
The problem with MobX is deeper and much more complicated:
• `allowStateChanges` is removed because `allowStateChangesStart` is removed;
• `allowStateChangesStart` is removed because `globalState` is removed;
• `globalState` is removed because it uses `setTimeout` (that cannot be evaluated during compile-time) and `getGlobal` (that uses `window`).

I'll try to fix the shaker to ignore statements l

[2022-10-14 13:42] Anber commented on #1055
I was wrong. The problem in MobX was only in function `allowStateChanges` with parameter `allowStateChanges`. Nice catch!
Anyway, `allowStateChanges` shouldn't be used by Linaria at all, so please let me know if you can check why it is used for styles.

[2022-10-14 14:29] nstepien commented on #1062
@Anber FWIW we had to pin linaria to these last-known working versions:
[code]

[2022-10-14 15:26] #1055 closed

[2022-10-14 16:52] jhnns commented on #1055
Awesome, thank you :)

`allowStateChanges` is used by `mobx-react-lite` which takes care of rerendering React components whenever Mobx observables change. Every React component will import `mobx-react-lite` which will import `allowStateChanges` from `mobx`. That's why this code is evaluated by Linaria.

[2022-10-15 11:05] nicolasdao opened #1082 "Any idea on the steps to install Linaria in a SvelteKit project"
## Environment

- SvelteKit: 1.0.0-next.516
- Linaria version: ^4.1.3
- Bundler (+ version): vite ^3.1.0
- Node.js version: 16.14.0
- OS: MacOS

## Description

Have no clue how to install Linaria on SvelteKit. I tried the https://github.com/denn1s/vite-plugin-linaria plugin but it did not work.

[2022-10-17 11:22] Anber commented on #1048
Hi @js2me

For property based interpolations Linaria uses css variables. In your case, `var(--${props.color})` will be compiled as `var(--var(--some-generated-name))` that is just an invalid CSS syntax. There are at least two ways to address you problem:
1. interpolate not a variable name, but a color: `color: ${(props) => NameToValue[props.color]};`;
2. use [cx](https://github.com/callstack/linar

[2022-10-17 11:22] #1048 closed

[2022-10-17 15:21] #1044 closed

[2022-10-17 15:21] #1060 closed

[2022-10-17 17:02] alikazemkhanloo commented on #491
Any update on this?

[2022-10-18 10:17] Anber commented on #946
The problem here that an animation name cannot be specified with a variable. It's the limitation which seems impossible to address. The only way here is the second point from that comment https://github.com/callstack/linaria/issues/1048#issuecomment-1280704721

[2022-10-18 10:17] #946 closed

[2022-10-18 12:36] #1054 closed

[2022-10-18 12:38] Anber commented on #1054
Hi @nstepien!

Thank you for your report. I fixed it in #1086 and will release in a couple of days.

[2022-10-19 14:26] alikazemkhanloo commented on #491
Jayu, one way to do that would be using one class name but with an extra rtl selector in the css file for example
[code]

[2022-10-19 15:35] kevinseabourne opened #1088 "[Feature] motion one animation library support"
Feature Request

Support for [motion one](https://github.com/motiondivision/motionone) animation library. [Motion one](https://github.com/motiondivision/motionone) is an amazing library similar to framer motion which can provide physics based spring animations. Framer motion is a very similar library built by the same person Matt Perry. It works fine with styled components but It would be great to

[2022-10-19 19:11] #904 closed

[2022-10-19 19:17] #1043 closed

[2022-10-19 19:23] Anber commented on #1043
Hi @RanolP!

Probably, has been fixed in the last release. Could you please confirm it?

[2022-10-19 19:25] Anber commented on #904
Fixed and released. Thank you @iMoses and @dsod!

[2022-10-20 13:04] karlhorky commented on #589
Does the PR vercel/next.js#41085 by @ThePatriczek apply the same changes that are being proposed here?

Changed files: https://github.com/vercel/next.js/pull/41085/files

@jayu If the example has been updated, maybe this issue can be now closed?

cc @mikestopcontinues

[2022-10-20 13:16] karlhorky commented on #674
Did you see the new version of the Next.js Linaria example added in this PR here? https://github.com/vercel/next.js/pull/41085/files

There are also other solutions in https://github.com/callstack/linaria/issues/589

[2022-10-20 13:17] karlhorky commented on #590
@jayu because of https://github.com/vercel/next.js/pull/41085/files do you think that the Next.js example can be checked off?

[2022-10-20 14:32] jneander commented on #1077
Fixed with #1080.

[2022-10-20 14:32] #1077 closed

[2022-10-20 15:04] nstepien commented on #1062
Still happening with yesterday's release (`@linaria/core@4.2.0`).

[2022-10-20 16:05] Anber commented on #1043
Looks like we can just update the version of `@emotion/is-prop-valid`. I'll publish a fix in a couple of days.

[2022-10-20 18:17] Anber commented on #1062
Hi @nstepien!

Fixed in #1090 and will be released soon.

[2022-10-20 18:17] #1062 closed

[2022-10-20 18:29] nstepien commented on #1062
Thanks a lot!
We'll be able to upgrade all our repos to the latest version of Linaria now! 🎉

[2022-10-20 19:21] Anber commented on #1043
@RanolP released.

[2022-10-20 19:38] Anber commented on #1088
Hi @kevinseabourne!

I'm unfamiliar with Motion One, but `styled` from `@linaria/react` should work with anything that accepts `className` and `style` properties. `@linaria/solid` is in development and hopefully will be released soon.

[2022-10-21 05:01] betterRunner commented on #735
@cojoclaudiu Hi there, I haven't followed up on this issue for a while so I can't provide more details. And I guess this would be the official solution? If so, I am going to close this issue. Please feel free to reopen it if any updates.

[2022-10-21 08:18] Anber commented on #1043
I don't think it's a big deal to just fork `@emotion/is-prop-valid`. I'll do it this weekend.

[2022-10-21 08:33] Anber commented on #735
@betterRunner it should work now. Could you please check?

[2022-10-21 14:03] kevinseabourne commented on #1088
motion one is great !  do you know if motion one works with linaria in react ? would it be declared like this
 `const button = styled(motion.button)`

I had a look at the properties motion one takes if this helps
`motion(el: Element, props: Accessor<Options>): void;`

`
export declare type Options = {
    initial?: false | VariantDefinition;
    animate?: VariantDefinition;
    inView?: VariantDef

[2022-10-21 14:37] Anber commented on #1088
The error says that `motion` itself doesn't have `button` property. It is nothing to do with Linaria.

[2022-10-21 19:58] Looky1173 opened #1094 "The Next.js Linaria example fails to compile"
## Environment

- Linaria version: ^4.1.2
- Bundler: Babel
- Node.js version: 17.8.0
- OS: Windows 10

## Description

The official Next.js Linaria example fails to compile out of the box. The error is the following: `TypeError: _emotion_is_prop_valid.default is not a function`.

## Reproducible Demo

https://stackblitz.com/github/vercel/next.js/tree/canary/examples/with-linaria

[2022-10-22 00:18] sorenhoyer commented on #959
The solution @Platane suggested needs to be documented. I spent quite a few hours to figure it out, and only after i was able to find this issue. I suspect a lot of typescript users is giving up on Linaria because of this before figuring it out.

[2022-10-22 06:33] #1088 closed

[2022-10-22 20:41] alikazemkhanloo opened #1095 "TypeError: validAttr is not a function in NextJS SSR"
## Environment

versions:
[code]

- Linaria version: 4.2.1
- Bundler (+ version):  webpack 5 (default in nextjs)
- Node.js version: v16.13.0
- OS: Macos M1

## Description

I get this error when using linaria in nextjs (used `withLinaria` from `next-linaria`):
[code]
looks like an issue in `@linaria/react`'s styled. which uses `@emotion`'s is-prop-valid.

## Reproducible Demo

To reproduce the err

[2022-10-23 01:22] victorteokw commented on #821
Really want to use linaria with Solid.js. Any updates on this?

[2022-10-23 02:14] usmanyunusov commented on #821
@victorteokw, we have a test library.  I'll try to make a PR tomorrow.

[2022-10-23 02:42] victorteokw commented on #821
Many thanks @usmanyunusov 🎉

[2022-10-23 18:11] alikazemkhanloo commented on #491
Update: I used `postcss-rtlcss` plugin in postcss. it does exactly what I said. As NextJS uses postcss by default, all I needed to do was adding a file named `postcss.config.js` containing:
[code]

[2022-10-23 20:16] alikazemkhanloo commented on #1095
As a workaround, I changed the code in [here](https://github.com/callstack/linaria/blob/master/packages/react/src/styled.ts#L69) from

[code]
to
[code]
and it worked without any problem.
I published the modified package as `linaria-react-fixed`. Still, I don't understand why this issue is happening. I would appreciate it if someone could shed some light on the cause of this error.

[2022-10-24 01:20] RanolP commented on #1095
Looks like it's related to ESM issues. See details here: https://github.com/callstack/linaria/issues/1043#issuecomment-1286363945

[2022-10-24 06:18] alikazemkhanloo commented on #1095
Thank you, I'll close this one.

[2022-10-24 06:18] #1095 closed

[2022-10-24 06:55] glomotion commented on #244
So I have just landed here, after trying to evaluate Linaria as a potential style tooling base for a new DS i'm working on. My team and I had very much hoped to engineer a props-based style approach much like https://styled-system.com/api. Sadly though, we'd need interpolation of the fragment within a style block.

Its now become clear, that such an aspiration is not currently possible within a Li

[2022-10-24 08:01] #735 closed

[2022-10-24 08:31] nguyenabc commented on #1075
@need:help

[2022-10-24 16:52] jbryant4 commented on #905
I am also having this issue

[2022-10-25 07:33] Anber commented on #1075
Hi @nguyenabc

Since Storybook uses webpack as a bundler, you have to add `@linaria/webpack4-loader` or `@linaria/webpack5-loader` to its config https://storybook.js.org/docs/react/builders/webpack#extending-storybooks-webpack-config

[2022-10-25 07:33] #1075 closed

[2022-10-25 07:36] Anber commented on #1075
And if you want to publish your design system as a package with compiled styles, you should take a look at `@linaria/cli`.

[2022-10-25 09:37] Anber commented on #1094
Hi @Looky1173!
The problem has been fixed by @andparsons in #1097 and will be released soon.

[2022-10-25 09:50] Anber commented on #1082
It is a similar problem with #1068: we have to process `.svelte` and `.vue` files before they will be processed by Svelte or Vue. To achieve that, we have to teach Babel to understand the syntax of that files, if it's even possible. Maybe there is another way that can allow preprocessing `script` section, but since I'm unfamiliar with Vue and Svelte builders, I need some time for investigation or

[2022-10-25 12:59] drewdecarme commented on #1067
Same issue as everyone else, but adding those babel presets in causes esbuild to hang.

[2022-10-25 15:13] Nish17g commented on #318
Is this still relevant with Nest js 12 .I am getting the following error while using this configuration in next.config.js
ValidationError: Invalid configuration object. Webpack has been initialized using a configuration object that does not match the API schema.
 - configuration[0].module.rules[0] should be one of these:
   ["..." | object { assert?, compiler?, dependency?, descriptionData?, enfor

[2022-10-25 15:44] LukasBombach commented on #318
I created a new repo recently based on this comment here https://github.com/callstack/linaria/issues/589#issuecomment-1224287054 by @anulman

This is for Next.js 12 with Linaria 4 + it has Inline CSS Extraction

https://github.com/LukasBombach/nextjs-linaria

You can check out the next config here

https://github.com/LukasBombach/nextjs-linaria/blob/main/next.config.js

[code]

[2022-10-25 19:08] jbryant4 commented on #905
3.0.0-beta.15

[2022-10-26 21:07] SidneyLann commented on #905
I had tried all versions from 3.0.0-beta.1 to 3.0.0-beta.17, all have the problem.

[2022-10-30 08:56] fabulator commented on #870
With a newer versions I don't have a problem anymore.

[2022-10-30 09:06] #870 closed

[2022-10-31 07:16] RanolP opened #1105 "Incompatibility with vite-plugin-ssr"
## Environment

- Linaria version:
    "@linaria/core": "4.2.2",
    "@linaria/react": "4.3.0",
    "@linaria/rollup": "4.2.2",
- Bundler (+ version):
    "vite": "3.2.0",
    "vite-plugin-ssr": "0.4.43",
- Node.js version: v19.0.0
- OS: Arch Linux

## Description

Using `vite dev`, vite-plugin-ssr tries to load unbundled CSS files over HTTP with [querystring `?direct`](https://github.com/brillout

[2022-10-31 15:58] garthenweb commented on #806
Styled components works around uses transient props: https://styled-components.com/docs/api#transient-props
So a `$` sign to know what should be passed to the DOM and what should not. Would this make sense here as well? It should be statically analyzable at build time from what I can tell.

[2022-11-01 09:32] Platane commented on #959
We could add it to the [vite example](https://github.com/callstack/linaria/tree/master/examples/vite). But I don't think it make sense to assume every vite project uses typescript (especially since this example does not)

Or create another example with vite+typescript ?

[2022-11-01 09:38] sorenhoyer commented on #959
I was just thinking a simple paragraph in the documention would suffice. Like most other packages with TypeScript support does it. Quite a significant portion of new JS projects uses TypeScript these days and Vite is becoming increasingly popular, also for that segment.

[2022-11-09 00:26] IgnusG commented on #1073
Thought I'd ping someone from the maintainers listening here (@Anber apologies for that, I see your name show in the releases on npm so I figured you could be the best fit).

To also add a some more context to the original issue, I see that npm doesn't tag 3.x versions as beta under @linaria/core (anymore) but does under @linaria/rollup-plugin. Seems like a lot of installations also happen on thos

[2022-11-09 09:51] Anber commented on #1073
Hi @IgnusG
`3.x` has been skipped because it was impossible to implement async resolvers from bundlers without significant changes in the code base. And those significant changes broke some things.
Thank you for the repo. I'll take a look later this week.

[2022-11-10 19:48] alexojegu commented on #234
I have few experience with CSS and with Linaria, but this seems to work:

[code]

And this too:
[code]

Yeah, the DX with static typing is bad.

[2022-11-10 20:07] alexojegu commented on #1000
Try changing the order:
[code]

For example with Webpack (it evaluate right to left) this works:
[code]
But this fail:
[code]

[2022-11-10 20:26] jonataslaw commented on #318
It is not working with the lastest nextjs version

[2022-11-11 02:04] nguyenabc commented on #1075
Thank for your support @Anber . But I roll back to use styled-components and use rollup. They are easier to build package.

[2022-11-12 18:06] oren-l commented on #491
why not just use css logical properties?
[code]

[2022-11-13 16:58] alikazemkhanloo commented on #491
Well, that's another way to do it which I didn't know at the time of writing.

Considering this approach and using the external postcss plugin, I don't think it is worth adding support for RTL internally. Maybe creating another postcss plugin to replace left/right with start/end alternatives would be a cleaner approach.

[2022-11-15 19:31] nathanredblur opened #1112 "Cannot read properties of undefined (reading 'localeCompare')"
## Environment
- Linaria version:
[code]
- Bundler (+ version): "webpack": "^5.74.0"
- Node.js version: node 16.15.0
- OS: m1 mac OS 13.0.1

## Description

I get an error on compile a file. Not sure how this happens because it is pointing to a file with no any CSS (in fact I'm just installing and I not have any linaria code anywhere)

[code]

This error refer to this line of code
https://github.c

[2022-11-15 19:52] nathanredblur commented on #1112
I think I found how to reproduce it.
This file has an old backbone component where we generate a css like this:

[code]

Why is linaria trying to compile this? and how can avoid it?

[2022-11-15 20:53] dlehmhus opened #1113 "`@linaria/babel-presets` throws error when evaluating code from `@storybook/instrumenter`"
## Environment

- Linaria versions:
	- 	 @linaria/core: 4.2.2,
	-    @linaria/react: 4.3.0,
	-    @linaria/webpack5-loader: 4.1.8,
- Bundler (+ version): Webpack 5.73.0
- Node.js version: 16.18.0
- OS: macOS Ventura 13.0.1

## Description

When using linaria functions `styled` or `css` in the same file as where you import `@storybook/testing-library` like this:
[code]
`@linaria/babel-preset` throw

[2022-11-16 00:04] kutnickclose opened #1114 "@linaria/shaker drops re-exported variables"
## Environment

- Linaria version: v4.x
- Bundler (+ version): webpack
- Node.js version: 16.10.0
- OS:

## Description
In v3, this syntax was fine. In v4, it seems like the @liaria/shaker is dropping re-exported vars.

Here is a test I wrote in babel.test.ts that is currently breaking but should work
[code]

When you run this test you get an error:
![image](https://user-images.githubusercontent.c

[2022-11-16 03:42] nathanredblur commented on #1112
I found a workaround:
[code]

the problem is that this brake our prettier and eslint rules and CI don't allow passing this change.

[2022-11-16 19:10] WreewanMorhee opened #1115 "Linaria Will Cause React.Suspense become very slow in Safari"
![3AE18539-5767-4D27-9126-7098415415B1_4_5005_c](https://user-images.githubusercontent.com/33398071/202271198-7f031e93-885c-4243-99c0-14689cb0e68c.jpeg)

As title says
it will cause a very big gap.....when safari load files
only in safari ( Both Iphone and Mac )

React: ^17.0.2
"@callstack/react-theme-provider": "^3.0.8",
"@linaria/babel-preset": "^4.2.0",
"@linaria/core": "^4.1.2",
"@linaria/reac

[2022-11-17 10:26] rockwotj commented on #821
PR: #1096

[2022-11-17 22:31] nathanredblur commented on #1005
Suffering the same problem... @Anber could you provide more details about this workaround ?

[2022-11-17 22:38] nathanredblur commented on #1005
I found a workaround
[code]

but... I'm getting some many headaches with linaria...

[2022-11-19 12:17] Anber commented on #1073
Well… It appeared that this issue actually was already fixed in https://github.com/callstack/linaria/pull/1084

[2022-11-19 12:17] #1073 closed

[2022-11-19 13:02] #1114 closed

[2022-11-19 16:45] MrFoxPro opened #1124 ""watch" tasks doesn't work as expected"
Currently there are "watch" tasks in majority of packages.
E.g. @linaria/preset-babel:
[code]
`npm run build --watch` will run tasks sequentially and append '--watch' only to latest one (if append it all, in my case **npm** didn't prepend, however **pnpm** did).
So it doesn't work as expected.

I don't know how to fix that exactly. Pnpm can run in parallel only same task in different packages.
I d

[2022-11-19 16:59] Anber commented on #1124
Yep. This `watch` is an artefact from the yarn+lerna time.

[2022-11-20 08:46] MrFoxPro commented on #1124
https://github.com/callstack/linaria/pull/1125

[2022-11-20 11:17] #1124 closed

[2022-11-22 10:47] Nish17g commented on #318
@LukasBombach Thank you so much for the details .This works like charm but i havent run into an issue where i am getting the below error when i try to build the project

ReferenceError: linariaWebpackLoaderConfig is not defined

[2022-11-22 16:46] MrFoxPro commented on #1105
@RanolP check this with @linaria/vite plugin please.

[2022-11-22 17:36] RanolP commented on #1105
I cannot check that the package is working because it is not released to npm yet. But I think the direction you're going is correct.

[2022-11-22 20:31] MrFoxPro opened #1129 "Migrate to Playwright."
## Describe the enhancement
Playwright enables reliable end-to-end testing for modern web apps.
https://playwright.dev/

## Motivation
Playwright is modern testing library for unit, component and e2e testing.
It should provide better overall DX for both writing and testing.

## Possible implementations
It compatible with Jest, so there should be not so hard to migrate

[2022-11-22 20:49] MrFoxPro opened #1130 "JSX css="" syntax."
## Describe the enhancement
I would like to write code like this:
[code]
instead of:
[code]

## Motivation
This will improve DX.
## Possible implementations
Dunno

[2022-11-24 16:07] blixt opened #1133 "TypeScript 4.9 syntax `satisfies` doesn't appear to work"
## Environment

- Linaria version: `@linaria/core` v4.2.2 `@linaria/esbuild` v4.2.2
- Bundler (+ version): `esbuild` 0.15.15
- Node.js version: v19.1.0
- OS: macOS 13.0.1

## Description

The Linaria plugin fails with the following error on a line of code with the syntax `const something = { … } satisfies MyType`:

[code]

## Reproducible Demo

[code]

[2022-11-24 23:43] usmanyunusov opened #1134 "EvalError: (0 , _solidJs.createContext) is not a function"
I get the bug when I use `linaria` with `solid-js`.

`EvalError: (0 , _solidJs.createContext) is not a function in`

I think we need to to rule it out as at https://github.com/callstack/linaria/blob/master/packages/utils/src/isUnnecessaryReactCall.ts#L53

[2022-11-26 08:52] kryops opened #1135 "webpack build silently fails after Linaria update"
Hi there,

I have a mysterious problem in one of my projects after updating to the current version of Linaria: The webpack build seems to crash, but it does not report any error - it just exits without writing anythin on disk.

I managed to track down the change in Linaria that causes the problem, I just can't figure out what's happening exactly. Thanks for having a look! 😅

## Environment

- Lina

[2022-11-26 11:41] raveclassic commented on #821
@MrFoxPro I've updated the PR and added a simple demo https://github.com/callstack/linaria/pull/1096

[2022-11-26 17:26] Anber commented on #1135
Hi @kryops!

Probably, you have a circular dependency somewhere. However, it is not a legit reason to crash without any error messages :)

[2022-11-26 17:41] Anber commented on #1134
Well… It looks like it's time to decide how we can move those logic from `utils`, to library-specific logic.

[2022-11-26 18:03] kryops commented on #1135
@Anber that's it, thanks so much! I hadn't noticed the circular imports - after removing them, it starts building again 😳

For anyone having the same issue: I used https://github.com/acrazing/dpdm to find the circular dependencies in my code.

[2022-11-26 18:05] Anber commented on #1135
Anyway, lets keep this issue open. I'll think how to improve DX here.

[2022-11-26 22:14] usmanyunusov commented on #1134
@Anber, there is a temporary way around it?

[2022-11-27 09:34] Anber commented on #1134
@usmanyunusov I don't think so. Could you please make a repo that reproduces this error?

[2022-11-27 15:19] #1133 closed

[2022-11-27 15:21] Anber commented on #1133
Hi @blixt!

The used babel version was a bit outdated. I've upgraded it to the latest one which doesn't have problems with TS4.9.

[2022-11-27 17:10] garthenweb commented on #1135
My team run into the same with circular dependencies. Are there already thoughts on how to solve this?

Based on a short investigation, I'd expect returning a warning or error in this case might not be too hard.

But is this actually fixable to make circular dependencies work (as you would expect when using es-module syntax)?

If my time allows I would even consider to have a look, a hint where to

[2022-11-27 21:10] Anber commented on #1135
@garthenweb since we have to statically evaluate a lot of things (from a dependency graph to actual values of interpolated identifiers), it can be tricky to support circular dependencies, mainly because most libraries are still cjm, and we have to support, parse and evaluate them as well.

I guess you don't use circular dependencies in your interpolated values. Linaria tries to evaluate some code

[2022-11-28 14:31] garthenweb commented on #1135
Thanks for the hints, that makes sense. When exploring the behaviour I found similarities to what you describe. If we can remove the unneeded parsing, the issue would reduce quite a lot. It might be sufficient for 95% of the cases. In combination with a proper warning in case it still happens it is most probably easy enough to work around.

I will try to come up with an example repo as soon as I f

[2022-11-28 17:18] blixt opened #1139 "@linaria/esbuild install its own version of esbuild"
## Environment

- Linaria version: 4.2.2
- Bundler (+ version): –
- Node.js version: –
- OS: –

## Description

The ESBuild plugin package install its own version of `esbuild` which is a bit strange because in order to be a plugin, `esbuild` must already exist because it's the one calling the plugin. I understand it's included as a dependency because it's being imported by the plugin, but it shoul

[2022-11-28 20:17] blixt commented on #1133
Okay so I forced `@babel/core` to be the latest version in my repo and this error still happens, so I don't think that was enough.

I think this is due to https://github.com/callstack/linaria/issues/1139 actually, and it's forcefully holding back `esbuild` to an old version, when it should use the one of the caller. I tried forcing a resolution to the latest `esbuild` and the error does indeed go

[2022-11-29 03:54] chentsulin opened #1140 "react-spring/web styled(animated.div) stops working from 4.0.0-beta.0"
## Environment

- Linaria version: 4.0.0-beta.0~4.2+
- Bundler (+ version): Next.js 13.0.2
- Node.js version: v18.12.1
- OS: macOS 12

## Description

Using Linaria with react-spring/web `animated.div`:

[code]

It throws an eval error

[code]

The snippet in the `react-spring-web.cjs.prod.js` file:

[code]

This usage works with Linaria v3.0.0-beta.22 and stops working from v4.0.0-beta.0.

## Rep

[2022-11-29 04:09] chentsulin opened #1141 "Dynamic interpolations in css functions with units stop working from 4.0.0-beta.0 and break next line"
## Environment

- Linaria version: 4.0.0-beta.0~4.2+
- Bundler (+ version): Next.js 13.0.2
- Node.js version: v18.12.1
- OS: macOS 12

## Description

Using dynamic interpolations in the `rotate` function with the `deg` unit likes below:

[code]

`200;px;` in the next line is not a valid css syntax:

[code]

Replacing `rotate/deg` with `calc/px` gets similar result:

[code]

[code]

This usage wor

[2022-11-29 14:30] Anber commented on #1133
Yeah… GitHub automatically closes all issues that are mentioned in PR as fixed.
I've added [a test](https://github.com/callstack/linaria/commit/5edde64873f1ab61b2fb3aca2f8dff063f846d28#diff-eedbc6cf48dd5118a49e4c987f2bc481d68bebf5f699fa69463f1b13b17371a8R2539) that checks compatibility with the new TS. I believe the fix will work for you when it is released (which will happen in the next day or tw

[2022-11-29 14:31] Anber commented on #1139
Good point. I'll move `esbuild` to `peerDependencies` in the following release.

[2022-11-29 14:40] Anber commented on #1140
Oh… well. I guess we have [the same problem](https://github.com/callstack/linaria/pull/1138) here. I should have added rollup/esbuild as well to that PR.

[2022-11-29 15:47] garthenweb commented on #1135
Short answer: Webpack + linaria plugin with custom babel options:

[code]

Long version: It's a bit complicated:
* we use webpack (with razzel), but replace the babel and typescript transform with esbuild (as a webpack plugin) executed in a thread loader [thread-loader](https://webpack.js.org/loaders/thread-loader/)
* we add linaria in front of esbuild to transpile as the first transform (without

[2022-11-29 19:54] Anber commented on #1135
@garthenweb maybe it does. If you have a lot of packages that are transpiled with esbuild, Linaria may struggle with resolving the whole dependency tree. I'm going to add esbuild to the list of tested compilers and check if it works or not. I'll let you know in a day.

[2022-11-30 10:57] PierreGUI commented on #1135
Trying to update from Linaria 2.3.1 I also experience this issue where webpack stop without error. When provided with the option `progress`, webpack gets stuck: `10% building 0/x entries 1/y dependencies 0/z modules`

Looking at this issue, I suspect we have circular dependencies in our app too. So I ran `dpdm --no-warning --no-tree ./src/*.ts` and found only *type dependencies* in the report (the

[2022-11-30 16:37] Anber commented on #1135
@garthenweb I've checked how Linaria works with esbuild. Half of the test cases don't work. It means that if imported code is transpiled with esbuild, Linaria cannot resolve its dependency graph and detect unnecessary code. I'll fix it asap.

[2022-11-30 16:43] Anber commented on #1135
@PierreGUI Thank you! I'll check your example.

[2022-11-30 20:43] jimmy-guo commented on #491
@alikazemkhanloo I am also leveraging postcss-rtlcss. One limitation I'm hitting is that Linaria's preprocessor `stylis` strips out comments, so leveraging the `background: red /*rtl:blue*/;` API does not work. Any chance you use this API and were able to work around it?